<include file="Public/script"/>
<!--显示列表样式1 start-->
<div class="pageHeader">
  <form onsubmit="return navTabSearch(this);" id="pagerForm" action="{$host_url}/smallapp/comment/commentlist" method="post">
      <input type="hidden" name="pageNum" value="{$pageNum}"/>
      <input type="hidden" name="numPerPage" value="{$numPerPage}"/>
    <div class="searchBar">
      <div class="clearfix">

        <div class="form-inline">

          <div class="form-group">
            <div class="input-group input-group-sm">城市：</div>
            <div class="input-group">
              <select name="area_id" class="form-control bs-select class-filter" data-style="btn-success btn-sm" data-container="body" >
                <option value=0>全部</option>
                <volist name="area" id="vo">
                  <option value="{$vo.id}" <if condition="$vo.id eq $area_id">selected</if>>{$vo.region_name}</option>
                </volist>
              </select>
            </div>
          </div>

          <div class="form-group">
            <div class="input-group input-group-sm">时间：</div>
            <div class="input-group input-group-sm date form_datetime" data-pos="auto" data-date="{$start_date}" data-ymd="true">
              <input name="start_date" type="text" size="16" class="form-control date" placeholder="开始日期" value="{$start_date}">
              <span class="input-group-btn">
                    <button class="btn default date-reset  btn-sm" type="button"><i class="fa fa-times"></i></button>
                    <button class="btn btn-success date-set  btn-sm" type="button"><i class="fa fa-calendar"></i></button>
                    </span>
            </div>
            <div class="input-group input-group-sm date form_datetime" data-pos="auto" data-date="{$end_date}" data-ymd="true">
              <input name="end_date" type="text" size="16" class="form-control date" placeholder="结束日期" value="{$end_date}">
              <span class="input-group-btn">
                    <button class="btn default date-reset  btn-sm" type="button"><i class="fa fa-times"></i></button>
                    <button class="btn btn-success date-set  btn-sm" type="button"><i class="fa fa-calendar"></i></button>
                    </span>
            </div>
          </div>

          <div class="form-group">
            <div class="input-group input-group-sm"></div>
            <div class="input-group">
              <input type="text" class="form-control" name="hotel_name" value="{$hotel_name}" placeholder="请输入酒楼名称">
            </div>
          </div>

          <div class="form-group">
            <div class="input-group input-group-sm">状态：</div>
            <div class="input-group">
              <select name="play_type" class="form-control bs-select class-filter" data-style="btn-success btn-sm" data-container="body" >
                <option value=0>全部</option>
                <option value="1" <if condition="$status eq 1">selected</if>> 正常显示</option>
                <option value="2" <if condition="$status eq 2">selected</if>> 禁止显示</option>
              </select>
            </div>
          </div>

          <div class="form-group">
            <div class="input-group input-group-sm pull-right">
            <span class="input-group-btn">
              <button class="btn btn-primary" type="submit" id="choosedata">查询</button>
            </span>
            </div>
          </div>

        </div>

      </div>
    </div>
  </form>
</div>
<div class="pageContent" id="pagecontent">
  <div id="w_list_print">
    <div class="no-more-tables">
      <form method="post" action="#" id="del-form" class="pageForm required-validate" enctype="multipart/form-data" onsubmit="return iframeCallback(this, dialogAjaxDone)">
        <table class="table table-bordered table-striped" targetType="navTab" asc="asc" desc="desc">
          <thead>
            <tr id="post">
              <th>ID</th>
              <th>服务员名字</th>
              <th>服务员头像</th>
              <th>包间名称</th>
              <th>酒楼名称</th>
              <th>所在城市</th>
              <th>评论openid</th>
              <th>满意度</th>
              <th>标签</th>
              <th>评分</th>
              <th>内容</th>
              <!--<th>评论标签</th>-->
              <th>评论时间</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody data-check="list" data-parent=".table">
          <volist name="datalist" id="dinfo">
            <tr target="sid_user">
              <td data-title="ID">{$dinfo.id}</td>
              <td data-title="服务员名字">{$dinfo.staff_name}</td>
              <td data-title="服务员头像"><a href="{$dinfo.staff_url}" target="_blank"><img src="{$dinfo.staff_url}" ></a></td>
              <td data-title="包间名称">{$dinfo.room_name}</td>
              <td data-title="酒楼名称">{$dinfo.hotel_name}</td>
              <td data-title="所在城市">{$dinfo.area_name}</td>
              <td data-title="评论openid">{$dinfo.user_openid}</td>
              <td data-title="满意度">{$dinfo.satisfaction_str}</td>
              <td data-title="标签">{$dinfo.label}</td>
              <td data-title="评分">{$dinfo.score}</td>
              <td data-title="内容">{$dinfo.content}</td>
              <td data-title="评论时间">{$dinfo.add_time}</td>
              <!--<td data-title="评论标签">{$dinfo.tag_str}</td>-->
              <td data-title="状态">
                <if condition="$dinfo['status'] eq 1">
                  <a data-tip="正常显示" target="ajaxTodo" href="{$host_name}/smallapp/comment/changestatus?id={$dinfo.id}&status=2" calback="navTabAjaxDone" class="btn btn-default btn-icon"><span>
                <i class="fa fa-toggle-on"></i></span></a>
                  <elseif condition="$dinfo['status'] eq 2"/>
                  <a data-tip="禁止显示" target="ajaxTodo" href="{$host_name}/smallapp/comment/changestatus?id={$dinfo.id}&status=1" calback="navTabAjaxDone" class="btn btn-default btn-icon"><span>
                <i class="fa fa-toggle-off"></i></span></a>
                </if>

              </td>
            </tr>
          </volist>
          </tbody>
        </table>
      </form>

    </div>
  </div>
  {$page}
</div>