<div class="pageContent">
  <div id="dz-filecontainer">
    <div class="tab-content">
	   	<input id="oss_host" type="hidden" value="{$oss_host}">
		  <form id="dropbase-form" method="post" name=theform action="{$host_name}/{$action_url}" class="pageForm required-validate" enctype="multipart/form-data"  onsubmit="return iframeCallback(this, dialogAjaxDone)">
		   	<input id="oss_id" type="hidden" name="adsid" value="{$vinfo.id}">
		   	<input type="hidden" name="media_id" value="{$vinfo.media_id}">
		   	<input type="hidden" name="oss_addr" id='oss_addr' value=''>
		   	<input type="hidden" name="oss_filesize" id='oss_filesize' value=''>
		    <div class="pageFormContent modal-body">
		    	<div class="form-group row">
			        <div class="col-xs-12 col-sm-12">
			        	<div id="ossfile">你的浏览器不支持flash,Silverlight或者HTML5！</div>
			        </div>
		       </div>
		        
		        <div class="form-group row" <if condition="$is_editads eq 1">style="display:none;"</if> >
    			    <label class="col-xs-12 col-sm-2 control-label">
    			    视频内容
		        	</label>
					<div class="col-xs-12 col-sm-10">
		               <a id="selectfiles" class="btn btn-success" href="javascript:void(0);" ><i class="fa fa-plus"></i> 选择视频</a>
				  		<a id="postfiles" class="btn btn-success" href="javascript:void(0);" ><i class="fa fa-upload"></i> 开始上传</a>
		        	</div>
		          </div>
				 <div class="form-group row">
			         <label class="col-xs-12 col-sm-2 control-label">
			          URL:
			        </label>
			        <div class="col-xs-12 col-sm-10">
			          <input type="text" class="form-control" id="media_url" value="{$vinfo.oss_addr}" readonly>
			      	 </div>
			      </div>
			  <div class="form-group row">
				  <div class="form-inline">

					  <div class="form-group col-md-12 col-xs-12 col-sm-12" >
						  <label class=" control-label col-xs-12 col-sm-2">
							  时长：
						  </label>
						  <span class="form-control col-sm-2">分</span><input style="width:50px;" max="59"  alt="数字"  name="minu" id="minu"  type="number"  value="<if condition="$vinfo.duration gt 0">{$vinfo['duration']/60|floor}</if>"  class="form-control col-sm-2" />
						  
					  </div>
				  </div>

			  </div>
			  
			  <div class="form-group row">
				  <div class="form-inline">

					  <div class="form-group col-md-12 col-xs-12 col-sm-12" >
						  <label class=" control-label col-xs-12 col-sm-2">
							
						  </label>
						  
						 <span class="form-control col-sm-2">秒</span> <input  style="width:50px;" max="59" required  alt="数字" id="seco" name="seco"  type="number"  value="<if condition="$vinfo.duration gt 0">{$vinfo['duration']%60}</if>"  class="form-control col-sm-2" />
					  </div>
				  </div>

			  </div>
		         <div class="form-group row">
		              <label class="col-xs-12 col-sm-2 control-label">
		                资源类型：
		              </label>
		              <div class="col-xs-12 col-sm-10">
		                <volist name=":C('ADS_TYPE')" id="vo">
		                 <if condition="$key neq 3">
		                  <input name="type" type="radio" id="{$key}" value="{$key}" <if condition="$key eq $vinfo['type']">checked</if> />&nbsp;{$vo}
		                  &nbsp;&nbsp;
		                  </if>
		                </volist>
		              </div>
		         </div>
            		
            		
				 <div class="form-group row">
			         <label class="col-xs-12 col-sm-2 control-label">
			          名称:
			        </label>
			        <div class="col-xs-12 col-sm-10">
			          <input type="text" class="form-control" name="name" minlength="2" maxlength="20" value="{$vinfo.name}" required>
			      	 </div>
			      </div>
			      <div class="form-group row">
		              <label class="col-xs-12 col-sm-2 control-label">
		                描述：
		              </label>
		              <div class="col-xs-12 col-sm-10">
		                <textarea name="description" type="textInput" class="form-control">{$vinfo.description}</textarea>
		                <span class="tips">注：请输入资源描述，允许为空。</span>
		              </div>
           		 </div>
		    </div>
		    <div class="modal-footer">
		      <button class="btn btn-default close-m" type="button">取消</button>
		      <button class="btn btn-primary" type="submit">保存</button>     
		    </div>
		  </form>
      </div>
  </div>
</div>
<script>
	//$("#tishi").hide();
	$("#minu").blur(
			function(){
				var va = $(this).val();
				if(isNaN(va)){
					$("#tishi").css('display','black');
					$("#tishi").html('不可为非数字');
					return false;
				}else{
					if(va>59){
						$("#tishi").css('display','block');
						$("#tishi").html('请输入正确的时长（0-59)');
						return false;
					}else{
						$("#tishi").css('display', 'none');
						return false;
					}
				}
			}
	);
	$("#seco").blur(
			/*function(){
				var va = $(this).val();
				if(isNaN(va)){
					$("#tishi").css('display','black');
					$("#tishi").html('不可为非数字');
					return false;
				}else{
					if(va>59){
						$("#tishi").css('display','block');
						$("#tishi").html('请输入正确的秒长（0-59)');
						return false;
					}else{
						$("#tishi").css('display', 'none');
						return false;
					}
				}
			}*/
	)

	

var imgs="Image files";
var files="files";
var imgExt="{$file_allexts.img_ext}";
var fileExt="{$file_allexts.file_ext}";
</script>
<script src='__PUBLIC__/admin/assets/js/oss/upload.js'></script>