<!--修改样式2 p元素自适应宽度 start-->
<style type="text/css">
	.zhezhao{
			display: none;
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			left: 0;
			background-color: black;
			opacity: 0.7;
			text-align: center;
			z-index: 999;
		}
	.big{
			display: none;
		}
	.addbig{
		position: absolute;
		width: 500px;
		height: 500px;
		top: 100px;
		left: 26%;
		z-index: 1000;
	}
</style>
<div class="pageContent">
  <form method="post" action="{$host_name}/activity/doadd" class="pageForm required-validate" enctype="multipart/form-data" onsubmit="return iframeCallback(this, dialogAjaxDone)">
    
    <div class="pageFormContent modal-body">
      <div class="form-group row">
        <label class="col-xs-12 col-sm-2 control-label">
          活动名称：
        </label>
        <div class="col-xs-12 col-sm-10">
          <input type="text" minlength="2" maxlength="12" class="form-control" name="name"  value="{$vinfo.name}" required>
        </div>
      </div>
       <div class="form-group row" id="defaultpic">
              <label class="col-xs-12 col-sm-2 control-label">
               		 封面图(必填)：
              </label>
              <div class="col-xs-12 col-sm-10">
                <div class="fileinput fileinput-new" data-fileinput>
                  <div class="fileinput-preview thumbnail" data-trigger="fileinput">
                    <a data-target="#modal-file" href="javascript:void(0)">
                      <if condition="($vinfo['oss_addr'] eq 'NULL') OR $vinfo['oss_addr'] eq ''">
                        <img id="media_idimg" src="/Public/admin/assets/img/noimage.png" border="0" />
                        <else />
                        <img id="media_idimg" src="{$vinfo.oss_addr}" border="0" />
                      </if>
                       <span id="media_idimgname"></span>
                    </a>
                  </div>
                  <div>
                    <a class="btn btn-success btn-file" data-target="#modal-file" href="{$host_name}/resource/uploadResource?filed=media_id&rtype=2" data-browse-file>
                      选择图片
                    </a>
                    <input type="hidden" name="media_id" id="media_id" value="" >
                    <a href="javascript:;" class="btn btn-danger" data-remove-file="/Public/admin/assets/img/noimage.png">
                      删除 </a>
                  </div>
                </div>
              </div>
            </div>
			<div class="form-group row">
				<label class="col-xs-12 col-sm-2 control-label">
             			活动开始时间：
           		</label>
				<div class="col-xs-12 col-sm-10">
					<div class="input-group date form_datetime" data-date="{$vinfo.start_time}">
						<input name="start_time" type="text" size="16" class="form-control date" placeholder="活动开始时间" value="{$vinfo.start_time}" readonly>
						<span class="input-group-btn">
                    	<button class="btn default date-reset" type="button"><i class="fa fa-times"></i></button>
                    	<button class="btn btn-success date-set" type="button"><i class="fa fa-calendar"></i></button>
                  		</span>
					</div>
				</div>
				
				<label class="col-xs-12 col-sm-2 control-label">
             			活动结束时间：
           		</label>
				<div class="col-xs-12 col-sm-10">
					<div class="input-group date form_datetime" data-date="{$vinfo.end_time}">
						<input name="end_time" type="text" size="16" class="form-control date" placeholder="活动结束时间" value="{$vinfo.end_time}" readonly>
						<span class="input-group-btn">
                    	<button class="btn default date-reset" type="button"><i class="fa fa-times"></i></button>
                    	<button class="btn btn-success date-set" type="button"><i class="fa fa-calendar"></i></button>
                  		</span>
					</div>
				</div>
			</div>
			<div class="form-group row">
				<label class="col-xs-12 col-sm-2 control-label">
             			商品/奖品数量：
           		</label>
           		<div class="col-xs-12 col-sm-10">
          			<input type="text"  class="form-control" name="goods_nums"  value="{$vinfo.goods_nums}" >
        		</div>
			</div>

	</div>
   

    <div class="modal-footer">
      <button class="btn btn-default close-m" type="button">取消</button>
      <button class="btn btn-primary" type="submit">保存</button>     
    </div>
    <div class="zhezhao"></div>
			<img class="big" src=""/>
  </form>
</div>
<script>
$(function(){
	$('#media_idimg').click(function(){
		var $a = $(this).attr('src');
			$('.big').prop('src',$a).addClass('addbig')
			$('.zhezhao').show(500);
			$('.big').show(500);
	})
  $('.zhezhao').click(function(){

		$('.zhezhao').hide(500);
		$('.big').hide(500);
   })
   
});
</script>
