<include file="Public/script"/>
<!--显示列表样式1 start-->
<div class="pageHeader">
  <form onsubmit="return navTabSearch(this);" id="pagerForm" action="{$host_name}/category/categorylist" method="post">
      <input type="hidden" name="pageNum" value="{$pageNum}"/>
      <input type="hidden" name="numPerPage" value="{$numPerPage}"/>
    <div class="searchBar">
      <div class="clearfix">
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-5">
          <div class="tools-group">
            <a class="btn btn-success btn-sm add" href="{$host_name}/category/categoryadd?type=1" title="新增内容分类" target="dialog" mask="true"><i class="fa fa-plus"></i> 新增内容分类</a>
            <a class="btn btn-success btn-sm add" href="{$host_name}/category/categoryadd?type=2" title="新增场景" target="dialog" mask="true"><i class="fa fa-plus"></i> 新增场景</a>
            <a class="btn btn-success btn-sm add" href="{$host_name}/category/categoryadd?type=3" title="新增人员属性" target="dialog" mask="true"><i class="fa fa-plus"></i> 新增人员属性</a>
            <a class="btn btn-success btn-sm add" href="{$host_name}/category/categoryadd?type=4" title="新增饭局性质" target="dialog" mask="true"><i class="fa fa-plus"></i> 新增饭局性质</a>
            <a class="btn btn-success btn-sm add" href="{$host_name}/category/categoryadd?type=5" title="新增内容所用软件" target="dialog" mask="true"><i class="fa fa-plus"></i> 新增内容所用软件</a>
            <a class="btn btn-success btn-sm add" href="{$host_name}/category/categoryadd?type=6" title="新增欢迎词分类" target="dialog" mask="true"><i class="fa fa-plus"></i> 新增欢迎词分类</a>
            <a class="btn btn-success btn-sm add" href="{$host_name}/category/categoryadd?type=7" title="新增商城分类" target="dialog" mask="true"><i class="fa fa-plus"></i> 新增商城分类</a>

          </div>
        </div>
        
        <div class="col-xs-12 col-sm-8 col-md-6 col-lg-3 pull-right">
          <div class="input-group input-group-sm">
            <input type="text" class="form-control" name="keyword" value="{$keyword}" placeholder="分类名称">
          <if condition="$type eq 1">
            <span class="input-group-btn">
              <select name="category_id" class="form-control bs-select class-filter" data-style="btn-success btn-sm" data-container="body">
                <option value='0' >所有分类</option>
                <volist name="category" id="cinfo">
                  <option value="{$cinfo.id}" {$cinfo.is_select}>{$cinfo.name}</option><br>
                </volist>
              </select>
            </span>
          </if>
            <span class="input-group-btn">
              <select name="type" class="form-control bs-select class-filter" data-style="btn-success btn-sm" data-container="body">
                <option value='0' >所有类型</option>
                <volist name="alltype" id="ainfo">
                  <option value="{$key}" <if condition="$type eq $key">selected</if> >{$ainfo}</option>
                </volist>
              </select>
            </span>
            <span class="input-group-btn">
              <button class="btn btn-primary" type="submit" id="choosedata"><i class="fa fa-search"></i></button>
            </span>
          </div>
        </div>
        
      </div>
    </div>
  </form>
</div>
<div class="pageContent" id="pagecontent">
  <div id="w_list_print">
    <div class="no-more-tables">
      <form method="post" action="#" id="del-form" class="pageForm required-validate" enctype="multipart/form-data" onsubmit="return iframeCallback(this, dialogAjaxDone)">
        <table class="table table-bordered table-striped" targetType="navTab" asc="asc" desc="desc">
          <thead>
            <tr id="post">
              <th>名称</th>
              <th>状态</th>
              <th>类型</th>
              <th>显示顺序</th>
              <th class="table-tool">操作</th>
            </tr>
          </thead>
          <tbody data-check="list" data-parent=".table">
            <foreach name="datalist" item="dinfo">
            <tr target="sid_user">
              <td data-title="名称"><a class="click-able-title">{$dinfo.name}</a></td>
              <td data-title="状态">
                  <if condition="$dinfo['status'] eq 1">
                      <a data-tip="可用" target="ajaxTodo" href="{$host_name}/category/operatestatus?id={$dinfo.id}&status=0" calback="navTabAjaxDone" class="btn btn-default btn-icon"><span>
                        <i class="fa fa-toggle-on"></i></span></a>
                      <else/>
                      <a data-tip="不可用" target="ajaxTodo" href="{$host_name}/category/operatestatus?id={$dinfo.id}&status=1" calback="navTabAjaxDone" class="btn btn-default btn-icon"><span>
                        <i class="fa fa-toggle-off"></i></span></a>
                  </if>
             </td>
             <td data-title="类型">{$dinfo.typestr}</td>
             <td data-title="排序值">{$dinfo.sort}</td>
              <td class="table-tool" data-title="操作">
                <div class="tools-edit">
                  <a title="修改分类" data-tip="修改分类" target="dialog" mask="true" href="{$host_name}/category/categoryadd?id={$dinfo.id}" class="btn btn-success btn-icon">
                    <i class="fa fa-pencil"></i>
                  </a>
                  <a warn="警告" data-tip="删除" title="你确定要删除吗？" target="ajaxTodo" href="{$host_name}/category/categorydel?id={$dinfo.id}" calback="navTabAjaxDone" class="btn btn-danger btn-icon"><span><i class="fa fa-trash"></i></span></a>

                </div>
              </td>
            </tr>
            <notempty name="dinfo.trees">
            	<volist name="dinfo.trees" id="treeinfo">
	            <tr target="sid_user">
	              <td data-title="名称"><a class="click-able-title"><span class="lvl">{$treeinfo.html}</span>{$treeinfo.name}</a></td>
                <td data-title="状态">
                <if condition="$treeinfo['status'] eq 1">
                    <a data-tip="可用" target="ajaxTodo" href="{$host_name}/category/operatestatus?id={$treeinfo.id}&status=0" calback="navTabAjaxDone" class="btn btn-default btn-icon"><span>
                        <i class="fa fa-toggle-on"></i></span></a>
                    <else/>
                    <a data-tip="不可用" target="ajaxTodo" href="{$host_name}/category/operatestatus?id={$treeinfo.id}&status=1" calback="navTabAjaxDone" class="btn btn-default btn-icon"><span>
                        <i class="fa fa-toggle-off"></i></span></a>
                </if>
                </td>
                 <td data-title="类型">内容</td>
	             <td data-title="排序值">{$treeinfo.sort}</td>
	              <td class="table-tool" data-title="操作">
	                <div class="tools-edit">
	                  <a title="修改分类" data-tip="修改分类" target="dialog" mask="true" href="{$host_name}/category/categoryadd?id={$treeinfo.id}" class="btn btn-success btn-icon">
	                    <i class="fa fa-pencil"></i>
	                  </a>
	                  <a warn="警告" data-tip="删除" title="你确定要删除吗？" target="ajaxTodo" href="{$host_name}/category/categorydel?id={$treeinfo.id}" calback="navTabAjaxDone" class="btn btn-danger btn-icon"><span><i class="fa fa-trash"></i></span></a>
	                </div>
	              </td>
	            </tr>   
	            </volist>         
            </notempty>
            </foreach>
          </tbody>
        </table>
      </form>

    </div>
  </div>
  {$page}
</div>
<script>
  $(function(){
    $(".class-filter").change(function (){
      $(this).closest("form").submit();
    })
  })
</script>