<include file="Public/script"/>
<!--显示列表样式1 start-->
<div class="pageHeader">
  <form onsubmit="return navTabSearch(this);" id="pagerForm" action="{$host_name}/content/getlist" method="post" >
    <input type="hidden" name="pageNum" value="{$pageNum}"/>
    <input type="hidden" name="numPerPage" value="{$numPerPage}"/>
    <input type="hidden" name="_order" value="{$_order}"/>
    <input type="hidden" name="_sort" value="{$_sort}"/>
    <div class="searchBar" >
      <div class="clearfix">
      </div>
      
      <div class="form-inline" style="margin-top:3px;">
      
      
      	<div class="form-group ">
              <div class="input-group-sm input-group">
                <label>分类：</label>
                <span class="input-group-btn input-group-sm">
                <select name="hot_catgory_id" style="width: 20px" class="form-control bs-select class-filter" data-style="btn-success btn-sm" data-container="body">
	                <option value=0 >全部</option>
	                <volist name="vcainfo" id="vo">
	                  <option value="{$vo.id}" <if condition="$vo.id eq $hot_category_id">selected</if>>{$vo.name}</option><br>
	                </volist>
              </select>
              </span>
              </div>
        </div>
        <div class="form-group">
              <div class="input-group-sm input-group">
                <label>内容类型：</label>
                <span class="input-group-btn input-group-sm">
                <select name="content_type" style="width: 20px" class="form-control bs-select class-filter" data-style="btn-success btn-sm" data-container="body">
	                <option value="10">全部</option>
	                <volist name="content_type_arr" id="vo">
	                  <option value="{$key}"
                      <if condition="$key eq $content_type">selected</if>
	                  >{$vo}</option><br>
	                </volist>
              </select>
              </span>
              </div>
        </div>
         <div class="form-group">

          <div class="input-group input-group-sm date form_date" data-ymd="true" data-date="{$timeinfo.now_time}">
              <input style="margin-left: 6px;" name="begin_time" type="text" size="16" class="form-control date" placeholder="开始日期" value="{$timeinfo.begin_time}" readonly>
                  <span class="input-group-btn">
                    <button class="btn default date-reset" type="button"><i class="fa fa-times"></i></button>
                    <button class="btn btn-success date-set" type="button"><i class="fa fa-calendar"></i></button>
                  </span>
            </div>

            <div class="input-group input-group-sm date form_date" data-ymd="true" data-date="{$timeinfo.now_time}" style="width:135px;">

              <input style="width:73px;padding:0px;margin:0px;margin-left: 15px;"  name="end_time" type="text" size="16" class="form-control date" placeholder="结束日期" value="{$timeinfo.end_time}" readonly>
                  <span class="input-group-btn" style="padding:0px;margin:0px;" >
                    <button class="btn default date-reset  btn-sm" type="button"><i class="fa fa-times"></i></button>
                    <button class="btn btn-success date-set  btn-sm" type="button"><i class="fa fa-calendar"></i></button>
                  </span>
            </div>
      
      </div>
      
      
      <div class="form-inline" style="margin-top:3px;">
		
           
       
		
			
	<div class="form-group">
            <div class="input-group-sm input-group">
              <label style="margin-left: 3px;" class="col-xs-1 col-sm-1 control-label">
                查询筛选：
              </label>
                <span class="input-group-btn">
               <select name="type" style="width: 20px" class="form-control bs-select class-filter" data-style="btn-success btn-sm" data-container="body">
                <option value=10 >全部</option>
                <volist name=":C('CONTENT_TYPE')" id="vo">
                  <option value="{$key}" <if condition="$key eq $ctype">selected</if>>{$vo}</option><br>
                </volist>
              </select>
            </span>
            </div>
          </div>
		  
          <div class="form-group">
          <div class="input-group input-group-sm">
            <input type="text" class="form-control" name="titlename" value="{$name}" placeholder="输入名称查找">
            <span class="input-group-btn">
              <button class="btn btn-primary" type="submit" id="choosedata"><i class="fa fa-search"></i></button>
            </span>
          </div>

        </div>


          </div>
      </div>


      <div class="form-inline" style="margin-top:30px;">
        <div class="tools-group s2">
        <a class="btn btn-success btn-sm add" href="{$host_name}/article/addSpecial"  title="发布专题" target="dialog" mask="true">
            <i class="fa fa-plus"></i><span>发布专题</span></a>
          <a class="btn btn-success btn-sm add" href="{$host_name}/article/addpictures"  title="发布图集" target="dialog" mask="true">
            <i class="fa fa-plus"></i><span>发布图集</span></a>
          <a class="btn btn-success btn-sm add" href="{$host_name}/article/addarticle" title="发布文章" target="dialog" mask="true">
            <i class="fa fa-sign-in"></i><span>发布文章</span></a>
          <a class="btn btn-success btn-sm add" href="{$host_name}/article/addvideo"  title="发布视频" target="dialog" mask="true">
            <i class="fa fa-plus"></i><span>发布视频</span></a>
          <a class="btn btn-success btn-sm add" href="{$host_name}/article/homemanager" rel="article/homemanager"  title="首页内容管理" target="navTab" mask="true">
            <i class="fa fa-plus"></i><span>首页内容管理</span></a>



        </div>
      </div>




    </div>
  </form>
</div>
<div class="pageContent" id="pagecontent" style="margin-top:80px;">
  <div id="w_list_print">
    <div class="no-more-tables">
      <form method="post" action="#" id="del-form" class="pageForm required-validate" enctype="multipart/form-data" onsubmit="return iframeCallback(this, dialogAjaxDone)">
        <table class="table table-bordered table-striped" targetType="navTab" asc="asc" desc="desc">
          <thead>
          <tr id="post">
            <th width="22" style="display:none"><input type="checkbox" group="ids" class="checkboxCtrl"></th>
            <th>序号</th>
            <th>名称</th>
            <th>分类</th>
            <th style="display: none;">>封面图片</th>
            <th>内容类型</th>
            <th>创建人</th>
            <th>创建时间</th>
            <th>状态</th>
            <th class="table-tool">操作</th>
          </tr>
          </thead>
          <tbody data-check="list" data-parent=".table">
          <volist name="list" id="vlist">
            <tr target="sid_user">
              <td style="display:none"><input name="ids" value="{$vlist.id}" type="checkbox"></td>
              <td data-title="序号">{$vlist.id}
              <if condition="$vlist.is_index eq 1">
              <a data-tip="首页内容" class="btn btn-success btn-icon"><i class="fa fa-home"></i></a>
              </if>
              </td>
              <td data-title="名称">{$vlist.title}</td>
              <td data-title="名称">{$vlist.cat_name}</td>
              <td data-title="封面图片" style="display: none;"><a data-tip="预览图片" target="dialog" mask="true"
                                       href="{$host_name}/article/showpic?pic={$vlist.img_url}"   class="btn btn-success btn-icon">
                <i class="icon-list"></i>
              </a></td>
              <td data-title="内容类型">
                <if condition="$vlist.type eq 1"> 图文
                  <elseif condition="$vlist.type eq 2"/>图集
                  <elseif condition="$vlist.type eq 3"/>
                    <if condition="$vlist.media_id eq 0">
                          视频（非点播）
                      <else/> 视频（点播）
                    </if>
                  <else/> 纯文本
                </if>
              </td>
              <td data-title="创建人">{$vlist.operators}</td>
              <td data-title="创建时间">{$vlist.create_time}</td>
              <td data-title="状态">

                <if condition="$vlist['state'] eq 2">
                  审核通过
                  <elseif condition="$vlist['state'] eq 3"/>
                  审核未通过
                  <else />
                  未审核
                </if>
              </td>

              <td class="table-tool" data-title="操作">
                <div class="tools-edit">
                  <a data-tip="修改" target="dialog" mask="true"
                  <if condition="$vlist['hot_category_id'] eq 3">
                  	href="{$host_name}/article/addspecial?id={$vlist.id}&acttype=3"
                  <else />
                  
                  <if condition="$vlist['type'] eq 3">
                    href="{$host_name}/article/addvideo?id={$vlist.id}&acttype=3"
                      <elseif condition="$vlist['type'] eq 2"/>href="{$host_name}/article/editpictures?id={$vlist.id}"
                    <else/>
                    href="{$host_name}/article/addarticle?id={$vlist.id}&acttype=1"
                  </if>
                  </if>
                   class="btn btn-success btn-icon">
                    <i class="fa fa-pencil"></i>
                  </a>
                </div>

                <div class="tools-edit">
                  <a warn="警告" data-tip="删除" title="你确定要删除吗？" target="ajaxTodo" href="{$host_name}/article/delart?id={$vlist.id}&acttype=1"  class="btn btn-success btn-icon">
                    <i class="fa fa-trash"></i>
                  </a>
                </div>

                <div class="tools-edit">
                  <a data-tip="预览"

                  href="__ROOT__/content/{$vlist.id}.html"


                     target="_blank"  class="btn btn-success btn-icon">
                    <i class="fa fa-eye"></i>
                  </a>
                  <a data-tip="添加至首页" target="ajaxTodo" calback="navTabAjaxDone" href="{$host_name}/article/doaddhome?artid={$vlist.id}&acttype=1"    class="btn btn-success btn-icon">
                    <i class="fa fa-bullhorn"></i>
                  </a>
                  
                </div>
                <div class="tools-edit">
					
					<a id="ins_{$vlist.id}"  class="btn btn-success btn-icon cpicons"  data-clipboard-text='{$vlist.pushdata}'  title="复制推送内容" mask="true"  data-original-title="复制推送内容">
					
					<i  class="fa fa-copy"></i>
					</a>
				</div>
              </td>
            </tr>
          </volist>
          </tbody>
        </table>
      </form>
<div class="modal fade" tabindex="-1" role="dialog" id="myModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="width: 357px;height: 160px;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">提示</h4>
      </div>
      <div class="modal-body">
        <p class="tishi">复制成功&hellip;</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">确定</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
    </div>
  </div>
  {$page}
</div>
<script src="Public/admin/assets/js/clipboard.min.js" type="text/javascript" charset="utf-8"></script>
  <script type="text/javascript">
        $(function(){
            $('select').css({ "cssText": "display:none !important" });
          $(".form-control.date").datetimepicker({
            minView: "month", //选择日期后，不会再跳转去选择时分秒
            language:  'zh-CN',
            format: 'yyyy-mm-dd',
            todayBtn:  1,
            autoclose: 1,
          });

          $('.date-reset').click(function(){
            $(this).parent().prev().val('')
          });
          
        });
        $('.tools-edit').on("click",".cpicons",function(){
        	var co;
        	 var ids = $(this).prop("id");
        	 var clipboard = new Clipboard('#'+ids);
            clipboard.on('success', function(e) {
            	//alert('复制成功');
            	$('#myModal').modal('show')
            	
               
            });

            clipboard.on('error', function(e) {
            	$('.tishi').html('复制失败');
            	$('#myModal').modal('show');
               
            }); 
						
        });
        
        /* var clipboard = '';
        function copydata(){
        	clipboard = new Clipboard('.cpicons');

            clipboard.on('success', function(e) {
                alert('复制成功');
                return true;
            });

            clipboard.on('error', function(e) {
                alert("复制失败");
                return false;
            });
        } */
        
        
</script>
