<include file="Public/script"/>
<!--显示列表样式1 start-->
<div class="pageHeader">
  <form onsubmit="return navTabSearch(this);" id="pagerForm" action="{$host_name}/hotel/room" method="post" >
    <input type="hidden" name="pageNum" value="{$pageNum}"/>
    <input type="hidden" name="numPerPage" value="{$numPerPage}"/>
    <input type="hidden" name="_order" value="{$_order}"/>
    <input type="hidden" name="_sort" value="{$_sort}"/>
    <div class="searchBar">
      <div class="clearfix">
        <div class="col-xs-12 col-sm-4 col-md-3">
          <div class="tools-group">
            <a class="btn btn-success btn-sm add" href="{$host_name}/release/addCate" title="新增分类" target="dialog" mask="true"><i class="fa fa-plus"></i> 新增</a>
          </div>
        </div>
        <div class="col-xs-12 col-sm-5 col-md-4 pull-right">
          <div class="input-group input-group-sm">
            <input type="text" class="form-control" name="name" value="{$name}" placeholder="包间名称">
            <span class="input-group-btn">
              <button class="btn btn-primary" type="submit" id="choosedata"><i class="fa fa-search"></i></button>
            </span>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="pageContent" id="pagecontent">
  <div id="w_list_print">
    <div class="no-more-tables">
      <form method="post" action="#" id="del-form" class="pageForm required-validate" enctype="multipart/form-data" onsubmit="return iframeCallback(this, dialogAjaxDone)">
        <table class="table table-bordered table-striped" targetType="navTab" asc="asc" desc="desc">
          <thead>
          <tr id="post">
            <th width="22"><input type="checkbox" group="ids" class="checkboxCtrl"></th>
            <th>序号</th>
            <th>名称</th>
            <th>封面图片</th>
            <th>内容类型</th>
            <th>创建人</th>
            <th>创建时间</th>
            <th>状态</th>
            <th class="table-tool">操作</th>
          </tr>
          </thead>
          <tbody data-check="list" data-parent=".table">
          <volist name="list" id="vlist">
            <tr target="sid_user">
              <td><input name="ids" value="{$vlist.id}" type="checkbox"></td>
              <td data-title="序号">{$vlist.id}</td>
              <td data-title="名称">{$vlist.title}</td>
              <td data-title="封面图片"><a href="#">预览</a></td>
              <td data-title="内容类型">
                <if condition="$vlist.type eq 1"> 图文
                  <elseif condition="$vlist.type eq 2"/>图集
                  <elseif condition="$vlist.type eq 3"/>视频
                  <else/> 纯文本
                </if>
              </td>
              <td data-title="创建人">{$vlist.operators}</td>
              <td data-title="创建时间">{$vlist.create_time}</td>
              <td data-title="状态">

                <div class="form-group row">
                  <div class="col-xs-12 col-sm-10">
                    <select id="state" num="{$vlist.id}"  name="state" class="form-control bs-select" title="请选择..." required>
                      <volist name=":C('MANGER_STATE')" id="vo">
                        <option value="{$key}" <if condition="$key eq $vlist['state']">selected</if>>{$vo}</option><br>
                      </volist>
                    </select>
                  </div>
                </div>

              </td>

              <td class="table-tool" data-title="操作">
                <div class="tools-edit">
                  <a data-tip="修改" target="dialog" mask="true" href="{$host_name}/release/addCate?id={$vlist.id}&acttype=1" class="btn btn-success btn-icon">
                    <i class="fa fa-pencil"></i>
                  </a>
                </div>

                <div class="tools-edit">
                  <a data-tip="删除" target="dialog" mask="true" href="{$host_name}/release/addCate?id={$vlist.id}&acttype=1" class="btn btn-success btn-icon">
                    <i class="fa fa-pencil"></i>
                  </a>
                </div>




                <div class="tools-edit">
                  <a warn="警告" data-tip="删除" title="你确定要删除吗？" target="ajaxTodo" href="{$host_name}/article/delart?id={$vlist.id}&acttype=1"  class="btn btn-success btn-icon">
                    <i class="fa fa-trash"></i>
                  </a>
                </div>
              </td>

            </tr>
          </volist>
          </tbody>
        </table>
      </form>

    </div>
  </div>
  {$page}
</div>
<script>
  $(function(){
    $("#state").change(function(){
      var select_val = $(this).children('option:selected').val();
      var hos = window.location.host;
      var idv = $(this).attr('num');
      var s = '';
      $.ajax({
        type:"POST",
        url:"host/content/changestatus",
        data:{id:idv,stid:select_val},
        dataType: "json",
        success:function(ss){
          alert(ss);
        }
      });
      /*$("input[name='ids']").each(

              function(){
                if($(this).prop("checked"))
                  alert($(this).val());
                  s[] += $(this).val();
              }
      )*/


      /*var obj = $('input[name="ids"]');
      var s='';
      for(var i=0; i<obj.length; i++){
        if(obj[i].checked) s+=obj[i].value+',';  //如果选中，将value添加到变量s中
      }
      alert(s);
      //alert(__URL__);
     */

    });
  });

</script>
