<!--修改样式2 p元素自适应宽度 start-->
<div class="pageContent">
  <form method="post" action="{$host_name}/device/doAddTv" class="pageForm required-validate" enctype="multipart/form-data" onsubmit="return iframeCallback(this, dialogAjaxDone)">
    <input type="hidden" name="id" value="{$vinfo.id}">
    <input type="hidden" name="box_id" value="{$vinfo.box_id}">

    <div class="pageFormContent modal-body">

      <div class="form-group row">
        <label class="col-xs-12 col-sm-2 control-label">
          品牌:
        </label>
        <div class="col-xs-12 col-sm-10">
           <input type="text" class="form-control" name="tv_brand" minlength="2" maxlength="20" value="{$vinfo.tv_brand}" required>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-xs-12 col-sm-2 control-label">
          尺寸:
        </label>
        <div class="col-xs-12 col-sm-10">
          <input type="text" class="form-control" name="tv_size" minlength="1" maxlength="20" value="{$vinfo.tv_size}" required>
        </div>
      </div>


      <div class="form-group row">
        <label class="col-xs-12 col-sm-2 control-label">
          电视信号源:
        </label>
        <div class="col-xs-12 col-sm-10">
         <select name="tv_source" class="form-control bs-select" title="请选择..." required>
              <option value="1" <if condition="$vinfo.tv_source eq 1"> selected </if>  >ant</option><br>
              <option value="2" <if condition="$vinfo.tv_source eq 2"> selected </if>  >av</option><br>
              <option value="3" <if condition="$vinfo.tv_source eq 3"> selected </if>  >hdmi</option><br>
              <option value="4" <if condition="$vinfo.tv_source eq 4"> selected </if>  >null</option>
          </select>
        </div>
      </div>

     <if condition="!empty($vinfo['box_name'])">  
      <div class="form-group row">
        <label class="col-xs-12 col-sm-2 control-label">
          机顶盒名称:
        </label>
        <div class="col-xs-12 col-sm-10">
           <input type="text" class="form-control" minlength="2" maxlength="20" readonly="readonly" value="{$vinfo.box_name}" >
        </div>
      </div>
      </if> 
        
      <div class="form-group row">
        <label class="col-xs-12 col-sm-2 control-label">
          删除状态:
        </label>
        <div class="col-xs-12 col-sm-10">
         <select name="flag" class="form-control bs-select" title="请选择..." required>
              <option value="0" <if condition="$vinfo.flag eq 0"> selected </if>  >正常</option><br>
              <option value="1" <if condition="$vinfo.flag eq 1"> selected </if>  >删除</option>
          </select>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-xs-12 col-sm-2 control-label">
          冻结状态:
        </label>
        <div class="col-xs-12 col-sm-10">
         <select name="state" class="form-control bs-select" title="请选择..." required>
              <option value="1" <if condition="$vinfo.state eq 1"> selected </if>  >正常</option><br>
              <option value="2" <if condition="$vinfo.state eq 2"> selected </if>  >冻结</option>
             <option value="3" <if condition="$vinfo.state eq 3"> selected </if>  >报损</option>
          </select>
        </div>
      </div>
            
    </div>

    <div class="modal-footer">
      <button class="btn btn-default close-m" type="button">取消</button>
      <button class="btn btn-primary" type="submit">保存</button>     
    </div>

  </form>
</div>