<!--修改样式2 p元素自适应宽度 start-->
<div class="pageContent">
  <form method="post" action="{$host_name}/device/doAddBox" class="pageForm required-validate" enctype="multipart/form-data" onsubmit="return iframeCallback(this, dialogAjaxDone)">
    <input type="hidden" name="id" value="{$vinfo.id}">

    <div class="pageFormContent modal-body">
      <div class="form-group row">
        <label class="col-xs-12 col-sm-2 control-label">
          包间名称:
        </label>
        <div class="col-xs-12 col-sm-10">
         <select name="room_id" class="form-control bs-select">
        	<volist name="rooms" id="vo">
        		<option value="{$key}" <if condition="$key eq $vinfo['room_id']">selected</if> >{$vo}</option>
		    </volist>
		</select>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-xs-12 col-sm-2 control-label">
          机顶盒名称:
        </label>
        <div class="col-xs-12 col-sm-10">
          <input type="text" class="form-control" name="name" minlength="1" maxlength="20" value="{$vinfo.name}" required>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-xs-12 col-sm-2 control-label">
          mac地址:
        </label>
        <div class="col-xs-12 col-sm-10">
          <input type="text" class="form-control" name="mac" minlength="12" maxlength="12" value="{$vinfo.mac}" required>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-xs-12 col-sm-2 control-label">
         切换时间:
        </label>
        <div class="col-xs-12 col-sm-10">
          <input type="text" class="form-control digits" name="switch_time" minlength="1" maxlength="20" value="{$vinfo.switch_time}">
        </div>
      </div>


        <div class="form-group row">
        <label class="col-xs-12 col-sm-2 control-label">
         音量:
        </label>
        <div class="col-xs-12 col-sm-10">
          <input type="text" class="form-control" name="volum" minlength="1" maxlength="20" value="{$vinfo.volum}">
        </div>
      </div>
  		<div class="form-group row">
        <label class="col-xs-12 col-sm-2 control-label">
         标签:
        </label>
        <div class="col-xs-12 col-sm-10">
          <input type="text" class="form-control" name="tag" minlength="1" maxlength="255" value="{$vinfo.tag}">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-xs-12 col-sm-2 control-label">
          删除状态:
        </label>
        <div class="col-xs-12 col-sm-10">
         <select name="flag" class="form-control bs-select" title="请选择..." required>
              <option value="0" <if condition="$vinfo.flag eq 0"> selected </if>  >正常</option><br>
              <option value="1" <if condition="$vinfo.flag eq 1"> selected </if>  >删除</option>
          </select>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-xs-12 col-sm-2 control-label">
          冻结状态:
        </label>
        <div class="col-xs-12 col-sm-10">
         <select name="state" class="form-control bs-select" title="请选择..." required>
           <option value="2" <if condition="$vinfo.state eq 2"> selected </if> >冻结</option><br>
           <option value="1" <if condition="$vinfo.state eq 1"> selected </if> >正常</option><br>
           <option value="3" <if condition="$vinfo.state eq 3"> selected </if> >报损</option>
          </select>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-xs-12 col-sm-2 control-label">
          广告机:
        </label>

        <div class="col-xs-12 col-sm-10">
          <select name="adv_machine" class="form-control bs-select">
            <foreach name="ad_mache" item="vlist">
              <option value="{$key}" <if condition=" $key eq $vinfo.adv_mach "> selected </if> >{$vlist}</option>
            </foreach>
          </select>
        </div>
      </div>
      
       <div class="form-group row">
        <label class="col-xs-12 col-sm-2 control-label">
          聚屏广告第三方媒体:
        </label>

        <div class="col-xs-12 col-sm-10">
        	 <span class="input-group-btn input-group-sm">
              <select  name="tpmedia_id[]" style="width: 20px" class="form-control bs-select class-filter" data-style="btn-success btn-sm" data-container="body" multiple="multiple" >
                  <volist name="poly_screen_media_arr" key="k" id="vo">
                  <option <php> if(in_array($k,$tpmedia_id_arr)){</php>selected <php>}</php> value="{$k}" >
                  
                  {$vo}
                  </option>
                </volist>
              </select>
            </span>
        </div>
      </div>
      
            
    </div>

    <div class="modal-footer">
      <button class="btn btn-default close-m" type="button">取消</button>
      <button class="btn btn-primary" type="submit">保存</button>     
    </div>

  </form>
</div>



<script type="text/javascript">

</script>

