<include file="Public/script"/>
<!--显示列表样式1 start-->
<div class="pageHeader">
    <form onsubmit="return navTabSearch(this);" id="pagerForm" action="{$host_url}/smallapp/user/customerlist" method="post">
        <input type="hidden" name="pageNum" value="{$pageNum}"/>
        <input type="hidden" name="numPerPage" value="{$numPerPage}"/>
        <div class="searchBar">
            <div class="clearfix">

                <div class="form-inline">

                    <div class="form-group">
                        <div class="input-group input-group-sm">时间：</div>
                        <div class="input-group input-group-sm date form_datetime" data-pos="auto" data-date="{$start_date}" data-ymd="true">
                            <input name="start_date" type="text" size="16" class="form-control date" placeholder="开始日期" value="{$start_date}">
                            <span class="input-group-btn">
                            <button class="btn default date-reset  btn-sm" type="button"><i class="fa fa-times"></i></button>
                            <button class="btn btn-success date-set  btn-sm" type="button"><i class="fa fa-calendar"></i></button>
                            </span>
                        </div>
                        <div class="input-group input-group-sm date form_datetime" data-pos="auto" data-date="{$end_date}" data-ymd="true">
                            <input name="end_date" type="text" size="16" class="form-control date" placeholder="结束日期" value="{$end_date}">
                            <span class="input-group-btn">
                            <button class="btn default date-reset  btn-sm" type="button"><i class="fa fa-times"></i></button>
                            <button class="btn btn-success date-set  btn-sm" type="button"><i class="fa fa-calendar"></i></button>
                          </span>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group input-group-sm">用户openid：</div>
                        <div class="input-group">
                            <input type="text" class="form-control" name="openid" value="{$openid}">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group input-group-sm pull-right">
                            <span class="input-group-btn">
                              <button class="btn btn-primary" type="submit" id="choosedata">查询</button>
                            </span>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </form>
</div>

<div class="pageContent" id="pagecontent">
    <div id="w_list_print">
        <div class="no-more-tables">
            <form method="post" action="#" id="del-form" class="pageForm required-validate" enctype="multipart/form-data" onsubmit="return iframeCallback(this, dialogAjaxDone)">
                <table class="table table-bordered table-striped" targetType="navTab" asc="asc" desc="desc">
                    <thead>
                    <tr id="post">
                        <th>用户ID</th>
                        <th>手机号码</th>
                        <th>openid</th>
                        <th>进入时间</th>
                        <th>购买总金额</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody data-check="list" data-parent=".table">
                    <foreach name="datalist" item="dinfo">
                        <tr target="sid_user">
                            <td data-title="ID"><a class="click-able-title">{$dinfo.id}</a></td>
                            <td data-title="手机号码">{$dinfo.mobile}</td>
                            <td data-title="openid">{$dinfo.openid}</td>
                            <td data-title="进入时间">{$dinfo.customer_time}</td>
                            <td data-title="购买总金额">{$dinfo.buy_money}</td>
                            <td class="table-tool" data-title="操作">
                                <div class="tools-edit">
                                    <a data-tip="订单列表" title="{$dinfo.openid}" target="navTab" rel="user/distorderlist" href="{$host_url}/smallapp/user/distorderlist?openid={$dinfo.openid}" class="btn btn-success btn-icon">
                                        <i class="fa fa-list"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>

                    </foreach>
                    </tbody>
                </table>
            </form>

        </div>
    </div>
    {$page}
</div>