<include file="Public/script"/>
<!--显示列表样式1 start-->
<div class="pageHeader">
    <form onsubmit="return navTabSearch(this);" id="pagerForm" action="{$host_url}/smallapp/user/index" method="post">
        <input type="hidden" name="pageNum" value="{$pageNum}"/>
        <input type="hidden" name="numPerPage" value="{$numPerPage}"/>
        <div class="searchBar">
            <div class="clearfix">

                <div class="form-inline">

                    <div class="form-group">
                        <div class="input-group input-group-sm">注册时间：</div>
                        <div class="input-group input-group-sm date form_datetime" data-pos="auto" data-date="{$start_date}" data-ymd="true">
                            <input name="start_date" type="text" size="16" class="form-control date" placeholder="开始日期" value="{$start_date}">
                            <span class="input-group-btn">
                            <button class="btn default date-reset  btn-sm" type="button"><i class="fa fa-times"></i></button>
                            <button class="btn btn-success date-set  btn-sm" type="button"><i class="fa fa-calendar"></i></button>
                            </span>
                        </div>
                        <div class="input-group input-group-sm date form_datetime" data-pos="auto" data-date="{$end_date}" data-ymd="true">
                            <input name="end_date" type="text" size="16" class="form-control date" placeholder="结束日期" value="{$end_date}">
                            <span class="input-group-btn">
                            <button class="btn default date-reset  btn-sm" type="button"><i class="fa fa-times"></i></button>
                            <button class="btn btn-success date-set  btn-sm" type="button"><i class="fa fa-calendar"></i></button>
                          </span>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group input-group-sm">是否授权：</div>
                        <div class="input-group">
                            <select name="is_wx_auth" class="form-control bs-select" data-style="btn-success btn-sm" data-container="body">
                                <option value='-1' >全部</option>
                                <option value="0" <if condition="$is_wx_auth eq 0">selected</if>>未授权</option>
                                <option value="1" <if condition="$is_wx_auth eq 1">selected</if>>拒绝授权</option>
                                <option value="2" <if condition="$is_wx_auth eq 2">selected</if>>已授权</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group input-group-sm">小程序类型：</div>
                        <div class="input-group">
                            <select name="small_app_id" class="form-control bs-select" data-style="btn-success btn-sm" data-container="body">
                                <option value='0' >全部</option>
                                <volist name="small_app_id_arr" id="aname">
                                    <option <if condition="$small_app_id eq $key">selected="selected"</if>value="{$key}" >{$aname}</option>
                                </volist>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group input-group-sm">性别：</div>
                        <div class="input-group">
                            <select name="gender" class="form-control bs-select" data-style="btn-success btn-sm" data-container="body">
                                <option value='-1' >全部</option>
                                <option value="0" <if condition="$gender eq 0">selected</if>>未知</option>
                                <option value="1" <if condition="$gender eq 1">selected</if>>男</option>
                                <option value="2" <if condition="$gender eq 2">selected</if>>女</option>
                            </select>
                        </div>
                    </div>

                </div>


                <div class="form-inline">
                    <div class="form-group">
                        <div class="input-group input-group-sm">是否关注公众号：</div>
                        <div class="input-group">
                            <select name="is_subscribe" class="form-control bs-select" data-style="btn-success btn-sm" data-container="body">
                                <option value='-1' >全部</option>
                                <option value="1" <if condition="$is_subscribe eq 1">selected</if>>是</option>
                                <option value="0" <if condition="$is_subscribe eq 0">selected</if>>否</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group input-group-sm">关注时间：</div>
                        <div class="input-group input-group-sm date form_datetime" data-pos="auto" data-date="{$subscribe_start_date}" data-ymd="true">
                            <input name="subscribe_start_date" type="text" size="16" class="form-control date" placeholder="开始日期" value="{$subscribe_start_date}">
                            <span class="input-group-btn">
                            <button class="btn default date-reset  btn-sm" type="button"><i class="fa fa-times"></i></button>
                            <button class="btn btn-success date-set  btn-sm" type="button"><i class="fa fa-calendar"></i></button>
                            </span>
                        </div>
                        <div class="input-group input-group-sm date form_datetime" data-pos="auto" data-date="{$subscribe_end_date}" data-ymd="true">
                            <input name="subscribe_end_date" type="text" size="16" class="form-control date" placeholder="结束日期" value="{$subscribe_end_date}">
                            <span class="input-group-btn">
                            <button class="btn default date-reset  btn-sm" type="button"><i class="fa fa-times"></i></button>
                            <button class="btn btn-success date-set  btn-sm" type="button"><i class="fa fa-calendar"></i></button>
                          </span>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group input-group-sm pull-right">
                            <span class="input-group-btn">
                              <button class="btn btn-primary" type="submit" id="choosedata">查询</button>
                            </span>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </form>
</div>

<div class="pageContent" id="pagecontent" style="margin-top:25px;">
    <div id="w_list_print">
        <div class="no-more-tables">
            <form method="post" action="#" id="del-form" class="pageForm required-validate" enctype="multipart/form-data" onsubmit="return iframeCallback(this, dialogAjaxDone)">
                <table class="table table-bordered table-striped" targetType="navTab" asc="asc" desc="desc">
                    <thead>
                    <tr id="post">
                        <th>ID</th>
                        <th>小程序版本</th>
                        <th>是否微信授权登陆</th>
                        <th>openid</th>
                        <th>unionid</th>
                        <th>用户头像</th>
                        <th>用户昵称</th>
                        <th>性别</th>
                        <th>微信公众号openid</th>
                        <th>关注时间</th>
                        <th>创建时间</th>
                    </tr>
                    </thead>
                    <tbody data-check="list" data-parent=".table">
                    <foreach name="datalist" item="dinfo">
                        <tr target="sid_user">
                            <td data-title="id">{$dinfo.id}</td>
                            <td data-title="小程序版本">{$dinfo.small_app_id_str}</td>
                            <td data-title="是否微信授权登陆"><if condition="$dinfo.is_wx_auth eq 1">授权但拒绝<elseif condition="$dinfo.is_wx_auth eq 2"  />是<elseif condition="$dinfo.is_wx_auth eq 3" />是<else />否</if></td>
                            <td data-title="openid">{$dinfo.openid}</td>
                            <td data-title="unionid">{$dinfo.unionid}</td>
                            <td data-title="用户头像"><img src="{$dinfo.avatarurl}" /></td>
                            <td data-title="用户头像">{$dinfo.nickname}</td>
                            <td data-title="性别"><if condition="$dinfo.gender eq 1">男<elseif condition="$dinfo.gender eq 2"  />女<else />未知</if></td>
                            <td data-title="微信公众号openid">{$dinfo.wx_mpopenid}</td>
                            <td data-title="关注时间">{$dinfo.subscribe_time}</td>
                            <td data-title="创建时间">{$dinfo.create_time}</td>
                        </tr>

                    </foreach>
                    </tbody>
                </table>
            </form>

        </div>
    </div>
    {$page}
</div>