<!--修改样式2 p元素自适应宽度 start-->
<div class="pageContent">
  <form method="post" action="{$host_name}/invitecode/dodelete" class="pageForm required-validate" enctype="multipart/form-data" onsubmit="return iframeCallback(this, dialogAjaxDone)">
    

    <div class="pageFormContent modal-body">

      
            <input type="hidden" name="id" value="{$id}">
    </div>

    <div class="modal-footer">
      <button class="btn btn-default close-m" type="button">取消</button>
      <button class="btn btn-primary" type="submit">确认删除</button>     
    </div>

  </form>
</div>