<include file="Public/script"/>
<!--显示列表样式1 start-->
<div class="pageHeader">
  <form onsubmit="return navTabSearch(this);" id="pagerForm" action="{$host_url}/smallapp/invoice/invoicelist" method="post">
      <input type="hidden" name="pageNum" value="{$pageNum}"/>
      <input type="hidden" name="numPerPage" value="{$numPerPage}"/>
    <div class="searchBar">
      <div class="clearfix">

        
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 pull-right">

            <div class="form-inline">

            <div class="form-group">
                <div class="input-group input-group-sm">时间：</div>
                <div class="input-group input-group-sm date form_datetime" data-pos="auto" data-date="{$start_date}" data-ymd="true">
                    <input name="start_date" type="text" size="16" class="form-control date" placeholder="开始日期" value="{$start_date}">
                    <span class="input-group-btn">
                    <button class="btn default date-reset  btn-sm" type="button"><i class="fa fa-times"></i></button>
                    <button class="btn btn-success date-set  btn-sm" type="button"><i class="fa fa-calendar"></i></button>
                    </span>
                </div>
                <div class="input-group input-group-sm date form_datetime" data-pos="auto" data-date="{$end_date}" data-ymd="true">
                    <input name="end_date" type="text" size="16" class="form-control date" placeholder="结束日期" value="{$end_date}">
                    <span class="input-group-btn">
                    <button class="btn default date-reset  btn-sm" type="button"><i class="fa fa-times"></i></button>
                    <button class="btn btn-success date-set  btn-sm" type="button"><i class="fa fa-calendar"></i></button>
                    </span>
                </div>
            </div>

          <div class="input-group input-group-sm">
            <span class="input-group-btn">
              <select name="status" class="form-control bs-select" data-style="btn-success btn-sm" data-container="body">
                <option value='0' >发票状态</option>
                <volist name=":C('INVOICE_STATUS')" id="istatus">
                    <option value="{$key}" <if condition="$key eq $status">selected</if> >{$istatus}</option><br>
                </volist>
              </select>
            </span>
            <span class="input-group-btn">
              <button class="btn btn-primary" type="submit" id="choosedata"><i class="fa fa-search"></i></button>
            </span>
          </div>

          </div>

        </div>
        
      </div>
    </div>
  </form>
</div>
<div class="pageContent" id="pagecontent">
  <div id="w_list_print">
    <div class="no-more-tables">
      <form method="post" action="#" id="del-form" class="pageForm required-validate" enctype="multipart/form-data" onsubmit="return iframeCallback(this, dialogAjaxDone)">
        <table class="table table-bordered table-striped" targetType="navTab" asc="asc" desc="desc">
          <thead>
            <tr id="post">
              <th>订单编号</th>
              <th>订单商品</th>
              <th>订单数量</th>
              <th>订单金额</th>
              <th>发票类型</th>
              <th>联系人</th>
              <th>联系电话</th>
              <th>邮寄地址</th>
              <th>电子邮箱</th>
              <th>状态</th>
              <th class="table-tool">操作</th>
            </tr>
          </thead>
          <tbody data-check="list" data-parent=".table">
            <foreach name="datalist" item="dinfo">
            <tr target="sid_user">
              <td data-title="订单编号"><a class="click-able-title">{$dinfo.id}</a></td>
              <td data-title="订单商品">{$dinfo.goods_name}</td>
              <td data-title="订单数量">{$dinfo.amount}</td>
              <td data-title="订单金额">{$dinfo.total_fee}</td>
              <td data-title="发票类型">{$dinfo.invoice_type_str}</td>
              <td data-title="联系人">{$dinfo.contact}</td>
              <td data-title="联系电话">{$dinfo.phone}</td>
              <td data-title="邮寄地址">{$dinfo.address}</td>
              <td data-title="电子邮箱">{$dinfo.email}</td>
              <td data-title="状态">{$dinfo.invoice_status_str}</td>
              <td class="table-tool" data-title="操作">
                <div class="tools-edit">
                    <if condition="$dinfo.invoice_status neq 4">
                    <a title="发票信息" data-tip="发票信息" target="dialog" mask="true" href="{$host_url}/smallapp/invoice/editinvoice?id={$dinfo.invoice_id}" class="btn btn-success btn-icon">
                        <i class="fa fa-money"></i>
                    </a>
                    </if>
                </div>
              </td>
            </tr>
            </foreach>
          </tbody>
        </table>
      </form>

    </div>
  </div>
  {$page}
</div>