<include file="Public/script"/>
<!--显示列表样式1 start-->
<div class="pageHeader">
  <form onsubmit="return navTabSearch(this);" id="pagerForm" action="{$host_url}/smallapp/scancodehd/index" method="post" >
    <input type="hidden" name="pageNum" value="{$pageNum}"/>
    <input type="hidden" name="numPerPage" value="{$numPerPage}"/>
    <input type="hidden" name="_order" value="{$_order}"/>
    <input type="hidden" name="_sort" value="{$_sort}"/>
    <div class="searchBar">
      <div class="clearfix">
        <div class="form-inline" style="margin-top:3px;">
        <div class="form-group">
        	<div class="input-group input-group-sm date form_date" data-ymd="true" data-date="{$start_date}">
          		<input id="sapp_scancode_s_date" style="margin-left: 6px;" name="start_date" type="text" size="16" class="form-control date" placeholder="开始日期" value="{$start_date}" readonly>
                <span class="input-group-btn">
                  <button class="btn default date-reset  btn-sm" type="button"><i class="fa fa-times"></i></button>
                  <button class="btn btn-success date-set  btn-sm" type="button"><i class="fa fa-calendar"></i></button>
                </span>
       	 	</div>

        	<div class="input-group input-group-sm date form_date" data-ymd="true" data-date="{$end_date}" >

          		<input id="sapp_scancode_e_date"   name="end_date" type="text" size="16" class="form-control date" placeholder="结束日期" value="{$end_date}" readonly>
                <span class="input-group-btn"  >
                  <button class="btn default date-reset  btn-sm" type="button"><i class="fa fa-times"></i></button>
                  <button class="btn btn-success date-set  btn-sm" type="button"><i class="fa fa-calendar"></i></button>
                </span>
        	</div>
        </div>
        <div class="form-group">
          <div class="input-group input-group-sm">
            <label style="margin-left: 3px;" class="col-xs-1 col-sm-1 control-label">
              	城市：
            </label>
                <span class="input-group-btn">
               <select name="area_v" style="width: 20px" class="form-control bs-select class-filter" data-style="btn-success btn-sm" data-container="body">
                 <option value=0 >全国</option>
	                <volist name="area_list" id="vo">
	                  <option value="{$vo.id}" <if condition="$vo.id eq $area_k">selected</if>>{$vo.region_name}</option><br>
	                </volist>
               </select>
          </div>
          </div>
        
        <div class="form-group">
          <div class="input-group input-group-sm">
            <label style="margin-left: 3px;" class="col-xs-1 col-sm-1 control-label">
              机顶盒类型：
            </label>
                <span class="input-group-btn">
               <select name="hbt_v" style="width: 20px" class="form-control bs-select class-filter" data-style="btn-success btn-sm" data-container="body">
                 <option value=0 >全部</option>
                 <volist name="hotel_box_type" key="k" id="vo">
	                  <option value="{$vo.id}" <if condition="$vo.id eq $hbt_v">selected</if>>{$vo.name}</option><br>
	             </volist>
               </select>
          </div>
          </div>
          <div class="form-group">
          <div class="input-group input-group-sm">
            <label style="margin-left: 3px;" class="col-xs-1 col-sm-1 control-label">
              	是否4g：
            </label>
                <span class="input-group-btn">
               <select name="is_4g" style="width: 20px" class="form-control bs-select class-filter" data-style="btn-success btn-sm" data-container="body">
                 <option value="-1" >全部</option>
	                
	             <option value="0" <if condition="$is_4g eq 0">selected</if>>否</option><br>
	             <option value="1" <if condition="$is_4g eq 1">selected</if>>是</option><br>   
               </select>
          </div>
          </div>
          <div class="form-group">
          <div class="input-group input-group-sm">
            <label style="margin-left: 3px;" class="col-xs-1 col-sm-1 control-label">
              	小程序类型：
            </label>
                <span class="input-group-btn">
               <select name="small_app_id" style="width: 20px" class="form-control bs-select class-filter" data-style="btn-success btn-sm" data-container="body">
                 <option value=0 >全部</option>
	                <volist name="small_app_id_arr"  id="vo">
	                  <option value="{$vo.id}" <if condition="$vo.id eq $small_app_id">selected</if>>{$vo.name}</option><br>
	                </volist>
               </select>
          </div>
          </div>
		  <div class="form-group">
            <div class="input-group-sm input-group">
              <label class="control-label" style="">
                合作维护人：
              </label>
              <span class="input-group-btn input-group-sm">
                  <!-- <input type="text" class="form-control" name="main_v" value="{$main_k}" placeholder="合作维护人" style="width:95px;"> -->
                  <select name="maintainer_id" style="width: 20px" class="form-control bs-select class-filter" data-style="btn-success btn-sm" data-container="body">
		  			<option>请选择账号</option>
		  			<php>
		  				foreach($hezuo_arr as $key=>$v){
		  			</php>
		  			
		  				<option value="" disabled="disabled">{$key}</option>
		  				<php> foreach($v as $kk=>$vv){</php>
		  				<option <if condition="$vv.uid eq $maintainer_id">selected</if> value="{$vv.uid}">{$vv.remark}</option>
		  				<php>}</php>
		  			<php>
		  				}
		  			</php>
		  		</select>
              </span>
            </div>
          </div>	
            <div class="form-group" >
	              <div class="input-group input-group-sm pull-right">
	                
		            
		            <span class="input-group-btn">
		              <button class="btn btn-primary" type="submit" id="choosedata"><i class="fa fa-search"></i></button>
		            </span>
	              </div>
            </div>
            
            
          <!--   <div class="input-group input-group-sm pull-right">
              <a id="exportheartlistlog" class="btn btn-success btn-sm add" href="{$host_name}/excel/expheartlost" title="导出心跳数据" target="_blank" mask="true"><i class="fa fa-plus"></i> 导出心跳数据</a>
              <input type="hidden" id="xiaohref" value="{$host_name}/excel/expheartlost"/>
            </div> -->
          
        </div>
      </div>
    </div>
  </form>
</div>
<div class="pageContent" id="pagecontent" style="margin-top:25px;">
  <div id="w_list_print">
    <div class="no-more-tables">
      <form method="post" action="#" id="del-form" class="pageForm required-validate" enctype="multipart/form-data" onsubmit="return iframeCallback(this, dialogAjaxDone)">
        <table class="table table-bordered table-striped" targetType="navTab" asc="asc" desc="desc">
          <thead>
          <tr id="post">
            <th>扫码人数</th>
            <th>互动人数</th>
            <th>互动量</th>
            
          </tr>
          </thead>
          <tbody data-check="list" data-parent=".table">
          
            <tr target="sid_user">
              <td data-title="扫码人数">{$qrcode_person_nums}</td>
              <td data-title="互动人数">{$hd_person_nums}</td>
              <td data-title="互动量">{$hd_nums}</td>
              
            </tr>
          </tbody>
        </table>
      </form>

    </div>
  </div>
  {$page}
</div>
<script type="text/javascript">

  $('.date-reset').click(function(){
    $(this).parent().prev().val('')
  });
  $(function(){
    

    $("#sapp_scancode_s_date").datetimepicker({
      minView: "month", //选择日期后，不会再跳转去选择时分秒
      language:  'zh-CN',
      format: 'yyyy-mm-dd',
      todayBtn:  1,
      autoclose: 1,
    });
    $("#sapp_scancode_e_date").datetimepicker({
        minView: "month", //选择日期后，不会再跳转去选择时分秒
        language:  'zh-CN',
        format: 'yyyy-mm-dd',
        todayBtn:  1,
        autoclose: 1,
      });
  })
</script>