<include file="Public/script"/>
<!--显示列表样式1 start-->
<div class="pageHeader">
  <form onsubmit="return navTabSearch(this);" id="pagerForm" action="{$host_name}/Department/index" method="post" >
    <input type="hidden" name="pageNum" value="{$pageNum}"/>
    <input type="hidden" name="numPerPage" value="{$numPerPage}"/>
    <input type="hidden" name="_order" value="{$_order}"/>
    <input type="hidden" name="_sort" value="{$_sort}"/>
    <div class="searchBar">
      <div class="clearfix">
        <div class="col-xs-3 col-sm-2 col-md-1">
          <div class="tools-group">
            <a class="btn btn-success btn-sm add" href="{$host_name}/Department/add" title="新增组织" target="dialog" mask="true"><i class="fa fa-plus"></i> 新增</a>
          </div>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-2 ">
          <div class="input-group input-group-sm">
            <input type="text" class="form-control" name="search_name" value="{$search_name}" placeholder="小组名称">
            <span class="input-group-btn">
              <button class="btn btn-primary" type="submit" id="choosedata"><i class="fa fa-search"></i></button>
            </span>
          </div>
        </div>
        
        <div class="input-group input-group-sm pull-right">
              <a id="exportheartlistlog" class="btn btn-success btn-sm add" href="{$host_url}/Dataexport/department/userlist" title="导出人员数据" target="_blank" mask="true"><i class="fa fa-plus"></i> 导出人员数据</a>
              
            </div>
      </div>
    </div>
  </form>
</div>
<div class="pageContent" id="pagecontent">
  <div id="w_list_print">
    <div class="no-more-tables">
      <form method="post" action="#" id="del-form" class="pageForm required-validate" enctype="multipart/form-data" onsubmit="return iframeCallback(this, dialogAjaxDone)">
        <table class="table table-bordered table-striped" targetType="navTab" asc="asc" desc="desc">
          <thead>
            <tr id="post">
              <!-- <th class="table-checkbox">
                <input type="checkbox" data-check="all" data-parent=".table" />
              </th> -->
              <th>小组名称</th>
              <th>组领导</th>
              <th>组人数</th>
              <th>创建时间</th>
              
              <th class="table-tool">操作</th>
            </tr>
          </thead>
          <tbody data-check="list" data-parent=".table">
            <volist name="userlist" id="vlist">
            <tr target="sid_user">
              <!-- <td class="table-checkbox">
                <input type="checkbox" class="checkboxes" value="30" name="postlist[]">
              </td> -->
              <td data-title="小组名称">{$vlist.name}</td>
              <td data-title="组领导">{$vlist.opt_user_name}</td>
              <td data-title="组领导">{$vlist.member_nums}</td>
              <td data-title="创建时间">{$vlist.create_time}</td>
              <td class="table-tool" data-title="操作">
				<div class="tools-edit">
                  <a data-tip="修改状态" target="dialog" mask="true"
                    href="{$host_name}/Department/edit?id={$vlist.id}"
                  class="btn btn-success btn-icon">
                  <i class="fa fa-pencil"></i>
                  </a>
                  
                  <a title="{$vlist.name}成员列表" data-tip="{$vlist.name}-小组人员列表" target="navTab" mask="true" rel="department/memberlist" href="{$host_name}/department/memberlist?department_id={$vlist.id}" class="btn btn-default btn-icon">
                      <i class="fa fa-user"></i>
                  </a>
                </div>
              </td>
            </tr>
            </volist>
          </tbody>
        </table>
      </form>

    </div>
  </div>
  {$page}
</div>
