
<style type="text/css">
	.entirety{
	width: 350px;
    border: 1px solid black;
    margin: 0 auto;
    margin-top: 10%;
    margin-bottom: 50px;
    padding-bottom: 20px;
	}
	.entirety h1{
		text-align: center;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.xian{
		width: 80%;
		height: 1px;
		background-color: black;
		margin: 0 auto;
		margin-bottom: 10px;
	}
	.inp{
		width: 70%;
		
		margin: 0 auto;
	}
	.compellation{
		width: 80%;
	    height: 29px;
	    margin-top: 10px;
	    margin-bottom: 10px;
	    margin-left: 7%;
	}
	.position{
		width: 80%;
	    height: 29px;
	    margin-left: 7%;
	    margin-bottom: 10px;
	}
	.kuai{
		width: 85%;
		margin: 10px auto;
		display: none;
	}
	.kuai span{
		display: inline-block;
	    width: 94px;
	    height: 25px;
	    text-align: center;
	    line-height: 25px;
	    margin-bottom: 10px;
	    color: white;
	    background-color: #b9b2b2;
	}
	#is_install{
		margin-left: 7%;
	}
	.kuai .active{
	    background-color: #3f51b5;
	}
	.jiulou{
		display: inline-block;
		border: 1px solid black;
		height: 25px;
		line-height: 23px;
		margin-left: 10px;
	}
	.del{
		margin-left: 11px;
		font-size: 19px;
		font-weight: 700;
		color: red;
	}
	.modal-content{
		
		height:800px;
	}

	#boite input{
		width: 15px;
		height: 15px;
		margin-top: 10px;
	}
	#boite span{
		font-size: 17px;
		margin-right: 13px;
		margin-left: 6px;
	}
	#boite {
		height: 500px;
    	overflow: auto;
	}
	.jlwid{
	    width: 49%;
	    height: 31px;
	    float: left;
	    line-height: 31px;
	}
</style>

  <div class="pageContent">
  <div class="entirety">
  	<form method="post" action="{$host_name}/optionuser/doadd" class="pageForm required-validate" enctype="multipart/form-data" onsubmit="return iframeCallback(this, dialogAjaxDone)">
  	<input name="hotel_idstr" id="hotelids" type="hidden">
  	<input type="hidden" id="honame" value="{$host_name}">
  	<h1>账号设置</h1>
  	<div class="xian"></div>
  	<div class="inp">
  		<!-- <input type="text" class="compellation" placeholder="姓名" /> -->
  		<div class="input-group-sm input-group">
  		 <label style="margin-left: 14%;margin-top: 10px;width: 83px;">
        账号：
      </label>
      <span class="input-group-btn input-group-sm" style="width: 132px;margin-right: 22px;">
  		<select name="user_id" style="width: 20px;display:none !important;" class="form-control bs-select class-filter " data-style="btn-success btn-sm" data-container="body" required>
  			<option>请选择账号</option>
  			<php>
  				foreach($userlist as $key=>$v){
  			</php>
  			
  				<option value="" disabled="disabled">{$key}</option>
  				<php> foreach($v as $vv){</php>
  				<option value="{$vv[id]}">{$vv[remark]}</option>
  				<php>}</php>
  			<php>
  				}
  			</php>
  		</select>
  		</span>
  		</div>
  		<div class="input-group-sm input-group" style="margin-top:5px;">
  		 <label style="margin-left: 14%;margin-top: 10px;width: 83px;">
        角色：
      </label>
  		 <span class="input-group-btn input-group-sm" style="width: 132px;margin-right: 22px;">
  		<select  name="role_id" style="width: 20px;display:none !important;" class="form-control bs-select class-filter positions" data-style="btn-success btn-sm" data-container="body" required>
  			<option value="">请选择</option>
  			<php>foreach($option_user_role_arr as $key=>$v){</php>
  				<option value="{$key}">{$v}</option>
  			<php>}</php>
  		</select>
  		</span>
  		</div>
  		<div class="kuai">
  			<php>foreach($option_user_skill_arr as $key=>$v){</php>
  				<span id="{$key}">{$v}<input name="skill[]" value="" type="hidden"></span>
  			<php>}</php>
  			<!-- <span id="1">信息检测<input type="hidden"></span>
  			<span id="2">网络改造 <input type="hidden"></span>
  			<span id="3">安装验收 <input type="hidden"></span>
  			<span id="4">维修 <input type="hidden"></span> -->
  		</div>
  		
  		<div class="form-group" id="teaminstall" style="display:none">
  		<input name="is_lead_install" value=1 type="checkbox" id="is_install" /><label for="is_install" style="vertical-align: text-top;margin-left: 10px;margin-bottom: 10px;">带队安装</label>
  		</div>
  		<div class="form-group" id="all_city_list">
    <div class="input-group-sm input-group" style="margin-top:5px;">
      <label style="margin-left: 14%;margin-top: 10px;width: 83px;">
        所属城市：
      </label>
        <span class="input-group-btn input-group-sm" style="width: 132px;margin-right: 22px;">
      <select id="inch" name="manage_city[]" style="width: 20px;display:none !important;" class="form-control bs-select " data-style="btn-success btn-sm" data-container="body" >
       <volist name="areaList" key="k" id="list">
           <option <if condition="$list.id eq 9999">selected="selected" </if> value="{$list.id}">{$list.region_name}</option>
       </volist>
      </select>
    </span>
    </div>
  </div>
  
  			<div id="city_list" class="form-group" style="display:none;">
    <div  class="input-group-sm input-group" style="margin-top:5px;" >
      <label style="margin-left: 14%;margin-top: 10px;width: 83px;">
        所属城市：
      </label>
        <span class="input-group-btn input-group-sm" style="width: 132px;margin-right: 22px;">
      <select id="inch" name="manage_city_one" style="width: 20px;display:none !important;" class="form-control bs-select class-filter" data-style="btn-success btn-sm" data-container="body"  >
       <volist name="city_area_list" key="k" id="list">
           <option <if condition="$list.id eq 1">selected="selected" </if> value="{$list.id}">{$list.region_name}</option>
       </volist>
      </select>
    </span>
    </div>
  </div>
  <div class="form-group" id="disjl" style="display: none;"><!--选择酒楼-->
  	<div style="margin-left: 12px;margin-bottom: 30px;">
		<span>目标酒楼</span>
		<button type="button" id="tj" class="btn btn-primary" style="margin-left: 20px;" data-toggle="modal" data-target="#myModal">添加酒楼</button>
		<p>注：如未添加酒楼，默认为全部酒楼</p>
	</div>
	  <div style="margin-bottom: 30px;" id="jia"></div>
  </div>
  <!-----------------酒楼--------------------->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button style="width:20px;height:20px;" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">酒楼选择</h4>
      </div>
      <div class="modal-body">
        <div style="margin: 20px;">
        	<span>城市</span>
        	<select name="area_v" id="cityhtml" style="margin-left: 15px;width: 70px;">
                <volist name="area" id="vo">
                  <option value="{$vo.id}" >{$vo.region_name}</option><br>
                </volist>
        	</select>
        	<span style="margin-left: 15px;">级别</span>
        	<select name="level_v" style="margin-left: 10px;width: 70px;">
                <option value=0 >全部</option>
                <volist name=":C('HOTEL_LEVEL')" id="vo">
                  <option value="{$key}" <if condition="$key eq $level_k">selected</if>>{$vo}</option><br>
                </volist>
        	</select>
        	<span style="margin-left: 15px;">状态</span>
        	<select name="state_v" style="margin-left: 10px;width: 70px;">
                <option value=0 >全部</option>
                <volist name=":C('HOTEL_STATE')" id="vo">
                  <option value="{$key}" <if condition="$key eq $state_k">selected</if>>{$vo}</option><br>
                </volist>
        	</select>




        	<span style="margin-left: 15px;">重点</span>
        	<select name="key_v" style="margin-left: 10px;width: 70px;">
                <option value=0 >全部</option>
                <volist name=":C('HOTEL_KEY')" id="vo">
                  <option value="{$key}" <if condition="$key eq key_k">selected</if>>{$vo}</option><br>
                </volist>
        	</select><br /><br />

			<span style="">酒楼机顶盒类型</span>
			<select name="hbt_v" style="margin-left: 10px;width: 120px;">
				<option value=0 >全部</option>
				<volist name=":C('hotel_box_type')" id="vo">
					<option value="{$key}" <if condition="$key eq $hbt_k">selected</if>>{$vo}</option><br>
				</volist>
			</select>

        	<span style="margin-top: 10px;">维护人</span>
        	<input type="text" name="main_v" style="width: 153px;" placeholder="输入维护人名查找" style="margin-left: 30px;"/><br/><br/>
        	<input type="text" name="names" style="width: 153px;"placeholder="输入酒楼名称查找" style="margin-left: 30px;"/>
        	<button type="button" id="searchs" class="btn btn-primary" style="margin-left: 15px;height: 26px;line-height: 14px;">查询</button>
        	<div style="margin-top: 10px;">
        		<input type="radio" id="checkquan"name="one" class="one" /><span>全选</span><input type="radio"name="one" class="one" id="checkfan" style="margin-left: 10px;"/><span>反选</span><br />
        		<p style="width:100%;border: 1px solid black;margin-top: 15px;"></p>
        		<div id="boite">
        		</div>
        		<div style="margin-top: 20px;">
        	<button type="button" class="btn btn-primary"data-dismiss="modal" id="yes" style="margin-left: 35%;height: 26px;line-height: 14px;">确定</button>
        	<button type="button" class="btn btn-primary"data-dismiss="modal" style="margin-left: 15px;height: 26px;line-height: 14px;">取消</button>
        			
        		</div>
        	</div>
        </div>
      </div>
      
    </div>
  </div>
</div>
  <button type="submit"  class="btn btn-primary"style="width: 100px;margin-left: 30%;">确定</button>
  	</div>
 </form>
  </div>
</div>
<script src="../../../../Public/admin/assets/js/optionuser.js" type="text/javascript" charset="utf-8"></script>