
<style type="text/css">
	.entirety{
	width: 350px;
    border: 1px solid black;
    margin: 0 auto;
    margin-top: 10%;
    margin-bottom: 50px;
    padding-bottom: 20px;
	}
	.entirety h1{
		text-align: center;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.xian{
		width: 80%;
		height: 1px;
		background-color: black;
		margin: 0 auto;
		margin-bottom: 10px;
	}
	.inp{
		width: 70%;
		
		margin: 0 auto;
	}
	.compellation{
		width: 80%;
	    height: 29px;
	    margin-top: 10px;
	    margin-bottom: 10px;
	    margin-left: 7%;
	}
	.position{
		width: 80%;
	    height: 29px;
	    margin-left: 7%;
	    margin-bottom: 10px;
	}
	.kuai{
		width: 85%;
		margin: 10px auto;
		display: none;
	}
	.kuai span{
		display: inline-block;
	    width: 94px;
	    height: 25px;
	    text-align: center;
	    line-height: 25px;
	    margin-bottom: 10px;
	    color: white;
	    background-color: #b9b2b2;
	}
	#is_install{
		margin-left: 7%;
	}
	.kuai .active{
	    background-color: #3f51b5;
	}
</style>

  <div class="pageContent">
  <div class="entirety">
  	<form method="post" action="{$host_name}/optionuser/doadd" class="pageForm required-validate" enctype="multipart/form-data" onsubmit="return iframeCallback(this, dialogAjaxDone)">
  	<h1>账号设置</h1>
  	<div class="xian"></div>
  	<div class="inp">
  		<!-- <input type="text" class="compellation" placeholder="姓名" /> -->
  		<div class="input-group-sm input-group">
  		 <label style="margin-left: 14%;margin-top: 10px;width: 83px;">
        账号：
      </label>
      <span class="input-group-btn input-group-sm" style="width: 132px;margin-right: 22px;">
  		<select name="user_id" style="width: 20px;display:none !important;" class="form-control bs-select class-filter " data-style="btn-success btn-sm" data-container="body" required>
  			<option>请选择账号</option>
  			<php>
  				foreach($userlist as $key=>$v){
  			</php>
  			
  				<option value="" disabled="disabled">{$key}</option>
  				<php> foreach($v as $vv){</php>
  				<option value="{$vv[id]}">{$vv[remark]}</option>
  				<php>}</php>
  			<php>
  				}
  			</php>
  		</select>
  		</span>
  		</div>
  		<div class="input-group-sm input-group" style="margin-top:5px;">
  		 <label style="margin-left: 14%;margin-top: 10px;width: 83px;">
        角色：
      </label>
  		 <span class="input-group-btn input-group-sm" style="width: 132px;margin-right: 22px;">
  		<select  name="role_id" style="width: 20px;display:none !important;" class="form-control bs-select class-filter positions" data-style="btn-success btn-sm" data-container="body" required>
  			<option value="">请选择</option>
  			<php>foreach($option_user_role_arr as $key=>$v){</php>
  				<option value="{$key}">{$v}</option>
  			<php>}</php>
  		</select>
  		</span>
  		</div>
  		<div class="kuai">
  			<php>foreach($option_user_skill_arr as $key=>$v){</php>
  				<span id="{$key}">{$v}<input name="skill[]" value="" type="hidden"></span>
  			<php>}</php>
  			<!-- <span id="1">信息检测<input type="hidden"></span>
  			<span id="2">网络改造 <input type="hidden"></span>
  			<span id="3">安装验收 <input type="hidden"></span>
  			<span id="4">维修 <input type="hidden"></span> -->
  		</div>
  		
  		<div class="form-group" id="teaminstall" style="display:none">
  		<input name="is_lead_install" value=1 type="checkbox" id="is_install" /><label for="is_install" style="vertical-align: text-top;margin-left: 10px;margin-bottom: 10px;">带队安装</label>
  		</div>
  		<div class="form-group" id="all_city_list">
    <div class="input-group-sm input-group" style="margin-top:5px;">
      <label style="margin-left: 14%;margin-top: 10px;width: 83px;">
        所属城市：
      </label>
        <span class="input-group-btn input-group-sm" style="width: 132px;margin-right: 22px;">
      <select id="inch" name="manage_city[]" style="width: 20px;display:none !important;" class="form-control bs-select class-filter" data-style="btn-success btn-sm" data-container="body" multiple="multiple" >
       <volist name="areaList" id="list">
           <option value="{$list.id}">{$list.region_name}</option>
       </volist>
      </select>
    </span>
    </div>
  </div>
  
  			<div id="city_list" class="form-group" style="display:none;">
    <div  class="input-group-sm input-group" style="margin-top:5px;" >
      <label style="margin-left: 14%;margin-top: 10px;width: 83px;">
        所属城市：
      </label>
        <span class="input-group-btn input-group-sm" style="width: 132px;margin-right: 22px;">
      <select id="inch" name="manage_city_one" style="width: 20px;display:none !important;" class="form-control bs-select class-filter" data-style="btn-success btn-sm" data-container="body"  >
       <volist name="city_area_list" id="list">
           <option value="{$list.id}">{$list.region_name}</option>
       </volist>
      </select>
    </span>
    </div>
  </div>
  
  <button type="submit"  class="btn btn-primary"style="width: 100px;margin-left: 30%;">确定</button>
  	</div>
 </form>
  </div>
</div>
<script type="text/javascript">
	$('.positions').change(function(){
		if($(this).val()==3){		
			$('.kuai').show();
		}else{
			$('.kuai').hide();
		}
		if($(this).val()==1 || $(this).val()==3){
			$('#all_city_list').hide();
			$('#city_list').show();
		}else {
			$('#all_city_list').show();
			$('#city_list').hide();
		}
		
		$(this).next().find('span').prop('class','')
		
	})
	$('.kuai span').click(function(){
		var skill_id = $(this).prop('id');
		if($(this).is('.active')){
			$(this).removeClass('active')
			$(this).find('input').val('')
			if(skill_id ==2){
				$('#teaminstall').hide();
			}
		}else{
			$(this).addClass('active');
			$(this).find('input').val($(this).prop('id'))
			
			if(skill_id ==2){
				$('#teaminstall').show();
			}
		}
		
	})
	
	
	
	$('.entirety').on('change','#inch',function(){
		var this_val =  $(this).val();
		//alert(this_val)
		if(this_val.indexOf('9999')==0){
			$('.inner li').each(function(){
				$(this).removeClass('selected');
				if($(this).attr('data-original-index')==0){
					$('.btn-success').attr('title','全国')
					//$('.pull-left').html('全国');
					$('#inch').prev().find('.pull-left').html('全国')
					$('#inch').val('9999')
					$(this).addClass('selected')
				}
			})
		}
	})
</script>