<include file="Public/script"/>
<!--显示列表样式1 start-->
<div class="pageHeader">
  <form onsubmit="return navTabSearch(this);" id="pagerForm" action="{$host_name}/programmenu/getlist" method="post" >
    <input type="hidden" name="pageNum" value="{$pageNum}"/>
    <input type="hidden" name="numPerPage" value="{$numPerPage}"/>
    <input type="hidden" name="_order" value="{$_order}"/>
    <input type="hidden" name="_sort" value="{$_sort}"/>
    <div class="searchBar">
      <div class="clearfix">
        <div class="form-inline">
          <div class="goods-date">
            <div class="form-inline">
              <div class="form-group">
                <label>上传时间：</label>
                <div class="input-group input-group-sm date form_datetime" data-date="{$vinfo.log_time}" data-ymd="true">
                  <input name="starttime" type="text" size="14" class="form-control date" placeholder="开始日期" value="{$vinfo.log_time}" readonly>
                         <span class="input-group-btn">
                           <button class="btn default btn-sm date-reset" type="button" style="display:none"><i class="fa fa-times"></i></button>
                           <button class="btn btn-success btn-sm date-set" type="button"><i class="fa fa-calendar"></i></button>
                         </span>
                </div>
              </div>
              <div class="input-group input-group-sm date form_datetime" data-date="{$vinfo.log_time}" data-ymd="true">
                <input name="end_time" type="text" size="14" class="form-control date" placeholder="结束日期" value="{$vinfo.log_time}" readonly>
                     <span class="input-group-btn">
                       <button class="btn default btn-sm date-reset" type="button" style="display:none"><i class="fa fa-times"></i></button>
                       <button class="btn btn-success btn-sm date-set" type="button"><i class="fa fa-calendar"></i></button>
                     </span>
              </div>

                <div class="form-group">
                    <div class="input-group-sm input-group">
                        <a class="btn btn-success btn-sm add" href="{$host_name}/programmenu/addnewmenu" title="添加新节目单" target="dialog" mask="true"><i class="fa fa-plus"></i> 添加新节目单</a>
                    </div>
                </div>

              <div class="col-xs-4 col-sm-4 col-md-4 pull-right">
                <div class="input-group input-group-sm">
                  <input type="text" class="form-control" name="titlename" value="{$name}" placeholder="输入名称查找">
            <span class="input-group-btn">
              <button class="btn btn-primary" type="submit" id="choosedata"><i class="fa fa-search"></i></button>
            </span>
                </div>
              </div>

            </div>
          </div>

        </div>



      </div>



    </div>
  </form>
</div>
<div class="pageContent" id="pagecontent">
  <div id="w_list_print">
    <div class="no-more-tables">
      <form method="post" action="#" id="del-form" class="pageForm required-validate" enctype="multipart/form-data" onsubmit="return iframeCallback(this, dialogAjaxDone)">
        <table class="table table-bordered table-striped" targetType="navTab" asc="asc" desc="desc">
          <thead>
          <tr id="post">
            <th>序号</th>
            <th>名称</th>
            <th>创建日期</th>
            <th>更新日期</th>
            <th>是否选择洒楼</th>
            <th>节目详情</th>


            <th class="table-tool">操作</th>
          </tr>
          </thead>
          <tbody data-check="list" data-parent=".table">
          <volist name="list" id="vlist">
            <tr target="sid_user">
              <td data-title="序号">{$vlist.id}</td>
              <td data-title="名称">{$vlist.menu_name}</td>
              <td data-title="创建日期">{$vlist.create_time}</td>
              <td data-title="更新日期">{$vlist.update_time}</td>
              <td data-title="是否选择洒楼">





                <if condition="$vlist.hotel_num eq 0"> <a data-tip="请选择酒楼" rel="programmenu/selecthotelselect" class="btn btn-success " target="navTab" mask="true" href="{$host_name}/programmenu/selecthotel?menuid={$vlist.id}&menuname={$vlist.menu_name}">请选择酒楼</a>
                  <else/> <a data-tip="酒楼数为" class="btn btn-success " target="navTab" mask="true" rel="programmenu/selecthotelselect"
href="{$host_name}/programmenu/gethotelinfo?menuid={$vlist.id}&menuname={$vlist.menu_name}">{$vlist.hotel_num}</a>
                </if>
              </td>
              <td data-title="节目详情">
                <a data-tip="查看" class="btn btn-success " target="dialog" mask="true" href="{$host_name}/programmenu/getdetail?id={$vlist.id}&name={$vlist.menu_name}">查看</a>
              </td>

              <td class="table-tool" data-title="操作">
                <div class="tools-edit">
                    <a data-tip="复制新增" target="dialog" title="复制新增节目单"  mask="true"

                       href="{$host_name}/programmenu/addnewmenu?id={$vlist.id}&type=2&name={$vlist.menu_name}&pctype=1"
                       class="btn btn-success btn-icon">
                        <i class="fa fa-copy"></i>
                    </a>
                </div>


                <!--  <div class="tools-edit">
                      <a warn="警告" data-tip="复制" title="你确定要复制到老节目单吗" callback="dialogAjaxProgram" target="ajaxTodo" href="{$host_name}/programmenu/copynew?menuid={$vlist.id}&pctype=1"  class="btn btn-success btn-icon">
                          <i class="fa fa-asterisk"></i>
                      </a>
                  </div>
-->

              </td>

            </tr>
          </volist>
          </tbody>
        </table>
      </form>

    </div>
  </div>
  {$page}
</div>
<script type="text/javascript">

</script>
