<link href="/Public/admin/assets/css/fileinput.css" rel="stylesheet" type="text/css" />
<script src="/Public/admin/assets/js/fileinput.min.js" type="text/javascript" />
<style type="text/css">
	#tops {
		height: 40px;
		background-color: #c7c7c7;
	}

	.biaoti {
		float: left;
		margin-top: 13px;
		margin-left: 36px;
	}

	.jiuloushu {
		float: right;
		margin-top: 13px;
		margin-right: 36px;
	}

	.tianjiabw {
		width: 150px;
		height: 90px;
		border: 1px dashed black;
		margin-left: 31px;
		text-align: center;
		line-height: 90px;
		cursor: pointer;
	}

	.cityId {
		margin-left: 10px;
		width: 174px;
		height: 33px;
	}

	#serch-name {
		width: 174px;
		height: 33px;
	}

	.select-position {
		width: 100%;
		float: left;
	}

	.select-position-top {
		width: 100%;
		height: 30px;
		background-color: #bdbdbd;
		line-height: 30px;
		padding-left: 10px;
	}

	.position-list {
		height: 377px;
		overflow: auto;
	}

	.position-one {
		margin: 10px;
		cursor: pointer;
	}

	.xuanz-right {
		width: 24%;
		height: 504px;
		float: right;
		background-color: #78909c;
		position: relative;
	}

	.xuanz-right-top {
		height: 30px;
		width: 100%;
		color: white;
		line-height: 30px;
		padding-left: 6px;
	}

	.acitve-position-lists {
		width: 90%;
		margin-left: 15px;
		padding-top: 10px;
		height: 77%;
		overflow: auto;
		font-size: 12px;
	}
	.position-list-group{
		margin-bottom: 10px;
	}
	.acitve-position-jname {
		display: inline-block;
		min-width: 85px;
		max-width: 162px;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}

	.acitve-position-del {
		color: white;
		font-size: 20px;
		cursor: pointer;
		margin-left: 10px;
	}

	.xuanz-right-bottom {
		width: 100%;
		position: absolute;
		bottom: 0px;
	}

	.ban_list {
		margin-top: 20px;
		margin-left: 13px;
	}

	.jiu_names {
		margin-bottom: 10px;
	}

	.jiu_names span {
		font-weight: 700;
		font-size: 20px;
	}

	.ban_a {
		display: inline-block;
		width: 123px;
		height: 26px;
	}
	#bc_p p{
		text-align: center;
		margin-bottom: 15px;
		font-size: 15px;
	}
	#bc_p p span{
		color: red;
		font-size: 15px;
	}
</style>
<include file="Public/script"/>
<!--显示列表样式1 start-->
<div class="pageHeader top-filter">
  <form onsubmit="return navTabSearch(this);" id="pagerForm" action="{$host_name}/programmenu/selecthotel" method="post" >
    <input type="hidden" value="{$hot}" name="hot" />
    <input type="hidden" value="{$ext}" name="infp" />
    <input type="hidden" name="pageNum" value="{$pageNum}"/>
    <input type="hidden" name="numPerPage" value="{$numPerPage}"/>
    <input type="hidden" name="_order" value="{$_order}"/>
    <input type="hidden" name="_sort" value="{$_sort}"/>

    <input name="menuid" type="hidden" value="{$menuid}">
    <input name="menuname" type="hidden" value="{$menuname}">

    <div class="searchBar">
      <div class="clearfix">
        <div class="form-group row" style="z-index: 99999">
		<if condition="$is_city_search eq 1"> 
          <div class="form-group row">
            <div class="col-xs-3 col-sm-3"  >
              <div class="input-group-sm">
                <label class="col-xs-1 col-sm-1 control-label">
                  城市：
                </label>

                <!-- <span class="input-group-btn">
              <select name="area_v" style="width: 20px" class="form-control bs-select class-filter" data-style="btn-success btn-sm" data-container="body" size="15">
                <option value=0 >全国</option>
                <volist name="area" id="vo">
                  <option value="{$vo.id}" <if condition="$vo.id eq $area_k">selected</if>>{$vo.region_name}</option><br>
                </volist>
              </select>
            </span> -->
            <span class="input-group-btn input-group-sm">
              <select name="include_a[]" style="width: 20px" class="form-control bs-select class-filter" data-style="btn-success btn-sm" data-container="body" multiple="multiple" >
                
                <volist name="area" id="vo">
                  <option value="{$vo.id}" <php>if(in_array($vo['id'],$include_ak)){ </php>selected<php>}</php>>
                  {$vo.region_name}
                  </option><br>
                </volist>
              </select>
            </span>


              </div>
            </div>
			</if>	
            <div class="form-group row">
              <div class="col-xs-3 col-sm-3">
                <div class="input-group-sm">
                  <label class="col-xs-1 col-sm-1 control-label">
                    级别：
                  </label>

                <span class="input-group-btn">
              <select name="level_v" style="width: 20px" class="form-control bs-select class-filter" data-style="btn-success btn-sm" data-container="body">
                <option value=0 >全部</option>
                <volist name=":C('HOTEL_LEVEL')" id="vo">
                  <option value="{$key}" <if condition="$key eq $level_k">selected</if>>{$vo}</option><br>
                </volist>
              </select>
            </span>
                </div>
              </div>

              <div class="col-xs-3 col-sm-3">
                <div class="input-group-sm">
                  <label class="col-xs-1 col-sm-1 control-label">
                    状态：
                  </label>

                <span class="input-group-btn">
              <select name="state_v" style="width: 20px" class="form-control bs-select class-filter" data-style="btn-success btn-sm" data-container="body">
                <option value=0 >全部</option>
                <volist name=":C('HOTEL_STATE')" id="vo">
                  <option value="{$key}" <if condition="$key eq $state_k">selected</if>>{$vo}</option><br>
                </volist>
              </select>
            </span>

                </div>
              </div>


            </div>

            <div class="form-group row">
              <div class="col-xs-3 col-sm-3">
                <div class="input-group-sm">
                  <label class="col-xs-1 col-sm-1 control-label">
                    重点：
                  </label>

                <span class="input-group-btn">
              <select name="key_v" style="width: 20px" class="form-control bs-select class-filter" data-style="btn-success btn-sm" data-container="body">
                <option value=0 >全部</option>
                <volist name=":C('HOTEL_KEY')" id="vo">
                  <option value="{$key}" <if condition="$key eq $key_k">selected</if>>{$vo}</option><br>
                </volist>
              </select>
            </span>


                </div>
              </div>

              <div class="col-xs-3 col-sm-3">
                <div class="input-group input-group-sm date form_date" data-ymd="true" data-date="{$vinfo.log_time}">
                  <input name="starttime" type="text" size="16" class="form-control date" placeholder="开始日期" value="{$sttime}" readonly>
                  <span class="input-group-btn">
                    <button class="btn default date-reset" type="button"><i class="fa fa-times"></i></button>
                    <button class="btn btn-success date-set" type="button"><i class="fa fa-calendar"></i></button>
                  </span>
                </div>




              </div>

              <div class="col-xs-3 col-sm-3 ">
                <div class="input-group date form_date" data-date="{$vinfo.log_time}" data-ymd="true">
                  <input name="endtime" type="text" size="16" class="form-control date" placeholder="结束日期" value="{$sendime}" readonly>
                  <span class="input-group-btn">
                    <button class="btn default date-reset" type="button"><i class="fa fa-times"></i></button>
                    <button class="btn btn-success date-set" type="button"><i class="fa fa-calendar"></i></button>
                  </span>
                </div>
              </div>
            </div>

            <div class="form-group row">
				<div class="col-xs-3 col-sm-3">
                	<div class="input-group-sm">
	                  	<label class="col-xs-1 col-sm-1 control-label">
	                    	含酒楼：
	                  	</label>
	
	                	<span class="input-group-btn" style="display: inline-block;width: 188px;">
	              		<select id="inch" name="include_v[]" style="width: 188px" class="form-control bs-select class-filter" data-style="btn-success btn-sm" data-container="body" multiple="multiple" >
	                	<volist name="include" id="vo">
	                  		<option value="{$vo.id}"
	                  		<volist name="include_k" id="kvo" key="p">
	
	                    	<if condition="$kvo.p eq $vo.id">selected</if>
	                  		</volist>
	                  			>{$vo.menu_name}
	                  		</option><br>
	
	                		</volist>
	              		</select>
	            		</span>
                	</div>
              	</div>
                <div class="col-xs-3 col-sm-3">
                	<div class="input-group-sm">
                  		<label class="col-xs-1 col-sm-1 control-label">
                    		排除酒楼：
                  		</label>

                		<span class="input-group-btn" style="display: inline-block;width: 188px;">
              			<select id="exch" name="exc_v[]" style="width: 20px" class="form-control bs-select class-filter" data-style="btn-success btn-sm" data-container="body" multiple="multiple" >
                			<volist name="include" id="vo">
                  			<option value="{$vo.id}" <if condition="$vo.id eq $exc_k">selected</if>>{$vo.menu_name}</option><br>
                			</volist>
              			</select>
            			</span>


                	</div>
              </div>
               <div class="col-xs-3 col-sm-3 col-md-3">
                	<div class="input-group-sm input-group">
                  		<label style="width:140px;" class="col-xs-1 col-sm-1 control-label">
                   			 酒楼机顶盒类型：
                  		</label>
               			<span class="input-group-btn input-group-sm">
              			<select name="hbt_v" style="width: 20px" class="form-control bs-select class-filter" data-style="btn-success btn-sm" data-container="body">
                			<option value=0 >全部</option>
                				<volist name="h_box_type" id="vo">
                  				<option value="{$key}" <if condition="$key eq $hbt_k">selected</if>>{$vo}</option><br>
                			</volist>
              			</select>
            			</span>
                	</div>

              </div>
              
              <div class="col-xs-3 col-sm-3 col-md-3">
                	<div class="input-group input-group-sm">
                  		<input type="text" class="form-control" name="name" value="{$name}" placeholder="酒店名称">
            			<span class="input-group-btn">
              				<button class="btn btn-primary" type="submit" id="choosedata"><i class="fa fa-search"></i></button>
            			</span>
                	</div>
              </div>

            </div>
			 
			 <div class="input-group input-group-sm pull-right">
				 <div class="col-xs-3 col-sm-3">
                <div class="input-group-sm">
                  <button type="button" class="btn btn-primary" data-toggle="modal" id="checkout" aria-pressed="false" autocomplete="off" style="border-radius: 5px !important;margin-left:20px;" data-target=".bs-example-modal-sm"  class="btn btn-primary btn-xs">
               		 导入酒楼明细
				  </button>
                  
                 </div>
                 </div>
            </div>
			
          </div>
        </div>
      </div>

</div>
  </form>
</div>
<div class="pageContent" id="pagecontent" style="top: 250px;">
  <div id="w_list_print">
    <div class="no-more-tables">
      <form method="post" action="{$host_name}/programmenu/hotelconfirm" id="del-form" class="pageForm required-validate" enctype="multipart/form-data" onsubmit="return navTabSearch(this);">
        <input type="hidden" value="{$meyi}" name="meyi" id="meyi" />
        <input type="hidden" value="{$hopu}" name="hopu" />
        <input name="menuid" type="hidden" value="{$menuid}">
        <input name="menuname" type="hidden" value="{$menuname}">

        <table class="table table-bordered table-striped" targetType="navTab" asc="asc" desc="desc">
          <thead>
          <tr id="post">
            <!-- <th class="table-checkbox">
              <input type="checkbox" data-check="all" data-parent=".table" />
            </th> -->
            <th width="22"><input type="checkbox" data-check="all" data-parent=".pageContent"> 全选</th>
            <th>酒店ID</th>
            <th>酒店名称</th>

            <th>酒楼级别</th>
            <th>是否重点</th>
            <th>安装日期</th>
            <th>酒楼状态</th>

          </tr>
          </thead>
          <tbody data-check="list" data-parent=".table">
          <volist name="alist" id="vlist">
            <tr target="sid_user">
              <!-- <td class="table-checkbox">
                <input type="checkbox" class="checkboxes" value="30" name="postlist[]">
              </td> -->
              <td><input name="ids[]"  value="{$vlist.id}|{$vlist.name}" type="checkbox">

              </td>

              <td data-title="酒店ID">{$vlist.id}</td>
              <td data-title="酒店名称">{$vlist.name}</td>
              <td data-title="酒楼级别">{$vlist.level}</td>
              <td data-title="是否重点">
                <if condition="$vlist.iskey eq 1"> 是  <else/> 否 </if>
              </td>
              <td data-title="安装日期">{$vlist.install_date}</td>
              <td data-title="酒楼状态">
                <if condition="$vlist.state eq 1"> 正常
                  <elseif condition="$vlist.state eq 2"/> 冻结
                  <else />报损
                </if>
              </td>
            </tr>
          </volist>
          </tbody>

        </table>
        <div id='hotel_list'  class="form-group row" style="margin-top: 20px;border: 1px solid #999;height: 280px;padding-bottom: 15px;overflow: auto;display:none">
			<div class="form-group row" id="tops">
				<span class="biaoti">导入酒楼列表</span>
				<span class="jiuloushu">
				已导入<span>0</span>家酒楼
				</span>
			</div>
			<div class="ban_list">

			</div>
		</div>
        <div class="row">

          <button class="btn btn-success" type="button" data-check="invert" data-parent=".pageContent">反选</button>
          <button class="btn btn-success btn-sm add" type="submit" >发布节目</button>
        </div>
      </form>
	  
    </div>
  </div>
  {$page}
</div>

<div id="mymodal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">

  <div class="modal-dialog modal-sm" role="document" style="width:600px;">
    <div class="modal-content">
      <div class="form-group">
          <div class="form-group">
          <div class="form-group">
            <input id="file-4" type="file" class="file-loading" data-upload-url="{$host_name}/menu/getfile" data-allowed-file-extensions='["csv", "xlsx"]' value='浏览'>
          </div>
          <hr>
          <button name="excelsub" class="btn btn-primary" type="button" id="excelsub" data-dismiss="modal" disabled="disabled">提交</button>

          <button  class="btn btn-default" style="margin-left:435px;" type="button" data-dismiss="modal">取消</button>
            <input  type="hidden"  name="excelpath" id="excelpath" value="">
        </div>
    </div>
  </div>
</div>
<script type="text/javascript">

  $(function(){
    $("#exch").change(function(){
      var valu = $(this).val();
      if (valu == null) {
        $('#inch').attr("disabled",false);
      } else {
        $('#inch').attr("disabled","disabled");
      }

    });

    $("#inch").change(function(){

      var valu = $(this).val();
      if (valu == null) {
        $('#exch').attr("disabled",false);
      } else {
        $('#exch').attr("disabled","disabled");
      }

    });


    $(".form-control.date").datetimepicker({
      minView: "month", //选择日期后，不会再跳转去选择时分秒
      language:  'zh-CN',
      format: 'yyyy-mm-dd',
      todayBtn:  1,
      autoclose: 1,
    });
  })

  //上传开始
	$("#checkout").click(function () {

		$('#file-4').fileinput('clear');
		$("#excelpath").val('');
	});


  $("#file-4").fileinput({
    language: 'zh',
    uploadExtraData: {kvId: '10'},
    maxFileCount: 1,
    allowedFileExtensions:['csv', 'xlsx'],
  });

  $('#file-4').on('fileselectnone', function() {
    //alert('Huh! You selected no files.');
  });

  $('#file-4').on('filebrowse', function() {
    //alert('File browse clicked for #file-4');

  });

  $('#file-4').on('fileloaded', function() {
    //alert('Fileerrre for #file-4');

  });

  $('#file-4').on('filepreupload', function() {

  });
  $('#file-4').on('fileuploaded', function(event, data, previewId, index) {
    //alert(data);
    //alert(data.files);
    alert('上传EXCEL成功');
    //$('#file-4').fileinput('lock');
    //$('#file-4').fileinput('clear');
    $("#excelsub").attr("disabled",false);
    $("#excelpath").val(data.response);
    //var form = data.form, files = data.files, extra = data.extra,
    //	response = data.response, reader = data.reader;
    //console.log('File uploaded triggered');
  });
  
  
	$("#excelsub").click(


          //alert($("#m_type option:selected").val());
         function(){
            var excelpath = $("#excelpath").val();
            //$(".bom_input #hoteldetail .accountcl").html('');

            $.ajax({
              type:"POST",
              ContentType: "application/json; charset=utf-8",
              dataType: "json",
              url:"{$host_name}/storesaleadv/analyseExcel",
              data:"excelpath="+excelpath,
              success:function(data){
                if(data.error==0){
				  var hotel_nums = data.hotel_nums;
				  var box_nums   = data.box_nums;
                  var data = data.message;
				  $('.ban_list').html('');
				  for(var i=0;i<data.length;i++){
					 var jiulou_name =	'<div class="jiu_names">'+
                        '<span id='+data[i].id+'>'+data[i].name+'</span>'+
                        '<input type="hidden" name="hotels[]" value="'+data[i].id+'" />'+
                        '<input type="hidden" name="hnames[]" value="'+data[i].name+'" />'+
                        '</div>'
                     $('.ban_list').append(jiulou_name);
				  }
				  $('.jiuloushu').find('span').eq(0).html(hotel_nums)
				  $('.jiuloushu').find('span').eq(1).html(box_nums)
                  //$('#modales').modal('hide');
				  $("#hotel_list").css('display','block');
				  //$('#hotel_list').modal('show');
				 

                }else{
                  alert(data.message);
                  return false;
                }
              }
            });
         }

	);
  
  //上传结束

</script>