<!--修改样式2 p元素自适应宽度 start-->

<link href="/Public/admin/assets/css/jquery.treeTable.css" rel="stylesheet" type="text/css" />
<script src="/Public/admin/assets/js/jquery.treetable.js" type="text/javascript" />

<div class="pageContent sysusergroupaddtest">
  <form method="post" action="{$host_name}/sysusergroup/sysusergroupAddTest" class="pageForm required-validate" enctype="multipart/form-data" onsubmit="return iframeCallback(this, dialogAjaxDone)">
    <input type="hidden" name="acttype" value="{$acttype}">
    <input type="hidden" name="id" value="{$vinfo.id}">
    <div class="pageFormContent modal-body">
      <div class="form-group row">
        <label class="col-xs-12 col-sm-2 control-label">
          权限分组名：
        </label>
        <div class="col-xs-12 col-sm-10">
          <input name="name" type="text" value="{$vinfo.name}" class="form-control" required/>
          <p class="form-heading">允许查看模块：</p>



          <div class="table-list" id="load_priv">
            <table width="100%" cellspacing="0">
              <thead>
              </thead>
            </table>
            <table width="100%" cellspacing="0" id="dnd-example">
              <tbody>
              {$categor.temp}
              </tbody>
            </table>

          </div>



        </div>
      </div>


      <div class="form-group row">

        <label class="col-xs-12 col-sm-2 control-label">
          所属城市：
        </label>
        <span class="input-group-btn input-group-sm" style="width: 132px;margin-right: 22px;">
      <select id="inch" name="manage_city[]" style="width: 20px" class="form-control bs-select class-filter" data-style="btn-success btn-sm" data-container="body">

        <volist name="areaList" id="list">
          <option value="{$list.id}" <if condition="$vinfo['area_city'] eq $list['id']">selected</if>>{$list.region_name}</option>
        </volist>

      </select>
    </span>

      </div>
    </div>
    <div class="modal-footer">
	    <div class="pull-left">

		  </div>
      <button class="btn btn-default close-m" type="button">取消</button>

      <button class="btn btn-primary" type="submit">保存</button>     
    </div>
  </form>
</div>








<script type="text/javascript">

  $(document).ready(function() {
    $("#dnd-example").treeTable({
      indent: 20
    });
  });

  function checknode(obj)
  {
    var chk = $("input[type='checkbox']");
    var count = chk.length;
    var num = chk.index(obj);
    var level_top = level_bottom = chk.eq(num).attr('level');
    for (var i=num; i>=0; i--)
    {
      var le = chk.eq(i).attr('level');

      if(eval(le) < eval(level_top))
      {
        chk.eq(i).prop("checked",true);
        var level_top = level_top-1;
      }
    }
    for (var j=num+1; j<count; j++)
    {
      var le = chk.eq(j).attr('level');
      console.log(chk.eq(num).prop("checked"))
      if(chk.eq(num).prop("checked")==true) {
        if(eval(le) > eval(level_bottom)) chk.eq(j).prop("checked",true);
        else if(eval(le) == eval(level_bottom)) break;
      }
      else {
        if(eval(le) > eval(level_bottom)) chk.eq(j).prop("checked",false);
        else if(eval(le) == eval(level_bottom)) break;
      }


    }
  }

  function dialogAjaxDone(json){
    console.log(json);
    DWZ.ajaxDone(json);
    if(json.navTabId == 'sysusergroup/sysusergroupAddTest') {
      $.pdialog.closeCurrent();
      navTab.reload('sysusergroup/sysusergroupList');
    }
  }

  $('.sysusergroupaddtest').on('change','#inch',function(){
    var this_val =  $(this).val();
    //alert(this_val)
    if(this_val.indexOf('9999')==0){
      $('.inner li').each(function(){
        $(this).removeClass('selected');
        if($(this).attr('data-original-index')==0){
          $('.btn-success').attr('title','全国')
          //$('.pull-left').html('全国');
          $('#inch').prev().find('.pull-left').html('全国')
          $('#inch').val('9999')
          $(this).addClass('selected')
        }
      })
    }
  })
  
</script>