<include file="Public/script"/>
<!--显示列表样式1 start-->
<div class="pageHeader">
  <form onsubmit="return navTabSearch(this);" id="pagerForm" action="{$host_name}/hotel/pubmanager" method="post" >
    <input type="hidden" name="hotel_id" value="{$hotelinfo.id}"/>
    <input type="hidden" name="pageNum" value="{$pageNum}"/>
    <input type="hidden" name="numPerPage" value="{$numPerPage}"/>
    <input type="hidden" name="_order" value="{$_order}"/>
    <input type="hidden" name="_sort" value="{$_sort}"/>
    <div class="searchBar">
      <div class="clearfix">

	      </div>

      <div class="form-inline">
	            <div class="tools-group">
	            	<a class="btn btn-success btn-sm add" href="{$host_name}/clientconfig/addclientconfig?acttype=0" title="新增客户端启动" rel="abce" target="dialog" mask="true"><i class="fa fa-plus"></i>新增客户端启动</a>
	          	</div>
          </div>
	   </div>
	   </form>
</div>
<div class="pageContent" id="pagecontent" style="top:85px">
  <div id="w_list_print">
    <div class="no-more-tables">
      <form method="post" action="#" id="del-form" class="pageForm required-validate" enctype="multipart/form-data" onsubmit="return iframeCallback(this, dialogAjaxDone)">
        <table class="table table-bordered table-striped" targetType="navTab" asc="asc" desc="desc">
          <thead>
            <tr id="post">
              <!-- <th class="table-checkbox">
                <input type="checkbox" data-check="all" data-parent=".table" />
              </th> -->
              <th>名称</th>
              <th>启动图片</th>
              <th>启动视频</th>
              <th>默认启动状态</th>
              <!-- <th>上线下线</th> -->
               <th>操作</th>
             </tr>
           </thead>
           <tbody data-check="list" data-parent=".table">
             <volist name="list" id="vlist">
             <tr target="sid_user">
               <td data-title="名称">
                 <if condition="$vlist['ctype'] eq 3">
                   ANDROID
                   <else />
                   IOS
                 </if>
               </td>
               <td data-title="启动图片"><a data-tip="预览" target="__blank" mask="true" href="{$vlist.img_url}" class="btn btn-success btn-icon">
                 <i class="fa fa-eye"></i>
               </a></td>
               <td data-title="启动视频"><a data-tip="预览" target="__blank" mask="true" href="{$vlist.media_url}" class="btn btn-success btn-icon">
                 <i class="fa fa-eye"></i>
               </a></td>

               <td data-title="默认启动状态">
                     <input name="starten{$vlist.id}" type="radio" class="acp"  value="1" id="{$vlist.id}" <if condition="$vlist['status'] eq 1">checked</if>/>
                 启动图片
                 <input id="{$vlist.id}" name="starten{$vlist.id}" type="radio" class="acp" value="2" <if condition="$vlist['status'] eq 2">checked</if> />启动视频

               </td>
               <!--
                             <td data-title="上线状态">
                               <if condition="$vlist['online'] eq 1">
                                 <a data-tip="已上线" target="ajaxTodo" href="{$host_name}/clientconfig/operateStatus?adsid={$vlist.id}&flag=0" calback="navTabAjaxDone" class="btn btn-default btn-icon"><span>
                               <i class="fa fa-toggle-on"></i></span></a>
                                 <else/>
                                 <a data-tip="未上线" target="ajaxTodo" href="{$host_name}/clientconfig/operateStatus?adsid={$vlist.id}&flag=1" calback="navTabAjaxDone" class="btn btn-default btn-icon"><span>
                               <i class="fa fa-toggle-off"></i></span></a>
                               </if>

                             </td>-->
               <td class="table-tool" data-title="操作">
                 <div class="tools-edit">
                   <a data-tip="修改" target="dialog" mask="true" href="{$host_name}/clientconfig/addclientconfig?clid={$vlist.id}" class="btn btn-success btn-icon">
                     <i class="fa fa-pencil"></i>
                   </a>
                 </div>

                 <div class="tools-edit">
                   <a warn="警告" data-tip="删除" title="你确定要删除吗？" target="ajaxTodo" href="{$host_name}/clientconfig/delconfig?id={$vlist.id}"  class="btn btn-success btn-icon">
                     <i class="fa fa-trash"></i>
                   </a>
                 </div>
               </td>
             </tr>
             </volist>
           </tbody>
         </table>
       </form>

     </div>
   </div>
 </div>

 <script>

   $(function() {

     $(".acp").click(function(){
       var st_id = $(this).val();
       var cid = $(this).attr('id');
       $.ajax({
         type: "POST",
         dataType: "json",
         url: "{$host_name}/clientconfig/changestatus",
         data: "cid=" + st_id + "&id=" + cid,
         success:
                 function (data) {
                   if(data.status == 1){
                     alert('修改状态成功');
                   } else{
                     alert('修改状态成功');
                   }
                 }
       });
     })



 });
 </script>