<include file="Public/script"/>
<!--显示列表样式1 start-->
<div class="pageHeader">
  <form onsubmit="return navTabSearch(this);" id="pagerForm" action="{$host_url}/smallapp/exchange/exchangelist" method="post">
      <input type="hidden" name="pageNum" value="{$pageNum}"/>
      <input type="hidden" name="numPerPage" value="{$numPerPage}"/>
    <div class="searchBar">
      <div class="clearfix">

        
        <div class="col-xs-12 col-sm-12 ">

            <div class="form-inline">

            <div class="form-group">
                <div class="input-group input-group-sm">城市：</div>
                <div class="input-group">
                    <select name="area_id" class="form-control bs-select class-filter" data-style="btn-success btn-sm" data-container="body" placeholder="模块名称">
                        <option value=0>全部</option>
                        <volist name="area" id="vo">
                            <option value="{$vo.id}" <if condition="$vo.id eq $area_id">selected</if>>{$vo.region_name}</option>
                        </volist>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <div class="input-group input-group-sm">维护人：</div>
                <div class="input-group">
                    <select name="maintainer_id" class="form-control bs-select class-filter" data-style="btn-success btn-sm" data-container="body" placeholder="模块名称">
                        <option value=0>全部</option>
                        <volist name="opusers" id="vo">
                            <option value="" disabled="disabled">{$key}</option>
                            <volist name="vo" id="vinfo">
                                <option value="{$vinfo.uid}" {$vinfo.select} >{$vinfo.remark}</option>
                            </volist>
                        </volist>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group input-group-sm">审核类型：</div>
                <div class="input-group">
                    <select name="is_audit" class="form-control bs-select class-filter" data-style="btn-success btn-sm" data-container="body" placeholder="模块名称">
                        <volist name="audit_types" id="vo">
                            <option value="{$key}"  <if condition="$key eq $is_audit">selected</if> >{$vo}</option>
                        </volist>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group input-group-sm">类型：</div>
                <div class="input-group">
                    <select name="type" class="form-control bs-select class-filter" data-style="btn-success btn-sm" data-container="body" placeholder="模块名称">
                        <volist name="types" id="vo">
                            <option value="{$key}"  <if condition="$key eq $type">selected</if> >{$vo}</option>
                        </volist>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <div class="input-group input-group-sm"></div>
                <div class="input-group">
                    <input type="text" class="form-control" name="hotel_name" value="{$hotel_name}" placeholder="请输入酒楼名称">
                </div>
            </div>
            <div class="form-group">
                <div class="input-group input-group-sm">时间：</div>
                <div class="input-group input-group-sm date form_datetime" data-pos="auto" data-date="{$start_date}" data-ymd="true">
                    <input name="start_date" type="text" size="16" class="form-control date" placeholder="开始日期" value="{$start_date}">
                    <span class="input-group-btn">
                    <button class="btn default date-reset  btn-sm" type="button"><i class="fa fa-times"></i></button>
                    <button class="btn btn-success date-set  btn-sm" type="button"><i class="fa fa-calendar"></i></button>
                    </span>
                </div>
                <div class="input-group input-group-sm date form_datetime" data-pos="auto" data-date="{$end_date}" data-ymd="true">
                    <input name="end_date" type="text" size="16" class="form-control date" placeholder="结束日期" value="{$end_date}">
                    <span class="input-group-btn">
                    <button class="btn default date-reset  btn-sm" type="button"><i class="fa fa-times"></i></button>
                    <button class="btn btn-success date-set  btn-sm" type="button"><i class="fa fa-calendar"></i></button>
                    </span>
                </div>
            </div>

          <div class="input-group input-group-sm">
            <span class="input-group-btn">
              <select name="status" class="form-control bs-select" data-style="btn-success btn-sm" data-container="body">
                <option value='0' >兑换状态</option>
                <volist name=":C('EXCHANGE_STATUS')" id="oinfo">
                    <option value="{$key}" <if condition="$key eq $status">selected</if> >{$oinfo}</option><br>
                </volist>
              </select>
            </span>
            <span class="input-group-btn">
              <button class="btn btn-primary" type="submit" id="choosedata"><i class="fa fa-search"></i></button>
            </span>
          </div>

          </div>

        </div>
        
      </div>
    </div>
  </form>
</div>
<div class="pageContent" id="pagecontent">
  <div id="w_list_print">
    <div class="no-more-tables">
      <form method="post" action="#" id="del-form" class="pageForm required-validate" enctype="multipart/form-data" onsubmit="return iframeCallback(this, dialogAjaxDone)">
        <table class="table table-bordered table-striped" targetType="navTab" asc="asc" desc="desc">
          <thead>
            <tr id="post">
              <th>订单编号</th>
              <th>提现金额</th>
              <th>消耗积分</th>
              <th>商家名称</th>
              <th>兑换人</th>
              <th>兑换人openid</th>
              <th>维护人</th>
              <th>提现时间</th>
              <th>类型</th>
              <th>状态</th>
              <th>审核状态</th>
              <th class="table-tool">操作</th>
            </tr>
          </thead>
          <tbody data-check="list" data-parent=".table">
            <foreach name="datalist" item="dinfo">
            <tr target="sid_user">
              <td data-title="订单编号">{$dinfo.id}</td>
              <td data-title="提现金额">{$dinfo.total_fee}</td>
              <td data-title="消耗积分">{$dinfo.integral}</td>
              <td data-title="商家名称">{$dinfo.hotel_name}</td>
              <td data-title="兑换人">{$dinfo.user_name}</td>
              <td data-title="兑换人openid">{$dinfo.openid}</td>
              <td data-title="维护人">{$dinfo.maintainer}</td>
              <td data-title="提现时间">{$dinfo.add_time}</td>
              <td data-title="类型">{$dinfo.typestr}</td>
              <td data-title="状态">{$dinfo.statusstr}</td>
              <td data-title="审核状态">{$dinfo.audit_statusstr}</td>
              <td class="table-tool" data-title="操作">
                <div class="tools-edit">
                    <if condition="$dinfo.status eq 20 and $dinfo.goods_type eq 30 and $dinfo.audit_status eq 0">
                    <a warn="审核" data-tip="兑换现金" title="审核通过后,会直接提现到用户微信零钱" target="dialog" mask="true"  href="{$host_url}/smallapp/exchange/exchange?id={$dinfo.id}&goods_type={$dinfo.goods_type}"  class="btn btn-success btn-icon">
                        <i class="fa fa-money"></i>
                    </a>
                    </if>

                    <if condition="($dinfo.status eq 20) and ($dinfo.goods_type eq 31 OR $dinfo.type eq 7)">
                    <a title="兑换信息" data-tip="兑换商品" target="dialog" mask="true" href="{$host_url}/smallapp/exchange/exchange?id={$dinfo.id}&goods_type={$dinfo.goods_type}" class="btn btn-success btn-icon">
                        <i class="fa fa-exchange"></i>
                    </a>
                    </if>

                    <a data-tip="用户所得积分明细" title="积分明细" target="navTab" rel="saleuser/integrallist" href="{$host_url}/smallapp/saleuser/integrallist?openid={$dinfo.openid}" class="btn btn-default btn-icon">
                        <i class="fa fa-info"></i>
                    </a>

                </div>

              </td>
            </tr>

            </foreach>
          </tbody>
        </table>
      </form>

    </div>
  </div>
  {$page}
</div>