<include file="Public/script"/>
<div class="pageHeader">
  <form onsubmit="return navTabSearch(this);" id="pagerForm" action="{$host_url}/smallapp/syslottery/datalist" method="post">
    <input type="hidden" name="pageNum" value="{$pageNum}"/>
    <input type="hidden" name="numPerPage" value="{$numPerPage}"/>
    <div class="searchBar">
      <div class="clearfix">
        <div class="col-xs-12 col-sm-6 col-md-10">
          <div class="tools-group s2">
            <a class="btn btn-success btn-sm add" href="{$host_url}/smallapp/syslottery/syslotteryadd" title="新增" target="dialog" mask="true"><i class="fa fa-plus"></i><span>新增</span></a>

          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-2 pull-right">

          <div class="input-group input-group-sm">
            <select name="status" class="form-control bs-select class-filter" data-style="btn-success btn-sm" data-container="body" required>
              <option value="0">全部</option>
              <option value="1" <if condition="$status eq 1"> selected </if> > 可用</option>
              <option value="2" <if condition="$status eq 2"> selected </if> > 不可用</option>
            </select>

            <span class="input-group-btn">
              <button class="btn btn-primary" type="submit" id="choosedata"><i class="fa fa-search"></i></button>
            </span>
          </div>

        </div>
      </div>
    </div>
  </form>
</div>
<div class="pageContent" id="pagecontent">
  <div id="w_list_print">
    <div class="no-more-tables">
      <form method="post" action="#" id="del-form" class="pageForm required-validate" enctype="multipart/form-data" onsubmit="return iframeCallback(this, dialogAjaxDone)">
        <table class="table table-bordered table-striped" targetType="navTab" asc="asc" desc="desc">
          <thead>

          <tr id="post">
            <th>序号</th>
            <th>名称</th>
<!--            <th>奖品图片</th>-->
            <th>酒楼名称</th>
            <th>发送时间</th>
            <th>状态</th>
            <th>创建人</th>
            <th>创建时间</th>
            <th>操作</th>
          </tr>
          </thead>
          <tbody data-check="list" data-parent=".table">
          <volist name="data" id="dinfo">
            <tr target="sid_user">
              <td data-title="序号">{$dinfo.id}</td>
              <td data-title="名称">{$dinfo.prize}</td>
<!--              <td data-title="奖品图片"><a href="{$dinfo.image_url}" target="_blank"><img src="{$dinfo.image_url}" ></a></td>-->
              <td data-title="酒楼名称">{$dinfo.hotel_name}</td>
              <td data-title="发送时间">{$dinfo.send_time}</td>
              <td data-title="状态">{$dinfo.statusstr}</td>
              <td data-title="创建人">{$dinfo.username}</td>
              <td data-title="创建时间">{$dinfo.add_time}</td>
              <td class="table-tool" data-title="操作">
                <div class="tools-edit">
                  <a data-tip="修改" target="dialog" mask="true" href="{$host_url}/smallapp/syslottery/syslotteryadd?id={$dinfo.id}" class="btn btn-success btn-icon">
                    <i class="fa fa-pencil"></i>
                  </a>
                  <a data-tip="奖品信息" title="奖品信息" target="navTab" rel="syslottery/prizelist" href="{$host_url}/smallapp/syslottery/prizelist?syslottery_id={$dinfo.id}" class="btn btn-success btn-icon">
                    <i class="fa fa-list"></i>
                  </a>
                  <a warn="警告" data-tip="删除" title="你确定要删除吗？" target="ajaxTodo" calback="navTabAjaxDone" href="{$host_url}/smallapp/syslottery/syslotterydel?id={$dinfo.id}"  class="btn btn-danger btn-icon">
                    <i class="fa fa-trash"></i>
                  </a>
                </div>
              </td>
            </tr>
          </volist>
          </tbody>
        </table>
      </form>

    </div>
  </div>
  {$page}
</div>
<script>
    $(function(){
        $(".class-filter").change(function (){
            $(this).closest("form").submit();
        })
    })
</script>