<link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/assets/css/horsey.css"/>


<style type="text/css">
  body {
    font-family: Helvetica;
    font-size: 11px;
    color: #000;
  }

  h3 {
    margin: 0px;
    padding: 0px;
  }
*{
		margin: 0;
		padding: 0;
	}
	ul,li{
		list-style: none;
	}
	a{
		color: black;
		text-decoration: none;
	}
#datalist {
		max-height: 400px;
		overflow: auto;
		position: absolute;
		top: 42px;
		border: #eee 1px solid;
		min-width: 200px;
		text-align: left;
		z-index: 9;
		background-color: white;
		border-bottom: none;
		border-top: none;
	}
#datalist li{
	height: 25px;
	line-height: 25px;
	white-space : nowrap ;
	
}
#datalist li a{
	text-decoration: none;
}
.inputDel{
	display: inline-block;
	width: 30px;
	text-align: center;
	height: 30px;
	line-height: 30px;
}
</style>
<!--显示列表样式1 start-->
<div class="pageHeader">
  <form onsubmit="return navTabSearch(this);" id="pagerForm" action="{$host_name}/hotelviewrep/getlist" method="post" >
    <input type="hidden" name="pageNum" value="{$pageNum}"/>
    <input type="hidden" name="numPerPage" value="{$numPerPage}"/>
    <input type="hidden" name="_order" value="{$_order}"/>
    <input type="hidden" name="_sort" value="{$_sort}"/>
    <input type="hidden" class="strid" name="hadsid" value="{$hidden_adsid}"/>
    <input type="hidden" value="{$contentast}" id="contenseid" name="contentast" class="sachHtml" />
    <div class="searchBar">
      <div class="clearfix">
        <div class="form-inline" style="margin-top:3px;">


          <div class="form-group" id="timegiy" style="">
            <div class="input-group input-group-sm date form_datetime" data-date="{$vinfo.log_time}" data-ymd="true">
              <input name="adsstarttime" type="text" size="14" class="form-control date" placeholder="开始日期" value="{$s_time}" readonly>
                        <span class="input-group-btn" style="padding:0px;margin:0px;" >
                    <button class="btn default date-reset  btn-sm" type="button"><i class="fa fa-times"></i></button>
                    <button  class="btn btn-success date-set  btn-sm" type="submit"><i class="fa fa-calendar"></i></button>
                  </span>
            </div>


            <div class="input-group input-group-sm date form_datetime" data-date="{$vinfo.log_time}" data-ymd="true">
              <input name="adsendtime" type="text" size="14" class="form-control date" placeholder="结束日期" value="{$e_time}" readonly>
                     <span class="input-group-btn" style="padding:0px;margin:0px;" >
                    <button class="btn default date-reset  btn-sm" type="button"><i class="fa fa-times"></i></button>
                    <button class="btn btn-success date-set  btn-sm" type="button"><i class="fa fa-calendar"></i></button>
                  </span>
            </div>
          </div>



          <div class="form-group" style="margin-left:50px;">
            <div class="input-group input-group-sm pull-right">

            <span class="input-group-btn">
              <button class="btn btn-primary" type="submit" id="choosedata"><i class="fa fa-search"></i></button>
            </span>
            </div>

          </div>


          <!--<div class="input-group input-group-sm pull-right">
            <a id="exportcontentads" class="btn btn-success btn-sm add" href="javascript:void(0)"  title="导出内容与广告统计" target="_blank" mask="true"  onclick="clickcontentads(this)"><i class="fa fa-plus"></i> 导出内容与广告统计</a>
            <input type="hidden" id="contentxiaohref" value="{$host_name}/excel/expcontentads"/>
          </div>-->

          <div class="form-inline" style="margin-top:10px;">







          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="pageContent" id="pagecontent" style="margin-top:25px;">
  <div id="w_list_print">
    <div class="no-more-tables">
      <form method="post" action="#" id="del-form" class="pageForm required-validate" enctype="multipart/form-data" onsubmit="return iframeCallback(this, dialogAjaxDone)">
          <p>整体统计：平均单次观看时长(s) = {$total_adv}</p>
        <table class="table table-bordered table-striped" targetType="navTab" asc="asc" desc="desc" style="margin-top:15px;">
          <thead>
          <tr id="post">
            <th>酒楼ID</th>
            <th>酒楼名称</th>
            <th>包间类型</th>
              <th>机顶盒名称</th>
            <th>开机时长</th>
            <th>观看次数</th>
            <th>平均单次观看时长</th>

          </tr>
          </thead>
          <tbody data-check="list" data-parent=".table">
          <volist name="list" id="vlist">
            <tr target="sid_user">
              <td data-title="酒楼ID">{$vlist.hotel_id}</td>
              <td data-title="酒楼名称">{$vlist.hotel_name}</td>
                <td data-title="包间类型">{$vlist.room_type}</td>
              <td data-title="机顶盒名称">{$vlist.box_name}</td>
                <td data-title="开机时长">{$vlist.duration}</td>
              <td data-title="观看次数">{$vlist.vtime}</td>
              <td data-title="平均单次观看时长">{$vlist.adv_vtime}</td>

            </tr>
          </volist>
          </tbody>
        </table>
      </form>
    </div>
  </div>
  {$page}
</div>
<ul id="datalist"></ul>
<script type="text/javascript">
	var ass = $('#keysearch').offset().left
	var aaa = $('#sidebar').width();
	$('#datalist').css('left',ass-aaa)
	var contentdata = [];
    var contentaid = [];


    $.ajaxSettings.global=false;

  $(function(){
    $('select').css({ "cssText": "display:none !important" });
  })


    function clickcontentads(obj){
      var hiddenaid = $(".strid").val();
      var title = $('#contenseid').val();
      var st = $('input[name="adsstarttime"]').val();
      var end = $('input[name="adsendtime"]').val();
      var hre = $("#contentxiaohref").val();
      var hrp = hre+"?hadsid="+hiddenaid+"&adsname="+title+"&starttime="+st+"&endtime="+end;
      $.ajax({
        type: "POST",
        dataType: "json",
        url: "{$host_name}/contentads/getExpState",
        data: "adsname=" + title + "&start=" + st + "&end=" + end + "&hadsid=" + hiddenaid + "",
        success: function (datap) {
          if(datap.code == 0){
            alert(datap.msg);
            return true;
          }else{
            window.open(hrp);
          }
        }
      });
    }

</script>