<include file="Public/script"/>
<!--显示列表样式1 start-->
<div class="pageHeader">
  <form onsubmit="return navTabSearch(this);" id="pagerForm" action="{$host_url}/smallapp/saleuser/integrallist" method="post" >
    <input type="hidden" name="openid" value="{$openid}"/>
    <input type="hidden" name="pageNum" value="{$pageNum}"/>
    <input type="hidden" name="numPerPage" value="{$numPerPage}"/>
    <div class="searchBar">
      <div class="clearfix">

        <div class="col-xs-12 col-sm-6 col-md-5">
          <div class="tools-group s2">
          用户:{$openid} 积分明细
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-7 pull-right">

          <div class="form-inline">

            <div class="input-group input-group-sm">时间：</div>
            <div class="input-group input-group-sm date form_datetime" data-pos="auto" data-date="{$start_date}" data-ymd="true">
              <input name="start_date" type="text" size="16" class="form-control date" placeholder="开始日期" value="{$start_date}">
              <span class="input-group-btn">
                    <button class="btn default date-reset  btn-sm" type="button"><i class="fa fa-times"></i></button>
                    <button class="btn btn-success date-set  btn-sm" type="button"><i class="fa fa-calendar"></i></button>
                    </span>
            </div>
            <div class="input-group input-group-sm date form_datetime" data-pos="auto" data-date="{$end_date}" data-ymd="true">
              <input name="end_date" type="text" size="16" class="form-control date" placeholder="结束日期" value="{$end_date}">
              <span class="input-group-btn">
                    <button class="btn default date-reset  btn-sm" type="button"><i class="fa fa-times"></i></button>
                    <button class="btn btn-success date-set  btn-sm" type="button"><i class="fa fa-calendar"></i></button>
                    </span>
            </div>

          <div class="input-group input-group-sm ">
            <input type="text" class="form-control" name="hotel_name" value="{$hotel_name}" placeholder="请输入酒楼名称">
            <span class="input-group-btn input-group-sm">
              <select name="type"  class="form-control bs-select class-filter" data-style="btn-success btn-sm" data-container="body">
                    <option value="0">积分类型</option>
                <volist name="integral_types" id="itype">
                    <option value="{$key}" <if condition="$key eq $type">selected</if> >{$itype}</option><br>
                </volist>
              </select>
            </span>

            <span class="input-group-btn">
                <button class="btn btn-primary" type="submit" id="choosedata"><i class="fa fa-search"></i></button>
              </span>
          </div>

        </div>



        </div>

      </div>
    </div>
  </form>
</div>
<div class="pageContent" id="pagecontent" >
  <div id="w_list_print">
    <div class="no-more-tables">
      <form method="post" action="#" id="del-form" class="pageForm required-validate" enctype="multipart/form-data" onsubmit="return iframeCallback(this, dialogAjaxDone)">
        <table class="table table-bordered table-striped" targetType="navTab" asc="asc" desc="desc">
          <thead>
          <tr id="post">
            <th>ID</th>
            <th>酒楼名称</th>
            <th>包间名称</th>
            <th>MAC地址</th>
            <th>积分信息</th>
            <th>所得积分</th>
            <th>积分状态</th>
            <th>类型</th>
            <th>积分时间</th>
          </tr>
          </thead>
          <tbody data-check="list" data-parent=".table">
          <volist name="data" id="dinfo">
            <tr target="sid_user">
              <td data-title="ID">{$dinfo.id}</td>
              <td data-title="酒楼名称">{$dinfo.hotel_name}</td>
              <td data-title="包间名称">{$dinfo.room_name}</td>
              <td data-title="MAC地址">{$dinfo.box_mac}</td>
              <td data-title="积分信息">{$dinfo.info}</td>
              <td data-title="所得积分">{$dinfo.integral}</td>
              <td data-title="积分状态">{$dinfo.status_str}</td>
              <td data-title="类型">{$dinfo.type_str}</td>
              <td data-title="积分时间">{$dinfo.integral_time}</td>
            </tr>
          </volist>
          </tbody>
        </table>
      </form>
    </div>
  </div>
  {$page}
</div>
