<include file="Public/script"/>
<!--显示列表样式1 start-->
<div class="pageHeader">
  <form onsubmit="return navTabSearch(this);" id="pagerForm" action="{$host_url}/smallapp/saleuser/userlist" method="post">
    <input type="hidden" name="pageNum" value="{$pageNum}"/>
    <input type="hidden" name="numPerPage" value="{$numPerPage}"/>
    <div class="searchBar">
      <div class="clearfix">

        <div class="form-inline">

          <div class="form-group">
            <div class="input-group input-group-sm">酒楼名称：</div>
            <div class="input-group">
              <input type="text" class="form-control" name="hotel_name" value="{$hotel_name}" placeholder="请输入酒楼名称">
            </div>
          </div>

          <div class="form-group">
            <div class="input-group input-group-sm">用户openID：</div>
            <div class="input-group">
              <input type="text" class="form-control" name="openid" value="{$openid}" placeholder="请输入openid">
            </div>
          </div>
          <div class="form-group">
            <div class="input-group input-group-sm">用户昵称：</div>
            <div class="input-group">
              <input type="text" class="form-control" name="uname" value="{$uname}">
            </div>
          </div>
          <div class="form-group">
            <div class="input-group input-group-sm pull-right">
            <span class="input-group-btn">
              <button class="btn btn-primary" type="submit" id="choosedata">查询</button>
            </span>
            </div>
          </div>
		  <div class="input-group input-group-sm pull-right">
              <a  class="btn btn-success btn-sm add"  title="导出销售人员积分列表"  target="_blank" mask="true" href="{$host_name}/excel/exportSaleUser" ><i class="fa fa-plus"></i> 导出销售人员积分列表</a>
              <input type="hidden" id="xiaohref" value="{$host_name}/excel/exportSaleUser"/>
          </div>
          
        </div>
        </div>

      </div>
    </div>
  </form>
</div>

<div class="pageContent" id="pagecontent">
  <div id="w_list_print">
    <div class="no-more-tables">
      <form method="post" action="#" id="del-form" class="pageForm required-validate" enctype="multipart/form-data" onsubmit="return iframeCallback(this, dialogAjaxDone)">
        <table class="table table-bordered table-striped" targetType="navTab" asc="asc" desc="desc">
          <thead>

          <tr id="post">
            <th>用户ID</th>
            <th>openID</th>
            <th>手机号码</th>
            <th>用户昵称</th>
            <th>用户姓名</th>
            <th>用户头像</th>
            <th>身份证号</th>
            <th>酒楼ID</th>
            <th>酒楼名称</th>
            <th>创建时间</th>
            <th>用户积分</th>
            <th class="table-tool">操作</th>
          </tr>
          </thead>
          <tbody data-check="list" data-parent=".table">
          <volist name="data" id="dinfo">
            <tr target="sid_user">
              <td data-title="用户ID">{$dinfo.id}</td>
              <td data-title="openID">{$dinfo.openid}</td>
              <td data-title="手机号码">{$dinfo.mobile}</td>
              <td data-title="用户昵称">{$dinfo.nickname}</td>
              <td data-title="用户昵称">{$dinfo.username}</td>
              <td data-title="用户头像"><img src="{$dinfo.avatarurl}" /></td>
              <td data-title="身份证号">{$dinfo.idnumber}</td>
              <td data-title="酒楼ID">{$dinfo.hotel_id}</td>
              <td data-title="酒楼名称">{$dinfo.hotel_name}</td>
              <td data-title="创建时间">{$dinfo.create_time}</td>
              <td data-title="用户积分">{$dinfo.integral}</td>


              <td class="table-tool" data-title="操作">
                <div class="tools-edit">
                  <a data-tip="查看积分明细" title="积分明细" target="navTab" rel="saleuser/integrallist" href="{$host_url}/smallapp/saleuser/integrallist?openid={$dinfo.openid}" class="btn btn-success btn-icon">
                    <i class="fa fa-list"></i>
                  </a>
                  <a title="增加积分" data-tip="增加积分" target="dialog" mask="true" href="{$host_url}/smallapp/saleuser/addintegral?openid={$dinfo.openid}" class="btn btn-default btn-icon">
                    <i class="fa fa-plus"></i>
                  </a>
                  <if condition="$dinfo.openid eq 'o9GS-4oGSdRGYiNZZ4oKQ9PBm_TI'">
                    <a onclick="alertMsg.error('当前账号为通用管理员账号，无法进行更改商家')" href="#" class="btn btn-default btn-icon">
                      <i class="fa fa-pencil"></i>
                    </a>
                  <else/>
                    <a title="更改商家" data-tip="更改商家" target="dialog" mask="true" href="{$host_url}/smallapp/saleuser/changemerchant?openid={$dinfo.openid}" class="btn btn-default btn-icon">
                      <i class="fa fa-pencil"></i>
                    </a>
                  </if>
                </div>
              </td>
            </tr>
          </volist>
          </tbody>
        </table>
      </form>

    </div>
  </div>
  {$page}
</div>