<include file="Public/script"/>
<div class="pageHeader">
  <form onsubmit="return navTabSearch(this);" id="pagerForm" action="{$host_url}/urlmap/scanrecord" method="post">
    <input type="hidden" name="pageNum" value="{$pageNum}"/>
    <input type="hidden" name="numPerPage" value="{$numPerPage}"/>
    <div class="searchBar">

      <div class="clearfix">

        <div class="form-inline">

          <div class="form-group">
            <div class="input-group input-group-sm">时间：</div>
            <div class="input-group input-group-sm date form_datetime" data-pos="auto" data-date="{$start_time}" data-ymd="true">
              <input name="start_time" type="text" size="16" class="form-control date" placeholder="开始日期" value="{$start_time}">
              <span class="input-group-btn">
                <button class="btn default date-reset  btn-sm" type="button"><i class="fa fa-times"></i></button>
                <button class="btn btn-success date-set  btn-sm" type="button"><i class="fa fa-calendar"></i></button>
              </span>
            </div>
            <div class="input-group input-group-sm date form_datetime" data-pos="auto" data-date="{$end_time}" data-ymd="true">
              <input name="end_time" type="text" size="16" class="form-control date" placeholder="结束日期" value="{$end_time}">
              <span class="input-group-btn">
                <button class="btn default date-reset  btn-sm" type="button"><i class="fa fa-times"></i></button>
                <button class="btn btn-success date-set  btn-sm" type="button"><i class="fa fa-calendar"></i></button>
              </span>
            </div>
          </div>

          <div class="form-group">
            <div class="input-group input-group-sm">名称：</div>
            <div class="input-group">
              <select name="urlmap_id" class="form-control bs-select class-filter" data-style="btn-success btn-sm" data-container="body" required>
                <option value="0">全部</option>
                <volist name="allurls" id="ainfo">
                  <option value="{$ainfo.id}" {$ainfo.is_select} > {$ainfo.name}</option>
                </volist>
              </select>
            </div>
          </div>
          <div class="form-group">
            <div class="input-group input-group-sm pull-right">
            <span class="input-group-btn">
              <button class="btn btn-primary" type="submit" id="choosedata">查询</button>
            </span>
            </div>
          </div>

        </div>

      </div>



    </div>
  </form>
</div>
<div class="pageContent" id="pagecontent">
  <div id="w_list_print">
    <div class="no-more-tables">
      <form method="post" action="#" id="del-form" class="pageForm required-validate" enctype="multipart/form-data" onsubmit="return iframeCallback(this, dialogAjaxDone)">
        <table class="table table-bordered table-striped" targetType="navTab" asc="asc" desc="desc">
          <thead>

          <tr id="post">
            <th>系统</th>
            <th>手机品牌</th>
            <th>手机型号</th>
            <th>IP</th>
            <th>扫码时间</th>
            <th>名称</th>
            <th>MAC地址</th>
            <th>包间名称</th>
            <th>酒楼名称</th>
            <th>城市</th>
          </tr>
          </thead>
          <tbody data-check="list" data-parent=".table">
          <volist name="datalist" id="dinfo">
            <tr target="sid_user">
              <td data-title="系统">{$dinfo.mobile_os}</td>
              <td data-title="手机品牌">{$dinfo.mobile_brand}</td>
              <td data-title="手机型号">{$dinfo.mobile_model}</td>
              <td data-title="IP地址">{$dinfo.ip}</td>
              <td data-title="扫码时间">{$dinfo.add_time}</td>
              <td data-title="名称">{$dinfo.name}</td>
              <td data-title="MAC地址">{$dinfo.box_mac}</td>
              <td data-title="包间名称">{$dinfo.room_name}</td>
              <td data-title="酒楼名称">{$dinfo.hotel_name}</td>
              <td data-title="城市">{$dinfo.area}</td>
            </tr>
          </volist>
          </tbody>
        </table>
      </form>

    </div>
  </div>
  {$page}
</div>
<script>
    $(function(){
        $(".class-filter").change(function (){
            $(this).closest("form").submit();
        })
    })
</script>