<div class="pageContent">
    <form method="post" action="{$host_url}/financeqrcode/qrcodeadd" class="pageForm required-validate" enctype="multipart/form-data" onsubmit="return iframeCallback(this, dialogAjaxDone)">
        <input name="id" type="hidden" value="{$dinfo.id}"/>
        <div class="pageFormContent modal-body">
            <div class="form-group row">
                <label class="col-xs-12 col-sm-2 control-label">生成数量：</label>
                <div class="col-xs-12 col-sm-10">
                    <input name="num" type="number" min="1" max="20" class="form-control"/>
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <button class="btn btn-default close-m" type="button">取消</button>
            <button class="btn btn-primary" type="submit">保存</button>
        </div>
    </form>
</div>