<include file="Public/script"/>
<div class="pageHeader">
  <form onsubmit="return navTabSearch(this);" id="pagerForm" action="{$host_url}/smallapp/commenttag/taglist" method="post">
    <input type="hidden" name="pageNum" value="{$pageNum}"/>
    <input type="hidden" name="numPerPage" value="{$numPerPage}"/>
    <div class="searchBar">
      <div class="clearfix">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-6">

          <div class="tools-group s2">
            <a class="btn btn-success btn-sm add" href="{$host_url}/smallapp/commenttag/tagadd" title="新增" target="dialog" mask="true"><i class="fa fa-plus"></i><span>新增</span></a>

          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-5 col-lg-4 pull-right">

          <div class="input-group input-group-sm pull-right">

            <span class="input-group-btn input-group-sm">
              <select name="category" class="form-control bs-select class-filter" data-style="btn-success btn-sm" data-container="body" required>
                <option value="0">分类</option>
                <volist name=":C('TAGS_CATEGORY')" id="tag">
                  <option value="{$key}" <if condition="$category eq $key"> selected </if> > {$tag}</option>
                </volist>
              </select>
            </span>

            <span class="input-group-btn input-group-sm">
              <select name="satisfaction" class="form-control bs-select class-filter" data-style="btn-success btn-sm" data-container="body" required>
                <option value="0">满意度</option>
                <volist name="comment_satisfactions" id="csci">
                  <option value="{$key}" <if condition="$satisfaction eq $key"> selected </if> > {$csci}</option>
                </volist>
              </select>
            </span>
            <span class="input-group-btn input-group-sm">
              <select name="status" class="form-control bs-select class-filter" data-style="btn-success btn-sm" data-container="body" required>
                <option value="0">状态</option>
                <option value="1" <if condition="$status eq 1"> selected </if> > 可用</option>
                <option value="2" <if condition="$status eq 2"> selected </if> > 不可用</option>
              </select>
            </span>

            <span class="input-group-btn">
              <button class="btn btn-primary" type="submit" id="choosedata"><i class="fa fa-search"></i></button>
            </span>
          </div>

        </div>
      </div>
    </div>
  </form>
</div>
<div class="pageContent" id="pagecontent">
  <div id="w_list_print">
    <div class="no-more-tables">
      <form method="post" action="#" id="del-form" class="pageForm required-validate" enctype="multipart/form-data" onsubmit="return iframeCallback(this, dialogAjaxDone)">
        <table class="table table-bordered table-striped" targetType="navTab" asc="asc" desc="desc">
          <thead>

          <tr id="post">
            <th>ID</th>
            <th>名称</th>
            <th>满意度</th>
            <th>类型</th>
            <th>分类</th>
            <th>酒楼名称</th>
            <th>状态</th>
            <th>操作</th>
          </tr>
          </thead>
          <tbody data-check="list" data-parent=".table">
          <volist name="data" id="dinfo">
            <tr target="sid_user">
              <td data-title="ID">{$dinfo.id}</td>
              <td data-title="名称">{$dinfo.name}</td>
              <td data-title="满意度">{$dinfo.satisfaction_str}</td>
              <td data-title="类型">{$dinfo.type_str}</td>
              <td data-title="分类">{$dinfo.category_str}</td>
              <td data-title="酒楼名称">{$dinfo.hotel_name}</td>
              <td data-title="状态">{$dinfo.statusstr}</td>
              <td class="table-tool" data-title="操作">
                <div class="tools-edit">
                  <a data-tip="修改" target="dialog" mask="true" href="{$host_url}/smallapp/commenttag/tagadd?id={$dinfo.id}" class="btn btn-success btn-icon">
                    <i class="fa fa-pencil"></i>
                  </a>
                </div>
              </td>
            </tr>
          </volist>
          </tbody>
        </table>
      </form>

    </div>
  </div>
  {$page}
</div>
