<div class="pageContent">
    <form method="post" action="{$host_url}/smallapp/welcome/musicadd" class="pageForm required-validate" enctype="multipart/form-data" onsubmit="return iframeCallback(this, dialogAjaxDone)">
        <input name="id" type="hidden" value="{$vinfo.id}"/>
        <input name="type" type="hidden" value="3"/>
        <div class="pageFormContent modal-body">

            <div class="form-group row ">
                <label class="col-xs-12 col-sm-2 control-label">名称：</label>
                <div class="col-xs-12 col-sm-10">
                    <input name="name" type="text" value="{$vinfo.name}" class="form-control"  minlength="1" maxlength="20" required />
                </div>
            </div>

            <div class="form-group row ">
                <label class="col-xs-12 col-sm-2 control-label">投屏音乐名称：</label>
                <div class="col-xs-12 col-sm-10">
                    <input name="forscreen_music_name" type="text" value="{$vinfo.forscreen_music_name}" class="form-control"  minlength="1" maxlength="20" required />
                </div>
            </div>

            <div class="form-group row" id="defaultpic">
                <label class="col-xs-12 col-sm-2 control-label">
                    音乐：
                </label>
                <div class="col-xs-12 col-sm-10">
                    <div class="fileinput fileinput-new" data-fileinput>
                        <div class="fileinput-preview thumbnail" data-trigger="fileinput">
                            <a data-target="#modal-file" href="{$host_name}/resource/uploadResource?filed=media_id&rtype=4" data-browse-file>
                                <if condition="($vinfo['oss_addr'] eq 'NULL') OR $vinfo['oss_addr'] eq ''">
                                    <img id="media_idimg"  src="/Public/admin/assets/img/noimage.png" border="0"/>
                                    <else />
                                    <img id="media_idimg" src="{$vinfo.oss_addr}" border="0" />
                                </if>
                                <span id="media_idimgname">{$vinfo.name}</span>
                            </a>
                        </div>
                        <div>
                            <a class="btn btn-success btn-file" data-target="#modal-file" href="{$host_name}/resource/uploadResource?filed=media_id&rtype=4" data-browse-file>
                                选择音乐
                            </a>
                            <input type="hidden" name="media_id" id="media_id" value="{$vinfo.media_id}">
                            <a id="bntt" href="javascript:;" class="btn btn-danger" data-remove-file="/Public/admin/assets/img/noimage.png">删除</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="pageFormContent modal-body">
                <div class="form-group row">
                    <label class="col-xs-12 col-sm-2 control-label">
                        音乐类型:
                    </label>
                    <div class="col-xs-12 col-sm-10">
                        <select name="music_type" class="form-control bs-select" title="请选择..." data-size="20" required>
                            <option value="1" <if condition="$vinfo.music_type eq 1">selected</if> >欢迎词音乐</option>
                            <option value="2" <if condition="$vinfo.music_type eq 2">selected</if> >投屏背景音乐</option>
                            <option value="3" <if condition="$vinfo.music_type eq 3">selected</if> >欢迎词和投屏背景音乐</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="form-group row ">
                <label class="col-xs-12 col-sm-2 control-label">排序值：</label>
                <div class="col-xs-12 col-sm-10">
                    <input name="sort" type="text" value="{$vinfo.sort}" class="form-control" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-xs-12 col-sm-2 control-label">
                    状态：
                </label>
                <div class="col-xs-12 col-sm-10">
                    <input type="hidden" name="status" value="2">
                    <input type="checkbox" value="1" class="make-switch status" name="status" data-size="small" data-on-text="开启" data-off-text="关闭" <if condition="$vinfo.status eq 1" >checked</if>>
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <button class="btn btn-default close-m" type="button">取消</button>
            <button class="btn btn-primary" type="submit">保存</button>
        </div>
    </form>
</div>