<include file="Public/script"/>
<div class="pageHeader">
    <form onsubmit="return navTabSearch(this);" id="pagerForm" action="{$host_url}/smallapp/welcome/resourcelist" method="post">
        <input type="hidden" name="pageNum" value="{$pageNum}"/>
        <input type="hidden" name="numPerPage" value="{$numPerPage}"/>
        <div class="searchBar">
            <div class="clearfix">
                <div class="col-xs-12 col-sm-6 col-md-10">
                    <div class="tools-group s2">
                        <a class="btn btn-success btn-sm add" href="{$host_url}/smallapp/welcome/musicadd" title="新增音乐" target="dialog" mask="true"><i class="fa fa-music"></i><span>新增音乐</span></a>
                        <a class="btn btn-success btn-sm add" href="{$host_url}/smallapp/welcome/coloradd" title="新增颜色" target="dialog" mask="true"><i class="fa fa-pencil"></i><span>新增颜色</span></a>
                        <a class="btn btn-success btn-sm add" href="{$host_url}/smallapp/welcome/wordsizeadd" title="新增字号" target="dialog" mask="true"><i class="fa fa-plus"></i><span>新增字号</span></a>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-2 pull-right">
                    <div class="input-group input-group-sm">
                        <select name="type" class="form-control bs-select class-filter" data-style="btn-success btn-sm" data-container="body" required>
                            <option value=0 >所有</option>
                            <volist name="types" id="tinfo">
                                <option value="{$key}" <if condition="$key eq $type">selected</if> >{$tinfo}</option>
                            </volist>
                        </select>
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="submit" id="choosedata"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="pageContent" id="pagecontent">
    <div id="w_list_print">
        <div class="no-more-tables">
            <form method="post" action="#" id="del-form" class="pageForm required-validate" enctype="multipart/form-data" onsubmit="return iframeCallback(this, dialogAjaxDone)">
                <table class="table table-bordered table-striped" targetType="navTab" asc="asc" desc="desc">
                    <thead>

                    <tr id="post">
                        <th>ID</th>
                        <th>名称</th>
                        <th>类型</th>
                        <th>状态</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody data-check="list" data-parent=".table">
                    <volist name="data" id="dinfo">
                        <tr target="sid_user">
                            <td data-title="ID">{$dinfo.id}</td>
                            <td data-title="名称">{$dinfo.name}</td>
                            <!--<td data-title="图片"><a href="{$dinfo.img}" target="_blank"><img src="{$dinfo.img}" ></a></td>-->
                            <td data-title="类型">{$dinfo.type_str}</td>
                            <td data-title="状态">{$dinfo.status_str}</td>
                            <td class="table-tool" data-title="操作">
                                <div class="tools-edit">
                                    <a data-tip="修改" target="dialog" mask="true" href="{$host_url}/smallapp/{$dinfo.url}?id={$dinfo.id}" class="btn btn-success btn-icon">
                                        <i class="fa fa-pencil"></i>
                                    </a>
                                    <a warn="警告" data-tip="删除" title="你确定要删除吗？" target="ajaxTodo" calback="navTabAjaxDone" href="{$host_url}/smallapp/welcome/resourcedel?id={$dinfo.id}"  class="btn btn-danger btn-icon">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    </volist>
                    </tbody>
                </table>
            </form>

        </div>
    </div>
    {$page}
</div>
<script>
    $(function(){
        $(".class-filter").change(function (){
            $(this).closest("form").submit();
        })
    })
</script>