<style type="text/css">
    .zhezhao{
        display: none;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background-color: black;
        opacity: 0.7;
        text-align: center;
        z-index: 99;
    }
    .big{
        display: none;
    }
    .addbig{
        position: absolute;
        width: 300px;
        height: 200px;
        top: 100px;
        left: 26%;
        z-index: 100;
    }
</style>
<include file="Public/script"/>
<!--显示列表样式1 start-->
<div class="pageHeader">
 <div class="tools-group hidden-xs ">配置设置</div>
</div>
<div class="pageContent" id="pagecontent">
  <div id="w_list_print" style="overflow:hidden;">
    <div class="no-more-tables" style="margin-top:20px;">
      <form method="post" action="{$host_url}/smallapp/globalconfig/editconfig" class="pageForm required-validate" enctype="multipart/form-data" onsubmit="return iframeCallback(this, dialogAjaxDone)">
        <table class="table table-bordered table-striped" targetType="navTab" asc="asc" desc="desc">
          <thead>

          <th colspan="3">会员大礼包</th>
          <tr >
            <td>银牌会员礼包优惠券：
              <select name="coupon_ids1[]" class="form-control bs-select class-filter" data-live-search="true" data-container="body" multiple="multiple" >
                <volist name="coupons1" id="couponinfo1">
                  <option value="{$couponinfo1.id}" {$couponinfo1.select}>{$couponinfo1.name}</option>
                </volist>
              </select>
            </td>
          </tr>
          <tr >
            <td>金牌会员礼包优惠券：
              <select name="coupon_ids2[]" class="form-control bs-select class-filter" data-live-search="true" data-container="body" multiple="multiple" >
                <volist name="coupons2" id="couponinfo2">
                  <option value="{$couponinfo2.id}" {$couponinfo2.select}>{$couponinfo2.name}</option>
                </volist>
              </select>
            </td>
          </tr>

          <tr >
            <td>钻石会员礼包优惠券：
              <select name="coupon_ids3[]" class="form-control bs-select class-filter" data-live-search="true" data-container="body" multiple="multiple" >
                <volist name="coupons3" id="couponinfo3">
                  <option value="{$couponinfo3.id}" {$couponinfo3.select}>{$couponinfo3.name}</option>
                </volist>
              </select>
            </td>
            <td><button class="btn btn-primary" type="submit">保存</button></td>
          </tr>

          <th colspan="3">餐厅抽奖活动</th>
          <tr >
            <td>最少参与抽奖人数：<input type="text" name="hotellottery_people_num" value="{$info.hotellottery_people_num}" min='2' max='50'  /></td>
            <td><button class="btn btn-primary" type="submit">保存</button></td>
          </tr>

          <th colspan="3">秒杀滚动内容</th>
          <foreach name="info.seckill_roll_content" item="rinfo" >
          <tr >
            <td>滚动内容{$rinfo.id}：<input type="text" name="seckill_roll_content[]" value="{$rinfo.content}" class="form-control" /></td>
            <if condition="$rinfo.id eq 1">
            <td><button class="btn btn-primary" type="submit">保存</button></td>
            </if>
          </tr>
          </foreach>

          <th colspan="3">分销配置</th>
          <tr >
            <td>利润比例：<input placeholder="请输入小数" type="text" name="distribution_profit" value="{$info.distribution_profit}" min='0' max='1'  /></td>
            <td><button class="btn btn-primary" type="submit">保存</button></td>
          </tr>

          </thead>
          
          </tbody>
        </table>
        
      </form>
    </div>
  </div>
</div>