<!--修改样式2 p元素自适应宽度 start-->
<div class="pageContent">
  <form method="post" action="{$host_name}/resource/editResource" class="pageForm required-validate" enctype="multipart/form-data" onsubmit="return iframeCallback(this, dialogAjaxDone)">
   	<input type="hidden" name="id" value="{$vinfo.id}">
    <div class="pageFormContent modal-body">
		<div class="form-group row">
	         <label class="col-xs-12 col-sm-2 control-label">
	          资源URL:
	        </label>
	        <div class="col-xs-12 col-sm-10">
	          <input type="text" class="form-control" id="media_url" value="{$vinfo.oss_addr}" readonly>
	      	 </div>
	      </div>
		 <div class="form-group row">
	         <label class="col-xs-12 col-sm-2 control-label">
	          资源名称:
	        </label>
	        <div class="col-xs-12 col-sm-10">
	          <input type="text" class="form-control" name="name" minlength="2" maxlength="20" value="{$vinfo.name}" required>
	      	 </div>
	      </div>
	      <div class="form-group row">
              <label class="col-xs-12 col-sm-2 control-label">
                资源类型：
              </label>
              <div class="col-xs-12 col-sm-10">
                <volist name=":C('RESOURCE_TYPE')" id="vo">
                  <input name="type" type="radio" id="{$key}" value="{$key}" <if condition="$key eq $vinfo['type']">checked </if>/>&nbsp;{$vo}
                  &nbsp;&nbsp;
                </volist>
              </div>
          		</div>
        <div class="form-group row" id="duration" style="display:none;">
            <div class="form-inline">

                <div class="form-group col-md-12 col-xs-12 col-sm-12" >
                    <label class=" control-label col-xs-12 col-sm-2">
                        视频时长：
                    </label>
                    <input style="width:50px;"  alt="数字"  name="minu" type="number" value="<if condition="$vinfo.duration gt 0">{$vinfo['duration']/60|floor}</if>"  class="form-control col-sm-2" /><span class="form-control col-sm-2">分</span>
                    <input style="width:50px;"  alt="数字"  name="seco" type="number" value="<if condition="$vinfo.duration gt 0">{$vinfo['duration']%60}</if>"  class="form-control col-sm-2" /><span class="form-control col-sm-2">秒</span>
                </div>
            </div>

        </div>




	      <div class="form-group row">
              <label class="col-xs-12 col-sm-2 control-label">
                页面描述：
              </label>
              <div class="col-xs-12 col-sm-10">
                <textarea name="description" type="textInput" class="form-control">{$vinfo.description}</textarea>
                <span class="tips">注：请输入资源描述，允许为空。</span>
              </div>
         		 </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-default close-m" type="button">取消</button>
      <button class="btn btn-primary" type="submit">保存</button>     
    </div>
  </form>
</div>
<script>
  $(function() {
     var tp =  $("input[name='type']").val();
     if(tp==1){
         $("#duration").show();
     }
    $("input[type='radio']").click(function() {
      var id = $(this).attr("id");
      if (id == 1) {
        $("#duration").show();
      } else {
        $("#duration").hide();
      }
    });
  });
</script>
