<!--修改样式2 p元素自适应宽度 start-->
<style type="text/css">
	.zhezhao {
		display: none;
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		background-color: black;
		opacity: 0.7;
		text-align: center;
		z-index: 999;
	}
	.big {
		display: none;
	}

	.addbig {
		margin: auto;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		z-index: 1000;
	}
</style>
<div class="pageContent">
  <form method="post" action="{$host_name}/Recfood/doedit" class="pageForm required-validate" enctype="multipart/form-data" onsubmit="return iframeCallback(this, dialogAjaxDone)">
    <input type="hidden" name="id" value="{$vinfo.id}" />

    <div class="pageFormContent modal-body">
    		<div class="form-group row">
				<label class="col-xs-12 col-sm-2 control-label">
					菜品名称：
				</label>
				<div class="col-xs-12 col-sm-10">
					<input name="name" type="text" value="{$vinfo.name}" minlength="1" maxlength="40" class="form-control" required/>
				</div>
			</div>
			<!-- <div class="form-group row">
							<label class="col-xs-12 col-sm-2 control-label">
								封面图片：
							</label>
							<div class="col-xs-12 col-sm-10">
								<div class="fileinput fileinput-new" data-fileinput>
									<div class="fileinput-preview thumbnail" data-trigger="fileinput">
										<a data-target="#modal-file" href="javascript:void(0)">
											<if condition="($vinfo['oss_addr'] eq 'NULL') OR $vinfo['oss_addr'] eq ''">
												<img id="media_idimg" src="/Public/admin/assets/img/noimage.png" border="0" width='88px'  height='68px' />
												<else />
												<img id="media_idimg" src="{$vinfo.oss_addr}" border="0" width='88'  height='68' />
											</if>
											<span id="media_idimgname"></span>
										</a>
									</div>
									<div>
										<span class="form-group row" style="display: block;margin-top: 5px;margin-bottom: 5px;margin-left: 1px;font-size: 12px;"></span>
										<a class="btn btn-success btn-file" data-target="#modal-file" href="{$host_name}/resource/uploadResource?filed=media_id&rtype=2" data-browse-file>
											选择图片
										</a>
										<input type="hidden" name="media_id" id="media_id" value="{$vinfo.media_id}" >
										<a href="javascript:;" class="btn btn-danger" data-remove-file="/Public/admin/assets/img/noimage.png">
											删除 </a>
									</div>
								</div>
							</div>
						</div> -->
      		
      		 <div class="form-group row" >
              <label class="col-xs-12 col-sm-2 control-label">
                	原图：
              </label>
              <div class="col-xs-12 col-sm-10">
                <div class="fileinput fileinput-new" data-fileinput>
                  <div class="fileinput-preview thumbnail" data-trigger="fileinput">
                    <a data-target="#modal-file" href="javascript:void(0)">
                      <if condition="($vinfo['select_oss_addr'] eq 'NULL') OR $vinfo['select_oss_addr'] eq ''">
                        <img id="select_media_idimg" src="/Public/admin/assets/img/noimage.png" border="0" />
                        <else />
                        <img id="select_media_idimg" src="{$vinfo.select_oss_addr}?x-oss-process=image/resize,w_100" border="0" />
                      </if>
                       <span id="select_media_idimgname"></span>
                    </a>
                  </div>
                  <div>
                    <a class="btn btn-success btn-file" data-target="#modal-file" href="{$host_name}/resource/uploadResourceNew?filed=select_media_id&rtype=2" data-browse-file>
                      选择图片
                    </a>
                    <input type="hidden" name="select_media_id" id="select_media_id" value="{$vinfo.big_media_id}">
                    <a href="javascript:;" class="btn btn-danger" data-remove-file="/Public/admin/assets/img/noimage.png">
                      删除 </a>
                  </div>
                </div>
              </div>
            </div>
            <input type="hidden" name="hotel_id" value="{$hotel_id}">
    </div>

    <div class="modal-footer">
      <button class="btn btn-default close-m" type="button">取消</button>
      <button class="btn btn-primary" type="submit">保存</button>     
    </div>
	<div class="zhezhao"></div>
		<img class="big" src="" />
  </form>
</div>
<script type="text/javascript">
	$(function() {
		$('#select_media_idimg').click(function() {
			var media_id = $('#media_id').val();
			if(media_id !='' ){
				var $a = $(this).attr('src');
				var b = $a.split('?');
				var c = b[0];
				$('.big').prop('src', c).addClass('addbig');
				$('.big').css({'max-width':'500px'})
				$('.zhezhao').show();
				$('.big').show();
			}
			
		});
		$('.zhezhao').click(function() {

			$('.zhezhao').hide(500);
			$('.big').hide(500);
		});
	});
</script>