<include file="Public/script"/>
<!--显示列表样式1 start-->
<div class="pageHeader">
  <form onsubmit="return navTabSearch(this);" id="pagerForm" action="{$host_name}/invitecode/index" method="post" >
    <input type="hidden" name="pageNum" value="{$pageNum}"/>
    <input type="hidden" name="numPerPage" value="{$numPerPage}"/>
    <input type="hidden" name="_order" value="{$_order}"/>
    <input type="hidden" name="_sort" value="{$_sort}"/>
    <input type="hidden" name="hotel_id" value="{$hotel_id}" />
    <div class="searchBar">
      <div class="clearfix">
        <div class="form-inline" style="margin-top:3px;">
        
		<div class="input-group input-group-sm pull-left">
          <a class="btn btn-success btn-sm add" href="{$host_name}/Recfood/add?hotel_id={$hotel_id}" title="新增推荐菜" target="dialog" mask="true">
          <i class="fa fa-plus"></i> 
          	新增
          </a>
          
        </div>
       
          
          </div>
        </div>
        </div>
      </div>
  </form>
</div>
<div class="pageContent" id="pagecontent">
  <div id="w_list_print">
    <div class="no-more-tables">
      <form method="post" action="#" id="del-form" class="pageForm required-validate" rel="second"
enctype="multipart/form-data" onsubmit="return iframeCallback(this, dialogAjaxDoneER)">
        <table class="table table-bordered table-striped" targetType="navTab" asc="asc" desc="desc">
          <thead>
          <tr id="post">
            <th>序号</th>
            <th>菜品名称</th>
            <th>创建人</th>
            <th>创建时间</th>
            <th>状态</th>
            <th>操作</th>
           
          </tr>
          </thead>
          <tbody data-check="list" data-parent=".table">
          <volist name="list" id="vlist">
            <tr target="sid_user">
              <td data-title="序号">{$vlist.id}</td>
              <td data-title="菜品名称">{$vlist.name}</td>
              <td data-title="创建人">{$vlist.remark}</td>
              <td data-title="创建时间">{$vlist.create_time}</td>
              <td data-title="状态">
              <if condition="$vlist['state'] eq 0">
              <a data-tip="未审核" target="ajaxTodo" href="{$host_name}/recfood/editstate?id={$vlist.id}&state=1" calback="navTabAjaxDone" class="btn btn-default btn-icon"><span>
                <i class="fa fa-toggle-off"></i></span></a>
              <else/>
              <a data-tip="已审核" target="ajaxTodo" href="{$host_name}/recfood/editstate?id={$vlist.id}&state=0" calback="navTabAjaxDone" class="btn btn-default btn-icon"><span>
                <i class="fa fa-toggle-on"></i></span></a>
              </if>
              </td>
              
              <td data-title="操作">
              	<div class="tools-edit">
              		<a data-tip="修改详情" target="dialog" data-placement="left" mask="true" rel="recfood/edit" href="{$host_name}/recfood/edit?id={$vlist.id}&acttype=1" class="btn btn-success btn-icon">

                    <i class="fa fa-tag"></i>
                  </a>
                  <a warn="警告" data-tip="删除" title="你确定要删除吗？" target="ajaxTodo" href="{$host_name}/recfood/delete?id={$vlist.id}"  class="btn btn-success btn-icon">
                    <i class="fa fa-trash"></i>
                  </a>
                </div>
              </td>
              
              
            </tr>
          </volist>
          </tbody>
        </table>
      </form>

    </div>
  </div>
  {$page}
</div>


