<include file="Public/script"/>
<!--显示列表样式1 start-->
<div class="pageHeader">
  <form onsubmit="return navTabSearch(this);" id="pagerForm" action="{$host_name}/opsstaff/stafflist" method="post">
      <input type="hidden" name="pageNum" value="{$pageNum}"/>
      <input type="hidden" name="numPerPage" value="{$numPerPage}"/>
    <div class="searchBar">
      <div class="clearfix">
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-98">
          <div class="tools-group">
            <a class="btn btn-success btn-sm add" href="{$host_name}/opsstaff/staffadd" title="新增员工" target="dialog" mask="true"><i class="fa fa-plus"></i> 新增员工</a>
          </div>
        </div>
        
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 pull-right">
          <div class="input-group input-group-sm">
            <input type="text" class="form-control" name="keyword" value="{$keyword}" placeholder="用户名">
            <span class="input-group-btn">
              <select name="status" class="form-control bs-select class-filter" data-style="btn-success btn-sm" data-container="body" placeholder="模块名称">
                <option value=0>全部状态</option>
                <option value="1" <if condition="$status eq 1">selected</if>>正常</option>
                <option value="2" <if condition="$status eq 2">selected</if>>禁用</option>
              </select>
            </span>
            <span class="input-group-btn">
              <select name="area_id" class="form-control bs-select class-filter" data-style="btn-success btn-sm" data-container="body" placeholder="模块名称">
                <option value=0>全部城市</option>
                <volist name="area" id="vo">
                    <option value="{$vo.id}" <if condition="$vo.id eq $area_id">selected</if>>{$vo.region_name}</option>
                </volist>
              </select>
            </span>
            <span class="input-group-btn">
              <button class="btn btn-primary" type="submit" id="choosedata"><i class="fa fa-search"></i></button>
            </span>
          </div>
        </div>
        
      </div>
    </div>
  </form>
</div>
<div class="pageContent" id="pagecontent">
  <div id="w_list_print">
    <div class="no-more-tables">
      <form method="post" action="#" id="del-form" class="pageForm required-validate" enctype="multipart/form-data" onsubmit="return iframeCallback(this, dialogAjaxDone)">
        <table class="table table-bordered table-striped" targetType="navTab" asc="asc" desc="desc">
          <thead>
            <tr id="post">
              <th>ID</th>
              <th>姓名</th>
              <th>城市</th>
              <th>职位</th>
              <th>手机号码</th>
              <th>openid</th>
              <th>状态</th>
              <th>添加时间</th>
              <th class="table-tool">操作</th>
            </tr>
          </thead>
          <tbody data-check="list" data-parent=".table">
            <foreach name="datalist" item="dinfo">
            <tr target="sid_user">
              <td data-title="ID"><a class="click-able-title">{$dinfo.id}</a></td>
              <td data-title="姓名"><a class="click-able-title">{$dinfo.uname}</a></td>
             <td data-title="城市">{$dinfo.area_name}</td>
             <td data-title="职位">{$dinfo.job}</td>
             <td data-title="手机号码">{$dinfo.mobile}</td>
             <td data-title="openid">{$dinfo.openid}</td>
             <td data-title="状态">{$dinfo.status_str}</td>
             <td data-title="添加时间">{$dinfo.add_time}</td>
              <td class="table-tool" data-title="操作">
                <div class="tools-edit">
                  <a title="修改" data-tip="修改" target="dialog" mask="true" href="{$host_name}/opsstaff/staffadd?id={$dinfo.id}" class="btn btn-success btn-icon">
                    <i class="fa fa-pencil"></i>
                  </a>
<!--                  <a warn="警告" data-tip="删除" title="你确定要删除吗？" target="ajaxTodo" href="{$host_name}/opsstaff/staffdel?id={$dinfo.id}" calback="navTabAjaxDone" class="btn btn-danger btn-icon"><span><i class="fa fa-trash"></i></span></a>-->
                </div>
              </td>
            </tr>
            </foreach>
          </tbody>
        </table>
      </form>

    </div>
  </div>
  {$page}
</div>