<include file="Public/script"/>
<!--显示列表样式1 start-->
<div class="pageHeader">
  <form onsubmit="return navTabSearch(this);" id="pagerForm" action="{$host_name}/syslog/syslogList" method="post">
    <input type="hidden" name="pageNum" value="{$pageNum}"/>
    <input type="hidden" name="numPerPage" value="{$numPerPage}"/>
    <input type="hidden" name="_order" value="{$_order}"/>
    <input type="hidden" name="_sort" value="{$_sort}"/>
    <div class="searchBar">
      <div class="clearfix">
      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
          <div class="tools-group">
            <a onclick="alertMsg.error('当前模块不允许新增')" href="#" class="btn btn-success btn-sm add" style="opacity:0.6" title="新增" ><i class="fa fa-plus"></i> 新增</a>
          </div>
        </div>
		<div class="col-xs-12 col-sm-8 col-md-6 col-lg-4 pull-right">
          <div class="input-group input-group-sm">
            <input type="text" class="form-control" name="searchTitle" value="{$searchTitle}" placeholder="列表名称/操作动作/时间">
            <span class="input-group-btn">
              <select name="shwcid" class="form-control bs-select class-filter" data-style="btn-success btn-sm" data-container="body">
                <option value="">所有栏目</option>
                <volist name="classList" id="vo">
                  <option value="<if condition="$key neq 0">{$vo.id}</if>" data-content='<span class="lvl">{$vo.html}</span>{$vo.modulename}'<if condition="$vo.id eq $shwcid">selected</if>>{$vo.modulename}</option>
                </volist>
              </select>
            </span>
            <span class="input-group-btn">
              <button class="btn btn-primary" type="submit" id="choosedata"><i class="fa fa-search"></i></button>
            </span>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="pageContent" id="pagecontent">
  <div id="w_list_print">
    <div class="no-more-tables">
      <form method="post" action="#" id="del-form" class="pageForm required-validate" enctype="multipart/form-data" onsubmit="return iframeCallback(this, dialogAjaxDone)">
        <table class="table table-bordered table-striped" targetType="navTab" asc="asc" desc="desc">
          <thead>
            <tr id="post">
              <th>序号</th>
              <th>栏目名称</th>
              <th>列表名称</th>
              <th>用户名</th>
              <th>操作动作</th>
              <th>时间</th>
              <th>登陆IP</th>
              <th>登陆地区</th>
            </tr>
          </thead>
          <tbody data-check="list" data-parent=".table">
            <volist name="sysloglist" id="vlist">
	            <tr target="sid_user">	            
	              <td data-title="序号">{$key+1+$num}</td>
	              <td data-title="操作栏目名称">{$vlist.actionid}</td>
	              <td data-title="操作列表名称">{$vlist.program}</td>
	              <td data-title="操作用户">{$vlist.loginid}</td>
	              <td data-title="操作动作">
	              	<if condition="$vlist.opprate eq '新增'">
	              		<span  style="color:green;">{$vlist.opprate}</span>
	              	<elseif condition="$vlist.opprate eq '删除'" />
	              		<span  style="color:red;">{$vlist.opprate}</span>
              		<elseif condition="$vlist.opprate eq '修改'" />
              			<span  style="color:blue;">{$vlist.opprate}</span>
              		<else/>
              			<span>{$vlist.opprate}</span>
	              	</if>
	              </td>
	              <td data-title="操作时间">{$vlist.logtime}</td>
	              <td data-title="客户端IP">{$vlist.clientip}</td>
	              <td data-title="登陆地区">{$vlist.areaname}</td>
	            </tr>
            </volist>
          </tbody>
        </table>
      </form>

    </div>
  </div>
  {$page}
</div>
<script>
  $(function(){
    $(".class-filter").change(function (){
      $(this).closest("form").submit();
    })
  })
</script>