<include file="Public/script"/>
<!--显示列表样式1 start-->

<div class="pageContent" id="pagecontent">
  <div id="w_list_print">
    <div class="no-more-tables">
      <form method="post" action="#" id="del-form" class="pageForm required-validate" enctype="multipart/form-data" onsubmit="return iframeCallback(this, dialogAjaxDone)">
        <table class="table table-bordered table-striped" targetType="navTab" asc="asc" desc="desc">
          <thead>
          
          <tr id="post">
            <th>用户头像</th>
            <th>用户昵称</th>
            <th>包间名称</th>
            <th>MAC地址</th>
            <th>是否中奖</th>
            <th>奖品</th>
            <th>参与时间</th>
          </tr>
          </thead>
          <tbody data-check="list" data-parent=".table">

          <volist name="datalist" id="dinfo">
            <tr target="sid_user">
              <td data-title="用户头像"><img src="{$dinfo.avatarurl}" /></td>
              <td data-title="用户昵称">{$dinfo.nickname}</td>
              <td data-title="包间名称">{$dinfo.box_name}</td>
              <td data-title="MAC地址">{$dinfo.box_mac}</td>
              <td data-title="是否中奖"><if condition="$dinfo.status eq 2"><span style="color:red;">{$dinfo.status_str}</span> <else/>{$dinfo.status_str}</if></td>
              <td data-title="奖品">{$dinfo.prize}</td>
              <td data-title="参与时间">{$dinfo.add_time}</td>

            </tr>
          </volist>
      </tbody>
  </table>
</form>

  </div>
</div>

</div>
