<include file="Public/script"/>
<!--显示列表样式1 start-->
<div class="pageHeader">
  <form onsubmit="return navTabSearch(this);" id="pagerForm" action="{$host_name}/optionsms/index" method="post" >
    <input type="hidden" name="pageNum" value="{$pageNum}"/>
    <input type="hidden" name="numPerPage" value="{$numPerPage}"/>
    <input type="hidden" name="_order" value="{$_order}"/>
    <input type="hidden" name="_sort" value="{$_sort}"/>
    <div class="searchBar">
      <div class="clearfix">
        <div class="form-inline" style="margin-top:3px;">
        
			<div class="form-group"  >
            <div class="input-group input-group-sm date form_datetime" data-date="" >
              <input name="start_date" type="text" size="14" class="form-control date" placeholder="开始日期" value="{$start_date}" readonly>
                        <span class="input-group-btn" style="padding:0px;margin:0px;" >
                    <button class="btn default date-reset  btn-sm" type="button"><i class="fa fa-times"></i></button>
                    <button  class="btn btn-success date-set  btn-sm" type="submit"><i class="fa fa-calendar"></i></button>
                  </span>
            </div>


            <div class="input-group input-group-sm date form_datetime" data-date="" data-ymd="true">
              <input name="end_date" type="text" size="14" class="form-control date" placeholder="结束日期" value="{$end_date}" readonly>
                     <span class="input-group-btn" style="padding:0px;margin:0px;" >
                    <button class="btn default date-reset  btn-sm" type="button"><i class="fa fa-times"></i></button>
                    <button class="btn btn-success date-set  btn-sm" type="button"><i class="fa fa-calendar"></i></button>
                  </span>
            </div>
          </div>
	       <div class="input-group">
	            <span class="input-group-btn">
	              <button class="btn btn-primary" type="submit" id="choosedata"><i class="fa fa-search"></i></button>
	            </span>
	          </div>
	       
          
          </div>
        </div>
        </div>
      </div>
  </form>
</div>
<div class="pageContent" id="pagecontent">
  <div id="w_list_print">
    <div class="no-more-tables">
      <form method="post" action="#" id="del-form" class="pageForm required-validate" rel="second"
enctype="multipart/form-data" onsubmit="return iframeCallback(this, dialogAjaxDoneER)">
        <table class="table table-bordered table-striped" targetType="navTab" asc="asc" desc="desc">
          <thead>
          <tr id="post">
            <th>序号</th>
            <th>发送内容</th>
            <th>发送手机</th>
            <th>执行人</th>
            <th>是否成功</th>
            <th>发送时间</th>
            
           
          </tr>
          </thead>
          <tbody data-check="list" data-parent=".table">
          <volist name="list" key="k" id="vlist">
            <tr target="sid_user">
              <td data-title="序号">{$k}</td>
              <td data-title="发送内容">{$vlist.url}</td>
              <td data-title="发送手机">{$vlist.hotel_linkman} {$vlist.tel}</td>
              <td data-title="执行人">{$vlist.remark}</td>
              <td data-title="是否成功"><if condition="$vlist.resp_code eq '000000'">成功 <else />失败</if></td>
              <td data-title="发送时间">{$vlist.create_time}</td>
              
              
            </tr>
          </volist>
          </tbody>
        </table>
      </form>

    </div>
  </div>
  {$page}
</div>


