<div class="pageContent">
  <form method="post" action="{$host_url}/smallapp/store/addstore" class="pageForm required-validate" enctype="multipart/form-data" onsubmit="return iframeCallback(this, dialogAjaxDone)">
    <input type="hidden" name="id" value="{$vinfo.id}">
    <input type="hidden" id="honame" value="{$host_name}">
    <input type="hidden" name="marketid" id="marketid" value="{$ads_info.id}" />
    <div class="pageFormContent modal-body">

      <div class="form-group row">
        <label class="col-xs-12 col-sm-2 control-label">
          名称:
        </label>
        <div class="col-xs-12 col-sm-10">
          <input type="text" class="form-control" name="name" minlength="1" maxlength="50" value="{$vinfo.name}" required>
        </div>
      </div>
	  <div class="form-group row">
         <label class="col-xs-12 col-sm-2 control-label">
           logo图片：
         </label>
              <div class="col-xs-12 col-sm-10">
                <div class="fileinput fileinput-new" data-fileinput>
                  <div class="fileinput-preview thumbnail" data-trigger="fileinput">
                    <a data-target="#modal-file" href="javascript:void(0)">
                      <if condition="($vinfo['oss_addr'] eq 'NULL') OR $vinfo['oss_addr'] eq ''">
                        <img id="logomedia_idimg" src="/Public/admin/assets/img/noimage.png" border="0" />
                        <span id="logomedia_idimgname"></span>
                      <else />
                        <img id="logomedia_idimg" src="{$vinfo.oss_addr}" border="0" />
                      </if>
                      <span id="logomedia_idimgname"></span>
                    </a>
                  </div>
                  <div>
                    <a class="btn btn-success btn-file" data-target="#modal-file" href="{$host_name}/resource/uploadResource?filed=logomedia_id&rtype=2" data-browse-file>
                      选择图片
                    </a>
                    <input type="hidden" name="logomedia_id" id="logomedia_id" value="{$vinfo.cover_media_id}" required>
                    <a href="javascript:;" class="btn btn-danger" data-remove-file="/Public/admin/assets/img/noimage.png">
                    删除 </a>
                  </div>
                </div>
              </div>
        </div>

            
      <div class="form-group row">
        <label class="col-xs-12 col-sm-2 control-label">
          店铺地址:
        </label>
        <div class="col-xs-12 col-sm-10">
          <input type="text" class="form-control" name="addr" minlength="2"  value="{$vinfo.addr}" required>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-xs-12 col-sm-2 control-label">
          所在区域:
        </label>
        <div class="col-xs-12 col-sm-10">
          <select id="hotel_area_id" name="area_id" class="form-control bs-select" title="请选择..." data-size="20" required>
             <volist name="area" id="row">
                 <option value="{$row['id']}" <if condition="$row['id'] eq $vinfo['area_id']"> selected </if> > {$row['region_name']} </option>
             </volist>
          </select>
        </div>
      </div>
      
      <div class="form-group row">
        <label class="col-xs-12 col-sm-2 control-label">
          区/县:
        </label>
        <div class="col-xs-12 col-sm-10">
          <select id="hotel_county_id" name="county_id" class="form-control " title="请选择..." data-size="20" required>
             <volist name="county_list" id="row">
                 <option value="{$row['id']}" <if condition="$row['id'] eq $vinfo['county_id']"> selected </if> > {$row['region_name']} </option>
             </volist>

          </select>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-xs-12 col-sm-2 control-label">
         联系人：
        </label>
        <div class="col-xs-12 col-sm-10">
          <input type="text" class="form-control" name="contractor" minlength="1" required value="{$vinfo.contractor}" >
        </div>
      </div>

        <div class="form-group row">
        <label class="col-xs-12 col-sm-2 control-label">
          手机:
        </label>
        <div class="col-xs-12 col-sm-10">
          <input name="mobile" type="text" class="form-control digits" value="{$vinfo.mobile}" />
        </div>
      </div>

      <div class="form-group row">
        <label class="col-xs-12 col-sm-2 control-label">
          固定电话:
        </label>
        <div class="col-xs-12 col-sm-10">
          <input name="tel" type="text" class="form-control" value="{$vinfo.tel}" />
        </div>
      </div>
      <div class="form-group row">
        <label class="col-xs-12 col-sm-2 control-label">
          所属分类：
        </label>
        <div class="col-xs-12 col-sm-10">
          <select name="category_id" class="form-control bs-select" title="请选择">
            <volist name="categorys" id="cinfo">
              <option value="{$cinfo.id}" data-content='<span class="lvl">{$cinfo.html}</span>{$cinfo.name}' {$cinfo.is_select}>{$cinfo.name}</option>
            </volist>
          </select>
        </div>
      </div>
	  <div class="form-group row">
        <label class="col-xs-12 col-sm-2 control-label">
          人均消费:
        </label>
        <div class="col-xs-12 col-sm-10">
          <input name="avg_expense" type="number" min="0" max="1000000" class="form-control" value="{$vinfo.avg_expense}" />
        </div>
      </div>

      <div class="form-group row">
        <label class="col-xs-12 col-sm-2 control-label">
          位置坐标:
        </label>
        <div class="col-xs-12 col-sm-10">

          <input value="{$vinfo.gps}" type="text" required placeholder ="请输入经纬度并以,隔开" class="form-control" name="gps">

          <a href="http://api.map.baidu.com/lbsapi/getpoint/index.html" target="_blank">查找坐标:http://api.map.baidu.com/lbsapi/getpoint/index.html</a>

        </div>
      </div>

      <div class="form-group row">
        <label class="col-xs-12 col-sm-2 control-label">
         合作维护人：
        </label>
        <div class="col-xs-12 col-sm-10">
          <select name="maintainer_id" class="form-control bs-select class-filter" data-container="body">
            <option value=0>无</option>
            <volist name="opusers" id="vo">
              <option value="" disabled="disabled">{$key}</option>
              <volist name="vo" id="minfo">
                <option value="{$minfo.uid}" {$minfo.select} >{$minfo.remark}</option>
              </volist>
            </volist>
          </select>

        </div>
      </div>

      <div class="form-group row">
        <label class="col-xs-12 col-sm-2 control-label">
          优惠券图片：
        </label>
        <div class="col-xs-12 col-sm-10">
          <div class="fileinput fileinput-new" data-fileinput>
            <div class="fileinput-preview thumbnail" data-trigger="fileinput">
              <a data-target="#modal-file" href="javascript:void(0)">
                <if condition="($vinfo['couponoss_addr'] eq 'NULL') OR $vinfo['couponoss_addr'] eq ''">
                  <img id="couponmedia_idimg" src="/Public/admin/assets/img/noimage.png" border="0" />
                  <span id="couponmedia_idimgname"></span>
                  <else />
                  <img id="couponmedia_idimg" src="{$vinfo.couponoss_addr}" border="0" />
                </if>
                <span id="couponmedia_idimgname"></span>
              </a>
            </div>
            <div>
              <a class="btn btn-success btn-file" data-target="#modal-file" href="{$host_name}/resource/uploadResource?filed=couponmedia_id&rtype=2" data-browse-file>
                选择图片
              </a>
              <input type="hidden" name="couponmedia_id" id="couponmedia_id" value="{$vinfo.coupon_media_id}">
              <a href="javascript:;" class="btn btn-danger" data-remove-file="/Public/admin/assets/img/noimage.png">
                删除 </a>
            </div>
          </div>
        </div>
      </div>

      <div id="goods_detailimg">
        <foreach name="detail_imgs" item="dinfo" >
          <div class="form-group row" >
            <label class="col-xs-12 col-sm-2 control-label">
              详情图片{$dinfo.id}：
            </label>
            <div class="col-xs-12 col-sm-10">
              <div class="fileinput fileinput-new" data-fileinput>
                <div class="fileinput-preview thumbnail" data-trigger="fileinput">
                  <a data-target="#modal-file" href="javascript:void(0)">
                    <if condition="($dinfo['oss_addr'] eq 'NULL') OR $dinfo['oss_addr'] eq ''">
                      <img id="{$dinfo.imgid}img" src="/Public/admin/assets/img/noimage.png" border="0" />
                      <else />
                      <img id="{$dinfo.imgid}img" src="{$dinfo.oss_addr}" border="0" />
                    </if>
                    <span id="{$dinfo.imgid}imgname"></span>
                  </a>
                </div>
                <span class="help-block" id="img-msg">请上传 690x高不限 像素的jpg格式图片，展示效果最佳</span>
                <div>
                  <a class="btn btn-success btn-file" data-target="#modal-file" href="{$host_name}/resource/uploadResource?filed={$dinfo.imgid}&rtype=2" data-browse-file>
                    选择图片
                  </a>
                  <input type="hidden" name="detailmedia_id[{$dinfo.id}]" id="{$dinfo.imgid}" value="{$dinfo.media_id}" >
                  <a href="javascript:;" class="btn btn-danger" data-remove-file="/Public/admin/assets/img/noimage.png">删除</a>
                </div>
              </div>
            </div>
          </div>
        </foreach>
      </div>

      <div class="form-group row" id="sp" style="{$ads_info.choose_ads_style}">
        <label class="col-xs-12 col-sm-2 control-label" >
          广告素材：
        </label>
        <a class="btn btn-success btn-file" data-target="#modal-file" href="{$host_name}/resource/uploadAdvdeliveryResource?filed=media_id&rtype=1" data-browse-file>
          选择视频
        </a>
      </div>
      <div class="form-group row" id="newsp" style="{$ads_info.ads_info_style}">
        <div class="form-group row">
          <label class="col-xs-12 col-sm-2 control-label">
            广告名称：
          </label>
          <label class="col-xs-12 col-sm-2 control-label" id="sp_name" style="width: auto;">{$ads_info.name}
            <a class="" style="color: blue;" data-target="#modal-file" href="{$host_name}/resource/uploadAdvdeliveryResource?filed=media_id&rtype=1" data-browse-file>
            重新选择
          </a></label>

        </div>
        <div class="form-group row">
          <label class="col-xs-12 col-sm-2 control-label">
            广告时长：
          </label>
          <label class="col-xs-12 col-sm-2 control-label" id="sp_time" style="width: auto;">{$ads_info.duration}秒</label>
        </div>
        <div class="form-group row">
          <label class="col-xs-12 col-sm-2 control-label">
            URL：
          </label>
          <label class="col-xs-12 col-sm-2 control-label" id="sp_url" style="width: auto;">{$ads_info.ads_oss_addr}</label>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-xs-12 col-sm-2 control-label">
          广告视频封面：
        </label>
        <div class="col-xs-12 col-sm-10">
          <div class="fileinput fileinput-new" data-fileinput>
            <div class="fileinput-preview thumbnail" data-trigger="fileinput">
              <a  href="javascript:void(0)" >
                <if condition="($ads_info['cover_img'] eq 'NULL') OR $ads_info['cover_img'] eq ''">
                  <img src="/Public/admin/assets/img/noimage.png" border="0" id="covervideo_idimg" />
                  <else />
                  <img src="{$ads_info.cover_img}" id="covervideo_idimg" border="0" />
                </if>
                <span id="covervideo_idimgname"></span>
              </a>
            </div>
            <div>
              <a class="btn btn-success btn-file" data-target="#modal-file" href="{$host_name}/resource/uploadResource?filed=covervideo_id&rtype=2" data-browse-file>
                选择封面
              </a>
              <input type="hidden" name="ads_img_media_id" id="covervideo_id" value="" >
              <a href="javascript:;" class="btn btn-danger" data-remove-file="/Public/admin/assets/img/noimage.png">
                删除 </a>
            </div>
          </div>
        </div>
      </div>


      <div class="form-group row">
        <label class="col-xs-12 col-sm-2 control-label">
          状态:
        </label>
        <div class="col-xs-12 col-sm-10">
          <select name="status" id="status" class="form-control bs-select" required>
            <option value="1" <if condition="$vinfo.status eq 1"> selected </if> >正常</option>
            <option value="2" <if condition="$vinfo.status eq 2"> selected </if> >禁用</option>
          </select>
        </div>
      </div>

    </div>

    <div class="modal-footer">
      <button class="btn btn-default close-m" type="button">取消</button>
      <button class="btn btn-primary" id="saveinfos" type="submit">保存</button>
    </div>

  </form>
</div>
<script type="text/javascript">
    $(function(){
		$('#hotel_area_id').change(function(){
			var area_id = $(this).val();
			honame = $('#honame').val();
			$.ajax({
				type:"post",
				url:honame+"/hotel/getCountyInfo",
				dataType:"json",
				data:"area_id="+area_id,
				async:true,
				success:function(calls){
					var county_str = '';
					for(var i=0;i<calls.length;i++){
						county_str +="<option value="+calls[i].id+">"+calls[i].region_name+"</option>";
					}
					$('#hotel_county_id').html(county_str);
				}
			});
		});
    });
</script>