<include file="Public/script"/>
<!--显示列表样式1 start-->
<div class="pageHeader">
  <form onsubmit="return navTabSearch(this);" id="pagerForm" action="{$host_name}/tag/articleTagList" method="post" >
    <input type="hidden" name="pageNum" value="{$pageNum}"/>
    <input type="hidden" name="numPerPage" value="{$numPerPage}"/>
    <input type="hidden" name="_order" value="{$_order}"/>
    <input type="hidden" name="_sort" value="{$_sort}"/>
      <input type="hidden" name="tagid" value="{$taglistid}"/>
      <input type="hidden" name="tagname" value="{tagarticlename}"/>
      <div class="searchBar">


          <lable class="btn btn-success btn-sm add" href="#" title="{$tagarticlename}"  mask="true"><i class="fa "></i>{$tagarticlename}</lable>

          </div>
  </form>
</div>
<div class="pageContent" id="pagecontent" style="margin-top:80px;">
  <div id="w_list_print">
    <div class="no-more-tables">
      <form method="post" action="#" id="del-form" class="pageForm required-validate" enctype="multipart/form-data" onsubmit="return iframeCallback(this, dialogAjaxDone)">
        <table class="table table-bordered table-striped" targetType="navTab" asc="asc" desc="desc">
          <thead>
          <tr id="post">
            <th width="22" style="display:none"><input type="checkbox" group="ids" class="checkboxCtrl"></th>
            <th>序号</th>
            <th>名称</th>
            <th>分类</th>
            <th style="display: none;">>封面图片</th>
            <th>内容类型</th>
            <th>创建人</th>
            <th>创建时间</th>
            <th>状态</th>
          </tr>
          </thead>
          <tbody data-check="list" data-parent=".table">
          <volist name="list" id="vlist">
            <tr target="sid_user">
              <td style="display:none"><input name="ids" value="{$vlist.id}" type="checkbox"></td>
              <td data-title="序号">{$vlist.id}
              <if condition="$vlist.is_index eq 1">
              <a data-tip="首页内容" class="btn btn-success btn-icon"><i class="fa fa-home"></i></a>
              </if>
              </td>
              <td data-title="名称">{$vlist.title}</td>
              <td data-title="名称">{$vlist.cat_name}</td>
              <td data-title="封面图片" style="display: none;"><a data-tip="预览图片" target="dialog" mask="true"
                                       href="{$host_name}/article/showpic?pic={$vlist.img_url}"   class="btn btn-success btn-icon">
                <i class="icon-list"></i>
              </a></td>
              <td data-title="内容类型">
                <if condition="$vlist.type eq 1"> 图文
                  <elseif condition="$vlist.type eq 2"/>图集
                  <elseif condition="$vlist.type eq 3"/>
                    <if condition="$vlist.media_id eq 0">
                          视频（非点播）
                      <else/> 视频（点播）
                    </if>
                  <else/> 纯文本
                </if>
              </td>
              <td data-title="创建人">{$vlist.operators}</td>
              <td data-title="创建时间">{$vlist.create_time}</td>
              <td data-title="状态">

                <if condition="$vlist['state'] eq 2">
                  审核通过
                  <elseif condition="$vlist['state'] eq 3"/>
                  审核未通过
                  <else />
                  未审核
                </if>
              </td>
            </tr>
          </volist>
          </tbody>
        </table>
      </form>
<div class="modal fade" tabindex="-1" role="dialog" id="myModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="width: 357px;height: 160px;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">提示</h4>
      </div>
      <div class="modal-body">
        <p class="tishi">复制成功&hellip;</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">确定</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
    </div>
  </div>
  {$page}
</div>
<script src="Public/admin/assets/js/clipboard.min.js" type="text/javascript" charset="utf-8"></script>
  <script type="text/javascript">
        $(function(){
          $(".form-control.date").datetimepicker({
            minView: "month", //选择日期后，不会再跳转去选择时分秒
            language:  'zh-CN',
            format: 'yyyy-mm-dd',
            todayBtn:  1,
            autoclose: 1,
          });

          $('.date-reset').click(function(){
            $(this).parent().prev().val('')
          });
          
        });
        $('.tools-edit').on("click",".cpicons",function(){
        	var co;
        	 var ids = $(this).prop("id");
        	 var clipboard = new Clipboard('#'+ids);
            clipboard.on('success', function(e) {
            	//alert('复制成功');
            	$('#myModal').modal('show')
            	
               
            });

            clipboard.on('error', function(e) {
            	$('.tishi').html('复制失败');
            	$('#myModal').modal('show');
               
            }); 
						
        });
        
        /* var clipboard = '';
        function copydata(){
        	clipboard = new Clipboard('.cpicons');

            clipboard.on('success', function(e) {
                alert('复制成功');
                return true;
            });

            clipboard.on('error', function(e) {
                alert("复制失败");
                return false;
            });
        } */
        
        
</script>
