<!--修改样式2 p元素自适应宽度 start-->
<div class="pageContent">
  <form method="post" action="{$host_name}/hotel/doAdd" class="pageForm required-validate" enctype="multipart/form-data" onsubmit="return iframeCallback(this, dialogAjaxDone)">
    <input type="hidden" name="id" value="{$vinfo.id}">

    <div class="pageFormContent modal-body">

      <div class="form-group row">
        <label class="col-xs-12 col-sm-2 control-label">
          酒店名称:
        </label>
        <div class="col-xs-12 col-sm-10">
          <input type="text" class="form-control" name="name" minlength="2" maxlength="20" value="{$vinfo.name}" required>
        </div>
      </div>
	  <div class="form-group row">
         <label class="col-xs-12 col-sm-2 control-label">
           logo图片：
         </label>
              <div class="col-xs-12 col-sm-10">
                <div class="fileinput fileinput-new" data-fileinput>
                  <div class="fileinput-preview thumbnail" data-trigger="fileinput">
                    <a data-target="#modal-file" href="{$host_name}/resource/uploadResource?filed=media_id&rtype=2" data-browse-file>
                      <if condition="($vinfo['oss_addr'] eq 'NULL') OR $vinfo['oss_addr'] eq ''">
                        <img id="media_idimg" src="/Public/admin/assets/img/noimage.png" border="0" />
                        <span id="media_idimgname"></span>
                      <else />
                        <img id="media_idimg" src="{$vinfo.oss_addr}" border="0" />
                        <span id="media_idimgname"></span>
                      </if>
                    </a>
                  </div>
                  <div>
                    <a class="btn btn-success btn-file" data-target="#modal-file" href="{$host_name}/resource/uploadResource?filed=media_id&rtype=2" data-browse-file>
                      选择图片                     
                    </a>
                    <input type="hidden" name="media_id" id="media_id" value="">
                    <a href="javascript:;" class="btn btn-danger" data-remove-file="/Public/admin/assets/img/noimage.png">
                    删除 </a>
                  </div>
                </div>
              </div>
            </div>
            
      <div class="form-group row">
        <label class="col-xs-12 col-sm-2 control-label">
          酒店地址:
        </label>
        <div class="col-xs-12 col-sm-10">
          <input type="text" class="form-control" name="addr" minlength="2"  value="{$vinfo.addr}" required>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-xs-12 col-sm-2 control-label">
          酒店区域:
        </label>
        <div class="col-xs-12 col-sm-10">
          <select name="area_id" class="form-control bs-select" title="请选择..." data-size="20" required>
              
             <volist name="area" id="row">
                 <option value="{$row['id']}" <if condition="$row['id'] eq $vinfo['area_id']"> selected </if> > {$row['region_name']} </option>
             </volist>

          </select>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-xs-12 col-sm-2 control-label">
         酒店联系人：
        </label>
        <div class="col-xs-12 col-sm-10">
          <input type="text" class="form-control" name="contractor" minlength="1" required value="{$vinfo.contractor}" >
        </div>
      </div>

        <div class="form-group row">
        <label class="col-xs-12 col-sm-2 control-label">
          手机:
        </label>
        <div class="col-xs-12 col-sm-10">
          <input name="mobile" type="text" class="form-control digits" value="{$vinfo.mobile}" />
        </div>
      </div>

      <div class="form-group row">
        <label class="col-xs-12 col-sm-2 control-label">
          固定电话:
        </label>
        <div class="col-xs-12 col-sm-10">
          <input name="tel" type="text" class="form-control" value="{$vinfo.tel}" />
        </div>
      </div>

      <div class="form-group row">
        <label class="col-xs-12 col-sm-2 control-label">
         合作维护人：
        </label>
        <div class="col-xs-12 col-sm-10">
          <input type="text" class="form-control" name="maintainer" required minlength="1" maxlength="20" value="{$vinfo.maintainer}" >
        </div>
      </div>

        <div class="form-group row">
            <label class="col-xs-12 col-sm-2 control-label">
                技术运维人：
            </label>
            <div class="col-xs-12 col-sm-10">
                <input type="text" class="form-control" name="techmaintainer" required minlength="1" maxlength="20" value="{$vinfo.tech_maintainer}" >
            </div>
        </div>


        <div class="form-group row">
        <label class="col-xs-12 col-sm-2 control-label">
         酒楼级别：
        </label>
          <div class="col-xs-12 col-sm-10">
          <select name="level" class="form-control bs-select" title="请选择..." required data-style="btn-success btn-sm" data-container="body">
              <volist name=":C('HOTEL_LEVEL')" id="vo">
                  <option value="{$key}" <if condition="$key eq $vinfo['level']">selected</if>>{$vo}</option><br>
              </volist>
          </select>
              </div>
      </div>

      <div class="form-group row">
        <label class="col-xs-12 col-sm-2 control-label">
          是否重点：
        </label>
        <div class="col-xs-12 col-sm-10">
         <select name="iskey" class="form-control bs-select" title="请选择..." required>
              <option value="1" <if condition="$vinfo.iskey eq 1"> selected </if> >是</option><br>
              <option value="2" <if condition="$vinfo.iskey eq 2"> selected </if> >否</option>
          </select>
        </div>
      </div>


       <div class="form-group row">
        <label class="col-xs-12 col-sm-2 control-label">
          安装日期:：
        </label>
        <div class="col-xs-12 col-sm-10">
           <div class="input-group date form_datetime" data-date="{$vinfo.install_date}">
                  <input name="install_date" type="text" size="16" class="form-control date" placeholder="开始日期" value="{$vinfo.install_date}" readonly required>
                  <span class="input-group-btn">
                    <button class="btn default date-reset" type="button"><i class="fa fa-times"></i></button>
                    <button class="btn btn-success date-set" type="button"><i class="fa fa-calendar"></i></button>
                  </span>
            </div> 
        </div>
      </div>


      <div class="form-group row">
        <label class="col-xs-12 col-sm-2 control-label">
          酒楼状态:
        </label>
        <div class="col-xs-12 col-sm-10">
         <select name="state" id="state" class="form-control bs-select" required>
             <option value="2" <if condition="$vinfo.state eq 2"> selected </if> >冻结</option><br>
              <option value="1" <if condition="$vinfo.state eq 1"> selected </if> >正常</option><br>
              <option value="3" <if condition="$vinfo.state eq 3"> selected </if> >报损</option>
          </select>
        </div>
      </div>

       <div class="form-group row">
        <label class="col-xs-12 col-sm-2 control-label">
         状态变更说明:
        </label>
        <div class="col-xs-12 col-sm-10">
          <input type="text" class="form-control" name="state_change_reason" >
        </div>
      </div>

      <div class="form-group row">
        <label class="col-xs-12 col-sm-2 control-label">
         备注:
        </label>
        <div class="col-xs-12 col-sm-10">
          <input type="text" class="form-control" name="remark">
        </div>
      </div>
<!--  
      <div class="form-group row">
        <label class="col-xs-12 col-sm-2 control-label">
         GPS:
        </label>
        <div class="col-xs-12 col-sm-10">
          <input type="text" class="form-control" name="gps">
        </div>
      </div>-->
      <div class="form-group row">
        <label class="col-xs-12 col-sm-2 control-label">
          删除状态:
        </label>
        <div class="col-xs-12 col-sm-10">
         <select name="flag" class="form-control bs-select" title="请选择..." required>
              <option value="0" <if condition="$vinfo.flag eq 0"> selected </if>  >正常</option>
              <option value="1" <if condition="$vinfo.flag eq 1"> selected </if>  >删除</option>
          </select>
        </div>
      </div>

            
    </div>

    <div class="modal-footer">
      <button class="btn btn-default close-m" type="button">取消</button>
      <button class="btn btn-primary" type="submit">保存</button>     
    </div>

  </form>
</div>
<script type="text/javascript">
    $(function(){

       // $("#state option[bs-title-option]").attr("selected",true);

    });
</script>