<!--修改样式2 p元素自适应宽度 start-->
<style type="text/css">
	.zhezhao{
			display: none;
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			left: 0;
			background-color: black;
			opacity: 0.7;
			text-align: center;
			z-index: 999;
		}
	.big{
			display: none;
		}
	.addbig{
		position: absolute;
		width: 500px;
		height: 500px;
		top: 100px;
		left: 26%;
		z-index: 1000;
	}
</style>
<div class="pageContent">
  <form method="post" action="{$host_name}/hotel/doAdd" class="pageForm required-validate" enctype="multipart/form-data" onsubmit="return iframeCallback(this, dialogAjaxDone)">
    <input type="hidden" name="id" value="{$vinfo.id}">
      <input type="hidden" name="navtp" value="{$navtp}">
      <input type="hidden" id="honame" value="{$host_name}">
    <div class="pageFormContent modal-body">

      <div class="form-group row">
        <label class="col-xs-12 col-sm-2 control-label">
          酒店名称:
        </label>
        <div class="col-xs-12 col-sm-10">
          <input type="text" class="form-control" name="name" minlength="1" maxlength="50" value="{$vinfo.name}" required>
        </div>
      </div>
	  <div class="form-group row">
         <label class="col-xs-12 col-sm-2 control-label">
           logo图片：
         </label>
              <div class="col-xs-12 col-sm-10">
                <div class="fileinput fileinput-new" data-fileinput>
                  <div class="fileinput-preview thumbnail" data-trigger="fileinput">
                    <a data-target="#modal-file" href="javascript:void(0)">
                      <if condition="($vinfo['oss_addr'] eq 'NULL') OR $vinfo['oss_addr'] eq ''">
                        <img id="media_idimg" src="/Public/admin/assets/img/noimage.png" border="0" />
                        <span id="media_idimgname"></span>
                      <else />
                        <img id="media_idimg" src="{$vinfo.oss_addr}" border="0" />
                      </if>
                      <span id="media_idimgname"></span>
                    </a>
                  </div>
                  <div>
                    <a class="btn btn-success btn-file" data-target="#modal-file" href="{$host_name}/resource/uploadResource?filed=media_id&rtype=2" data-browse-file>
                      选择图片                     
                    </a>
                    <input type="hidden" name="media_id" id="media_id" value="{$vinfo.media_id}" required>
                    <a href="javascript:;" class="btn btn-danger" data-remove-file="/Public/admin/assets/img/noimage.png">
                    删除 </a>
                  </div>
                </div>
              </div>
            </div>
      <div class="form-group row" id="hotel_cover">
              <label class="col-xs-12 col-sm-2 control-label">
                	酒楼封面图：
              </label>
              <div class="col-xs-12 col-sm-10">
                <div class="fileinput fileinput-new" data-fileinput>
                  <div class="fileinput-preview thumbnail" data-trigger="fileinput">
                    <a data-target="#modal-file" href="javascript:void(0)">
                      <if condition="($vinfo['hotel_cover_url'] eq 'NULL') OR $vinfo['hotel_cover_url'] eq ''">
                        <img id="select_media_idimg" src="/Public/admin/assets/img/noimage.png" border="0" />
                        <else />
                        <img id="select_media_idimg" src="{$vinfo.hotel_cover_url}" border="0" />
                      </if>
                       <span id="select_media_idimgname"></span>
                    </a>
                  </div>
                  <div>
                    <a class="btn btn-success btn-file" data-target="#modal-file" href="{$host_name}/resource/uploadResourceNew?filed=select_media_id&rtype=2" data-browse-file>
                      选择图片
                    </a>
                    <input type="hidden" name="hotel_cover_media_id" id="select_media_id" value="{$vinfo['hotel_cover_media_id']}">
                    <a href="javascript:;" class="btn btn-danger" data-remove-file="/Public/admin/assets/img/noimage.png">
                      删除 </a>
                  </div>
                </div>
              </div>
            </div>
            
      <div class="form-group row">
        <label class="col-xs-12 col-sm-2 control-label">
          酒店地址:
        </label>
        <div class="col-xs-12 col-sm-10">
          <input type="text" class="form-control" name="addr" minlength="2"  value="{$vinfo.addr}" required>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-xs-12 col-sm-2 control-label">
          酒店区域:
        </label>
        <div class="col-xs-12 col-sm-10">
          <select id="hotel_area_id" name="area_id" class="form-control bs-select" title="请选择..." data-size="20" required>
              
             <volist name="area" id="row">
                 <option value="{$row['id']}" <if condition="$row['id'] eq $vinfo['area_id']"> selected </if> > {$row['region_name']} </option>
             </volist>

          </select>
        </div>
      </div>
      
      <div class="form-group row">
        <label class="col-xs-12 col-sm-2 control-label">
          区/县:
        </label>
        <div class="col-xs-12 col-sm-10">
          <select id="hotel_county_id" name="county_id" class="form-control " title="请选择..." data-size="20" required>
             <volist name="county_list" id="row">
                 <option value="{$row['id']}" <if condition="$row['id'] eq $vinfo['county_id']"> selected </if> > {$row['region_name']} </option>
             </volist>

          </select>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-xs-12 col-sm-2 control-label">
         酒店联系人：
        </label>
        <div class="col-xs-12 col-sm-10">
          <input type="text" class="form-control" name="contractor" minlength="1" required value="{$vinfo.contractor}" >
        </div>
      </div>

        <div class="form-group row">
        <label class="col-xs-12 col-sm-2 control-label">
          手机:
        </label>
        <div class="col-xs-12 col-sm-10">
          <input name="mobile" type="text" class="form-control digits" value="{$vinfo.mobile}" />
        </div>
      </div>

      <div class="form-group row">
        <label class="col-xs-12 col-sm-2 control-label">
          固定电话:
        </label>
        <div class="col-xs-12 col-sm-10">
          <input name="tel" type="text" class="form-control" value="{$vinfo.tel}" />
        </div>
      </div>
	  <div class="form-group row">
        <label class="col-xs-12 col-sm-2 control-label">
          菜系:
        </label>
        <div class="col-xs-12 col-sm-10">
          <select  name="food_style_id" class="form-control bs-select" title="请选择..." data-size="20" required>
             <volist name="food_style_list" id="row">
                 <option value="{$row['id']}" <if condition="$row['id'] eq $vinfo['food_style_id']"> selected </if> > {$row['name']} </option>
             </volist>

          </select>
        </div>
      </div>	
	  <div class="form-group row">
        <label class="col-xs-12 col-sm-2 control-label">
          人均消费:
        </label>
        <div class="col-xs-12 col-sm-10">
          <input name="avg_expense" type="text" class="form-control" value="{$vinfo.avg_expense}" />
        </div>
      </div>	 
        

      <div class="form-group row">
        <label class="col-xs-12 col-sm-2 control-label">
         合作维护人：
        </label>
        <div class="col-xs-12 col-sm-10">
            <select name="maintainer" class="form-control bs-select" title="请选择..."  data-style="btn-success btn-sm" data-container="body">
                <volist name="pub_info" id="vlist">
                    <option value="{$vlist.main_id}" <if condition="$vlist['main_id'] eq $vinfo['main_id']">selected</if>>{$vlist.remark}</option><br>
                </volist>
            </select>
        </div>
      </div>

        <div class="form-group row">
            <label class="col-xs-12 col-sm-2 control-label">
                技术运维人：
            </label>
            <div class="col-xs-12 col-sm-10">
                <input type="text" class="form-control" name="techmaintainer" required minlength="1" maxlength="20" value="{$vinfo.tech_maintainer}" >
            </div>
        </div>
        <div class="form-group row">
            <label class="col-xs-12 col-sm-2 control-label">
                小平台MAC地址：
            </label>
            <div class="col-xs-12 col-sm-10">
                <input type="text" class="form-control" name="mac_addr" id="mac_addr"  value="{$vinfo.mac_addr}" >
            </div>
        </div>

        <div class="form-group row macccc" style="display:none;">
            <label style="color:red;"class="col-xs-12 col-sm-2 control-label">

            </label>
            <div style="color:red;"  class="col-xs-12 col-sm-10">
            
            </div>
        </div>


        <div class="form-group row">
            <label class="col-xs-12 col-sm-2 control-label">
                小平台存放位置：
            </label>
            <div class="col-xs-12 col-sm-10">
                <input type="text" class="form-control" name="server_location" id="server_location"  value="{$vinfo.server_location}" >
            </div>
        </div>
        
        <div class="form-group row">
            <label class="col-xs-12 col-sm-2 control-label">
                小平台标签：
            </label>
            <div class="col-xs-12 col-sm-10">
                <input type="text" class="form-control" name="tag" id="tag"  value="{$vinfo.tag}" >
            </div>
        </div>

        <div class="form-group row">
            <label class="col-xs-12 col-sm-2 control-label">
                远程ID：
            </label>
            <div class="col-xs-12 col-sm-10">
                <input type="text" class="form-control" name="remote_id" id="remote_id"  value="{$vinfo.remote_id}" >
            </div>
        </div>


        <div class="form-group row">
        <label class="col-xs-12 col-sm-2 control-label">
         酒楼级别：
        </label>
          <div class="col-xs-12 col-sm-10">
          <select name="level" class="form-control bs-select" title="请选择..." required data-style="btn-success btn-sm" data-container="body">
              <volist name=":C('HOTEL_LEVEL')" id="vo">
                  <option value="{$key}" <if condition="$key eq $vinfo['level']">selected</if>>{$vo}</option><br>
              </volist>
          </select>
              </div>
      </div>
      <div class="form-group row">
        <label class="col-xs-12 col-sm-2 control-label">
          是否4G酒楼：
        </label>
        <div class="col-xs-12 col-sm-10">
         <select name="is_4g" class="form-control bs-select" title="请选择..." required>
         	  <option value="2" <if condition="$vinfo.is_4g eq 2"> selected </if> >否</option><br>
              <option value="1" <if condition="$vinfo.is_4g eq 1"> selected </if> >是</option><br>
              
          </select>
        </div>
      </div>
      

      <div class="form-group row">
        <label class="col-xs-12 col-sm-2 control-label">
          是否重点：
        </label>
        <div class="col-xs-12 col-sm-10">
         <select name="iskey" class="form-control bs-select" title="请选择..." required>
              <option value="1" <if condition="$vinfo.iskey eq 1"> selected </if> >是</option><br>
              <option value="2" <if condition="$vinfo.iskey eq 2"> selected </if> >否</option>
          </select>
        </div>
      </div>

        <div class="form-group row">
            <label class="col-xs-12 col-sm-2 control-label">
                安装日期:：
            </label>
            <div class="col-xs-12 col-sm-10">
                <div class="input-group date form_datetime" data-date="{$vinfo.install_date}" data-ymd="true">
                    <input name="install_date" type="text" size="16" class="form-control date" placeholder="开始日期" value="{$vinfo.install_date}" readonly >
                  <span class="input-group-btn">
                    <button class="btn default date-reset" type="button"><i class="fa fa-times"></i></button>
                    <button class="btn btn-success date-set" type="button"><i class="fa fa-calendar"></i></button>
                  </span>
                </div>
            </div>
        </div>


      <div class="form-group row">
        <label class="col-xs-12 col-sm-2 control-label">
          酒楼状态:
        </label>
        <div class="col-xs-12 col-sm-10">
         <select name="state" id="state" class="form-control bs-select" required>
             <option value="2" <if condition="$vinfo.state eq 2"> selected </if> >冻结</option><br>
              <option value="1" <if condition="$vinfo.state eq 1"> selected </if> >正常</option><br>
              <option value="3" <if condition="$vinfo.state eq 3"> selected </if> >报损</option>
          </select>
        </div>
      </div>

       <div class="form-group row">
        <label class="col-xs-12 col-sm-2 control-label">
         状态变更说明:
        </label>
        <div class="col-xs-12 col-sm-10">
            <select name="state_change_reason" style="width: 20px" class="form-control bs-select class-filter" data-style="btn-success btn-sm">
                <volist name=":C('STATE_REASON')" id="vo">
                    <option value="{$key}" <if condition="$key eq $vinfo['state_change_reason']">selected</if>>{$vo}</option><br>
                </volist>
            </select>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-xs-12 col-sm-2 control-label">
         备注:
        </label>
        <div class="col-xs-12 col-sm-10">
          <input type="text" value="{$vinfo.remark}" class="form-control" name="remark">
        </div>
      </div>
	  <div class="form-group row">
        <label class="col-xs-12 col-sm-2 control-label">
         酒楼机顶盒类型：
        </label>
          <div class="col-xs-12 col-sm-10">
          <select name="hotel_box_type" class="form-control bs-select" title="请选择..." required data-style="btn-success btn-sm" data-container="body">
              <option value="0">暂无</option>
              <volist name=":C('hotel_box_type')" id="vo">
                  <option value="{$key}" <if condition="$key eq $vinfo['hotel_box_type']">selected</if>>{$vo}</option><br>
              </volist>
          </select>
              </div>
      </div>
	  
      <div class="form-group row">
        <label class="col-xs-12 col-sm-2 control-label">
         酒楼位置坐标:
        </label>
        <div class="col-xs-12 col-sm-10">

          <input value="{$vinfo.gps}" type="text" required placeholder ="请输入经纬度并以,隔开" class="form-control" name="gps">

        	<a href="http://api.map.baidu.com/lbsapi/getpoint/index.html" target="_blank">查找坐标:http://api.map.baidu.com/lbsapi/getpoint/index.html</a>

        </div>
      </div>
      <div class="form-group row">
        <label class="col-xs-12 col-sm-2 control-label">
          删除状态:
        </label>
        <div class="col-xs-12 col-sm-10">
         <select name="flag" class="form-control bs-select" title="请选择..." required>
              <option value="0" <if condition="$vinfo.flag eq 0"> selected </if>  >正常</option>
              <option value="1" <if condition="$vinfo.flag eq 1"> selected </if>  >删除</option>
          </select>
        </div>
      </div>

        <div class="form-group row">
            <label class="col-xs-12 col-sm-2 control-label">
                酒楼wifi:
            </label>
            <div class="col-xs-12 col-sm-10">
                <input type="text" value="{$vinfo.hotel_wifi}" class="form-control" name="hotel_wifi">
            </div>
        </div>

        <div class="form-group row">
            <label class="col-xs-12 col-sm-2 control-label">
                酒楼wifi密码:
            </label>
            <div class="col-xs-12 col-sm-10">
                <input type="text" value="{$vinfo.hotel_wifi_pas}" class="form-control" name="hotel_wifi_pas">
            </div>
        </div>

        <if condition="$is_lablefiter eq 1">
        <div class="form-group row">
            <label class="col-xs-12 col-sm-2 control-label">
                合同到期时间:
            </label>
            <!-- <div class="col-xs-12 col-sm-10">
                <div class="input-group date form_datetime" data-date="{$vinfo.contract_expiretime}" >
                    <input name="contract_expiretime" type="text" size="16" class="form-control date" placeholder="合同到期时间" value="{$vinfo.contract_expiretime}" readonly >
                    <span class="input-group-btn">
                    <button class="btn default date-reset" type="button"><i class="fa fa-times"></i></button>
                    <button class="btn btn-success date-set" type="button"><i class="fa fa-calendar"></i></button>
                  </span>
                </div>
            </div> -->
            <div class="input-group input-group-sm date form_date" data-ymd="true" data-date="{$vinfo.contract_expiretime}" >

          		<input id="htdq_time"    name="contract_expiretime" type="text" size="16" class="form-control date" placeholder="合同到期时间" value="{$vinfo.contract_expiretime}" readonly>
                <span class="input-group-btn"  >
                  <button id="htdq_time_reset" class="btn default date-reset  btn-sm" type="button"><i class="fa fa-times"></i></button>
                  <button  class="btn btn-success date-set  btn-sm" type="button"><i class="fa fa-calendar"></i></button>
                </span>
        	</div>
        </div>
        </if>
		<div class="form-group row">
            <label class="col-xs-12 col-sm-2 control-label">
                对账单联系人:
            </label>
            <div class="col-xs-12 col-sm-10">
                <input name="bill_per" type="text" class="form-control" value="{$vinfo.bill_per}" />
        </div>
        </div>


        <div class="form-group row">
            <label class="col-xs-12 col-sm-2 control-label">
                对账单联系人手机:
            </label>
            <div class="col-xs-12 col-sm-10">
                <input name="bill_tel" type="text" class="form-control" value="{$vinfo.bill_tel}" />
            </div>
        </div>

        <div class="form-group row">
            <label class="col-xs-12 col-sm-2 control-label">
                收款公司名称:
            </label>
            <div class="col-xs-12 col-sm-10">
                <input name="collection_company" type="text" class="form-control" value="{$vinfo.collection_company}" />
            </div>
        </div>

        <div class="form-group row">
            <label class="col-xs-12 col-sm-2 control-label">
                银行账号:
            </label>
            <div class="col-xs-12 col-sm-10">
                <input name="bank_account" type="text" class="form-control" value="{$vinfo.bank_account}" />
            </div>
        </div>

        <div class="form-group row">
            <label class="col-xs-12 col-sm-2 control-label">
                开户行名称:
            </label>
            <div class="col-xs-12 col-sm-10">
                <input name="bank_name" type="text" class="form-control" value="{$vinfo.bank_name}" />
            </div>
        </div>

        <!--<div class="form-group row">-->
            <!--<label class="col-xs-12 col-sm-2 control-label">-->
                <!--是否开启积分兑换:-->
            <!--</label>-->

            <!--<div class="col-xs-12 col-sm-10">-->
                <!--<select name="is_open_integral" class="form-control bs-select">-->
                    <!--<option value="0" <if condition="$vinfo.is_open_integral eq 0"> selected </if> >否</option>-->
                    <!--<option value="1" <if condition="$vinfo.is_open_integral eq 1"> selected </if> >是</option>-->
                <!--</select>-->
            <!--</div>-->
        <!--</div>-->

        <!--<div class="form-group row">
            <label class="col-xs-12 col-sm-2 control-label">选择商品：</label>
            <div class="col-xs-12 col-sm-10  form-inline">
                <select name="goods_ids[]" class="form-control bs-select class-filter" data-live-search="true" data-container="body" multiple="multiple" >
                    <volist name="goods" id="ginfo">
                        <option value="{$ginfo.id}" {$ginfo.select}>{$ginfo.name}</option>
                    </volist>
                </select>

            </div>
        </div>-->

        <div class="form-group row">
            <label class="col-xs-12 col-sm-2 control-label">
                活动促销联系人:
            </label>
            <div class="col-xs-12 col-sm-10">
                <input name="activity_contact" type="text" class="form-control" value="{$vinfo.activity_contact}" />
            </div>
        </div>

        <div class="form-group row">
            <label class="col-xs-12 col-sm-2 control-label">
                活动促销手机号:
            </label>
            <div class="col-xs-12 col-sm-10">
                <input name="activity_phone" type="text" class="form-control" value="{$vinfo.activity_phone}" />
            </div>
        </div>

    </div>

    <div class="modal-footer">
      <button class="btn btn-default close-m" type="button">取消</button>
      <button class="btn btn-primary" id="saveinfos" type="submit">保存</button>
    </div>
    	<div class="zhezhao"></div>
			<img class="big" src=""/>
  </form>
</div>
<script type="text/javascript">
    $(function(){
    	$('#htdq_time_reset').click(function(){
    	    $(this).parent().prev().val('')
    	  });
    	$("#htdq_time").datetimepicker({
    	      minView: "month", //选择日期后，不会再跳转去选择时分秒
    	      language:  'zh-CN',
    	      format: 'yyyy-mm-dd',
    	      todayBtn:  1,
    	      autoclose: 1,
    	    });
	$('#media_idimg').click(function(){
		var $a = $(this).attr('src');
			$('.big').prop('src',$a).addClass('addbig')
			$('.zhezhao').show(500);
			$('.big').show(500);
	})
  $('.zhezhao').click(function(){

		$('.zhezhao').hide(500);
		$('.big').hide(500);
   })
        $('#mac_addr').blur(function(){
                var vp = $(this).val();
                var ln = $(this).val().length;
                var reg = /^[0-9A-F]+$/;
                var r = vp.match(reg);
                if(ln==0){
                    $('.macccc').css('display','none');
                }else if(ln!=12){
                    $('.macccc').css('display','');
                    $('.macccc div').html('请输入12位字符');

                }else{
                    if(r==null) {
                        $('.macccc').css('display', '');
                        $('.macccc div').html('不允许输入非法字符，请输入正确字符');

                    }else{
                        $('.macccc').css('display','none');
                    }
                }


        });

        $('#saveinfos').click(function(){
            var vp = $('#mac_addr').val();
            var ln = $('#mac_addr').val().length;
            var reg = /^[0-9A-F]+$/;
            var r = vp.match(reg);
            if(ln==0){
                $('.macccc').css('display','none');
                return true;
            }else if(ln!=12){
                $('.macccc').css('display','');
                $('.macccc div').html('请输入12位字符');
                return false;
            }else{
                if(r==null) {
                    $('.macccc').css('display', '');
                    $('.macccc div').html('不允许输入非法字符，请输入正确字符');
                    return false;
                }else{
                    $('.macccc').css('display','none');
                    return true;
                }
            }
        });
		$('#hotel_area_id').change(function(){
			var area_id = $(this).val();
			honame = $('#honame').val();
			//alert(honame);
			$.ajax({
				type:"post",
				url:honame+"/hotel/getCountyInfo",
				dataType:"json",
				data:"area_id="+area_id,
				async:true,
				success:function(calls){
					var county_str = '';
					for(var i=0;i<calls.length;i++){
						county_str +="<option value="+calls[i].id+">"+calls[i].region_name+"</option>";
					}
					$('#hotel_county_id').html(county_str);
				}
			});
		});

    });




</script>