<!--修改样式2 p元素自适应宽度 start-->
<include file="Public/script"/>
<div class="pageContent">
  <form method="post" action="{$host_name}/hotel/doAddPub" class="pageForm required-validate" enctype="multipart/form-data" onsubmit="return dialogSearch(this);">
    <input type="hidden" name="ads_id" value="{$vainfo.id}">
      <input type="hidden" name="ho_id" value="{$vinfo.id}">
    <div class="pageFormContent modal-body">
        <div class="form-group row">
            <label class="col-xs-12 col-sm-2 control-label col-md-offset-4">
                酒楼宣传片
            </label>
        </div>

      <div class="form-group row">
        <label class="col-xs-12 col-sm-2 control-label">
          酒楼名称:
        </label>
        <div class="col-xs-12 col-sm-10">
            <label class="col-xs-12 col-sm-2 control-label">
                {$vinfo.name}({$vinfo.id})
            </label>
        </div>
      </div>
        <div class="form-group row">
            <label class="col-xs-12 col-sm-2 control-label">
                视频封面：
            </label>
            <div class="col-xs-12 col-sm-10">
                <div class="fileinput fileinput-new" data-fileinput>
                    <div class="fileinput-preview thumbnail" data-trigger="fileinput">
                        <a data-target="#modal-file" href="{$host_name}/resource/uploadResource" data-browse-file>
                            <if condition="($vinfo['oss_addr'] eq 'NULL') OR $vinfo['oss_addr'] eq ''">
                                <img src="/Public/admin/assets/img/noimage.png" border="0" id="logoImg" />
                                <else />
                                <img src="{$vinfo.oss_addr}" id="logoImg"
                                     border="0" />
                            </if>
                        </a>
                    </div>
                    <div>
                        <a class="btn btn-success btn-file" data-target="#modal-file" href="{$host_name}/resource/uploadResource" data-browse-file>
                            选择图片
                        </a>
                        <input type="hidden" name="media_id" id="media_id" value="">
                        <a href="javascript:;" class="btn btn-danger" data-remove-file="/Public/admin/assets/img/noimage.png">
                            删除 </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-xs-12 col-sm-2 control-label">
                视频内容：
            </label>
            <div class="col-xs-12 col-sm-10">
                <div class="fileinput fileinput-new" data-fileinput>
                    <div class="fileinput-preview thumbnail" data-trigger="fileinput">
                        <a data-target="#modal-file" href="{$host_name}/resource/uploadResource" data-browse-file>
                            <if condition="($vinfo['oss_addr'] eq 'NULL') OR $vinfo['oss_addr'] eq ''">
                                <img src="/Public/admin/assets/img/noimage.png" border="0" id="logoImg" />
                                <else />
                                <img src="{$vinfo.oss_addr}" id="logoImg"
                                     border="0" />
                            </if>
                        </a>
                    </div>
                    <div>
                        <a class="btn btn-success btn-file" data-target="#modal-file" href="{$host_name}/resource/uploadResource" data-browse-file>
                            选择图片
                        </a>
                        <input type="hidden" name="media_id" id="media_id" value="">
                        <a href="javascript:;" class="btn btn-danger" data-remove-file="/Public/admin/assets/img/noimage.png">
                            删除 </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group row">
        <label class="col-xs-12 col-sm-2 control-label">
          宣传片名称:
        </label>
        <div class="col-xs-12 col-sm-10">
          <input type="text" class="form-control"style="width: 214px;" name="adsname" minlength="2" maxlength="20" value="{$vainfo.name}" required>
        </div>
      </div>
      
			<div class="form-group row">
        <label class="col-xs-12 col-sm-2 control-label">
          描述:
        </label>
        <div class="col-xs-12 col-sm-10">
          <textarea name="descri" placeholder="请输入描述，允许为空"rows="7"cols="27"></textarea>
        </div>
      </div>
       <button type="submit" class="btn btn-primary" style="margin-left: 50%;">&nbsp;提交&nbsp;</button>
        </div>
  </form>
</div>