<include file="Public/script"/>
<!--显示列表样式1 start-->
<style type="text/css">
  .searchBar label{
    width: auto;
    text-align: center;
    margin-top: 15px;
    line-height: 2px;
  }
</style>
<div class="pageHeader">
  <form onsubmit="return navTabSearch(this);" id="pagerForm" action="{$host_name}/hotel/manager" method="post" >
    <input type="hidden" name="pageNum" value="{$pageNum}"/>
    <input type="hidden" name="numPerPage" value="{$numPerPage}"/>
    <input type="hidden" name="_order" value="{$_order}"/>
    <input type="hidden" name="_sort" value="{$_sort}"/>
    <div class="searchBar">
      <div class="clearfix">
      </div>
      <div class="form-inline" style="margin-top:3px;">
        <div class="form-group">
		  <if condition="$is_city_search eq 1"> 
	          <div class="form-group"  >
	            <div class="input-group-sm input-group">
	              <label class="col-xs-1 col-sm-1 control-label">
	                                           城&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;市：
	              </label>
	
	                <span class="input-group-btn input-group-sm">
	              <select name="area_v" style="width: 20px" class="form-control bs-select class-filter" data-style="btn-success btn-sm" data-container="body" size="15">
	                <option value="0" >全国</option>
	                <volist name="area" id="vo">
	                  <option value="{$vo.id}" <if condition="$vo.id eq $area_k">selected</if>>{$vo.region_name}</option><br>
	                </volist>
	              </select>
	            </span>
	            </div>
	          </div>
	      </if>		
          <div class="form-group">
            <div class="input-group-sm input-group">
              <label>级&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;别：</label>
                <span class="input-group-btn input-group-sm">
              <select name="level_v" style="width: 20px" class="form-control bs-select class-filter" data-style="btn-success btn-sm" data-container="body">
                <option value=0 >全部</option>
                <volist name=":C('HOTEL_LEVEL')" id="vo">
                  <option value="{$key}" <if condition="$key eq $level_k">selected</if>>{$vo}</option><br>
                </volist>
              </select>
            </span>
            </div>
          </div>
          <div class="form-group">
            <div class="input-group-sm input-group">
              <label>
                状态：
              </label>
               <span class="input-group-btn input-group-sm">
              <select name="state_v" style="width: 20px" class="form-control bs-select class-filter" data-style="btn-success btn-sm" data-container="body">
                <option value=0 >全部</option>
                <volist name=":C('HOTEL_STATE')" id="vo">
                  <option value="{$key}" <if condition="$key eq $state_k">selected</if>>{$vo}</option><br>
                </volist>
              </select>
            </span>
            </div>
          </div>

         
          <div class="form-group">
            <div class="input-group-sm input-group">
              <label class="control-label" style="">
                合作维护人：
              </label>
              <span class="input-group-btn input-group-sm">
                  <!-- <input type="text" class="form-control" name="main_v" value="{$main_k}" placeholder="合作维护人" style="width:95px;"> -->
                  <select name="maintainer_id" style="width: 20px" class="form-control bs-select class-filter" data-style="btn-success btn-sm" data-container="body">
		  			<option>请选择账号</option>
		  			<php>
		  				foreach($hezuo_arr as $key=>$v){
		  			</php>
		  			
		  				<option value="" disabled="disabled">{$key}</option>
		  				<php> foreach($v as $kk=>$vv){</php>
		  				<option <if condition="$vv.uid eq $maintainer_id">selected</if> value="{$vv.uid}">{$vv.remark}</option>
		  				<php>}</php>
		  			<php>
		  				}
		  			</php>
		  		</select>
              </span>
            </div>
          </div>
		</div>
		<div class="form-inline" style="margin-top:3px;">

          <div class="form-group">
            <div class="input-group-sm input-group">
              <label>
                机顶盒类型：
              </label>
               <span class="input-group-btn input-group-sm">
              <select name="hbt_v" style="width: 20px" class="form-control bs-select class-filter" data-style="btn-success btn-sm" data-container="body">
                <option value=0 >全部</option>
                <volist name=":C('hotel_box_type')" id="vo">
                  <option value="{$key}" <if condition="$key eq $hbt_k">selected</if>>{$vo}</option><br>
                </volist>
              </select>
            </span>
            </div>
          </div>
			<div class="form-group">
          <div class="input-group-sm input-group">
            <label class="col-xs-1 col-sm-1 control-label">
              重&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;点：
            </label>
                <span class="input-group-btn">
              <select name="key_v" class="form-control bs-select class-filter" data-style="btn-success btn-sm" data-container="body">
                <option value=0 >全部</option>
                <volist name=":C('HOTEL_KEY')" id="vo">
                  <option value="{$key}" <if condition="$key eq $key_k">selected</if>>{$vo}</option><br>
                </volist>
              </select>
            </span>
          </div>
        </div>

        <div class="input-group input-group-sm date form_date" data-ymd="true" data-date="{$vinfo.log_time}">
          <input style="margin-left: 6px;" name="starttime" type="text" size="16" class="form-control date" placeholder="开始日期" value="{$beg_time}" readonly>
                  <span class="input-group-btn">
                    <button class="btn default date-reset  btn-sm" type="button"><i class="fa fa-times"></i></button>
                    <button class="btn btn-success date-set  btn-sm" type="button"><i class="fa fa-calendar"></i></button>
                  </span>
        </div>

        <div class="input-group input-group-sm date form_date" data-ymd="true" data-date="{$vinfo.log_time}" style="width:135px;">

          <input style="width:125px;padding:0px;margin:0px;margin-left: 15px;"  name="endtime" type="text" size="16" class="form-control date" placeholder="结束日期" value="{$end_time}" readonly>
                  <span class="input-group-btn" style="padding:0px;margin:0px;" >
                    <button class="btn default date-reset  btn-sm" type="button"><i class="fa fa-times"></i></button>
                    <button class="btn btn-success date-set  btn-sm" type="button"><i class="fa fa-calendar"></i></button>
                  </span>
        </div>
        </div>
      </div>

      <div class="form-inline" style="margin-top:3px;">

         <div class="form-group">
            <div class="input-group-sm input-group">
              <label>
                包含酒楼：
              </label>
                <span class="input-group-btn input-group-sm">
              <select id="inch" name="include_v[]" style="width: 20px" class="form-control bs-select class-filter" data-style="btn-success btn-sm" data-container="body" multiple="multiple" >
                <volist name="include" id="vo">
                  <option value="{$vo.id}"
                  <volist name="include_k" id="kvo" key="p">
                    <if condition="$kvo.p eq $vo.id">selected</if>
                  </volist>
                  >{$vo.menu_name}
                  </option><br>
                </volist>
              </select>
            </span>
            </div>
          </div>

        <div class="form-group">
          <div class="input-group-sm input-group">
            <label style="margin-left: 3px;" class="col-xs-1 col-sm-1 control-label">
              排除酒楼：
            </label>
                <span class="input-group-btn">
              <select id="exch" name="exc_v[]" style="width: 20px" class="form-control bs-select class-filter" data-style="btn-success btn-sm" data-container="body" multiple="multiple" >
                <volist name="include" id="vo">
                  <option value="{$vo.id}" <if condition="$vo.id eq $exc_k">selected</if>>{$vo.menu_name}</option><br>
                </volist>
              </select>
            </span>
          </div>
        </div>

        <div class="form-group">
          <div class="input-group-sm input-group">
            <label style="margin-left: 3px;" class="col-xs-1 col-sm-1 control-label">
              广告机：
            </label>
                <span class="input-group-btn">
              <select id="adv_machine" name="adv_machine" style="width: 20px" class="form-control bs-select class-filter" data-style="btn-success btn-sm" data-container="body"  >
                <foreach name="select_ad_mache" item="vlist">
                  <option value="{$key}" <if condition="$key eq $se_ad_machince">selected</if> >{$vlist}</option>
                </foreach>
              </select>
            </span>
          </div>
        </div>
		<div class="form-group">
          <div class="input-group-sm input-group">
            <label class="col-xs-1 col-sm-1 control-label">
              是否4G：
            </label>
                <span class="input-group-btn">
              <select name="is_4g" class="form-control bs-select class-filter" data-style="btn-success btn-sm" data-container="body">
                <option value=0 <if condition="$is_4g eq 0">selected</if> >全部</option>
                
                  <option value="2" <if condition="$is_4g eq 2">selected</if>>否</option><br>
                  <option value="1" <if condition="$is_4g eq 1">selected</if>>是</option><br>
                
              </select>
            </span>
          </div>
        </div>
        </div>
        <div class="form-inline" style="margin-top:3px;">
        <div class="form-group">
          <div class="input-group-sm input-group">
            <label class="col-xs-1 col-sm-1 control-label">
              是否虚拟小平台：
            </label>
                <span class="input-group-btn">
              <select name="is_virtual" class="form-control bs-select class-filter" data-style="btn-success btn-sm" data-container="body">
                <option value=0 <if condition="$is_virtual eq 0">selected</if> >全部</option>
                
                  <option value="2" <if condition="$is_virtual eq 2">selected</if>>否</option><br>
                  <option value="1" <if condition="$is_virtual eq 1">selected</if>>是</option><br>
                
              </select>
            </span>
          </div>
        </div>
        <div class="input-group input-group-sm">
          <input type="text" class="form-control" name="name" value="{$name}" placeholder="酒店名称">
            <span class="input-group-btn">
              <button class="btn btn-primary" type="submit" id="choosedata"><i class="fa fa-search"></i></button>
            </span>
        </div>



        <div class="input-group input-group-sm pull-right">
          <a class="btn btn-success btn-sm add" href="{$host_name}/hotel/add?acttype=0" title="新增酒店" target="dialog" mask="true"><i class="fa fa-plus"></i> 新增酒店</a>
          <!-- <a class="btn btn-success btn-sm add" href="{$host_name}/excel/hotelinfo" title="导出资源总表" target="_blank" mask="true"><i class="fa fa-plus"></i> 导出酒楼资源总表</a>
          
          <a class="btn btn-success btn-sm add" href="{$host_name}/excel/hotelboxinfo" title="导出机顶盒总表" target="_blank" mask="true"><i class="fa fa-plus"></i> 导出机顶盒总表</a> -->
          <a class="btn btn-success btn-sm add" href="{$host_name}/excel/hotelboxinfo" title="导出资源总表" target="_blank" mask="true"><i class="fa fa-plus"></i> 导出酒楼资源总表</a>
          
          <a class="btn btn-success btn-sm add" href="{$host_name}/excel/hotelinfo" title="导出机顶盒总表" target="_blank" mask="true"><i class="fa fa-plus"></i> 导出机顶盒总表</a>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="pageContent" id="pagecontent" style="top:80px;margin-top:62px;">
  <div id="w_list_print">
    <div class="no-more-tables">
      <form method="post" action="#" id="del-form" class="pageForm required-validate" enctype="multipart/form-data" onsubmit="return iframeCallback(this, dialogAjaxDone)">
        <table class="table table-bordered table-striped" targetType="navTab" asc="asc" desc="desc">
          <thead>
          <tr id="post">
            <!-- <th class="table-checkbox">
              <input type="checkbox" data-check="all" data-parent=".table" />
            </th> -->
            <th>ID</th>
            <th>酒店名称</th>
            <th>城市</th>
            <th>地址</th>
            <th>联系人</th>
            <th>联系电话</th>
            <th>状态</th>
            <th>合作维护人</th>
            <th>技术运维人</th>
            <th>包间数量</th>
            <th>机顶盒数量</th>
            <th>电视数量</th>
            <th>单机版节目单</th>
            <th>网络版节目单</th>
            <th class="table-tool">操作</th>
          </tr>
          </thead>
          <tbody data-check="list" data-parent=".table">
          <volist name="list" id="vlist">
            <tr target="sid_user">
              <!-- <td class="table-checkbox">
                <input type="checkbox" class="checkboxes" value="30" name="postlist[]">
              </td> -->
              <td data-title="酒店ID">{$vlist.id}</td>
              <td data-title="酒店名称">{$vlist.name}</td>
              <td data-title="城市">{$vlist.region_name}</td>
              <td data-title="地址">{$vlist.addr}</td>
              <td data-title="联系人">{$vlist.contractor}</td>
              <td data-title="联系电话">{$vlist.mobile}</td>
              <td data-title="状态">
                <if condition="$vlist.state eq 1"> 正常
                  <elseif condition="$vlist.state eq 2"/> 冻结
                  <else />报损
                </if>
              </td>
              <td data-title="合作维护人">{$vlist.maintainer}</td>
              <td data-title="技术运维人">{$vlist.tech_maintainer}</td>
              <td data-title="包间数量"><a title="{$vlist.name}包间列表" target="navTab" rel="hotel/room" href="{$host_name}/hotel/room?hotel_id={$vlist.id}">{$vlist.room_num}</a></td>
              <td data-title="机顶盒数量">
                <if condition="($vlist.box_num gt 0) AND ($vlist.type neq 4)">
                  <a title="{$vlist.name}机顶盒列表" target="navTab" rel="device/box" href="{$host_name}/device/box?hotel_id={$vlist.id}">{$vlist.box_num}</a>
                  <else />
                  {$vlist.box_num}
                </if>
              </td>
              <td data-title="电视数量">
                <if condition="($vlist.tv_num gt 0) AND ($vlist.type neq 4)">
                  <a title="{$vlist.name}电视列表" target="navTab" rel="device/tv" href="{$host_name}/device/tv?hotel_id={$vlist.id}">{$vlist.tv_num}</a>
                  <else />
                  {$vlist.tv_num}
                </if>
              </td>
              <td data-title="节目单"> <if condition="$vlist.menu_id GT 0">  <a title="{$vlist.name}节目单列表" target="dialog" rel="device/tv" href="{$host_name}/menu/getdetail?id={$vlist.menu_id}&name={$vlist.menu_name}">{$vlist.menu_name}</a><else />无</if></td>

              <td data-title="新节目单"> <if condition="$vlist.promenu_id GT 0">  <a title="{$vlist.name}节目单列表" target="dialog" rel="device/tv" href="{$host_name}/programmenu/getdetail?id={$vlist.promenu_id}&name={$vlist.promenu_name}">{$vlist.promenu_name}</a><else />无</if></td>



              <td class="table-tool" data-title="操作">
                <div class="tools-edit">
                  <a data-tip="查看详情" target="navTab" mask="true" href="{$host_name}/hotel/getdetail?id={$vlist.id}&acttype=1" rel="hotel/detail" title="{$vlist.name}酒楼详情" class="btn btn-success btn-icon">
                    <i class="fa fa-search-minus"></i>
                  </a>
                  <a data-tip="修改详情" title="酒楼ID-{$vlist.id}" target="dialog" data-placement="left" mask="true" rel="xiugaihotel" href="{$host_name}/hotel/add?id={$vlist.id}&acttype=1" class="btn btn-success btn-icon">

                    <i class="fa fa-tag"></i>
                  </a>
                  <a data-tip="新增包间" target="dialog" mask="true" href="{$host_name}/hotel/addRoom?hotel_id={$vlist.id}&acttype=1" class="btn btn-success btn-icon">
                    <i class="fa fa-plus"></i>
                  </a>
                  <a data-tip="宣传片管理" target="navTab" title="宣传片管理列表" rel="hotel/pubmanager" href="{$host_name}/hotel/pubmanager?hotel_id={$vlist.id}" class="btn btn-success btn-icon">
                    <i class="fa fa-bullhorn"></i>
                  </a>

                  <a data-tip="批量新增版位" data-placement="left"
                     target="navTab" title="批量新增版位" rel="ceshipilianxin"  href="{$host_name}/hotel/batchposition?hotel_id={$vlist.id}&name={$vlist.name}" class="btn btn-success btn-icon">
                    <i class="fa fa-mercury"></i>
                  </a>
                  <!--<a data-tip="批量生成邀请码" data-placement="left"-->
                     <!--target="navTab" title="批量生成邀请码" rel="invitecode/index"  href="{$host_name}/invitecode/index?hotel_id={$vlist.id}" class="btn btn-success btn-icon">-->
                    <!--<i class="fa fa-mobile"></i>-->
                  <!--</a>-->
                  <!--<a data-tip="推荐菜管理" data-placement="left"-->
                     <!--target="navTab" title="推荐菜管理" rel="recfood/index"  href="{$host_name}/recfood/index?hotel_id={$vlist.id}" class="btn btn-success btn-icon">-->
                    <!--<i class="fa fa-rebel"></i>-->
                  <!--</a>-->

				  <a data-tip="电视切换视频列表" data-placement="left" target="navTab" title="电视切换视频列表" rel="device/tvvideo"
                     href="{$host_name}/device/tvvideo?hotel_id={$vlist.id}" class="btn btn-success btn-icon">
                    <i class="fa fa-video-camera"></i>
                  </a>

                  <a data-tip="酒楼在售酒水" data-placement="left" target="navTab" title="酒楼在售酒水" rel="hoteldrinks/datalist"
                     href="{$host_name}/hoteldrinks/datalist?hotel_id={$vlist.id}" class="btn btn-success btn-icon">
                    <i class="fa fa-hotel"></i>
                  </a>

                  <a data-tip="生成二维码" title="酒楼ID-{$vlist.id}" target="dialog" data-placement="left" mask="true" rel="hotelqrcode/createqrcode" href="{$host_name}/hotelqrcode/createqrcode?hotel_id={$vlist.id}" class="btn btn-success btn-icon">
                    <i class="fa fa-qrcode"></i>
                  </a>

                </div>
              </td>

            </tr>
          </volist>
          </tbody>
        </table>
      </form>

    </div>
  </div>
  {$page}
</div>

<script type="text/javascript">

  $('.date-reset').click(function(){
    $(this).parent().prev().val('')
  });


  $(function(){
    $("#exch").change(function(){
      var valu = $(this).val();
      if (valu == null) {
        $('#inch').attr("disabled",false);
      } else {
        $('#inch').attr("disabled","disabled");
      }

    });

    $("#inch").change(function(){

      var valu = $(this).val();
      if (valu == null) {
        $('#exch').attr("disabled",false);
      } else {
        $('#exch').attr("disabled","disabled");
      }

    });

    $(".form-control.date").datetimepicker({
      minView: "month", //选择日期后，不会再跳转去选择时分秒
      language:  'zh-CN',
      format: 'yyyy-mm-dd',
      todayBtn:  1,
      autoclose: 1,
    });
  })
</script>
