<include file="Public/script"/>
<!--显示列表样式1 start-->
<div class="pageHeader">
  <form onsubmit="return navTabSearch(this);" id="pagerForm" action="{$host_name}/hotel/manager" method="post" >
    <input type="hidden" name="pageNum" value="{$pageNum}"/>
    <input type="hidden" name="numPerPage" value="{$numPerPage}"/>
    <input type="hidden" name="_order" value="{$_order}"/>
    <input type="hidden" name="_sort" value="{$_sort}"/>
    <div class="searchBar">
      <div class="clearfix">
        <div class="col-xs-12 col-sm-4 col-md-3">
          <div class="tools-group">
            <a class="btn btn-success btn-sm add" href="{$host_name}/hotel/add?acttype=0" title="新增用户" target="dialog" mask="true"><i class="fa fa-plus"></i> 新增</a>
          </div>
        </div>
        <div class="col-xs-12 col-sm-5 col-md-4 pull-right">
          <div class="input-group input-group-sm">
            <input type="text" class="form-control" name="name" value="{$name}" placeholder="酒店名称">
            <span class="input-group-btn">
              <button class="btn btn-primary" type="submit" id="choosedata"><i class="fa fa-search"></i></button>
            </span>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="pageContent" id="pagecontent">
  <div id="w_list_print">
    <div class="no-more-tables">
      <form method="post" action="#" id="del-form" class="pageForm required-validate" enctype="multipart/form-data" onsubmit="return iframeCallback(this, dialogAjaxDone)">
        <table class="table table-bordered table-striped" targetType="navTab" asc="asc" desc="desc">
          <thead>
            <tr id="post">
              <!-- <th class="table-checkbox">
                <input type="checkbox" data-check="all" data-parent=".table" />
              </th> -->
              <th>酒店ID</th>
              <th>酒店名称</th>
              <th>酒店地址</th>
              <th>酒店区域</th>
              <th>酒店联系人</th>
              <th>手机</th>
              <th>固定电话</th>
              <th>酒店维护人</th>
              <th>酒楼级别</th>
              <th>是否重点</th>
              <th>安装日期</th>
              <th>酒楼状态</th>
              <th>状态变更说明</th>
              <th>备注</th>
              <th>GPS</th>
              <th>创建日期</th>
              <th>最后更新日期</th>
              <th>删除状态</th>
              <th class="table-tool">操作</th>
            </tr>
          </thead>
          <tbody data-check="list" data-parent=".table">
            <volist name="list" id="vlist">
            <tr target="sid_user">
              <!-- <td class="table-checkbox">
                <input type="checkbox" class="checkboxes" value="30" name="postlist[]">
              </td> -->
              <td data-title="酒店ID">{$vlist.id}</td>
              <td data-title="酒店名称">{$vlist.name}</td>
              <td data-title="酒店地址">{$vlist.addr}</td>
              <td data-title="酒店区域">{$vlist.area_name}</td>
              <td data-title="酒店联系人">{$vlist.contractor}</td>
              <td data-title="手机">{$vlist.mobile}</td>
              <td data-title="固定电话">{$vlist.tel}</td>
              <td data-title="酒店联系人">{$vlist.maintainer}</td>
              <td data-title="酒楼级别">{$vlist.level}</td>
              <td data-title="是否重点">
                <if condition="$vlist.iskey eq 1"> 是  <else/> 否 </if> 
              </td>
              <td data-title="安装日期">{$vlist.install_date}</td>
              <td data-title="酒楼状态">
                 <if condition="$vlist.state eq 1"> 正常
                 <elseif condition="$vlist.state eq 2"/> 冻结 
                 <else />报损
                 </if> 
              </td>
              <td data-title="状态变更说明">{$vlist.state_change_reason}</td>
              <td data-title="备注">{$vlist.remark}</td>
              <td data-title="备注">{$vlist.gps}</td>
              <td data-title="创建日期">{$vlist.create_time}</td>
              <td data-title="最后更新日期">{$vlist.update_time}</td>
              <td data-title="删除状态">
                  <if condition="$vlist['flag'] eq 0">
                      正常
                  <else/>
                      删除
                  </if>
              </td>

              <td class="table-tool" data-title="操作">
                <div class="tools-edit">
                  <a data-tip="修改" target="dialog" mask="true" href="{$host_name}/hotel/add?id={$vlist.id}&acttype=1" class="btn btn-success btn-icon">
                    <i class="fa fa-pencil"></i>
                  </a>

                  <a data-tip="新增包间" target="dialog" mask="true" href="{$host_name}/hotel/addRoom?hotel_id={$vlist.id}&acttype=1" class="btn btn-success btn-icon">
                    <i class="fa fa-pencil"></i>
                  </a>

                </div>
              </td>

            </tr>
            </volist>
          </tbody>
        </table>
      </form>

    </div>
  </div>
  {$page}
</div>
