<include file="Public/script"/>
<div class="pageHeader">
  <form onsubmit="return navTabSearch(this);" id="pagerForm" action="{$host_url}/smallapp/positionexclude/positionlist" method="post">
    <input type="hidden" name="pageNum" value="{$pageNum}"/>
    <input type="hidden" name="numPerPage" value="{$numPerPage}"/>
    <input type="hidden" name="_order" value="{$_order}"/>
    <input type="hidden" name="_sort" value="{$_sort}"/>
    <div class="searchBar">
      <div class="clearfix">
        <div class="col-xs-12 col-sm-6 col-md-6">
          <div class="tools-group s2">
            <a class="btn btn-success btn-sm add" href="{$host_url}/smallapp/positionexclude/positionadd" title="新增" target="dialog" mask="true"><i class="fa fa-plus"></i><span>新增</span></a>

          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 pull-right">
          <div class="input-group input-group-sm">
            <input type="text" class="form-control" name="mac_addr" value="{$mac_addr}" placeholder="请输入MAC">
            <span class="input-group-btn">
              <select name="area_id" class="form-control bs-select class-filter" data-style="btn-success btn-sm" data-container="body">
                 <option value=0 >全部地区</option>
                 <volist name="areas" id="ainfo">
                   <option <if condition="$ainfo.id eq $area_id">selected="selected"</if>value="{$ainfo.id}" >{$ainfo.region_name}</option>
                 </volist>
               </select>
            </span>

            <span class="input-group-btn">
               <select name="maintainer_id" class="form-control bs-select class-filter" data-style="btn-success btn-sm" data-container="body">
                 <option value=0 >全部维护人</option>
                 <volist name="maintainers" id="minfo">
                    <option <if condition="$minfo.main_id eq $maintainer_id">selected="selected"</if>value="{$minfo.main_id}" >{$minfo.remark}</option>
                </volist>
               </select>
            </span>
            <span class="input-group-btn">
              <button class="btn btn-primary" type="submit" id="choosedata"><i class="fa fa-search"></i></button>
            </span>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="pageContent" id="pagecontent">
  <div id="w_list_print">
    <div class="no-more-tables">
      <form method="post" action="#" id="del-form" class="pageForm required-validate" enctype="multipart/form-data" onsubmit="return iframeCallback(this, dialogAjaxDone)">
        <table class="table table-bordered table-striped" targetType="navTab" asc="asc" desc="desc">
          <thead>

          <tr id="post">
            <th>操作时间</th>
            <th>酒楼名称</th>
            <th>包间名称</th>
            <th>MAC地址</th>
            <th>排除原因</th>
            <th>操作</th>
          </tr>
          </thead>
          <tbody data-check="list" data-parent=".table">
          <volist name="data" id="dinfo">
            <tr target="sid_user">
              <td data-title="操作时间">{$dinfo.create_time}</td>
              <td data-title="酒楼名称">{$dinfo.hotel_name}</td>
              <td data-title="包间名称">{$dinfo.room_name}</td>
              <td data-title="MAC地址">{$dinfo.box_mac}</td>
              <td data-title="排除原因">{$dinfo.exclude_reason}</td>
              <td class="table-tool" data-title="操作">
                <div class="tools-edit">
                  <a data-tip="修改" target="dialog" mask="true" href="{$host_url}/smallapp/positionexclude/editexclude?id={$dinfo.id}" class="btn btn-success btn-icon">
                    <i class="fa fa-pencil"></i>
                  </a>
                  <a warn="警告" data-tip="删除" title="你确定要删除吗？" target="ajaxTodo" calback="navTabAjaxDone" href="{$host_url}/smallapp/positionexclude/positiondel?id={$dinfo.id}"  class="btn btn-danger btn-icon">
                    <i class="fa fa-trash"></i>
                  </a>
                  <a warn="警告" data-tip="删除" title="你确定要删除吗？" target="ajaxTodo" href="{$host_name}/user/userDels?id={$vlist.id}" calback="navTabAjaxDone" class="btn btn-danger btn-icon"><span><i class="fa fa-trash"></i></span></a>

                </div>
              </td>
            </tr>
          </volist>
          </tbody>
        </table>
      </form>

    </div>
  </div>
  {$page}
</div>