<style type="text/css">
	#tops {
		height: 40px;
		background-color: #c7c7c7;
	}
	
	.biaoti {
		float: left;
		margin-top: 13px;
		margin-left: 36px;
	}
	
	.jiuloushu {
		float: right;
		margin-top: 13px;
		margin-right: 36px;
	}
	
	.tianjiabw {
		width: 150px;
		height: 90px;
		border: 1px dashed black;
		margin-left: 31px;
		text-align: center;
		line-height: 90px;
		cursor: pointer;
	}
	
	.cityId {
		margin-left: 10px;
		width: 174px;
		height: 33px;
	}
	
	#serch-name {
		width: 174px;
		height: 33px;
	}
	
	.select-position {
		width: 100%;
		float: left;
	}
	
	.select-position-top {
		width: 100%;
		height: 30px;
		background-color: #bdbdbd;
		line-height: 30px;
		padding-left: 10px;
	}
	
	.position-list {
		height: 377px;
		overflow: auto;
	}
	
	.position-one {
		margin: 10px;
		cursor: pointer;
	}
	
	.xuanz-right {
		width: 24%;
		height: 504px;
		float: right;
		background-color: #78909c;
		position: relative;
	}
	
	.xuanz-right-top {
		height: 30px;
		width: 100%;
		color: white;
		line-height: 30px;
		padding-left: 6px;
	}
	
	.acitve-position-lists {
		width: 90%;
		margin-left: 15px;
		padding-top: 10px;
	}
	
	.acitve-position-jname {
		display: inline-block;
		min-width: 85px;
		max-width: 185px;
		margin-bottom: 10px;
	}
	
	.acitve-position-del {
		color: white;
		font-size: 20px;
		cursor: pointer;
		margin-left: 10px;
	}
	
	.xuanz-right-bottom {
		width: 100%;
		position: absolute;
		bottom: 0px;
	}
	
	.ban_list {
		margin-top: 20px;
		margin-left: 13px;
	}
	
	.jiu_names {
		margin-bottom: 10px;
	}
	
	.jiu_names span {
		font-weight: 700;
		font-size: 20px;
	}
	
	.ban_a {
		display: inline-block;
		width: 123px;
		height: 26px;
	}
	#bc_p p{
		text-align: center;
		margin-bottom: 15px;
		font-size: 15px;
	}
	#bc_p p span{
		color: red;
		font-size: 15px;
	}
</style>
<form method="post" style="height: 100%;overflow:auto;" id="adddevileryts" action="{$host_name}/Advdelivery/doAddAdvBox" class="pageForm required-validate" enctype="multipart/form-data" onsubmit="return iframeCallback(this, dialogAjaxDone)">

	<input type="hidden" name="id" value="{$vinfo.id}">

	<input type="hidden" id="pagetotal" value="{$pagecount}">
	<input type="hidden" id="honame" value="{$host_name}">
	<input type="hidden" id="bczhi" />
	<input type="hidden" name="hbarr" id="hbars" />
	<div class="form-group row">
		<input type="hidden" name="marketid" id="marketid" value="" />
		<div class="form-group row" id="sp" style="margin-top: 40px;margin-left: 17px;display: ;">
			<label class="col-xs-12 col-sm-2 control-label" style="width: 71px;margin-top: 10px;">
				广告视频：
			</label>
			<a class="btn btn-success btn-file" style="margin-left: 14px;" data-target="#modal-file" href="{$host_name}/resource/uploadAdvdeliveryResource?filed=media_id&rtype=1" data-browse-file>
				选择视频
			</a>
		</div>
		<div class="form-group row" id="newsp" style="margin-top: 40px;margin-left: 17px;display: none;">
			<div class="form-group row">
				<label class="col-xs-12 col-sm-2 control-label" style="width: 71px;">
					广告名称：
				</label>
				<label class="col-xs-12 col-sm-2 control-label" id="sp_name" style="width: auto;">钛晶手机，你值得拥有</label>
				<a class="" style="margin-left: 14px;color: blue;" data-target="#modal-file" href="{$host_name}/resource/uploadAdvdeliveryResource?filed=media_id&rtype=1" data-browse-file>
					重新选择
				</a>
			</div>
			<div class="form-group row">
				<label class="col-xs-12 col-sm-2 control-label" style="width: 71px;">
					广告时长：
				</label>
				<label class="col-xs-12 col-sm-2 control-label" id="sp_time" style="width: auto;">60秒</label>
			</div>
			<div class="form-group row">
				<label class="col-xs-12 col-sm-2 control-label" style="width: 71px;">
					URL：
				</label>
				<label class="col-xs-12 col-sm-2 control-label" id="sp_url" style="width: auto;">https://pro.modao.cc/app/cdY3v0DbsenVjHAR04WvTjycLUTjsWu?#screen=s3EA34B3A4B1506394954112</label>
			</div>
		</div>
		<div class="form-group row" style="margin-top: 20px;margin-left: 17px;background-color:#c7c7c7;padding-top: 13px;">
			<label class="col-xs-12 control-label">投放方式</label>
			<div class="form-group row" style="margin-top: 33px;">
				<label class="col-xs-12 col-sm-2 control-label" style="width: 71px;margin-top: 8px;">
					播放时段：
				</label>
				<div class="input-group input-group-sm date form_datetime" id="datetimepicker" data-ymd="true"  data-date="{$timeinfo.now_time}" style="width:250px; float: left;">
					<input style="margin-left: 6px;" name="start_time" type="text" size="16" class="form-control date dval" placeholder="开始日期" value="" readonly>
					<span class="input-group-btn">
                    <button class="btn default date-reset" type="button"><i class="fa fa-times"></i></button>
                    <button class="btn btn-success date-set" type="button"><i class="fa fa-calendar"></i></button>
                  </span>
				</div>

				<div class="input-group input-group-sm date form_datetime" id="datetimepicker2" data-ymd="true" data-date="{$timeinfo.now_time}" style="width:250px;float: left;">

					<input name="end_time" type="text" size="16" id="asd" class="form-control date dval" placeholder="结束日期" value="" readonly>
					<span class="input-group-btn" style="padding:0px;margin:0px;">
                    <button class="btn default date-reset  btn-sm" type="button"><i class="fa fa-times"></i></button>
                    <button class="btn btn-success date-set  btn-sm" type="button"><i class="fa fa-calendar"></i></button>
                  </span>
				</div>
				<label style="float: left;margin-top: 8px;">播放次数</label>
				<select name="play_times" id="cishu" style="float: left;width: 170px;height: 30px;margin-left: 11px;">
					<option value="">请选择</option>
					<option value="1">1次</option>
					<option value="2">2次</option>
					<option value="3">3次</option>
					<option value="4">4次</option>
					<option value="5">5次</option>
					<option value="6">6次</option>
					<option value="7">7次</option>
					<option value="8">8次</option>
					<option value="9">9次</option>
					<option value="10">10次</option>
				</select>
			</div>
		</div>

		<div class="form-group row" style="margin-top: 20px;border: 1px solid #999;height: 280px;padding-bottom: 15px;overflow: auto;">
			<div class="form-group row" id="tops">
				<span class="biaoti">选择版位</span>
				<span class="jiuloushu">
				已选<span>0</span>家酒楼的<span>0</span>个版位
				</span>
			</div>

			<div class="tianjiabw">
				添加版位
			</div>
			<div class="ban_list">

			</div>
		</div>
		<div class="form-group row" style="">
			<button type="button" class="btn btn-primary" style="margin-left: 43%;margin-right: " id="qb_save">保存</button>

			<button type="button" class="btn btn-default close-m">取消</button>
		</div>
</form>
<!--选择版位-->
<div class="modal fade bs-example-modal-lg" id="modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">选择酒楼</h4>
			</div>
			<div class="modal-body" style="height: 520px;">
				<div style="margin-bottom: 30px;width: 75%;height: 43px;float: left;">
					<div class="form-group row" style="margin-left: 15px;width: 240px;float: left;">
			       	<label>城市</label>
			       	<select name="" class="cityId">
			       		<option value=0>所有城市</option>
						<volist name="areainfo" id="vo">
							<option value="{$vo.id}" <if condition="$vo.id eq $area_k">selected</if>>{$vo.region_name}</option><br>
						</volist>
			       	</select>
			       </div>
					
					<!--<select name="area_v" style="width: 20px" class="form-control bs-select class-filter" data-style="btn-success btn-sm" data-container="body" size="15">
						<option value=0>所有城市</option>
						<volist name="areainfo" id="vo">
							<option value="{$vo.id}" <if condition="$vo.id eq $area_k">selected</if>>{$vo.region_name}</option><br>
						</volist>
					</select>-->

					<div class="form-group row" style="float: left;margin-left: 40px;">
						<input type="text" id="serch-name" />
						<span class="input-group-btn" style="display:inline-block;">
					     	<button class="btn btn-primary" style="height: 33px;margin-top: -3px;margin-left: 15px;line-height: 2px; background-color:#2988e6 ;" type="button" id="sdd"><i class="fa fa-search"></i></button>
					    </span>
					</div>
					<div class="select-position">
						<div class="select-position-top">
							筛选版位
						</div>
						<div class="position-list">

						</div>
						<button class="btn btn-primary" id="xuanzhe_btn" type="button">选择</button>
					</div>
				</div>
				<!--右-->
				<div class="xuanz-right">
					<div class="xuanz-right-top">
						已选版位
					</div>
					
					<div class="acitve-position-lists">

					</div>

					<div class="xuanz-right-bottom">
						<div class="" style="height: 26px;line-height: 26px;text-align: center;color: white;">

							已选<span class="jiuloushuliang">0</span>家酒楼的<span class="banweishu">0</span>个版位
						</div>
						<button class="btn btn-primary" id="bw_bc" type="button" style="margin-left: 40%;margin-top: 10px;">保存</button>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>
<!--保存弹框-->
<div class="modal fade" tabindex="-1" role="dialog" id="bctk">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">请确认广告发布信息</h4>
			</div>
			<div class="modal-body" id="bc_p" style="height: 290px;">
				<p style="margin-top: 12%;">您的视频"<span class="vid_names">jasld</span>"</p>
				<p>是否要在【<span class="str_time">asdasd</span>-<span class="end_time">asdasda</span>】时间段内,</p>
				<p>发布到选择的<span class="ljiu_num">5</span>家酒楼的<span class="h_num">30</span>个机顶盒上</p>
				<p>每个节目循环内,播放<span class="bf_cishu">5</span>次</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
				<button type="button" id="q_fb" class="btn btn-primary">确认发布</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<script type="text/javascript">
	$("#q_fb").click(function() {
		$("#bctk").modal("hide");
		$("#adddevileryts").submit();

	})

	function dialogAjaxDone(json) {
		console.log(json);
		DWZ.ajaxDone(json);
		if(json.navTabId == 'advdelivery/getadvdeliverylist') {
			navTab.closeTab('Advdelivery/adddevilery');
			navTab.reload('Advdelivery/getlist');
			$( "div" ).removeClass( "modal-backdrop fade in" );
		}
	}
	
</script>

<script type="text/javascript">
	$('.ban_list').html('');//初始化
var honame = $('#honame').val();
$('.tianjiabw').click(function(){
	//alert($('.dval').val())
	$('.position-list').html('');
	var tsnull = 1;
	$('.dval').each(function(){
		if($(this).val()==''||$('#cishu').val()==''){
			//alert(1)
			tsnull = 2;
		}else if($('#marketid').val()==''){
			tsnull = 3;
		}
	})
	if(tsnull==2){
		alert('日期和播放次数不可以为空！')
	}else if(tsnull==3){
		alert('请添加视频')
	}else if(tsnull==1){
	boiteName()
	$('#modal').modal('show')
	}
})

$('.select-position').on('click','.position-ones-name',function(){
	var _this = $(this).parent();
	var __this = $(this);
	var isnull = $(this).parent().next().html()
	var ho_id = $(this).parent().find('input').prop('id');
	var kai_time = $('.dval').eq(0).val();
	var jie_time = $('.dval').eq(1).val();
	var pl_time = $('#cishu').val();
	if(isnull==''){
		$.ajax({
		type:"post",
		url:honame+"/advdelivery/getValidBoxidByHotel",
		dataType:"json",
		data:"hotel_id="+ho_id+"&start_time="+kai_time+"&end_time="+jie_time+"&play_times="+pl_time,
		async:true,
		success:function(calls){
			console.log(calls)
			if(calls.code==1){
				var call = calls.data;
				if(call==''){
					alert('当前酒楼无版位！')
				}
				for(var i=0;i<call.length;i++){
					if(call[i].btype==1){
						var bw_html = '<div style="width:242px;height:30px;display: inline-block;"><input type="checkbox" style="margin-left: 25px;" class="position-twos" id="'+call[i].bid+'"/><label style="margin-left: 10px;" for="'+call[i].bid+'">'+call[i].bname+'</label></div>';
						_this.next().append(bw_html);
					}else if(call[i].btype==0){
						var no_html = '<div style="width:242px;height:30px;display: inline-block;"><label style="margin-left: 28px;color:red;" for="'+call[i].bid+'">'+call[i].bname+'</label></div>';
						_this.next().append(no_html);
					}
				}
				var vbczhi = eval($('#bczhi').val())
	if($('#bczhi').val()!=''){
		for(var z=0;z<vbczhi.length;z++){
			if(vbczhi[z].namejiu==__this.html()){
				var v = vbczhi[z].banid
				var for_position_two = _this.next().find('input')
					for_position_two.each(function(){
						var _this_ = $(this)
						$.each(v,function(index,value){
							if(_this_.prop('id')==value){
								_this_.prop('checked',true)
							}
						})
					})
					
				}
			}
		}
			}else{
					alert(calls.msg)
				}
		}
	});
	
	}else{
		$(this).parent().next().toggle()
	}
	

	
	
	//setTimeout("settimefun()",500)
})

/*全选*/
$('.select-position').on('click','.position-ones',function(){
	var isnull = $(this).parent().next().html()
	if(isnull==''){
		$(this).prop('checked',false);
		alert('当前酒楼的版位加载出来，才可以全选！')
	}else{
		var check_position = $(this).prop('checked');
		if(check_position==true){
			$(this).parents().next().find('input').prop('checked',true);
		}else if(check_position==false){
			$(this).parents().next().find('input').prop('checked',false);
		}
	}
})
/*返回已经被选中的酒楼名称和版位数量*/
	
$('#xuanzhe_btn').click(function(){ 
		//var a = $('.position-ones,.position-twos').attr('checked');
		var arr = [];
		var arr2 = []
		$('.position-two').each(function(){
			var is_ch = $(this).find('input').is(':checked');
			if(is_ch==true){
				var obj = {};
				var obj2 = {};
				var arr3 = [];
				var arrid = [];
				var a = $(this).prev().children('label').html();//所选中的酒楼名称
				var a_id = $(this).prev().children('label').prop('id')//所选中的酒楼id
				var b = $(this).find('input:checked').length;
				//var c = $(this).find('label').html();
				var this_each = $(this).find('input');
				this_each.each(function(){
					var xuanzhong = $(this).prop('checked');//所选中的版位名称
					if(xuanzhong==true){
						var c = $(this).next().html();
						var c_id = $(this).next().prop('for');
						arr3.push(c);
						arrid.push(c_id);
					}
				})
				//console.log(arr3)
				var arrs3 = arr3.join(',')
				obj2.namejiu = a;
				obj2.jiuid = a_id;
				obj2.banid = arrid;
				obj2.jiunum = arr3;
				obj.namejiu = a;
				obj.jiunum = b
				//alert(a+'+'+b)
				arr.push(obj)
				arr2.push(obj2)
			}
		})
		console.log(arr)
		console.log(arr2)
		var is = JSON.stringify(arr2)
		$('#bczhi').val(is);
		$('.acitve-position-lists').html('');
		var stra = 0;
		for(var i=0;i<arr.length;i++){
			var list_html = '<div class="position-list-group"><span class="acitve-position-jname">'+arr[i].namejiu+'</span><span class="acitve-position-num" >'+arr[i].jiunum+'个</span><span class="acitve-position-del" jiuname = "'+arr[i].namejiu+'">X</span></div>'
			$('.acitve-position-lists').append(list_html);
			stra+=arr[i].jiunum;
		}
		$('.jiuloushuliang').html(arr.length);
		$('.banweishu').html(stra);
	})

/*删除*/
$('.acitve-position-lists').on('click','.acitve-position-del',function(){
		var a = $(this).attr('jiuname');
		$(".position-ones-name:contains('"+a+"')").parent().find('input').prop('checked',false);
		$(".position-ones-name:contains('"+a+"')").parent().next().find('input').prop('checked',false);
		var is = $('#bczhi').val();
		var ias = eval(is)
		var del_index = $(this).parent().index();
		ias.splice(del_index,1);
		console.log(ias);
		$(this).parent().remove();
		var saco = JSON.stringify(ias)
		$('#bczhi').val(saco);
		$('.jiuloushuliang').html($('.position-list-group').length);
		var xsa = $(this).parent().find('.acitve-position-num').html();
		var asdddd = parseInt(xsa)
		$('.banweishu').html($('.banweishu').html()-asdddd);
	})

/*版位保存*/
$('#bw_bc').click(function(){
	$('.ban_list').html('')
	var acitve_position_lists = $('.acitve-position-lists').html();
	if(acitve_position_lists==''){
		alert('请选择版位')
	}else{
		var bczhi_val = $('#bczhi').val();
		var bczhi_vals = eval(bczhi_val);
		console.log(bczhi_vals)
		for(var i = 0;i<bczhi_vals.length;i++){
			var bczhi_bid = bczhi_vals[i].banid;
			var b_ht = '<div class="jiu_names"><span id="'+bczhi_vals[i].jiuid+'">'+bczhi_vals[i].namejiu+'</span></div><div class="ban_names"></div>';
			$('.ban_list').append(b_ht);
			for(var j=0;j<bczhi_bid.length;j++){
			var aaa = '<div class="ban_a" id="'+bczhi_vals[i].banid[j]+'">'+bczhi_vals[i].jiunum[j]+'</div>'
				$('.ban_names').eq(i).append(aaa)
			}
			$('#modal').modal('hide')
			$('.jiuloushu span').eq(0).html($('.jiuloushuliang').html())
			$('.jiuloushu span').eq(1).html($('.banweishu').html())
			/*var bczhi_bid = bczhi_vals[i].banid;
			for(var j=0;j<bczhi_bid.length;j++){
				var b_id = '<div class="ban_a" id="'+bczhi_bid[j]+'">'+bczhi_vals[i].jiunum[j]+'</div>';
				$('.ban_names').append(b_id);
			
			}*/
		}
	}
})
/*整体保存*/
$('#qb_save').click(function(){
	var arr = [];
	$('.jiu_names').each(function(){
		var arr2 = [];
		var obj = {}
		var lname = $(this).find('span').prop('id');
		var _this_bana = $(this).next().find('div');
		_this_bana.each(function(){
			var w_id = $(this).prop('id');
			arr2.push(w_id);
		})
		var arrs2 = arr2.join(',');
		obj.hotel_id = lname;
		obj.box_str = arr2;
		arr.push(obj)
	})
	var arrstr = JSON.stringify(arr);
	$('#hbars').val(arrstr)
	$('.vid_names').html($('#sp_name').html())
	$('.str_time').html($('.dval').eq(0).val())
	$('.end_time').html($('.dval').eq(1).val())
	$('.ljiu_num').html($('.jiuloushu span').eq(0).html())
	$('.h_num').html($('.jiuloushu span').eq(1).html())
	$('.bf_cishu').html($('#cishu').val())
	var sp_isid = $('#newsp').css('display');
	if($('.ban_list').html()!=''&& sp_isid!='none'){
		$('#bctk').modal('show');
	}else{
		alert('请补全信息!')
	}
	//console.log(arr)
})
$('#q_fb').click(function(){
	$('#bctk').modal('hide')
})
/*点击保存视频*/

$('body').on('click','#saveImg',function(){

	/*var media_url = $('#media_url').val();  //视频地址
	var resource_name = $('#resource_name').val();  //视频名称
	var seco = $('#seco').val();  //视频时长
	$('#sp_name').html(resource_name);
	$('#sp_url').html(media_url);
	if(seco<60){
		
		$('#sp_time').html(seco+'秒')
	}else if(seco>=60){
		var fen = parseInt(seco/60);
		var miaos = seco-60*fen;
		if(miaos==0){
			$('#sp_time').html(fen+'分钟00秒');
		}else{
			$('#sp_time').html(fen+'分钟'+miaos+'秒');
		}
	}
	$('#newsp').show()
	$('#sp').hide();*/
})
$('#sdd').click(function(){
	var city_id = $('.cityId').val();
	var serch_name = $('#serch-name').val();
	$('.position-list').html('');
		$.ajax({
		type:"post",
		url:honame+"/advdelivery/getOcupHotel",
		dataType:"json",
		data:"area_id="+city_id+"&hotel_name="+serch_name,
		async:true,
		success:function(calls){
			console.log(calls)
			if(calls.code==1){
				var call = calls.data;
				for(var i=0;i<call.length;i++){
				var jiu_name = '<div class="position-one"><input type="checkbox" class="position-ones" id="'+call[i].hid+'"/><label class="position-ones-name" id="'+call[i].hid+'">'+call[i].hname+'</label></div><div class="position-two"></div>';
				$('.position-list').append(jiu_name);
				}
				
			}else{
				alert(calls.msg)
			}
		}
	});
})
/*$('body').on('click','.datetimepicker<span',function(){
	alert(1)
})*/
$('#datetimepicker,#datetimepicker2').datetimepicker().on('changeDate', function(ev){
	$('.ban_list').html('');
	$('.jiuloushu span').eq(0).html('0');
	$('.jiuloushu span').eq(1).html('0');
	$('.position-list-group').html('');
});
$('#cishu').change(function(){
	$('.ban_list').html('');
	$('.jiuloushu span').eq(0).html('0');
	$('.jiuloushu span').eq(1).html('0');
	$('.position-list-group').html('');
})
function boiteName(){  //酒楼名称
	$.ajax({
		type:"post",
		url:honame+"/advdelivery/getOcupHotel",
		dataType:"json",
		async:true,
		success:function(calls){
			console.log(calls)
			if(calls.code==1){
				var call = calls.data;
				for(var i=0;i<call.length;i++){
				var jiu_name = '<div class="position-one"><input type="checkbox" class="position-ones" id="'+call[i].hid+'"/><label class="position-ones-name" id="'+call[i].hid+'">'+call[i].hname+'</label></div><div class="position-two"></div>';
				$('.position-list').append(jiu_name);
				}
				
			}else{
				alert(calls.msg)
			}
		}
	});
}


</script>