<include file="Public/script"/>
<!--显示列表样式1 start-->
<div class="pageHeader" style="overflow: hidden;height:140px;">
  <form onsubmit="return navTabSearch(this);" id="pagerForm" action="{$host_name}/menu/selecthotel" method="post" >
    <input type="hidden" value="{$hot}" name="hot" />
    <input type="hidden" value="{$ext}" name="infp" />
    <input type="hidden" name="pageNum" value="{$pageNum}"/>
    <input type="hidden" name="numPerPage" value="{$numPerPage}"/>
    <input type="hidden" name="_order" value="{$_order}"/>
    <input type="hidden" name="_sort" value="{$_sort}"/>

    <input name="menuid" type="hidden" value="{$menuid}">
    <input name="menuname" type="hidden" value="{$menuname}">

    <div class="searchBar">
      <div class="clearfix">
        <div class="form-group row" style="z-index: 99999">

          <div class="form-group row">
          	<if condition="$is_city_search eq 1">  
            <div class="col-xs-3 col-sm-3" >
              <div class="input-group-sm">
                <label class="col-xs-1 col-sm-1 control-label">
                  城市：
                </label>

                <span class="input-group-btn">
              <select name="area_v" style="width: 20px" class="form-control bs-select class-filter" data-style="btn-success btn-sm" data-container="body" size="15">
                <option value=9999 >全国</option>
                <volist name="area" id="vo">
                  <option value="{$vo.id}" <if condition="$vo.id eq $area_k">selected</if>>{$vo.region_name}</option><br>
                </volist>
              </select>
            </span>
              </div>
            </div>
			</if>
            <div class="form-group row">




              <div class="col-xs-3 col-sm-3">
                <div class="input-group-sm">
                  <label class="col-xs-1 col-sm-1 control-label">
                    级别：
                  </label>

                <span class="input-group-btn">
              <select name="level_v" style="width: 20px" class="form-control bs-select class-filter" data-style="btn-success btn-sm" data-container="body">
                <option value=0 >全部</option>
                <volist name=":C('HOTEL_LEVEL')" id="vo">
                  <option value="{$key}" <if condition="$key eq $level_k">selected</if>>{$vo}</option><br>
                </volist>
              </select>
            </span>


                </div>
              </div>

              <div class="col-xs-3 col-sm-3">
                <div class="input-group-sm">
                  <label class="col-xs-1 col-sm-1 control-label">
                    状态：
                  </label>

                <span class="input-group-btn">
              <select name="state_v" style="width: 20px" class="form-control bs-select class-filter" data-style="btn-success btn-sm" data-container="body">
                <option value=0 >全部</option>
                <volist name=":C('HOTEL_STATE')" id="vo">
                  <option value="{$key}" <if condition="$key eq $state_k">selected</if>>{$vo}</option><br>
                </volist>
              </select>
            </span>


                </div>
              </div>

             


            </div>

            <div class="form-group row">
              <div class="col-xs-3 col-sm-3">
                <div class="input-group-sm">
                  <label class="col-xs-1 col-sm-1 control-label">
                    重点：
                  </label>

                <span class="input-group-btn">
              <select name="key_v" style="width: 20px" class="form-control bs-select class-filter" data-style="btn-success btn-sm" data-container="body">
                <option value=0 >全部</option>
                <volist name=":C('HOTEL_KEY')" id="vo">
                  <option value="{$key}" <if condition="$key eq $key_k">selected</if>>{$vo}</option><br>
                </volist>
              </select>
            </span>


                </div>
              </div>

              <div class="col-xs-3 col-sm-3">
                <div class="input-group input-group-sm date form_date" data-ymd="true" data-date="{$vinfo.log_time}">
                  <input name="starttime" type="text" size="16" class="form-control date" placeholder="开始日期" value="{$sttime}" readonly>
                  <span class="input-group-btn">
                    <button class="btn default date-reset" type="button"><i class="fa fa-times"></i></button>
                    <button class="btn btn-success date-set" type="button"><i class="fa fa-calendar"></i></button>
                  </span>
                </div>




              </div>

              <div class="col-xs-3 col-sm-3 ">
                <div class="input-group date form_date" data-date="{$vinfo.log_time}" data-ymd="true">
                  <input name="endtime" type="text" size="16" class="form-control date" placeholder="结束日期" value="{$sendime}" readonly>
                  <span class="input-group-btn">
                    <button class="btn default date-reset" type="button"><i class="fa fa-times"></i></button>
                    <button class="btn btn-success date-set" type="button"><i class="fa fa-calendar"></i></button>
                  </span>
                </div>
              </div>

            


            </div>

            <div class="form-group row">
				 <div class="col-xs-3 col-sm-3">
                <div class="input-group-sm">
                  <label class="col-xs-1 col-sm-1 control-label">
                    包含酒楼：
                  </label>

                <span class="input-group-btn" style="display: inline-block;width: 188px;">
              <select id="inch" name="include_v[]" style="width: 188px" class="form-control bs-select class-filter" data-style="btn-success btn-sm" data-container="body" multiple="multiple" >
                <volist name="include" id="vo">
                  <option value="{$vo.id}"
                  <volist name="include_k" id="kvo" key="p">

                    <if condition="$kvo.p eq $vo.id">selected</if>
                  </volist>
                  >{$vo.menu_name}
                  </option><br>

                </volist>
              </select>
            </span>


                </div>
              </div>
                <div class="col-xs-3 col-sm-3">
                <div class="input-group-sm">
                  <label class="col-xs-1 col-sm-1 control-label">
                    排除酒楼：
                  </label>

                <span class="input-group-btn" style="display: inline-block;width: 188px;">
              <select id="exch" name="exc_v[]" style="width: 20px" class="form-control bs-select class-filter" data-style="btn-success btn-sm" data-container="body" multiple="multiple" >
                <volist name="include" id="vo">
                  <option value="{$vo.id}" <if condition="$vo.id eq $exc_k">selected</if>>{$vo.menu_name}</option><br>
                </volist>
              </select>
            </span>


                </div>
              </div>
               <div class="col-xs-3 col-sm-3 col-md-3">
                <div class="input-group-sm input-group">
                  <label style="width:140px;" class="col-xs-1 col-sm-1 control-label">
                    酒楼机顶盒类型：
                  </label>
               <span class="input-group-btn input-group-sm">
              <select name="hbt_v" style="width: 20px" class="form-control bs-select class-filter" data-style="btn-success btn-sm" data-container="body">
                <option value=0 >全部</option>
                <volist name=":C('hotel_box_type')" id="vo">
                  <option value="{$key}" <if condition="$key eq $hbt_k">selected</if>>{$vo}</option><br>
                </volist>
              </select>
            </span>
                </div>

              </div>
              
              <div class="col-xs-3 col-sm-3 col-md-3">
                <div class="input-group input-group-sm">
                  <input type="text" class="form-control" name="name" value="{$name}" placeholder="酒店名称">
            <span class="input-group-btn">
              <button class="btn btn-primary" type="submit" id="choosedata"><i class="fa fa-search"></i></button>
            </span>
                </div>
              </div>



             


            </div>






          </div>


        </div>
      </div>

</div>
  </form>
</div>
<div class="pageContent" id="pagecontent" style="top: 140px;">
  <div id="w_list_print">
    <div class="no-more-tables">
      <form method="post" action="{$host_name}/menu/hotelconfirm" id="del-form" class="pageForm required-validate" enctype="multipart/form-data" onsubmit="return navTabSearch(this);">
        <input type="hidden" value="{$meyi}" name="meyi" id="meyi" />
        <input type="hidden" value="{$hopu}" name="hopu" />
        <input name="menuid" type="hidden" value="{$menuid}">
        <input name="menuname" type="hidden" value="{$menuname}">
				<input type="hidden" name="checktrue" id="checktrue" value="" />
        <table class="table table-bordered table-striped" id="hote_tab" targetType="navTab" asc="asc" desc="desc">
          <thead>
          <tr id="post">
            <!-- <th class="table-checkbox">
              <input type="checkbox" data-check="all" data-parent=".table" />
            </th> -->
            <th width="22"><input type="checkbox" class="qx_hoddd" id="hote_qx" data-check="all" data-parent=".pageContent"> 全选</th>
            <th>酒店ID</th>
            <th>酒店名称</th>

            <th>酒楼级别</th>
            <th>是否重点</th>
            <th>安装日期</th>
            <th>酒楼状态</th>

          </tr>
          </thead>
          <tbody class="tabbody" data-check="list" data-parent=".table">
          <volist name="alist" id="vlist">
            <tr target="sid_user">
              <!-- <td class="table-checkbox">
                <input type="checkbox" class="checkboxes" value="30" name="postlist[]">
              </td> -->
              <td><input name="ids[]" value="{$vlist.id}|{$vlist.name}" type="checkbox">

              </td>

              <td data-title="酒店ID">{$vlist.id}</td>
              <td data-title="酒店名称">{$vlist.name}</td>
              <td data-title="酒楼级别">{$vlist.level}</td>
              <td data-title="是否重点">
                <if condition="$vlist.iskey eq 1"> 是  <else/> 否 </if>
              </td>
              <td data-title="安装日期">{$vlist.install_date}</td>
              <td data-title="酒楼状态">
                <if condition="$vlist.state eq 1"> 正常
                  <elseif condition="$vlist.state eq 2"/> 冻结
                  <else />报损
                </if>
              </td>
            </tr>
          </volist>
          </tbody>

        </table>
        <div class="row">

          <button class="btn btn-success" id="fanx" type="button" data-check="invert" data-parent=".pageContent">反选</button>
          <button class="btn btn-success btn-sm add" type="submit" >发布节目</button>
        </div>
      </form>

    </div>
  </div>
  {$page}
</div>
<script type="text/javascript">
	$('#hote_tab').on('change','#hote_qx',function(){
	if($(this).prop('checked')==true){
				var arr = [];
				$('.tabbody>tr').each(function(){
					var obj = {};
					$(this).find('input').prop('checked',true)
					var this_id = $(this).find('td').eq(1).html();
					obj.id=this_id;
					obj.type=1;
					arr.push(obj);
				})
				//$('#checktrue').val(arr)
				console.log(arr)
				ajaxsele(JSON.stringify(arr))
			}else{
				var arr = [];
				$('.tabbody>tr').each(function(){
					var obj = {};
					$(this).find('input').prop('checked',false)
					var this_id = $(this).find('td').eq(1).html();
					obj.id=this_id;
					obj.type=2;
					arr.push(obj);
				})
				//$('#checktrue').val(arr)
				console.log(arr)
				ajaxsele(JSON.stringify(arr))
			}
			
		})
	$('#fanx').click(function(){
		$('.qx_hoddd').prop('checked',false)
		var arr = [];
				$('.tabbody>tr').each(function(){
					if($(this).find('input').prop('checked')==true){
						var obj = {};
						var this_id = $(this).find('td').eq(1).html();
						obj.id=this_id;
						obj.type=2;
						arr.push(obj);
					}
				})
				//$('#checktrue').val(arr)
				console.log(arr)
				ajaxsele(JSON.stringify(arr))
	})
	$('table').on('change','tbody>tr>td>input',function(){
			var next_chek = $(this).parent().next().html();
			var arr = [];
			var obj = {};
			if($(this).prop('checked')==true){
				obj.id=next_chek;
				obj.type=1;
				arr.push(obj);
			}else{
				obj.id=next_chek;
				obj.type=2;
				arr.push(obj);
			}
			ajaxsele(JSON.stringify(arr))
		})
   function ajaxsele(datas){
   	$.ajax({
   		type:"post",
   		url:"/menu/getsessionHotel",
   		async:true,
   		data:"seshot="+datas,
   		dataType:"json",
   		success:function(call){
   			console.log(call)
   		}
   	});
   }
  /*function navTabAjaxDone(json){
   // alert(json);
    DWZ.ajaxDone(json);
    navTab.reloadFlag('menu/getlist');
    //注意返回的JSON的数据结构
    if (json.status == DWZ.statusCode.ok){
      if (json.navTabId){
        navTab.reload('menu/getlist');
      }


    }

  }*/


  $(function(){
    $("#exch").change(function(){
      var valu = $(this).val();
      if (valu == null) {
        $('#inch').attr("disabled",false);
      } else {
        $('#inch').attr("disabled","disabled");
      }

    });

    $("#inch").change(function(){

      var valu = $(this).val();
      if (valu == null) {
        $('#exch').attr("disabled",false);
      } else {
        $('#exch').attr("disabled","disabled");
      }

    });


    $(".form-control.date").datetimepicker({
      minView: "month", //选择日期后，不会再跳转去选择时分秒
      language:  'zh-CN',
      format: 'yyyy-mm-dd',
      todayBtn:  1,
      autoclose: 1,
    });
  })
</script>