<!DOCTYPE html>
<html>
<head><title>{$vinfo.title}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta content="yes" name="apple-mobile-web-app-capable">
  <meta content="black" name="apple-mobile-web-app-status-bar-style">
  <meta content="telephone=no" name="format-detection">
  <meta http-equiv="Expires" CONTENT="-1">
  <meta http-equiv="Cache-Control" CONTENT="no-cache">
  <meta http-equiv="Pragma" CONTENT="no-cache">
  <link href="/Public/admin/assets/css/stylecontent.css" rel="stylesheet">
  <link href="/Public/admin/assets/css/weixin.css" rel="stylesheet">
  <script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/2.1.1/jquery.js"></script>
</head>
<style type="text/css">
	.box_nr p strong{
		text-indent:0;
		color: #222222;
		font-size: 23px;
		line-height: 30px;
	}
	.box_nr p img{
		display: block;
		width: 100%;
		margin-bottom: 10px;
	}
	.box_nr img{
		width: 100%;
	}
	.box_nr p{
		font-size: 19px;
		color: #444444;
		line-height:28px;
	}
	.box_nr p iframe{
		width: 100%;
	}
</style>
<body>
<div id="topLabel" style="background-color: black; width: 100%; height: 53px; position: fixed; bottom: 0px; left: 0px; z-index: 100;">
  <img src="../../../../Public/admin/assets/img/xiazai@3x.png" name="myself" style="margin-top: 7px; margin-left: 10px; width: 188px; height: 40px;"/>
  <div id="downLoad" style="background-color: white; border-radius: 11px; position: absolute; top: 11px; right: 35px;height: 30px;">
    <p id="xiazai" style="color:#f46619; width: 80px; height: 40px; margin-top: 5px; text-align: center;font-size: 15px;"> 立即下载 </p>
  </div>
   <span id="disnone" style="position: absolute;right: 7px;top: 2px;color: white;font-size:17px;z-index: 100;"><img style="width: 15px;margin-top: 5px;" src="../../../../Public/admin/assets/img/guanbi.png"/></span>
</div>

  <div class="box_nr">
    {$vinfo.content}
  </div>

</body>
<script>
  	var buttono = document.getElementById('xiazai');
  	 var disnone = document.getElementById('disnone');
  	  var topLabel=document.getElementById("topLabel");
    buttono.onclick = function (){
      window.location.href = 'http://rerdian.com/d';
    }
    
    disnone.onclick=function(){
        topLabel.style.display='none';
        if($('#topLabel').hide()){
		  		$('.box_nr').css('padding-bottom','')
		  	}
    }
  	if($('#topLabel').show()){
  		$('.box_nr').css('padding-bottom','40px')
  	}else{
  		$('.box_nr').css('padding-bottom','')
  	}
  
    var urlResource = window.location.search.split('?');
    // alert(window.location.search);
    var result = urlResource[1].split('=');
   
    if (result[0] == 'location' &&result[1] == 'newRead') {
        //当前是 阅读状态 隐藏下载条topLabel
    
        topLabel.style.display="none";
        $('.box_nr').css('padding-top','')
    }else{
    	topLabel.style.display="block";
    }
   
</script>
</html>

