<include file="Public/script"/>
<!--显示列表样式1 start-->
<div class="pageHeader">
  <form onsubmit="return navTabSearch(this);" id="pagerForm" action="{$host_url}/smallapp/goodsstock/datalist" method="post">
      <input type="hidden" name="pageNum" value="{$pageNum}"/>
      <input type="hidden" name="numPerPage" value="{$numPerPage}"/>
    <div class="searchBar">
      <div class="clearfix">
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
          <div class="tools-group">
            <a class="btn btn-success btn-sm add" href="{$host_url}/smallapp/goodsstock/addgoods" title="新增商品" target="dialog" mask="true"><i class="fa fa-plus"></i> 新增商品</a>
          </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-10">

        <div class="form-inline">

          <div class="input-group input-group-sm">
            <span class="input-group-btn">
              <select name="status" class="form-control bs-select" data-style="btn-success btn-sm" data-container="body">
                <option value='0' >全部</option>
                <option value="1" <if condition="$status eq 1">selected</if> >正常</option>
                <option value="2" <if condition="$status eq 2">selected</if> >禁用</option>
              </select>
            </span>
            <span class="input-group-btn">
              <button class="btn btn-primary" type="submit" id="choosedata"><i class="fa fa-search"></i></button>
            </span>
          </div>

          </div>

        </div>

      </div>
    </div>
  </form>
</div>
<div class="pageContent" id="pagecontent">
    <div id="w_list_print">
        <div class="no-more-tables">
            <form method="post" action="#" id="del-form" class="pageForm required-validate" enctype="multipart/form-data" onsubmit="return iframeCallback(this, dialogAjaxDone)">
                <table class="table table-bordered table-striped" targetType="navTab" asc="asc" desc="desc">
                    <thead>
                    <tr id="post">
                        <th>ID</th>
                        <th>名称</th>
                        <th>价格</th>
                        <th>图片</th>
                        <th>状态</th>
                        <th>创建时间</th>
                        <th class="table-tool">操作</th>
                    </tr>
                    </thead>
                    <tbody data-check="list" data-parent=".table">
                    <volist name="datalist" id="dinfo">
                        <tr target="sid_user">
                            <td data-title="ID">{$dinfo.id}</td>
                            <td data-title="名称">{$dinfo.name}</td>
                            <td data-title="价格">{$dinfo.price}</td>
                            <td data-title="图片"><a href="{$dinfo.image_url}" target="_blank"><img src="{$dinfo.image_url}" ></a></td>
                            <td data-title="状态">{$dinfo.status_str}</td>
                            <td data-title="创建时间">{$dinfo.add_time}</td>
                            <td class="table-tool" data-title="操作">
                                <div class="tools-edit">
                                    <a title="修改" data-tip="修改" target="dialog" mask="true" href="{$host_url}/smallapp/goodsstock/addgoods?id={$dinfo.id}" class="btn btn-success btn-icon">
                                        <i class="fa fa-pencil"></i>
                                    </a>
                                    <a title="添加库存" data-tip="添加库存" target="dialog" mask="true" href="{$host_url}/smallapp/goodsstock/addstock?goods_id={$dinfo.id}" class="btn btn-success btn-icon">
                                        <i class="fa fa-plus "></i>
                                    </a>
                                    <a data-tip="库存列表" title="{$dinfo.name}库存列表" target="navTab" rel="goodsstock/stocklist" href="{$host_url}/smallapp/goodsstock/stocklist?goods_id={$dinfo.id}" class="btn btn-success btn-icon">
                                        <i class="fa fa-list"></i>
                                    </a>
                                </div>
                            </td>

                        </tr>
                    </volist>
                    </tbody>
                </table>
            </form>

        </div>
    </div>
    {$page}
</div>