<include file="Public/script"/>
<!--显示列表样式1 start-->
<div class="pageHeader">
  <form onsubmit="return navTabSearch(this);" id="pagerForm" action="{$host_url}/Integral/service/index" method="post" >
    <input type="hidden" name="pageNum" value="{$pageNum}"/>
    <input type="hidden" name="numPerPage" value="{$numPerPage}"/>
    <input type="hidden" name="_order" value="{$_order}"/>
    <input type="hidden" name="_sort" value="{$_sort}"/>
    <input type="hidden" id="high" value="{$hightest}"/>
    <div class="searchBar">
      <div class="clearfix">
        <div class="form-inline" >
          <div class="form-inline" >
          	<div class="input-group input-group-sm pull-left">
              <a class="btn btn-success btn-sm add" href="{$host_url}/Integral/service/add" title="新增服务" target="dialog" mask="true"><i class="fa fa-plus"></i> 新增服务</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="pageContent" id="pagecontent" >
  <div id="w_list_print">
    <div class="no-more-tables">
      <form method="post" action="#" id="del-form" class="pageForm required-validate" enctype="multipart/form-data" onsubmit="return iframeCallback(this, dialogAjaxDone)">
        <table class="table table-bordered table-striped" targetType="navTab" asc="asc" desc="desc">
          <thead>
          <tr id="post">
            <th>ID</th>
            <th>服务名称</th>
            <th>服务类型</th>
            
            <th>创建人</th>
            <th>编辑人</th>
            <th>创建时间</th>
            <th>更新时间</th>
            <th>操作</th>
          </tr>
          </thead>
          <tbody data-check="list" data-parent=".table">
          <volist name="list" id="vlist">
            <tr target="sid_user">
              <td data-title="序号">{$vlist.id}</td>
              <td data-title="服务名称">{$vlist.service_name}</td>
              <td data-title="服务类型">
              	<php>
              		echo $service_type[$vlist[type]];
				</php>    	
              </td>
              <td data-title="创建人">{$vlist.user_name}</td>
              <td data-title="编辑人">{$vlist.e_user_name}</td>
              <td data-title="创建时间">{$vlist.create_time}</td>
              <td data-title="更新时间">{$vlist.update_time}</td>
              <td class="table-tool" data-title="操作">
                <div class="tools-edit">
                  <a data-tip="修改" target="dialog" mask="true" href="{$host_url}/Integral/service/edit?id={$vlist.id}" class="btn btn-success btn-icon">
                    <i class="fa fa-pencil"></i>
                  </a>
                  <a warn="警告" data-tip="删除" title="你确定要删除吗？" target="ajaxTodo" calback="navTabAjaxDone" href="{$host_url}/Integral/service/delete?id={$vlist.id}"  class="btn btn-danger btn-icon">
                    <i class="fa fa-trash"></i>
                  </a>
                </div>
              </td>
          </volist>
          </tbody>
        </table>
      </form>

    </div>
  </div>
  {$page}
</div>
