<include file="Public/script"/>
<div class="pageHeader">
  <form onsubmit="return navTabSearch(this);" id="pagerForm" action="{$host_name}/tvchannel/channellist" method="post">
    <input type="hidden" name="pageNum" value="{$pageNum}"/>
    <input type="hidden" name="numPerPage" value="{$numPerPage}"/>
    <div class="searchBar">
      <div class="clearfix">
        <div class="col-xs-12 col-sm-6 col-md-10">
          <div class="tools-group s2">
            <a class="btn btn-success btn-sm add" href="{$host_url}/tvchannel/channeladd?type=3" title="三代上传" target="dialog" mask="true"><i class="fa fa-plus"></i><span>三代电视节目</span></a>
            <a class="btn btn-success btn-sm add" href="{$host_url}/tvchannel/channeladd?type=2" title="二代上传" target="dialog" mask="true"><i class="fa fa-plus"></i><span>二代电视节目</span></a>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-2 pull-right">

          <div class="input-group input-group-sm">
            <select name="type" class="form-control bs-select class-filter" data-style="btn-success btn-sm" data-container="body" required>
              <option value="0">全部</option>
              <option value="2" <if condition="$type eq 2"> selected </if> > 二代盒子</option>
              <option value="3" <if condition="$type eq 3"> selected </if> > 三代盒子</option>
            </select>

            <span class="input-group-btn">
              <button class="btn btn-primary" type="submit" id="choosedata"><i class="fa fa-search"></i></button>
            </span>
          </div>

        </div>
      </div>
    </div>
  </form>
</div>
<div class="pageContent" id="pagecontent">
  <div id="w_list_print">
    <div class="no-more-tables">
      <form method="post" action="#" id="del-form" class="pageForm required-validate" enctype="multipart/form-data" onsubmit="return iframeCallback(this, dialogAjaxDone)">
        <table class="table table-bordered table-striped" targetType="navTab" asc="asc" desc="desc">
          <thead>

          <tr id="post">
            <th>ID</th>
            <th>播放序号</th>
            <th>频道名称</th>
            <th>原始序号</th>
            <th>频点</th>
            <th>酒楼ID</th>
            <th>盒子类型</th>
            <th>锁定状态</th>
            <th>操作</th>
          </tr>
          </thead>
          <tbody data-check="list" data-parent=".table">
          <volist name="data" id="dinfo">
            <tr target="sid_user">
              <td data-title="ID">{$dinfo.id}</td>
              <td data-title="播放序号">{$dinfo.play_number}</td>
              <td data-title="频道名称">{$dinfo.channel_name}</td>
              <td data-title="原始序号">{$dinfo.raw_number}</td>
              <td data-title="频点">{$dinfo.freq}</td>
              <td data-title="酒楼ID">{$dinfo.hotel_id}</td>
              <td data-title="盒子类型"><if condition="$dinfo.type eq 2">二代盒子<else />三代盒子</if></td>
              <td data-title="锁定"><if condition="$dinfo.is_lock eq 1">已锁定<else />正常</if></td>
              <td class="table-tool" data-title="操作">
                <div class="tools-edit">
                  <a warn="警告" data-tip="锁定" target="ajaxTodo" calback="navTabAjaxDone" href="{$host_url}/tvchannel/channellock?id={$dinfo.id}&lock={$dinfo.is_lock}"  class="btn btn-success btn-icon">
                    <i class="fa fa-pencil"></i>
                  </a>
                </div>
              </td>
            </tr>
          </volist>
          </tbody>
        </table>
      </form>

    </div>
  </div>
  {$page}
</div>
<script>
    $(function(){
        $(".class-filter").change(function (){
            $(this).closest("form").submit();
        })
    })
</script>