<div class="pageContent">
	<form method="post" action="{$host_url}/smallapp/macdata/changeforscreentype" class="pageForm required-validate" enctype="multipart/form-data" onsubmit="return iframeCallback(this, dialogAjaxDone)">
		<input name="mac" type="hidden" value="{$vinfo.mac}"/>
		<div class="pageFormContent modal-body">

			<div class="form-group row">
				<label class="col-xs-12 col-sm-2 control-label">
					是否开启标准版投屏：
				</label>
				<div class="col-xs-12 col-sm-10">
					<input type="hidden" name="is_sapp_forscreen" value="0">
					<input type="checkbox" value="1" class="make-switch status" name="is_sapp_forscreen" data-size="small" data-on-text="是" data-off-text="否" <if condition="$vinfo.is_sapp_forscreen eq 1" >checked</if>>
				</div>
			</div>
			<if condition="$vinfo.box_type neq 2">
			<div class="form-group row">
				<label class="col-xs-12 col-sm-2 control-label">
					是否开启极简版投屏：
				</label>
				<div class="col-xs-12 col-sm-10">
					<input type="hidden" name="is_open_simple" value="0">
					<input type="checkbox" value="1" class="make-switch status" name="is_open_simple" data-size="small" data-on-text="是" data-off-text="否" <if condition="$vinfo.is_open_simple eq 1" >checked</if>>
				</div>
			</div>
			</if>
		</div>
		<div class="modal-footer">
			<button class="btn btn-default close-m" type="button">取消</button>
			<button class="btn btn-primary" type="submit">保存</button>
		</div>
</form>
</div>