<include file="Public/script"/>
<!--显示列表样式1 start-->
<div class="pageHeader">
  <form onsubmit="return navTabSearch(this);" id="pagerForm" action="{$host_url}/smallapp/goods/withdrawgoodslist" method="post">
      <input type="hidden" name="pageNum" value="{$pageNum}"/>
      <input type="hidden" name="numPerPage" value="{$numPerPage}"/>
    <div class="searchBar">
      <div class="clearfix">
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
          <div class="tools-group">
            <a class="btn btn-success btn-sm add" href="{$host_url}/smallapp/goods/withdrawgoodsadd" title="新增提现金额" target="dialog" mask="true"><i class="fa fa-plus"></i> 新增提现金额</a>
          </div>
        </div>
        
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-10">

            <div class="form-inline">

            <div class="form-group">
                <div class="input-group input-group-sm">时间：</div>
                <div class="input-group input-group-sm date form_datetime" data-pos="auto" data-date="{$start_date}" data-ymd="true">
                    <input name="start_date" type="text" size="16" class="form-control date" placeholder="开始日期" value="{$start_date}">
                    <span class="input-group-btn">
                    <button class="btn default date-reset  btn-sm" type="button"><i class="fa fa-times"></i></button>
                    <button class="btn btn-success date-set  btn-sm" type="button"><i class="fa fa-calendar"></i></button>
                    </span>
                </div>
                <div class="input-group input-group-sm date form_datetime" data-pos="auto" data-date="{$end_date}" data-ymd="true">
                    <input name="end_date" type="text" size="16" class="form-control date" placeholder="结束日期" value="{$end_date}">
                    <span class="input-group-btn">
                    <button class="btn default date-reset  btn-sm" type="button"><i class="fa fa-times"></i></button>
                    <button class="btn btn-success date-set  btn-sm" type="button"><i class="fa fa-calendar"></i></button>
                    </span>
                </div>
            </div>

            <div class="input-group input-group-sm">
                <span class="input-group-btn">
                <button class="btn btn-primary" type="submit" id="choosedata"><i class="fa fa-search"></i></button>
                </span>
            </div>

          </div>

        </div>
        
      </div>
    </div>
  </form>
</div>
<div class="pageContent" id="pagecontent">
  <div id="w_list_print">
    <div class="no-more-tables">
      <form method="post" action="#" id="del-form" class="pageForm required-validate" enctype="multipart/form-data" onsubmit="return iframeCallback(this, dialogAjaxDone)">
        <table class="table table-bordered table-striped" targetType="navTab" asc="asc" desc="desc">
          <thead>
            <tr id="post">
              <th>ID</th>
              <th>金额</th>
              <th>所需积分</th>
              <th>是否需要审核</th>
              <th>创建人</th>
              <th>针对商家</th>
              <th>创建时间</th>
              <th>上线时间</th>
              <th>状态</th>
              <th class="table-tool">操作</th>
            </tr>
          </thead>
          <tbody data-check="list" data-parent=".table">
            <foreach name="datalist" item="dinfo">
            <tr target="sid_user">
              <td data-title="ID"><a class="click-able-title">{$dinfo.id}</a></td>
              <td data-title="金额"><a class="click-able-title">{$dinfo.price}</a></td>
              <td data-title="所需积分">{$dinfo.rebate_integral}</td>
              <td data-title="是否需要审核">{$dinfo.is_audit}</td>
              <td data-title="创建人"></td>
              <td data-title="针对商家">
                  <if condition="$dinfo.hotels gt 0">
                  <a class="btn btn-success " title="酒楼数:{$dinfo.hotels}" target="navTab" mask="true" rel="goods/hotelgoodslist" href="{$host_url}/smallapp/goods/hotelgoodslist?goods_id={$dinfo.id}" >
                  {$dinfo.hotels}</a>
                  <else/>
                  {$dinfo.hotels}
                  </if>
              </td>
              <td data-title="创建时间"></td>
              <td data-title="上线时间"></td>
              <td data-title="状态">{$dinfo.statusstr}</td>
              <td class="table-tool" data-title="操作">
                <div class="tools-edit">
                  <a title="修改商品" data-tip="修改商品" target="dialog" mask="true" href="{$host_url}/smallapp/goods/withdrawgoodsadd?id={$dinfo.id}&type=10" class="btn btn-success btn-icon">
                    <i class="fa fa-pencil"></i>
                  </a>

                  <if condition="$dinfo.type neq 20">
                  <a title="发布酒楼" data-tip="发布酒楼" target="dialog" mask="true" href="{$host_url}/smallapp/goods/hoteladd?goods_id={$dinfo.id}" class="btn btn-warning btn-icon">
                    <i class="fa fa-hotel"></i>
                  </a>
                  </if>

                </div>
              </td>
            </tr>

            </foreach>
          </tbody>
        </table>
      </form>

    </div>
  </div>
  {$page}
</div>