<div class="pageContent">
    <form method="post" action="{$host_url}/smallapp/dishorder/addexpress" class="pageForm required-validate" enctype="multipart/form-data" onsubmit="return iframeCallback(this, dialogAjaxDone)">
        <div class="pageFormContent modal-body">
            <input name="eid" type="hidden" value="{$eid}"/>
            <div class="form-group row">
                <label class="col-xs-12 col-sm-2 control-label">订单ID：</label>
                <div class="col-xs-12 col-sm-10">
                    <input name="id" type="text" value="{$vinfo.id}" class="form-control" readonly/>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-xs-12 col-sm-2 control-label">总价：</label>
                <div class="col-xs-12 col-sm-10">
                    <input name="total_fee" type="text" value="{$vinfo.total_fee}" class="form-control" readonly/>
                </div>
            </div>
            
            <div class="form-group row">
                <label class="col-xs-12 col-sm-2 control-label">
                    	快递类型:
                </label>
                <div class="col-xs-12 col-sm-10">
                    <select id="ex_type" name="ex_type" class="form-control bs-select class-filter" >
                        <volist name="order_express_types" id="exinfo">
                            <option value="{$exinfo.id}" <if condition="$einfo.type eq $exinfo['id']">selected</if>>{$exinfo.name}</option>
                        </volist>
                    </select>
                </div>
            </div>

            <div class="form-group row" id="ex_enum">
                <label class="col-xs-12 col-sm-2 control-label">快递单号：</label>
                <div class="col-xs-12 col-sm-10">
                    <input name="enum" id="enumno" type="text" value="{$einfo.enum}" class="form-control" />
                </div>
            </div>

            <div class="form-group row" id="ex_comcode">
                <label class="col-xs-12 col-sm-2 control-label">
                    物流公司:
                </label>
                <div class="col-xs-12 col-sm-10">
                    <select name="comcode" class="form-control bs-select class-filter" data-live-search="true">
                        <volist name="express" id="epinfo">
                            <option value="{$epinfo.comcode}" {$epinfo.is_select}>{$epinfo.name}</option>
                        </volist>
                    </select>
                </div>
            </div>
        <if condition="$vinfo.otype eq 10">
            <div class="form-group row">
                <label class="col-xs-12 col-sm-2 control-label">
                    商品识别码:
                </label>
                <div class="col-xs-12 col-sm-10">
                    <textarea name="idcode" value="{$vinfo.idcode}" type="textInput" class="form-control" required>{$vinfo.idcode}</textarea>
                </div>
            </div>
        </if>
            <!--<div class="form-group row">-->
                <!--<label class="col-xs-12 col-sm-2 control-label">-->
                    <!--物流公司:-->
                <!--</label>-->
                <!--<div class="col-xs-12 col-sm-10">-->
                    <!--<select id="express_com" name="comcode" class="form-control" required>-->
                    <!--</select>-->
                <!--</div>-->
            <!--</div>-->
    </div>
<div class="modal-footer">
    <button class="btn btn-default close-m" type="button">取消</button>
    <button class="btn btn-primary" type="submit">保存</button>
</div>
</form>
</div>
<script type="text/javascript">

    $('#ex_type').change(function () {
        var type  = $('#ex_type').val();

        if(type==2){
            $('#ex_enum').hide()
            $('#ex_comcode').hide();
        }else {
            $('#ex_enum').show();
            $('#ex_comcode').show();
        }
      });
    $('#ex_type').trigger('change');

    $("#enum").blur(function() {
    var express_num = $('#enum').val()
    $.ajax({
        type: 'POST',
        //设置json格式,接收返回数组。
        dataType: 'text',
        url: '{$host_url}/smallapp/dishorder/autonumber',
        data: 'enum=' + express_num,
        success: function(msg) {
            if(msg != null){
                var option_str = msg;
                $('#express_com').append(option_str);
            }else{
                $('#express_com').remove();
            }
        }
    })

});


</script>