<include file="Public/script"/>
<!--显示列表样式1 start-->
<div class="pageHeader">
    <form onsubmit="return navTabSearch(this);" id="pagerForm" action="{$host_url}/smallapp/dishorder/dishorderlist" method="post">
        <input type="hidden" name="pageNum" value="{$pageNum}"/>
        <input type="hidden" name="numPerPage" value="{$numPerPage}"/>
        <div class="searchBar">
            <div class="clearfix">

                <div class="form-inline">

                    <div class="form-group">
                        <div class="input-group input-group-sm">时间：</div>
                        <div class="input-group input-group-sm date form_datetime" data-pos="auto" data-date="{$start_date}" data-ymd="true">
                            <input name="start_date" type="text" size="16" class="form-control date" placeholder="开始日期" value="{$start_date}">
                            <span class="input-group-btn">
                            <button class="btn default date-reset  btn-sm" type="button"><i class="fa fa-times"></i></button>
                            <button class="btn btn-success date-set  btn-sm" type="button"><i class="fa fa-calendar"></i></button>
                            </span>
                        </div>
                        <div class="input-group input-group-sm date form_datetime" data-pos="auto" data-date="{$end_date}" data-ymd="true">
                            <input name="end_date" type="text" size="16" class="form-control date" placeholder="结束日期" value="{$end_date}">
                            <span class="input-group-btn">
                            <button class="btn default date-reset  btn-sm" type="button"><i class="fa fa-times"></i></button>
                            <button class="btn btn-success date-set  btn-sm" type="button"><i class="fa fa-calendar"></i></button>
                          </span>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group input-group-sm">城市：</div>
                        <div class="input-group">
                            <select name="area_id" class="form-control bs-select class-filter" data-style="btn-success btn-sm" data-container="body" placeholder="模块名称">
                                <option value=0>全部</option>
                                <volist name="area" id="vo">
                                    <option value="{$vo.id}" <if condition="$vo.id eq $area_id">selected</if>>{$vo.region_name}</option>
                                </volist>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group input-group-sm">订单状态：</div>
                        <div class="input-group">
                            <select name="status" class="form-control bs-select" data-style="btn-success btn-sm" data-container="body">
                                <option value='0' >订单状态</option>
                                <volist name=":C('DISH_ORDERSTATUS')" id="oinfo">
                                    <option value="{$key}" <if condition="$key eq $status">selected</if> >{$oinfo}</option><br>
                                </volist>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group input-group-sm pull-right">
                            <span class="input-group-btn">
                              <button class="btn btn-primary" type="submit" id="choosedata">查询</button>
                            </span>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </form>
</div>

<div class="pageContent" id="pagecontent">
    <div id="w_list_print">
        <div class="no-more-tables">
            <form method="post" action="#" id="del-form" class="pageForm required-validate" enctype="multipart/form-data" onsubmit="return iframeCallback(this, dialogAjaxDone)">
                <table class="table table-bordered table-striped" targetType="navTab" asc="asc" desc="desc">
                    <thead>
                    <tr id="post">
                        <th>ID</th>
                        <th>酒楼名称</th>
                        <th>城市</th>
                        <th>订单商品明细</th>
                        <th>订单赠品明细</th>
                        <!--<th>单价</th>-->
                        <th>订单数量</th>
                        <th>订单总价</th>
                        <th>联系人</th>
                        <th>电话</th>
                        <th>地址</th>
                        <th>订单类型</th>
                        <th>期望送达时间</th>
                        <th>备注</th>
                        <th>状态</th>
                        <th>销售人员</th>
                        <th>下单时间</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody data-check="list" data-parent=".table">
                    <foreach name="datalist" item="dinfo">
                        <tr target="sid_user">
                            <td data-title="ID"><a class="click-able-title">{$dinfo.id}</a></td>
                            <td data-title="酒楼名称">{$dinfo.hotel_name}</td>
                            <td data-title="城市" width="200px">{$dinfo.area_name}</td>
                            <td data-title="订单商品明细">{$dinfo.details}</td>
                            <td data-title="订单赠品明细">{$dinfo.gifts}</td>
                            <!--<td data-title="单价">{$dinfo.price}</td>-->
                            <td data-title="订单数量">{$dinfo.amount}</td>
                            <td data-title="订单总价">{$dinfo.total_fee}</td>
                            <td data-title="联系人">{$dinfo.contact}</td>
                            <td data-title="电话">{$dinfo.phone}</td>
                            <td data-title="地址">{$dinfo.address}</td>
                            <td data-title="订单类型">{$dinfo.otype_str}</td>
                            <td data-title="期望送达时间">{$dinfo.delivery_time}</td>
                            <td data-title="备注">{$dinfo.remark}</td>
                            <td data-title="状态">{$dinfo.status_str}</td>
                            <td data-title="销售人员">{$dinfo.sale_uname}</td>
                            <td data-title="下单时间">{$dinfo.add_time}</td>
                            <td class="table-tool" data-title="操作">
                                <div class="tools-edit">
                                    <if condition="($dinfo.otype eq 5) OR ($dinfo.otype eq 6)">
                                        <if condition="($dinfo.status eq 51) OR ($dinfo.status eq 52)">
                                        <a data-tip="接单/拒单" target="dialog" mask="true" href="{$host_url}/smallapp/dishorder/orderreceive?id={$dinfo.id}" class="btn btn-success btn-icon">
                                            <i class="fa fa-pencil"></i>
                                        </a>
                                        </if>
                                        <if condition="$dinfo.is_send eq 1">
                                            <a data-tip="发货" target="dialog" mask="true" href="{$host_url}/smallapp/dishorder/addexpress?id={$dinfo.id}" class="btn btn-success btn-icon">
                                                <i class="fa fa-send"></i>
                                            </a>
                                        </if>
                                        <if condition="$dinfo.status eq 53">
                                            <a data-tip="查看物流信息" title="{$dinfo.id}物流信息列表" target="navTab" rel="dishorder/expresslist" href="{$host_url}/smallapp/dishorder/expresslist?order_id={$dinfo.id}" class="btn btn-success btn-icon">
                                                <i class="fa fa-list"></i>
                                            </a>
                                        </if>
                                    </if>
                                </div>
                            </td>
                        </tr>

                    </foreach>
                    </tbody>
                </table>
            </form>

        </div>
    </div>
    {$page}
</div>