<div class="pageContent">
  <form method="post" action="{$host_name}/article/doAddvideo" class="pageForm required-validate" enctype="multipart/form-data" onsubmit="return iframeCallback(this, dialogAjaxDone)">
    <input type="hidden" id="video_id" name="id" value="{$vainfo.id}">
    <div class="pageFormContent modal-body">
      <div class="tabsContent">
        <div class="tab-content">
          <div id="tab1" class="tab-pane active fade in">

            <div class="form-group row">
              <label class="col-xs-12 col-sm-2 control-label">
                分类:
              </label>
              <div class="col-xs-12 col-sm-10">
                <select name="cate" class="form-control bs-select" title="请选择.." required>
                  <volist name="vcainfo" id="row">
                    <option value="{$row['id']}" <if condition="$row['id'] eq $vainfo['category_id']">selected </if> > {$row['name']} </option>
                  </volist>

                </select>
              </div>
            </div>




            <div class="form-group row">
              <label class="col-xs-12 col-sm-2 control-label">
                标题：
              </label>
              <div class="col-xs-12 col-sm-10">
                <input name="title" type="text" value="{$vainfo.title}"  minlength="2" maxlength="30" class="form-control" required/>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-xs-12 col-sm-2 control-label">
                视频封面：
              </label>
              <div class="col-xs-12 col-sm-10">
                <div class="fileinput fileinput-new" data-fileinput>
                  <div class="fileinput-preview thumbnail" data-trigger="fileinput">
                    <a data-target="#modal-file" href="{$host_name}/resource/uploadResource?filed=covervideo_id&rtype=2" data-browse-file>
                      <if condition="($vainfo['oss_addr'] eq 'NULL') OR $vainfo['oss_addr'] eq ''">
                        <img src="/Public/admin/assets/img/noimage.png" border="0" id="covervideo_idimg" />
                        <else />
                        <img src="{$vainfo.oss_addr}" id="covervideo_idimg" border="0" />
                      </if>
                      <span id="covervideo_idimgname"></span>
                    </a>
                  </div>
                  <div>
                    <a class="btn btn-success btn-file" data-target="#modal-file" href="{$host_name}/resource/uploadResource?filed=covervideo_id&rtype=2" data-browse-file>
                      选择封面
                    </a>
                    <input type="hidden" name="covervideo_id" id="covervideo_id" value="">
                    <a href="javascript:;" class="btn btn-danger" data-remove-file="/Public/admin/assets/img/noimage.png">
                      删除 </a>
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-xs-12 col-sm-2 control-label">
                上传视频类型：
              </label>
              <div class="col-xs-12 col-sm-10">

                <div class="col-md-2 col-sm-12">
                  <label><input type="radio" name="r1" value="1" <if condition="$vainfo['vid_type'] eq 1">
                    checked="checked" </if>
                    >点播视频</label>
                </div>
                <div class="col-md-6 col-sm-12">
                  <label><input type="radio" name="r1" value="2" <if condition="$vainfo['vid_type'] eq 2">
                    checked="checked" </if>>非点播视频</label>
                </div>


              </div>


            </div>


            <div class="form-group row"  >
              <div id="dianbo" style="display: none;" class="col-md-1 col-sm-2 col-md-offset-2 ">
                <div class="form-group row">
                  <div class="col-xs-12 col-sm-10">



                    <div class="fileinput-preview thumbnail" data-trigger="fileinput">
                      <a data-target="#modal-file" href="{$host_name}/resource/uploadResource?filed=media_id&rtype=1" data-browse-file>
                        <if condition="($vainfo['videooss_addr'] eq 'NULL') OR $vainfo['videooss_addr'] eq ''">
                          <img id="media_idimg"  src="/Public/admin/assets/img/noimage.png" border="0"/>
                          <else />
                          <img id="media_idimg" src="{$vainfo.videooss_addr}" border="0" />
                        </if>
                        <span id="media_idimgname">{$vainfo.videoname}</span>
                      </a>
                    </div>
                    <div>
                      <a class="btn btn-success btn-file" data-target="#modal-file" href="{$host_name}/resource/uploadResource?filed=media_id&rtype=1" data-browse-file>
                        选择视频
                      </a>
                      <input type="hidden" name="media_id" id="media_id" value="">
                      <a id="bntt" href="javascript:;" class="btn btn-danger" data-remove-file="/Public/admin/assets/img/noimage.png">
                        删除 </a>
                    </div>
                  </div>






                  </div>
                </div>
              </div>
              <div class="col-xs-5 col-sm-5 col-md-offset-2">


                <input name="yunhref" type="text" value="{$vainfo.tx_url}"  minlength="2"  class="form-control" placeholder="QQ云链接" required/>
              </div>


            </div>


            <div class="form-group row">
              <div class="col-xs-4 colcol-sm-4 col-md-offset-3" id="nei" ><h2 id="xuandian" style="font-size:15px;">您选择的点播视频是<?php echo $vinfo['media_name']?></h2></div> <input type="hidden" name="videoid" value="{$vinfo.media_key_id}">
              <div class="col-xs-12 col-sm-10">

              </div>
            </div>

          <div class="form-group row">
            <div class="form-inline">

              <div class="form-group col-md-12 col-xs-12 col-sm-12" >
              <label class=" control-label col-xs-12 col-sm-2">
                时长：
              </label>
                <input style="width:50px;"  alt="数字"  name="minu" type="number" value="<if condition="$vainfo.duration gt 0">{$vainfo['duration']/60|floor}</if>"  class="form-control col-sm-2" /><span class="form-control col-sm-2">分</span>
                <input style="width:50px;"  alt="数字"  name="seco" type="number" value="<if condition="$vainfo.duration gt 0">{$vainfo['duration']%60}</if>"  class="form-control col-sm-2" /><span class="form-control col-sm-2">秒</span>
                </div>
            </div>

          </div>





            <div class="form-group row">
              <label class="col-xs-12 col-sm-2 control-label">
                内容：
              </label>
              <div class="col-xs-12 col-sm-10">
                <script id="editor" type="text/plain" class="ueditor-init" name="content" style="height: 250px; width: 100%">{$vainfo.content|html_entity_decode=###,ENT_COMPAT}</script>
              </div>
            </div>
            <!--<div class="form-group row">
              <label class="col-xs-12 col-sm-2 control-label">
                发布时间：
              </label>
              <div class="col-xs-12 col-sm-10">
                <div class="input-group date form_datetime" data-date="{$vinfo.log_time}">
                  <input name="logtime" type="text" size="16" class="form-control date" placeholder="开始日期" value="{$vinfo.log_time}" readonly>
                  <span class="input-group-btn">
                    <button class="btn default date-reset" type="button"><i class="fa fa-times"></i></button>
                    <button class="btn btn-success date-set" type="button"><i class="fa fa-calendar"></i></button>
                  </span>
                </div> 
              </div>
            </div>-->

            <div class="form-group row">
              <label class="col-xs-12 col-sm-2 control-label">
                来源：
              </label>
              <div class="col-xs-12 col-sm-10">
                <input name="source" type="text" value="{$vainfo.source}"  minlength="2" maxlength="30" class="form-control" />
              </div>
            </div>







            <div class="form-group row">
              <label class="col-xs-12 col-sm-2 control-label">
                预约发布：
              </label>
              <div class="col-xs-12 col-sm-10">
                <div class="input-group date form_datetime" data-date="{$vainfo.bespeak_time}">
                  <input name="logtime" type="text" size="16" class="form-control date" placeholder="开始日期" value="{$vainfo.bespeak_time}" readonly>
                  <span class="input-group-btn">
                    <button class="btn default date-reset" type="button"><i class="fa fa-times"></i></button>
                    <button class="btn btn-success date-set" type="button"><i class="fa fa-calendar"></i></button>
                  </span>
                </div>
              </div>
            </div>



          </div>

        </div>
      </div>

    <div class="modal-footer">
      <button class="btn btn-default close-m" type="button">取消</button>
      <button class="btn btn-primary" type="submit">保存</button>
    </div>

  </form>
</div>
<iframe id="id_iframe" name="id_iframe" style="display:none;"></iframe>
<script type="text/javascript">


  $(function() {


    var ue = UE.getEditor('editor',{

      //关闭字数统计
      wordCount:false,
      //关闭elementPath
      elementPathEnabled:false,
    });





    var rval = $("#video_id").val();
    if (rval == 0) {
      $("#dianbo").css('display', 'none');
      $("#nei").css('display', 'none');
    } else {
      var rval = $("input[name='r1']:checked").val();
      if (rval == 1) {
        $("#dianbo").css('display', 'block');
        $("#nei").css('display', 'block');
      }else if (rval == 2) {
        $("#dianbo").css('display', 'none');
        $("#nei").css('display', 'none');
      }
    }

    $("input[name='r1']").click(
            function () {
              var val = $(this).val();
              //点播meso
              if (val == 1) {
                $("#dianbo").css('display', 'block');
                $("#nei").css('display', 'block');
              } else if (val == 2) {
                $("#dianbo").css('display', 'none');
                $("#meso").css('display', 'none');
                $("#nei").css('display', 'none');
              }
            }
    );
    $("select[name='videomedia']").change(
            function () {
              var vid = $(this).find("option:selected").text();
              var addr = $(this).find("option:selected").attr("addr");

              $("input[name='videoid']").val(vid);
              $("input[name='videoaddr']").val(addr);

              $("#xuandian").html("您选择的点播视频是"+$(this).find("option:selected").text());
              $("#meso").css('display', 'none');
            }

    );

    $('#bntt').click(function(){
    	$('#media_idimgname').html('');
    	$('#media_idimg').show();
    	$('#media_idimg').prop('src','/Public/admin/assets/img/noimage.png');
    	$('#media_id').val("");
    })


    $("#selectdian").click(function(){
      $("#meso").css('display', 'block');
    });
  });
</script>
