<!DOCTYPE html>
<html>
<head><title>天使</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta content="yes" name="apple-mobile-web-app-capable">
  <meta content="black" name="apple-mobile-web-app-status-bar-style">
  <meta content="telephone=no" name="format-detection">
  <meta http-equiv="Expires" CONTENT="-1">
  <meta http-equiv="Cache-Control" CONTENT="no-cache">
  <meta http-equiv="Pragma" CONTENT="no-cache">

  <link href="/Public/admin/assets/css/stylecontent.css" rel="stylesheet">
  <link href="/Public/admin/assets/css/weixin.css" rel="stylesheet">
  <script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/2.1.1/jquery.js"></script>
</head>
<body>
<div id="topLabel" style="background-color: #e7e7e7; width: 100%; height: 50px; position: fixed; top: 0px; left: 0px; z-index: 100;">
  <img src="/Public/admin/assets/img/topAlert.png" name="myself" style="margin-top: 5px; margin-left: 10px; width: 178.5px; height: 40px;"/>
  <div id="downLoad" style="background-color: red; border-radius: 5px; position: absolute; top: 10px; right: 10px;height: 30px;">
    <p style="color: white; width: 80px; height: 40px; margin-top: 5px; text-align: center;"> 立即下载 </p>
    <input type="hidden" id="verrre" value="{$videoaaa}" />
  </div>
</div>



  <div class="box_nr">
    {$content}
  </div>


</body>
<script>
  $(document).ready(function() {

    $("#topLabel").hide();
    $("#img_dv").hide();
    var urlResource = window.location.search.split('?');
    if (urlResource.length <= 1) {
      $("#img_dv").hide();
      return;
    }
    var result = urlResource[1].split('=');
    if (result[0] == 'location' && result.length > 0) {
      if (result[1] == 'in') {
        //当前是 点播状态 隐藏 播放器video_dv 下载条topLabel
        $(".contentD").hide();
        $("#topLabel").hide();
        $("#img_dv").show();
        $('#img_dv').css("margin-top","15px");
        $('#contentView').css("margin-top","1px");
      }else if  (result[1] == 'read') {
        //当前是 阅读状态 隐藏下载条topLabel
        $("#topLabel").hide();
        $("#img_dv").hide();
        $('#contentView').css("margin-top","10px");
      }else if  (result[1] == 'newRead') {
        //当前是 阅读状态 隐藏下载条topLabel
        $(".contentD").remove();
        $("#topLabel").hide();
        $("#img_dv").hide();
        $('#contentView').css("margin-top","10px");
      }else{
      }
    }else{
    }
  });
</script>
<script>
  $(document).ready(function() {
    var button = document.getElementById('topLabel');
    button.onclick = function (){
      window.location.href = 'http://download.savorx.cn/xiazai.html';
    }
  });
</script>
</html>

