<div class="pageContent">
	<form method="post" action="{$host_url}/smallapp/dishgoods/addmodel" class="pageForm required-validate" enctype="multipart/form-data" onsubmit="return iframeCallback(this, dialogAjaxDone)">
		<input name="goods_id" type="hidden" value="{$goods_id}"/>
		<input name="specification_ids" type="hidden" value="{$specification_ids}"/>
		<div class="pageFormContent modal-body">
			<div class="tabsContent">
				<ul class="nav nav-tabs">
					<volist name="specifications" id="sinfo">
						<li class="{$sinfo.is_select}"><a href="#tab{$sinfo.id}" data-toggle="tab"><span>{$sinfo.name}</span></a></li>
					</volist>
				</ul>
				<div class="tab-content">
					<volist name="specifications" id="speinfo">

						<div id="tab{$speinfo.id}" <if condition="$speinfo['is_select']=='active'">class="tab-pane active fade in" <else/>class="tab-pane fade" </if>  >
						<volist name="speinfo['models']" id ="minfo">
							<div class="form-group row">
								<label class="col-xs-12 col-sm-2 control-label">{$minfo.name}：</label>
								<div class="col-xs-12 col-sm-10">
									<input name="names{$speinfo.id}[]" type="text" value="{$minfo.content}" class="form-control"/>
									<input name="attr_ids{$speinfo.id}[]" type="hidden" value="{$minfo.attr_id}" />
								</div>
							</div>
						</volist>

				</div>

				</volist>
			</div>
		</div>


</div>
<div class="modal-footer">
	<button class="btn btn-default close-m" type="button">取消</button>
	<button class="btn btn-primary" type="submit">保存</button>
</div>
</form>
</div>