<include file="Public/script"/>
<!--显示列表样式1 start-->
<div class="pageHeader">
  <form onsubmit="return navTabSearch(this);" id="pagerForm" action="{$host_name}/sysnode/manager" method="post">
    <input type="hidden" name="pageNum" value="{$pageNum}"/>
    <input type="hidden" name="numPerPage" value="{$numPerPage}"/>
    <input type="hidden" name="_order" value="{$_order}"/>
    <input type="hidden" name="_sort" value="{$_sort}"/>
    <div class="searchBar">
      <div class="clearfix">
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
          <div class="tools-group">
            <a class="btn btn-success btn-sm add" href="{$host_name}/sysnode/sysnodeadd?acttype=0" title="新增模块" target="dialog" mask="true"><i class="fa fa-plus"></i> 新增节点</a>
          </div>
        </div>
        
        <div class="col-xs-12 col-sm-8 col-md-6 col-lg-4 pull-right">
          <div class="input-group input-group-sm">
            <input type="text" class="form-control" name="searchTitle" value="{$searchTitle}" placeholder="模块名称...">
            <span class="input-group-btn">
              <select name="searchCode" class="form-control bs-select class-filter" data-style="btn-success btn-sm" data-container="body">
                <option value='' >所有节点</option>
                <volist name=":C('MANGER_KEY')" id="vo">
                  <option value="{$key}" <if condition="$key eq $searchCode">selected</if>>{$vo}</option><br>
                </volist>
              </select>
            </span>
            <span class="input-group-btn">
              <button class="btn btn-primary" type="submit" id="choosedata"><i class="fa fa-search"></i></button>
            </span>
          </div>
        </div>
        
      </div>
    </div>
  </form>
</div>
<div class="pageContent" id="pagecontent">
  <div id="w_list_print">
    <div class="no-more-tables">
      <form method="post" action="#" id="del-form" class="pageForm required-validate" enctype="multipart/form-data" onsubmit="return iframeCallback(this, dialogAjaxDone)">
        <table class="table table-bordered table-striped" targetType="navTab" asc="asc" desc="desc">
          <thead>
            <tr id="post">
              <!-- <th class="table-checkbox">
                <input type="checkbox" data-check="all" data-parent=".table" />
              </th> -->
              <th>模块ID</th>
              <th>模块名称</th>
              <th>节点KEY</th>
              <th>菜单级别</th>
              <th>M</th>
              <th>C</th>
              <th>A</th>
              <th>显示顺序</th>
              <th>状态</th>
              <th class="table-tool">操作</th>
            </tr>
          </thead>
          <tbody data-check="list" data-parent=".table">
            <volist name="sysmenulist" id="vlist">
            <tr target="sid_user">
              <!-- <td class="table-checkbox">
                <input type="checkbox" class="checkboxes" value="30" name="postlist[]">
              </td> -->
              <td data-title="模块ID">{$key+1}</td>
              <td data-title="模块名称"><a href="#" class="click-able-title">{$vlist.name}</a></td>
              <td data-title="节点KEY">
                <volist name=":C('MANGER_KEY')" id="vo">
                  <if condition="$key eq $vlist['nodekey']">{$vo}</if>
                </volist>
              </td>
              <td data-title="菜单级别">
                <volist name=":C('MANGER_LEVEL')" id="vo">
                  <if condition="$key eq $vlist['menulevel']">{$vo}</if>
                </volist>
              </td>
              <td data-title="M">{$vlist.m}</td>
              <td data-title="C">{$vlist.c}</td>
              <td data-title="A">{$vlist.a}</td>
              <td data-title="显示顺序">{$vlist.displayorder}</td>
              <td data-title="是否可用" <if condition="$vlist['isenable'] neq 1">style="font-weight:bold; color:red;";</if>>
                <volist name=":C('MANGER_STATUS')" id="vo">
                  <if condition="$key eq $vlist['isenable']">{$vo}</if>
                </volist>
              </td>
              <td class="table-tool" data-title="操作">
                <div class="tools-edit">
                  <a data-tip="修改" target="dialog" mask="true" href="{$host_name}/sysnode/sysnodeAdd?id={$vlist.id}&acttype=1&sysmenuid={$vlist.sysmenuid}" class="btn btn-success btn-icon">
                    <i class="fa fa-pencil"></i>
                  </a>
                </div>
              </td>
            </tr>
            </volist>
          </tbody>
        </table>
      </form>

    </div>
  </div>
  {$page}
</div>
<script>
  $(function(){
    $(".class-filter").change(function (){
      $(this).closest("form").submit();
    })
  })
</script>