<!--修改样式2 p元素自适应宽度 start-->
<style type="text/css">
  .checkbox label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 20px;
    height: 20px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #cccccc;<!--没选中时的边框颜色-->
  border-radius: 3px;
  background-color: #fff;<!--没选中时的颜色-->
  -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  transition: border 0.15s ease-in-out, color 0.15s ease-in-out;

  }

  .checkbox label::after {
    display: inline-block;
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0;
    top: 0;
    margin-left: -19px;<!--可以改变“√”的位置-->
  padding-left: 3px;<!--可以改变“√”的位置-->
  padding-top: 1px;<!--可以改变“√”的位置-->
  font-size: 13px;<!--选中后的中间打钩的字体大小（字体越大中间的勾越大越明显）-->
  color: #FAD500;<!--选中后的中间打钩的颜色-->
  }

  .checkbox input[type="checkbox"],
  .checkbox input[type="radio"] {
    opacity: 0;
    z-index: 1;
  }

  .checkbox input[type="checkbox"]:focus + label::before,
  .checkbox input[type="radio"]:focus + label::before {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
    background-color: black;
    border-color: black;
  }

  .checkbox input[type="checkbox"]:checked + label::before,
  .checkbox input[type="radio"]:checked + label::before {
    background-color: black;<!--选中后的背景颜色-->
  border-color: black;<!--选中后的边框颜色-->
  }

  .checkbox input[type="checkbox"]:checked + label::after,
  .checkbox input[type="radio"]:checked + label::after {
    font-family: "FontAwesome";
    content: "\f00c";
  }

  .checkbox input[type="checkbox"]:disabled + label,
  .checkbox input[type="radio"]:disabled + label {
    opacity: 0.65;
  }

  .checkbox input[type="checkbox"]:disabled + label::before,
  .checkbox input[type="radio"]:disabled + label::before {
    background-color: #eeeeee;
    cursor: not-allowed;
  }

  .checkbox.checkbox-circle label::before {
    border-radius: 50%;
  }
</style>
<div class="pageContent">
  <form method="post" action="{$host_name}/sysnode/sysnodeAdd" class="pageForm required-validate" enctype="multipart/form-data" onsubmit="return iframeCallback(this, dialogAjaxDone)">
    <input type="hidden" name="acttype" value="{$acttype}">
    <input type="hidden" name="id" value="{$vinfo.id}">
    <input type="hidden" name="sysmenuid" value="{$vinfo.sysmenuid}">
    <input type="hidden" id="passid" name="passid" value="{$vinfo.parentid}">
    <div class="pageFormContent modal-body">
      <div class="form-group row">
        <label class="col-xs-12 col-sm-2 control-label">
          节点key：
        </label>
        <div class="col-xs-12 col-sm-10">
          <select id="nodekey" name="nodekey" class="form-control bs-select" title="请选择..." required>
            <volist name=":C('MANGER_KEY')" id="vo">
              <option value="{$key}" <if condition="$key eq $vinfo['nodekey']">selected</if>>{$vo}</option><br>
            </volist>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-xs-12 col-sm-2 control-label">
          模块名：
        </label>
        <div class="col-xs-12 col-sm-10">
          <input type="text" class="form-control" name="modulename" minlength="1" maxlength="40" value="{$vinfo.name}" required>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-xs-12 col-sm-2 control-label">
          菜单级别：
        </label>
        <div class="col-xs-12 col-sm-10">
          <select id="menulevel" name="menulevel" class="form-control bs-select" title="请选择..."  required>
            <volist name=":C('MANGER_LEVEL')" id="vo">
              <option value="{$key}" <if condition="$key eq $vinfo['menulevel']">selected</if>>{$vo}</option><br>
            </volist>
          </select>
        </div>
      </div>



      <div class="form-group row" id="sechidden">
        <label class="col-xs-12 col-sm-2 control-label">
          对应二级栏目列表：
        </label>
        <div class="col-xs-12 col-sm-10">
          <select name="secid" id="secid" class="form-control" title="请选择..." >
          </select>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-xs-12 col-sm-2 control-label">
          显示顺序：
        </label>
        <div class="col-xs-12 col-sm-10">
          <input name="displayorder" type="text" class="form-control digits" value="{$vinfo.displayorder}" required/>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-xs-12 col-sm-2 control-label">
          M模块：
        </label>
        <div class="col-xs-12 col-sm-10">
          <input type="text" class="form-control" name="mfield" id="mfield" value="{$vinfo.mfield}" <if condition="$acttype eq 1">readonly</if>>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-xs-12 col-sm-2 control-label">
          控制器：
        </label>
        <div class="col-xs-12 col-sm-10">
          <input type="text" class="form-control" name="cfield" id="cfield" value="{$vinfo.cfield}" <if condition="$acttype eq 1">readonly</if>>
        </div>
      </div>


      <div class="form-group row">
        <label class="col-xs-12 col-sm-2 control-label">
          方法：
        </label>
        <div class="col-xs-12 col-sm-10">
          <input type="text" class="form-control" name="afield" id="afield" value="{$vinfo.afield}" <if condition="$acttype eq 1">readonly</if>>
        </div>
      </div>

      <!-- <div class="form-group row">
        <label class="col-xs-12 col-sm-2 control-label">
          状态：
        </label>
        <div class="col-xs-12 col-sm-10">
          <input type="hidden" name="isenable" value="0">
          <input type="checkbox" value="1" class="make-switch status" name="isenable" data-size="small" data-on-text="启用" data-off-text="禁用" <if condition="$vinfo.isenable neq 0 or 2" >checked</if>>
        </div>
      </div> -->
      <if condition="$vinfo.menulevel eq 0">
       <div class="form-group row" id="defaultpic">
              <label class="col-xs-12 col-sm-2 control-label">
               		 默认图标：
              </label>
              <div class="col-xs-12 col-sm-10">
                <div class="fileinput fileinput-new" data-fileinput>
                  <div class="fileinput-preview thumbnail" data-trigger="fileinput">
                    <a data-target="#modal-file" href="javascript:void(0)">
                      <if condition="($vinfo['oss_addr'] eq 'NULL') OR $vinfo['oss_addr'] eq ''">
                        <img id="media_idimg" src="/Public/admin/assets/img/noimage.png" border="0" />
                        <else />
                        <img id="media_idimg" src="{$vinfo.oss_addr}" border="0" />
                      </if>
                       <span id="media_idimgname"></span>
                    </a>
                  </div>
                  <div>
                    <a class="btn btn-success btn-file" data-target="#modal-file" href="{$host_name}/resource/uploadResource?filed=media_id&rtype=2" data-browse-file>
                      选择图片
                    </a>
                    <input type="hidden" name="media_id" id="media_id" value="">
                    <a href="javascript:;" class="btn btn-danger" data-remove-file="/Public/admin/assets/img/noimage.png">
                      删除 </a>
                  </div>
                </div>
              </div>
            </div>
            
             <div class="form-group row" id="choosemepic">
              <label class="col-xs-12 col-sm-2 control-label">
                	选中图标：
              </label>
              <div class="col-xs-12 col-sm-10">
                <div class="fileinput fileinput-new" data-fileinput>
                  <div class="fileinput-preview thumbnail" data-trigger="fileinput">
                    <a data-target="#modal-file" href="javascript:void(0)">
                      <if condition="($vinfo['select_oss_addr'] eq 'NULL') OR $vinfo['select_oss_addr'] eq ''">
                        <img id="select_media_idimg" src="/Public/admin/assets/img/noimage.png" border="0" />
                        <else />
                        <img id="select_media_idimg" src="{$vinfo.select_oss_addr}" border="0" />
                      </if>
                       <span id="select_media_idimgname"></span>
                    </a>
                  </div>
                  <div>
                    <a class="btn btn-success btn-file" data-target="#modal-file" href="{$host_name}/resource/uploadResourceNew?filed=select_media_id&rtype=2" data-browse-file>
                      选择图片
                    </a>
                    <input type="hidden" name="select_media_id" id="select_media_id" value="">
                    <a href="javascript:;" class="btn btn-danger" data-remove-file="/Public/admin/assets/img/noimage.png">
                      删除 </a>
                  </div>
                </div>
              </div>
            </div>
            
            </if>
      <div class="form-group row">
        <label class="col-xs-12 col-sm-2 control-label">
          状态：
        </label>
        <div class="col-xs-12 col-sm-10">
          <input type="hidden" name="isenable" value="2">
          <input type="checkbox" value="1" class="make-switch status" name="isenable" data-size="small" data-on-text="启用" data-off-text="禁用" <if condition="$vinfo.isenable neq 2" >checked</if>>
        </div>
      </div>


      <div class="form-group row">
        <label class="col-xs-12 col-sm-2 control-label">
          输入框：
        </label>
        <div class="col-xs-12 col-sm-10 form-inline">
          <div class="checkbox checkbox-circle" style="margin-left:10px;">
            <input id="radio2"  class="styled" type="radio" name="ertype" value="2" <if condition="$vinfo.ertype eq 2" >checked</if>>
            <label for="radio2" class="font-bolder">
              原生js
            </label>
          </div>

          <div class="checkbox checkbox-circle" style="margin-left:20px;">
            <input id="radio1" class="styled" type="radio" name="ertype" value="1" <if condition="$vinfo.ertype eq 1" >checked</if>>
            <label for="radio1" class="font-bolder">
              系统自带
            </label>
          </div>

        </div>
      </div>








            
    </div>

    <div class="modal-footer">
      <button class="btn btn-default close-m" type="button">取消</button>
      <button class="btn btn-primary" type="submit">保存</button>     
    </div>
  </form>
</div>
<script type="text/javascript">
  var  gaid = $("#menulevel").val();
  var nodekeys = $("#nodekey").val();
  if(gaid == 2){
    var passid = $("#passid").val();
    $("#sechidden").css('display','');
    $("#mopermi").css('display','none');
    $("#mopejs").css('display','none');

    $.ajax({
      type: 'POST',
      //设置json格式,接收返回数组。
      dataType: 'json',
      url: '{$host_name}/sysnode/getnodeinfo',
      //ajax传递当前选项的value值,也就是当前的region_id。
      data:"nokey="+nodekeys,
      success: function(data) {
        console.log(data);
        //如果返回值不为空则执行。
        if (data != null) {
          var option_str = '';
          //循环书写下一个select中要添加的内容。并添加name标记。
          for (var i = 0; i < data.length; i++) {
            if(data[i].id == passid){
              option_str+='<option selected="selected" value="'+data[i].id+'">'+data[i].name+'</option>';
            }else{
              option_str+='<option value="'+data[i].id+'">'+data[i].name+'</option>';
            }

          }
          //向下一个select中添加书写好的内容。
          $('#secid').append(option_str);
        }
      }

    })
  }else{
    $("#sechidden").css('display','none');
    $("#mopermi").css('display','');
    $("#mopejs").css('display','');
    $("#defaultpic").css('display','');
    $("#choosemepic").css('display','');
  }

  $("#menulevel").change(function() {
    var  gid = $("#menulevel").val();
    var nodekey = $("#nodekey").val();
    if(gid == 2){
      $("#sechidden").css('display','');
      $("#defaultpic").css('display','none');
      $("#choosemepic").css('display','none');
      $("#mopermi").css('display','none');
      $("#mopejs").css('display','none');
      $('#secid').empty();
      $.ajax({
        type: 'POST',
        //设置json格式,接收返回数组。
        dataType: 'json',
        url: '{$host_name}/sysnode/getnodeinfo',
        //ajax传递当前选项的value值,也就是当前的region_id。
        data:"nokey="+nodekey,
        success: function(data) {
          console.log(data);

          //如果返回值不为空则执行。
          if (data != null) {
            var option_str = '';
            //循环书写下一个select中要添加的内容。并添加name标记。
            for (var i = 0; i < data.length; i++) {
              option_str+='<option value="'+data[i].id+'">'+data[i].name+'</option>';
            }
            //向下一个select中添加书写好的内容。
            $('#secid').append(option_str);
          }
        }

      })
    }else{
      $("#sechidden").css('display','none');
      $("#defaultpic").css('display','');
      $("#choosemepic").css('display','');
      $("#mopermi").css('display','');
      $("#mopejs").css('display','');
      $('#secid').empty();
      return false;
    }

  });


  function setlevel(obj) {
    console.log(obj);


  }
</script>