<style type="text/css">
    .zhezhao{
        display: none;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background-color: black;
        opacity: 0.7;
        text-align: center;
        z-index: 99;
    }
    .big{
        display: none;
    }
    .addbig{
        position: absolute;
        width: 300px;
        height: 200px;
        top: 100px;
        left: 26%;
        z-index: 100;
    }
</style>
<include file="Public/script"/>
<!--显示列表样式1 start-->
<div class="pageHeader">
 <div class="tools-group hidden-xs ">全局设置</div>
</div>
<div class="pageContent" id="pagecontent">
  <div id="w_list_print" style="overflow:hidden;">
    <div class="no-more-tables" style="margin-top:20px;">
      
      <form method="post" action="{$host_url}/integral/globalconfig/editconfig" id="configvolume" class="pageForm required-validate" enctype="multipart/form-data" onsubmit="return iframeCallback(this, dialogAjaxDone)">
        <table class="table table-bordered table-striped" targetType="navTab" asc="asc" desc="desc">
          <thead>
          <th colspan="3">积分配置</th>
            <tr >
              <td>积分兑换比例：1元=<input type="text" name="integral_exchange_rate" value="{$info.integral_exchange_rate}" min='1' max='100000'  />积分</td>
              <td>红包费率：<input  placeholder="请输入小数" type="text" name="red_packet_rate" value="{$info.red_packet_rate}" min='0' max='0.02'  /></td>
              <td><button class="btn btn-primary" type="submit">保存</button></td>
            </tr>

          <tr >
            <td>单块屏每天最多获得积分：<input type="text" name="integral_boxmac" value="{$info.integral_boxmac}" min='1' max='600' /></td>
            <td><button class="btn btn-primary" type="submit">保存</button></td>
          </tr>

          </thead>
          
          </tbody>
        </table>
        
      </form>
    </div>
  </div>
</div>