<!--修改样式2 p元素自适应宽度 start-->
<style type="text/css">
    .zhezhao_e{



        display: none;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background-color: black;
        opacity: 0.7;
        text-align: center;
        z-index: 99;
    }
    .big_e{
        display: none;
    }
    .addbig{
        position: absolute;
        width: 300px;
        height: 200px;
        top: 100px;
        left: 26%;
        z-index: 100;
    }
</style>
<div class="pageContent">
  <form method="post" id="loadpic"
action="{$host_name}/sysconfig/doAddLoadingImg" class="pageForm required-validate" enctype="multipart/form-data" onsubmit="return iframeCallback(this, dialogAjaxDone)">
    
    <div class="pageFormContent modal-body">
      
    
       <div class="form-group row">
              <label class="col-xs-12 col-sm-2 control-label">
               		 视频投屏loading图：
              </label>
              <div class="col-xs-12 col-sm-10">
                <div class="fileinput fileinput-new" data-fileinput>
                  <div class="fileinput-preview thumbnail" data-trigger="fileinput">
                    <a data-target="#modal-file" href="javascript:void(0)">
                     <empty name="oss_addr">
                        <img class="mig" id="media_idimg" src="/Public/admin/assets/img/noimage.png" border="0" />
                        <else />
                        <img class="mig" id="media_idimg" src="{$oss_addr}" border="0" />
                      </empty>
                       <span id="media_idimgname"></span>
                    </a>
                  </div>
                  <div>
                    <a class="btn btn-success btn-file" data-target="#modal-file" href="{$host_name}/resource/uploadResource?filed=media_id&rtype=2" data-browse-file>
                      选择图片
                    </a>
                    <input type="hidden" name="media_id" id="media_id" value="{$media_id}">
                    <a href="javascript:;" class="btn btn-danger" data-remove-file="/Public/admin/assets/img/noimage.png">
                      删除 </a>
                  </div>
                </div>
              </div>
            </div>
            
            
</div>
    <div class="modal-footer">
      <button class="btn btn-default close-m" type="button">取消</button>
      <button class="btn btn-primary" type="submit">保存</button>     
    </div>
  </form>
  <div class="zhezhao_e"></div>
        <img class="big_e" src=""/>
</div>
<script type="text/javascript">
$(function(){
    $('.mig').click(function(){
        var $a = $(this).attr('src');
        $('.big_e').prop('src',$a).addClass('addbig');
        $('.zhezhao_e').show(500);
        $('.big_e').show(500);
    })
    $('.zhezhao_e').click(function(){
        $('.zhezhao_e').hide(500);
        $('.big_e').hide(500);
    })

});


function dialogAjaxDone(json) {
    console.log(json);
    DWZ.ajaxDone(json);
    if (json.navTabId == 'Sysconfig/configvideo') {
//navTab.closeDialog('device/editbox');
//$.pdialog.closeCurrent();
//var dialog = navTab.getCurrentPanel();
//console.log(dialog);
//$.pdialog.close('device/abceditbox');
// $.pdialog.reload('hotel/manager');

        var dialog = $.pdialog.getCurrent();
//机顶盒数量里面的页面的修改是dialog，而rel就是它传的id
        $.pdialog.closeCurrent();
        $.pdialog.close('sysconfigxiugai');
//$.pdialog.reload(dialog.data("url"));
        console.log(dialog.data("url"));
//获取当前dialog的id
        console.log($(dialog).data("id"));
//因为它是navtab的所以这样用
        navTab.reload('Sysconfig/configData');

//   $.pdialog.reload(dialog.data("url"));

    }
}
</script>