<!--修改样式2 p元素自适应宽度 start-->
<div class="pageContent">
  <form method="post" id="loadpic"
action="{$host_name}/sysconfig/doAddLoadingImg" class="pageForm required-validate" enctype="multipart/form-data" onsubmit="return iframeCallback(this, dialogAjaxDone)">
    
    <div class="pageFormContent modal-body">
      
    
       <div class="form-group row">
              <label class="col-xs-12 col-sm-2 control-label">
               		 视频投屏loading图：
              </label>
              <div class="col-xs-12 col-sm-10">
                <div class="fileinput fileinput-new" data-fileinput>
                  <div class="fileinput-preview thumbnail" data-trigger="fileinput">
                    <a data-target="#modal-file" href="javascript:void(0)">
                     <empty name="oss_addr">
                        <img id="media_idimg" src="/Public/admin/assets/img/noimage.png" border="0" />
                        <else />
                        <img id="media_idimg" src="{$oss_addr}" border="0" />
                      </empty>
                       <span id="media_idimgname"></span>
                    </a>
                  </div>
                  <div>
                    <a class="btn btn-success btn-file" data-target="#modal-file" href="{$host_name}/resource/uploadResource?filed=media_id&rtype=2" data-browse-file>
                      选择图片
                    </a>
                    <input type="hidden" name="media_id" id="media_id" value="{$media_id}">
                    <a href="javascript:;" class="btn btn-danger" data-remove-file="/Public/admin/assets/img/noimage.png">
                      删除 </a>
                  </div>
                </div>
              </div>
            </div>
            
            
</div>
    <div class="modal-footer">
      <button class="btn btn-default close-m" type="button">取消</button>
      <button class="btn btn-primary" type="submit">保存</button>     
    </div>
  </form>
</div>
<script type="text/javascript">

    /*$(function(){
        var currentDialogId = $.pdialog.getcurrentDialogId();

        alert(currentDialogId);//获取当前窗口的ID
        var tempHref = $("#goToModify").attr("href");
        $("#goToModify").attr("href",tempHref + "&rel="+currentDialogId);
    });*/


    /*function dialogAjaxDone(json){
        //上一次的rel链接
        $.pdialog.close("firstDialogId");
      //  $.pdialog.open(url, dlgId, title);
         //   navTab.closeCurrentTab();
        // navTab.closeTab(json.navTabId);
        DWZ.ajaxDone(json);
        // alert(json);
        jap = JSON.stringify(json);
        console.log(jap);
        // navTab.closeTab('clientconfig/addclientconfig');
        // navTab.reload('clientconfig/configdata');
        navTab.reloadFlag('Sysconfig/configData');
        //注意返回的JSON的数据结构
        //navTab.closeTab('abce');
        if (json.status == DWZ.statusCode.ok){
            if (json.navTabId){
           // navTab.reload('clientconfig/configdatar');
            }


        }

}*/
</script>