<!--修改样式2 p元素自适应宽度 start-->
<style type="text/css">
    .zhezhao{



        display: none;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background-color: black;
        opacity: 0.7;
        text-align: center;
        z-index: 99;
    }
    .big{
        display: none;
    }
    .addbig{
        position: absolute;
        width: 300px;
        height: 200px;
        top: 100px;
        left: 26%;
        z-index: 100;
    }
</style>
<include file="Public/script"/>
<!--显示列表样式1 start-->
<div class="pageHeader">
 <div class="tools-group hidden-xs ">电视设置</div>
</div>
<div class="pageContent" id="pagecontent">
  <div id="w_list_print">
    <div class="no-more-tables" style="margin-top:20px;">
      <form method="post" action="{$host_name}/sysconfig/doConfigData" id="configrcp" class="pageForm required-validate" enctype="multipart/form-data" onsubmit="return iframeCallback(this, dialogAjaxDone)">
        <table class="table table-bordered table-striped" targetType="navTab" asc="asc" desc="desc">
          <thead>
          	<th colspan="3">系统设置</th>
            <tr id="post">
              
              <!-- <td>音量：<input required placeholder="请输入数字" type="text" name="system_default_volume" value="{$info.system_default_volume}"  /></th> -->
              <td>切换时间：<input required placeholder="请输入数字" type="text" name="system_switch_time" value="{$info.system_switch_time}"  /></td>
              <td><if condition="$info['status'] eq 0">
              <a data-tip="开启" target="ajaxTodo" href="{$host_name}/sysconfig/editstatus?status=1" calback="navTabAjaxDone" class="btn btn-default btn-icon"><span>
                <i class="fa fa-toggle-off"></i></span></a>
              <else/>
              <a data-tip="关闭" target="ajaxTodo" href="{$host_name}/sysconfig/editstatus?status=0" calback="navTabAjaxDone" class="btn btn-default btn-icon"><span>
                <i class="fa fa-toggle-on"></i></span></a>
              </if></th>
            	<td>
            	
            	
		      
		      <button class="btn btn-primary" type="submit">保存</button>     
		    
            	</td>  
            </tr>
            
            
          </thead>
          
          </tbody>
        </table>
        
      </form>
      
      <form method="post" action="{$host_name}/sysconfig/doConfigVolume" id="configvolume" class="pageForm required-validate" enctype="multipart/form-data" onsubmit="return iframeCallback(this, dialogAjaxDone)">
        <table class="table table-bordered table-striped" targetType="navTab" asc="asc" desc="desc">
          <thead>
          <th colspan="5">音量设置</th>
            <tr >
              <td>广告轮播音量：<input  placeholder="请输入数字" type="text" name="system_ad_volume" value="{$info.system_ad_volume}" min='0' max='100'  /></td>
              <td>投屏音量：<input  placeholder="请输入数字" type="text" name="system_pro_screen_volume" value="{$info.system_pro_screen_volume}" min='0' max='100'  /></td>
              <td>点播音量：<input  placeholder="请输入数字" type="text" name="system_demand_video_volume" value="{$info.system_demand_video_volume}" min='0' max='100'  /></td>
              <td>电视音量：<input  placeholder="请输入数字" type="text" name="system_tv_volume" value="{$info.system_tv_volume}" min='0' max='100'  /></td>
              <td>  
		      	<button class="btn btn-primary" type="submit">保存</button>     
		      </td>  
            </tr>
            
            
          </thead>
          
          </tbody>
        </table>
        
      </form>
<table class="table table-bordered table-striped" targetType="navTab" asc="asc" desc="desc">
          <thead>
          
            <tr >
              <td>视频投屏loading图(建议1920X1080)
              <a  href="javascript:void(0)" ><img id="covervideo_idimg" src="<empty name="oss_addr">/Public/admin/assets/img/noimage.png<else />{$oss_addr}</empty>" />
              </a>
              </td>
              <td class="table-tool" data-title="操作">
              <div class="tools-edit">
              	<empty name="oss_addr" >
                  <a data-tip="添加" target="dialog" mask="true" href="{$host_name}/sysconfig/addinfo" class="btn btn-success btn-icon">
                  <i class="fa fa-plus"></i>
                  </a>
                <else />
                  <a data-tip="修改"  mask="true" target="dialog" rel="firstDialogId" href="{$host_name}/sysconfig/addinfo" class="btn btn-success btn-icon">
                  <i class="fa fa-pencil"></i>
                  </a>
                  <a data-tip="删除" title="你确定要删除吗？" target="ajaxTodo" href="{$host_name}/sysconfig/delload" calback="navTabAjaxDone" class="btn btn-danger btn-icon">
                    <i class="fa fa-trash"></i>
                  </a>
                </empty>
              </div>
              </td>
            </tr>
            
            
          </thead>
          <div class="zhezhao"></div>
        <img class="big" src=""/>
          </tbody>
        </table>



        <form method="post" action="{$host_name}/sysconfig/doConfigBanner" id="configbanner" class="pageForm required-validate" enctype="multipart/form-data" onsubmit="return iframeCallback(this, dialogAjaxDone)">
            <table class="table table-bordered table-striped" targetType="navTab" asc="asc" desc="desc">
                <thead>
                <th colspan="5">banner时间设置样式(11:00-13:31)</th>
                <tr >
                    <td>中午开始：<input  placeholder="请输入数字" type="text" name="mid_start" value="{$info['mid'][start_time]}"   /></td>
                    <td>中午结束：<input  placeholder="请输入数字" type="text" name="mid_end" value="{$info['mid'][end_time]}"   /></td>
                    <td>下午开始：<input  placeholder="请输入数字" type="text" name="after_start" value="{$info['aft'][start_time]}"   /></td>
                    <td>下午结束：<input  placeholder="请输入数字" type="text" name="after_end" value="{$info['aft'][end_time]}"   /></td>
                    <td>
                        <button class="btn btn-primary" type="submit">保存</button>
                    </td>
                </tr>


                </thead>

                </tbody>
            </table>

        </form>
    </div>
  </div>
  {$page}
</div>
<script type="text/javascript">
$(function(){
    $('#covervideo_idimg').click(function(){
        var $a = $(this).attr('src');
        $('.big').prop('src',$a).addClass('addbig');
        $('.zhezhao').show(500);
        $('.big').show(500);
    })
    $('.zhezhao').click(function(){
        $('.zhezhao').hide(500);
        $('.big').hide(500);
    })

});
$("#videoshan").click(function(){
    $("#xuanpian #xuanpianhr").attr("href",'javascript:void(0)');
})




/* function dialogAjaxDone(json){
    // alert(json);
    jap = JSON.stringify(json);
   // alert(jap);
    DWZ.ajaxDone(json);
    //navTab.reloadFlag('menu/getlist');
    //注意返回的JSON的数据结构
    if (json.status == DWZ.statusCode.ok){
        if (json.navTabId){
            navTab.reload('Sysconfig/configData');
        }


    }

} */





</script>