@charset "utf-8";

.bn_txt { color: #ae7e45; font-size: 12px; text-align: center; padding-top: 50px;}
.box_nr .bn_img { width: 120px; margin: auto; display: block; margin-top: 30px;}

@media screen and (min-width: 480px){
	.bn_txt { font-size: 20px; padding-top: 80px;}
	.box_nr .bn_img { width: 240px; margin-top: 50px;}
}
