<div class="pageContent">
	<form method="post" action="{$host_url}/smallapp/coupon/couponadd" class="pageForm required-validate" enctype="multipart/form-data" onsubmit="return iframeCallback(this, dialogAjaxDone)">
		<input name="id" type="hidden" value="{$vinfo.id}"/>

		<div class="pageFormContent modal-body">

			<div class="form-group row">
				<label class="col-xs-12 col-sm-2 control-label">名称：</label>
				<div class="col-xs-12 col-sm-10">
					<input name="name" type="text" value="{$vinfo.name}" class="form-control" required/>
				</div>
			</div>

			<div class="form-group row">
				<label class="col-xs-12 col-sm-2 control-label">金额：</label>
				<div class="col-xs-12 col-sm-10">
					<input name="money" type="number" value="{$vinfo.money}" class="form-control" required/>
				</div>
			</div>

			<div class="form-group row">
				<label class="col-xs-12 col-sm-2 control-label">满减金额：</label>
				<div class="col-xs-12 col-sm-10">
					<input name="min_price" type="number" value="{$vinfo.min_price}" class="form-control" required/>
				</div>
			</div>

			<div class="form-group row">
				<label class="col-xs-12 col-sm-2 control-label">备注：</label>
				<div class="col-xs-12 col-sm-10">
					<input name="remark" type="text" value="{$vinfo.remark}" class="form-control" required/>
				</div>
			</div>

			<div class="form-group row" id="goods_start_date">
				<label class="col-xs-6 col-sm-2 control-label">
					开始时间:
				</label>
				<div class="input-group input-group-sm date form_date" data-ymd="true" data-date="{$vinfo.start_time}" >
					<input id="start_time" name="start_time" type="text" size="2" class="form-control date" placeholder="开始时间" value="{$vinfo.start_time}" readonly>
					<span class="input-group-btn"  >
				  <button class="btn default date-reset  btn-sm" type="button"><i class="fa fa-times"></i></button>
				  <button  class="btn btn-success date-set  btn-sm" type="button"><i class="fa fa-calendar"></i></button>
				</span>
				</div>
			</div>

			<div class="form-group row" id="goods_end_date">
				<label class="col-xs-6 col-sm-2 control-label">
					结束时间:
				</label>
				<div class="input-group input-group-sm date form_date" data-ymd="true" data-date="{$vinfo.end_time}" >
					<input id="end_time" name="end_time" type="text" size="2" class="form-control date" placeholder="结束时间" value="{$vinfo.end_time}" readonly>
					<span class="input-group-btn"  >
				  <button class="btn default date-reset  btn-sm" type="button"><i class="fa fa-times"></i></button>
				  <button  class="btn btn-success date-set  btn-sm" type="button"><i class="fa fa-calendar"></i></button>
				</span>
				</div>
			</div>

			<div class="form-group row">
				<label class="col-xs-12 col-sm-2 control-label">
					状态：
				</label>
				<div class="col-xs-12 col-sm-10">
					<input type="hidden" name="status" value="2">
					<input type="checkbox" value="1" class="make-switch status" name="status" data-size="small" data-on-text="开启" data-off-text="关闭" <if condition="$vinfo.status eq 1" >checked</if>>
				</div>
			</div>

	</div>
		<div class="modal-footer">
			<button class="btn btn-default close-m" type="button">取消</button>
			<button class="btn btn-primary" type="submit">保存</button>
		</div>
	</form>
</div>
<script>
	$(".form-control.date").datetimepicker({
		//minView: "month", //选择日期后，不会再跳转去选择时分秒
		minView:"0",
		language:  'zh-CN',
		format: 'yyyy-mm-dd hh:ii:00',
		todayBtn:  1,
		autoclose: 1,
	});

</script>