<div class="pageContent">
	<form method="post" action="{$host_url}/smallapp/coupon/couponadd" class="pageForm required-validate" enctype="multipart/form-data" onsubmit="return iframeCallback(this, dialogAjaxDone)">
		<input name="id" type="hidden" value="{$vinfo.id}"/>

		<div class="pageFormContent modal-body">

			<div class="form-group row">
				<label class="col-xs-12 col-sm-2 control-label">名称：</label>
				<div class="col-xs-12 col-sm-10">
					<input name="name" type="text" value="{$vinfo.name}" class="form-control" required/>
				</div>
			</div>

			<div class="form-group row">
				<label class="col-xs-12 col-sm-2 control-label">优惠券金额：</label>
				<div class="col-xs-12 col-sm-10">
					<input name="money" type="number" value="{$vinfo.money}" class="form-control" required/>
				</div>
			</div>

			<div class="form-group row">
				<label class="col-xs-12 col-sm-2 control-label">满多少可用：</label>
				<div class="col-xs-12 col-sm-10">
					<input name="min_price" type="number" value="{$vinfo.min_price}" class="form-control" required/>
				</div>
			</div>

			<div class="form-group row">
				<label class="col-xs-12 col-sm-2 control-label">
					类型:
				</label>
				<div class="col-xs-12 col-sm-10">
					<select name="type" id="coupon_type" class="form-control bs-select" data-size="20" required>
						<volist name=":C('COUPON_TYPES')" id="ctype">
							<option value="{$key}" <if condition="$vinfo['type'] eq $key"> selected </if> > {$ctype}</option>
						</volist>
					</select>
				</div>
			</div>

			<div class="form-group row" id="coupon_use_range">
				<label class="col-xs-12 col-sm-2 control-label">
					使用范围:
				</label>
				<div class="col-xs-12 col-sm-10">
					<div class="inline-radio-container">
						<label class="radio-inline">
							<input type="radio" name="use_range" id="1" value='1' <if condition="1 eq $vinfo['use_range']">checked</if>>
							<span>全部酒水</span>
						</label>
						<label class="radio-inline">
							<input type="radio" name="use_range" id="2" value='2' <if condition="2 eq $vinfo['use_range']">checked</if>>
							<span>部分酒水</span>
						</label>

					</div>
				</div>
			</div>

			<div class="form-group row" id="coupon_goods_ids">
    			<label class="col-xs-12 col-sm-2 control-label">选择酒水：</label>
				<div class="col-xs-12 col-sm-10  form-inline">
					<select name="range_finance_goods_ids[]" class="form-control bs-select class-filter" data-live-search="true" data-container="body" multiple="multiple" >
						<volist name="goods" id="ginfo">
							<option value="{$ginfo.id}" {$ginfo.select}>{$ginfo.name}</option>
						</volist>
					</select>

				</div>
			</div>

			<div class="form-group row" id="coupon_hour">
				<label class="col-xs-12 col-sm-2 control-label">领取后使用时间(单位小时)：</label>
				<div class="col-xs-12 col-sm-10">
					<input name="start_hour" type="number" value="{$vinfo.start_hour}" class="form-control"/>
				</div>
			</div>

			<div class="form-group row" id="goods_start_date">
				<label class="col-xs-6 col-sm-2 control-label">
					开始时间:
				</label>
				<div class="input-group input-group-sm date form_date" data-ymd="true" data-date="{$vinfo.start_time}" >
					<input id="start_time" name="start_time" type="text" size="2" class="form-control date" placeholder="开始时间" value="{$vinfo.start_time}">
					<span class="input-group-btn"  >
				  <button class="btn default date-reset  btn-sm" type="button"><i class="fa fa-times"></i></button>
				  <button  class="btn btn-success date-set  btn-sm" type="button"><i class="fa fa-calendar"></i></button>
				</span>
				</div>
			</div>

			<div class="form-group row" id="goods_end_date">
				<label class="col-xs-6 col-sm-2 control-label">
					结束时间:
				</label>
				<div class="input-group input-group-sm date form_date" data-ymd="true" data-date="{$vinfo.end_time}" >
					<input id="end_time" name="end_time" type="text" size="2" class="form-control date" placeholder="结束时间" value="{$vinfo.end_time}">
					<span class="input-group-btn"  >
				  <button class="btn default date-reset  btn-sm" type="button"><i class="fa fa-times"></i></button>
				  <button  class="btn btn-success date-set  btn-sm" type="button"><i class="fa fa-calendar"></i></button>
				</span>
				</div>
			</div>
			<!--
			<div class="form-group row">
				<label class="col-xs-12 col-sm-2 control-label">备注：</label>
				<div class="col-xs-12 col-sm-10">
					<input name="remark" type="text" value="{$vinfo.remark}" class="form-control" />
				</div>
			</div>
			-->
			<div class="form-group row">
				<label class="col-xs-12 col-sm-2 control-label">
					状态：
				</label>
				<div class="col-xs-12 col-sm-10">
					<input type="hidden" name="status" value="2">
					<input type="checkbox" value="1" class="make-switch status" name="status" data-size="small" data-on-text="开启" data-off-text="关闭" <if condition="$vinfo.status eq 1" >checked</if>>
				</div>
			</div>

	</div>
		<div class="modal-footer">
			<button class="btn btn-default close-m" type="button">取消</button>
			<button class="btn btn-primary" type="submit">保存</button>
		</div>
	</form>
</div>
<script>
	$(".form-control.date").datetimepicker({
		//minView: "month", //选择日期后，不会再跳转去选择时分秒
		minView:"0",
		language:  'zh-CN',
		format: 'yyyy-mm-dd hh:ii:00',
		todayBtn:  1,
		autoclose: 1,
	});

	$('#coupon_type').change(function() {
		if($(this).val()==2){
			$('#coupon_use_range').show();
			$('#coupon_hour').show();
		}else{
			$('#coupon_use_range').hide();
			$('#coupon_hour').hide();
			$('#coupon_goods_ids').hide();
		}
	})
	$('#coupon_type').trigger('change');

	$("input[name='use_range']").click(function() {
		var id = $(this).attr("id");
		if (id == 2) {
			$("#coupon_goods_ids").show();
		} else {
			$("#coupon_goods_ids").hide();
		}
	});

</script>