<include file="Public/script"/>
<div class="pageHeader">
  <form onsubmit="return navTabSearch(this);" id="pagerForm" action="{$host_url}/smallapp/coupon/usercouponlist" method="post">
    <input type="hidden" name="pageNum" value="{$pageNum}"/>
    <input type="hidden" name="numPerPage" value="{$numPerPage}"/>
    <div class="searchBar">
      <div class="clearfix">

        <div class="form-inline">

          <div class="form-group">
            <div class="input-group input-group-sm">唯一识别码：</div>
            <div class="input-group">
              <input type="text" class="form-control" name="idcode" value="{$idcode}">
            </div>
          </div>

          <div class="form-group">
            <div class="input-group input-group-sm">使用时间：</div>
            <div class="input-group input-group-sm date form_datetime" data-pos="auto" data-date="{$start_date}" data-ymd="true">
              <input name="start_date" type="text" size="16" class="form-control date" placeholder="开始日期" value="{$start_date}">
              <span class="input-group-btn">
                  <button class="btn default date-reset  btn-sm" type="button"><i class="fa fa-times"></i></button>
                  <button class="btn btn-success date-set  btn-sm" type="button"><i class="fa fa-calendar"></i></button>
              </span>
            </div>
            <div class="input-group input-group-sm date form_datetime" data-pos="auto" data-date="{$end_date}" data-ymd="true">
              <input name="end_date" type="text" size="16" class="form-control date" placeholder="结束日期" value="{$end_date}">
              <span class="input-group-btn">
                <button class="btn default date-reset  btn-sm" type="button"><i class="fa fa-times"></i></button>
                <button class="btn btn-success date-set  btn-sm" type="button"><i class="fa fa-calendar"></i></button>
              </span>
            </div>
          </div>

          <div class="form-group">
            <div class="input-group input-group-sm">支付状态：</div>
            <div class="input-group">
              <select name="wxpay_status" class="form-control bs-select class-filter" data-style="btn-success btn-sm" data-container="body" >
                <option value=0>全部</option>
                <option value="2" <if condition="$wxpay_status eq 2"> selected </if> > 成功</option>
                <option value="1" <if condition="$wxpay_status eq 1"> selected </if> > 失败</option>
              </select>
            </div>
          </div>

          <div class="form-group">
            <div class="input-group input-group-sm">状态：</div>
            <div class="input-group">
              <select name="ustatus" class="form-control bs-select class-filter" data-style="btn-success btn-sm" data-container="body" >
                <option value=0>全部</option>
                <volist name=":C('COUPON_STATUS')" id="cstatus">
                  <option value="{$key}" <if condition="$ustatus eq $key"> selected </if> > {$cstatus}</option>
                </volist>
              </select>
            </div>
          </div>

          <div class="input-group input-group-sm">
<!--              <input type="text" class="form-control" name="hotel_name" value="{$hotel_name}" placeholder="请输入酒楼名称">-->
            <span class="input-group-btn">
                <button class="btn btn-primary" type="submit" id="choosedata"><i class="fa fa-search"></i></button>
              </span>
          </div>

        </div>



      </div>
    </div>
  </form>
</div>

<div class="pageContent" id="pagecontent">
  <div id="w_list_print">
    <div class="no-more-tables">
      <form method="post" action="#" id="del-form" class="pageForm required-validate" enctype="multipart/form-data" onsubmit="return iframeCallback(this, dialogAjaxDone)">
        <table class="table table-bordered table-striped" targetType="navTab" asc="asc" desc="desc">
          <thead>

          <tr id="post">
            <th>ID</th>
            <th>优惠券ID</th>
            <th>金额</th>
            <th>领取时间</th>
            <th>过期时间</th>
            <th>使用时间</th>
            <th>使用酒楼ID</th>
            <th>使用酒楼名称</th>
            <th>用户名称</th>
            <th>用户openid</th>
            <th>核销人员</th>
            <th>唯一识别码</th>
            <th>优惠券来源</th>
            <th>状态</th>
            <th>操作</th>
          </tr>
          </thead>
          <tbody data-check="list" data-parent=".table">
          <volist name="data" id="dinfo">
            <tr target="sid_user">
              <td data-title="ID">{$dinfo.id}</td>
              <td data-title="优惠券ID">{$dinfo.coupon_id}</td>
              <td data-title="金额">{$dinfo.money}</td>
              <td data-title="领取时间">{$dinfo.add_time}</td>
              <td data-title="过期时间">{$dinfo.end_time}</td>
              <td data-title="使用时间">{$dinfo.use_time}</td>
              <td data-title="使用酒楼ID">{$dinfo.use_hotel_id}</td>
              <td data-title="使用酒楼名称">{$dinfo.use_hotel_name}</td>
              <td data-title="用户名称">{$dinfo.user_name}</td>
              <td data-title="用户openid">{$dinfo.openid}</td>
              <td data-title="核销人员">{$dinfo.sale_name}</td>
              <td data-title="唯一识别码">{$dinfo.idcode}</td>
              <td data-title="优惠券来源">{$dinfo.source}</td>
              <td data-title="状态">{$dinfo.status_str}</td>
              <td class="table-tool" data-title="操作">
                <if condition="$dinfo.wxpay_status gt 0">
                  <a data-tip="支付记录" title="支付记录" target="navTab" rel="userforscreen/track" href="{$host_url}/smallapp/coupon/paylog?coupon_uid={$dinfo.id}" class="btn btn-default btn-icon">
                    <i class="fa fa-info"></i>
                  </a>
                </if>
              </td>
            </tr>
          </volist>
          </tbody>
        </table>
      </form>

    </div>
  </div>
  {$page}
</div>