<!--修改样式2 p元素自适应宽度 start-->
<div class="pageContent">
  <form method="post" action="{$host_url}/integral/task/add" class="pageForm required-validate" enctype="multipart/form-data" onsubmit="return iframeCallback(this, dialogAjaxDone)">
    <input type="hidden" name="id" value="{$vinfo.id}">

    <div class="pageFormContent modal-body">
		<div class="form-group row">
	        <label class="col-xs-12 col-sm-2 control-label">
	          任务名称:
	        </label>
	        <div class="col-xs-12 col-sm-10">
	           <input name="name" type="text" class="form-control" minlength="1" maxlength="20"  value="{$vinfo.name}" required>
	        </div>
      	</div>
      	<div class="form-group row" id="defaultpic">
                <label class="col-xs-12 col-sm-2 control-label">
                    任务图标(必填)：
                </label>
                <div class="col-xs-12 col-sm-10">
                    <div class="fileinput fileinput-new" data-fileinput>
                        <div class="fileinput-preview thumbnail" data-trigger="fileinput">
                            <a data-target="#modal-file" href="javascript:void(0)">
                                <if condition="($vinfo['oss_addr'] eq 'NULL') OR $vinfo['oss_addr'] eq ''">
                                    <img id="media_idimg" src="/Public/admin/assets/img/noimage.png" border="0" />
                                    <else />
                                    <img id="media_idimg" src="{$vinfo.oss_addr}" border="0" />
                                </if>
                                <span id="media_idimgname"></span>
                            </a>
                        </div>
                        <div>
                            <a class="btn btn-success btn-file" data-target="#modal-file" href="{$host_name}/resource/uploadResource?filed=media_id&rtype=2" data-browse-file>
                                选择图片
                            </a>
                            <input type="hidden" name="media_id" id="media_id" value="{$vinfo.media_id}" >
                            <a href="javascript:;" class="btn btn-danger" data-remove-file="/Public/admin/assets/img/noimage.png">删除</a>
                        </div>
                    </div>
                </div>
            </div>
        <div class="form-group row">
        <label class="col-xs-12 col-sm-2 control-label">
          任务类型:
        </label>
        <div class="col-xs-12 col-sm-10">
          <select id='integral_task_type' name="type" class="form-control bs-select" required>
          	  <foreach name="integral_task_type" item="val" key="k">
              	<option value="{$k}" <if condition="$k eq 2">disabled="disabled"</if>   <if condition="$vinfo.type eq $k"> selected </if> >{$val}</option>
              </foreach>
              
          </select>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-xs-12 col-sm-2 control-label">
            任务描述：
        </label>
        <div class="col-xs-12 col-sm-10">
            <script id="editor" type="text/plain" class="ueditor-init" name="desc" style="height: 150px; width: 100%" data-html-content='{$vinfo.desc}'></script>
        </div>
      </div>

      <div class="form-group row">
            <label class="col-xs-6 col-sm-2 control-label">
                任务时段-开始时间:
            </label>
            
            <div class="input-group input-group-sm date form_date" data-ymd="true" data-date="{$vinfo.start_time}" >

          		<input id="start_time"    name="start_time" type="text" size="2" class="form-control date" placeholder="任务开始时间" value="{$vinfo.start_time}" readonly>
                <span class="input-group-btn"  >
                  <button id="tast_starttime_reset" class="btn default date-reset  btn-sm" type="button"><i class="fa fa-times"></i></button>
                  <button  class="btn btn-success date-set  btn-sm" type="button"><i class="fa fa-calendar"></i></button>
                </span>
        	</div>
        </div>
        <div class="form-group row">
            <label class="col-xs-6 col-sm-2 control-label">
                任务时段-结束时间:
            </label>
            
            <div class="input-group input-group-sm date form_date" data-ymd="true" data-date="{$vinfo.end_time}" >

          		<input id="end_time"    name="end_time" type="text" size="2" class="form-control date" placeholder="任务结束时间" value="{$vinfo.end_time}" readonly>
                <span class="input-group-btn"  >
                  <button id="tast_starttime_reset" class="btn default date-reset  btn-sm" type="button"><i class="fa fa-times"></i></button>
                  <button  class="btn btn-success date-set  btn-sm" type="button"><i class="fa fa-calendar"></i></button>
                </span>
        	</div>
        </div>
        <!--

        <div class="form-group row">
	        <label class="col-xs-12 col-sm-2 control-label">
	          是否长期任务:
	        </label>
	        <div class="col-xs-12 col-sm-10">
	          <input type="checkbox" name="is_long_time" value="1" />
	        </div>
        </div>

        <div class="form-group row">
            <label class="col-xs-12 col-sm-2 control-label">
                是否支持分润:
            </label>
            <div class="col-xs-12 col-sm-10">
                <select name="is_shareprofit" id="is_shareprofit" class="form-control bs-select" title="请选择..." data-size="20" required>
                    <option value="1" <if condition="$vinfo['is_shareprofit'] eq 1"> selected </if> > 是</option>
                    <option value="0" <if condition="$vinfo['is_shareprofit'] eq 0"> selected </if> > 否</option>
                </select>
            </div>
        </div>

        <div class="form-group row " id="shareprofit_config" <if condition="$vinfo['is_shareprofit'] eq 0">style="display:none;"</if> >
            <label class="col-xs-12 col-sm-2 control-label">
                分润设置：
            </label>
            <div class="col-xs-12 col-sm-10 form-inline">
                <span class="form-control">经理</span><input type="number" class="form-control" name="shareprofit_level1" value="{$vinfo.shareprofit_level1}" min="0" max="100">
                <span class="form-control">员工</span><input type="number" class="form-control" name="shareprofit_level2" value="{$vinfo.shareprofit_level2}" min="0" max="100">
            </div>
        </div>
        -->
        <div class="form-group row">
	        <label class="col-xs-12 col-sm-2 control-label">
	          奖励积分:
	        </label>
	        <div class="col-xs-12 col-sm-10">
	           <input name="integral" type="text" class="form-control" minlength="1" maxlength="5"  value="{$vinfo.integral}" required>
	        </div>
        </div>  
          
    </div>
    <div class="pageFormContent modal-body" id="tasl_content">
    	<div class="form-group row">
        <label class="col-xs-12 col-sm-2 control-label">
          任务内容:
        </label>
        <div class="col-xs-12 col-sm-10">
          <select id="task_content_type" name="task_content_type" class="form-control bs-select" required>
          	  <option value="0" selected="selected">请选择任务内容</option>
          	  <foreach name="system_task_content" item="val" key="k">
              	<option value="{$k}" <if condition="$vinfo.type eq $k"> selected </if> >{$val}</option>
              </foreach>
              
          </select>
        </div>
      </div>
    </div>
    <div class="pageFormContent modal-body" id="tv_on" style="display:none">
    	<div class="form-group row">
            <label class="col-xs-6 col-sm-2 control-label">
                午饭-开始时间:
            </label>
            <div class="col-xs-12 col-sm-10">
	           <input placeholder="例如：12:00" name="kj_lunch_start_time" type="text" class="form-control" minlength="1" maxlength="5"  value="{$vinfo.lunch_start_time}" >
	        </div>
            
        </div>
        <div class="form-group row">
            <label class="col-xs-6 col-sm-2 control-label">
                午饭-结束时间:
            </label>
            
            <div class="col-xs-12 col-sm-10">
	           <input placeholder="例如：14:00" name="kj_lunch_end_time" type="text" class="form-control" minlength="1" maxlength="5"  value="{$vinfo.lunch_end_time}" >
	        </div>
        </div>
        <div class="form-group row">
            <label class="col-xs-6 col-sm-2 control-label">
                晚饭-开始时间:
            </label>
            
            <div class="col-xs-12 col-sm-10">
	           <input placeholder="例如：18:00" name="kj_dinner_start_time" type="text" class="form-control" minlength="1" maxlength="5"  value="{$vinfo.dinner_start_time}" >
	        </div>
        </div>
        <div class="form-group row">
            <label class="col-xs-6 col-sm-2 control-label">
                晚饭-结束时间:
            </label>
            
            <div class="col-xs-12 col-sm-10">
	           <input placeholder="例如：21:00" name="kj_dinner_end_time" type="text" class="form-control" minlength="1" maxlength="5"  value="{$vinfo.dinner_end_time}" >
	        </div>
        </div>
        <div class="form-group row">
           <label class="col-xs-6 col-sm-2 control-label">
                
            </label>
            <div class="col-xs-12 col-sm-10">
        		<p><input  type="radio" name="heart_time" value="1" />饭点内开机时长大于<input name="heart_time_1" type="text" style="width:8%;height:25px;padding:6px 12px;font-size:14px;"  minlength="1" maxlength="5"  value="{$vinfo.heart_time_1}" placeholder="小时" />小时则达标<span for="heart_time_1" generated="true" class="help-block help-block-error" style="display: none;"></span></p>
        		
        		<p><input type="radio" name="heart_time" value="2" />饭点内每开机&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input name="heart_time_2" type="text" style="width:8%;height:25px;padding:6px 12px;font-size:14px;"  minlength="1" maxlength="5"  value="{$vinfo.heart_time_2}" placeholder="小时" />小时奖励一次<span for="heart_time_2" generated="true" class="help-block help-block-error" style="display: block;"></span></p>
        	</div>
        </div>
    </div><!-- 电视开机结束 -->
    <div class="pageFormContent modal-body" id="tv_interact" style="display:none">
    	<div class="form-group row">
            <label class="col-xs-6 col-sm-2 control-label">
                午饭-开始时间:
            </label>
            <div class="col-xs-12 col-sm-10">
	           <input placeholder="例如：12:00" name="hd_lunch_start_time" type="text" class="form-control" minlength="1" maxlength="5"  value="{$vinfo.lunch_start_time}" >
	        </div>
            
        </div>
        <div class="form-group row">
            <label class="col-xs-6 col-sm-2 control-label">
                午饭-结束时间:
            </label>
            
            <div class="col-xs-12 col-sm-10">
	           <input placeholder="例如：14:00" name="hd_lunch_end_time" type="text" class="form-control" minlength="1" maxlength="5"  value="{$vinfo.lunch_end_time}" >
	        </div>
        </div>
        <div class="form-group row">
            <label class="col-xs-6 col-sm-2 control-label">
                晚饭-开始时间:
            </label>
            
            <div class="col-xs-12 col-sm-10">
	           <input placeholder="例如：18:00" name="hd_dinner_start_time" type="text" class="form-control" minlength="1" maxlength="5"  value="{$vinfo.dinner_start_time}" >
	        </div>
        </div>
        <div class="form-group row">
            <label class="col-xs-6 col-sm-2 control-label">
                晚饭-结束时间:
            </label>
            
            <div class="col-xs-12 col-sm-10">
	           <input placeholder="例如：21:00" name="hd_dinner_end_time" type="text" class="form-control" minlength="1" maxlength="5"  value="{$vinfo.dinner_end_time}" >
	        </div>
        </div>
        <div class="form-group row">
	        <label class="col-xs-12 col-sm-2 control-label">
	         每日积分上限:
	        </label>
	        <div class="col-xs-12 col-sm-10">
	           <input name="max_daily_integral" type="text" class="form-control" minlength="1" maxlength="5"  value="{$vinfo.max_daily_integral}" >
	        </div>
      	</div>
      	<div class="form-group row">
           <label class="col-xs-6 col-sm-2 control-label">
                
            </label>
            <div class="col-xs-12 col-sm-10">
        		<p>
        			<input  type="radio" name="user_interact" value="1" />
        			有效时段内每个互动大于
        			<input min='1' type="text" name="user_interact_1" style="width:8%;height:25px;padding:6px 12px;"  minlength="1" maxlength="5"  value="{$vinfo.interact}" placeholder="次" />&nbsp;&nbsp;&nbsp;&nbsp;的独立用户<span for="user_interact_1" generated="true" class="help-block help-block-error"></span>
        		</p>
        		
        		<p>
        			<input type="radio" name="user_interact" value="2" />有效时段内每次互动
        		</p>
        	</div>
        </div>
    </div><!-- 电视互动结束 -->
    <div class="pageFormContent modal-body" id="tv_activity" style="display:none">
          <div class="form-group row">
              <label class="col-xs-6 col-sm-2 control-label">
                  午饭-开始时间:
              </label>
              <div class="col-xs-12 col-sm-10">
                  <input placeholder="例如：12:00" name="activity_lunch_start_time" type="text" class="form-control" minlength="1" maxlength="5"  value="{$vinfo.lunch_start_time}" >
              </div>

          </div>
          <div class="form-group row">
              <label class="col-xs-6 col-sm-2 control-label">
                  午饭-结束时间:
              </label>

              <div class="col-xs-12 col-sm-10">
                  <input placeholder="例如：14:00" name="activity_lunch_end_time" type="text" class="form-control" minlength="1" maxlength="5"  value="{$vinfo.lunch_end_time}" >
              </div>
          </div>
          <div class="form-group row">
              <label class="col-xs-6 col-sm-2 control-label">
                  晚饭-开始时间:
              </label>

              <div class="col-xs-12 col-sm-10">
                  <input placeholder="例如：18:00" name="activity_dinner_start_time" type="text" class="form-control" minlength="1" maxlength="5"  value="{$vinfo.dinner_start_time}" >
              </div>
          </div>
          <div class="form-group row">
              <label class="col-xs-6 col-sm-2 control-label">
                  晚饭-结束时间:
              </label>

              <div class="col-xs-12 col-sm-10">
                  <input placeholder="例如：21:00" name="activity_dinner_end_time" type="text" class="form-control" minlength="1" maxlength="5"  value="{$vinfo.dinner_end_time}" >
              </div>
          </div>
          <div class="form-group row">
              <label class="col-xs-12 col-sm-2 control-label">
                  每日积分上限:
              </label>
              <div class="col-xs-12 col-sm-10">
                  <input name="activity_max_daily_integral" type="text" class="form-control" minlength="1" maxlength="5"  value="{$vinfo.max_daily_integral}" >
              </div>
          </div>
          <div class="form-group row">
              <label class="col-xs-6 col-sm-2 control-label">

              </label>
              <div class="col-xs-12 col-sm-10">
                  <p><input type="radio" name="user_promote" value="1" />饭点内点击"循环播放"</p>

                  <p>
                      <input  type="radio" name="user_promote" value="2" />
                      饭点内每点播互动
                      <input min='1' type="text" name="user_promote_2" style="width:8%;height:25px;padding:6px 12px;"  minlength="1" maxlength="5"  value="{$vinfo.interact}" placeholder="次" />&nbsp;&nbsp;&nbsp;&nbsp;奖励一次<span for="user_promote_2" generated="true" class="help-block help-block-error"></span>
                  </p>


              </div>
          </div>
    </div><!-- 活动推广结束 -->

    <div class="pageFormContent modal-body" id="user_comment" style="display:none">
        <div class="form-group row">
            <label class="col-xs-6 col-sm-2 control-label">
                午饭-开始时间:
            </label>
            <div class="col-xs-12 col-sm-10">
                <input placeholder="例如：12:00" name="comment_lunch_start_time" type="text" class="form-control" minlength="1" maxlength="5"  value="{$vinfo.lunch_start_time}" >
            </div>

        </div>
        <div class="form-group row">
            <label class="col-xs-6 col-sm-2 control-label">
                午饭-结束时间:
            </label>

            <div class="col-xs-12 col-sm-10">
                <input placeholder="例如：14:00" name="comment_lunch_end_time" type="text" class="form-control" minlength="1" maxlength="5"  value="{$vinfo.lunch_end_time}" >
            </div>
        </div>
        <div class="form-group row">
            <label class="col-xs-6 col-sm-2 control-label">
                晚饭-开始时间:
            </label>

            <div class="col-xs-12 col-sm-10">
                <input placeholder="例如：18:00" name="comment_dinner_start_time" type="text" class="form-control" minlength="1" maxlength="5"  value="{$vinfo.dinner_start_time}" >
            </div>
        </div>
        <div class="form-group row">
            <label class="col-xs-6 col-sm-2 control-label">
                晚饭-结束时间:
            </label>

            <div class="col-xs-12 col-sm-10">
                <input placeholder="例如：21:00" name="comment_dinner_end_time" type="text" class="form-control" minlength="1" maxlength="5"  value="{$vinfo.dinner_end_time}" >
            </div>
        </div>
        <div class="form-group row">
            <label class="col-xs-12 col-sm-2 control-label">
                每日积分上限:
            </label>
            <div class="col-xs-12 col-sm-10">
                <input name="comment_max_daily_integral" type="text" class="form-control" minlength="1" maxlength="5"  value="{$vinfo.max_daily_integral}" >
            </div>
        </div>
        <div class="form-group row">
            <label class="col-xs-6 col-sm-2 control-label">

            </label>
            <div class="col-xs-12 col-sm-10">
                <p><input type="radio" name="comment_promote" value="1" />饭点内评价</p>

                <p>
                    <input  type="radio" name="comment_promote" value="2" />
                    饭点内每评价
                    <input min='1' type="text" name="comment_promote_2" style="width:8%;height:25px;padding:6px 12px;"  minlength="1" maxlength="5"  value="{$vinfo.commentnum}" placeholder="次" />&nbsp;&nbsp;&nbsp;&nbsp;奖励一次<span for="comment_promote_2" generated="true" class="help-block help-block-error"></span>
                </p>


            </div>
        </div>
    </div><!--邀请食客评价结束 -->

    <div class="pageFormContent modal-body" id="reward_subsidy" style="display:none">
        <div class="form-group row">
            <label class="col-xs-6 col-sm-2 control-label">
                午饭-开始时间:
            </label>
            <div class="col-xs-12 col-sm-10">
                <input placeholder="例如：12:00" name="reward_lunch_start_time" type="text" class="form-control" minlength="1" maxlength="5"  value="{$vinfo.lunch_start_time}" >
            </div>

        </div>
        <div class="form-group row">
            <label class="col-xs-6 col-sm-2 control-label">
                午饭-结束时间:
            </label>

            <div class="col-xs-12 col-sm-10">
                <input placeholder="例如：14:00" name="reward_lunch_end_time" type="text" class="form-control" minlength="1" maxlength="5"  value="{$vinfo.lunch_end_time}" >
            </div>
        </div>
        <div class="form-group row">
            <label class="col-xs-6 col-sm-2 control-label">
                晚饭-开始时间:
            </label>

            <div class="col-xs-12 col-sm-10">
                <input placeholder="例如：18:00" name="reward_dinner_start_time" type="text" class="form-control" minlength="1" maxlength="5"  value="{$vinfo.dinner_start_time}" >
            </div>
        </div>
        <div class="form-group row">
            <label class="col-xs-6 col-sm-2 control-label">
                晚饭-结束时间:
            </label>

            <div class="col-xs-12 col-sm-10">
                <input placeholder="例如：21:00" name="reward_dinner_end_time" type="text" class="form-control" minlength="1" maxlength="5"  value="{$vinfo.dinner_end_time}" >
            </div>
        </div>
        <div class="form-group row">
            <label class="col-xs-12 col-sm-2 control-label">
                每日积分上限:
            </label>
            <div class="col-xs-12 col-sm-10">
                <input name="reward_max_daily_integral" type="text" class="form-control" minlength="1" maxlength="5"  value="{$vinfo.max_daily_integral}" >
            </div>
        </div>
        <div class="form-group row">
            <label class="col-xs-6 col-sm-2 control-label">

            </label>
            <div class="col-xs-12 col-sm-10">
                <p><input type="radio" name="reward_promote" value="1" />饭点内评价无打赏</p>

                <p>
                    <input  type="radio" name="reward_promote" value="2" />
                    饭点内评价
                    <input min='1' type="text" name="reward_promote_2" style="width:8%;height:25px;padding:6px 12px;"  minlength="1" maxlength="5"  value="{$vinfo.rewardnum}" placeholder="次" />&nbsp;&nbsp;&nbsp;&nbsp;无打赏奖励一次<span for="reward_promote_2" generated="true" class="help-block help-block-error"></span>
                </p>


            </div>
        </div>
    </div><!--打赏补贴结束 -->


    <div class="pageFormContent modal-body" id="invitation_user" style="display:none">
          <div class="form-group row">
              <label class="col-xs-6 col-sm-2 control-label">
                  午饭-开始时间:
              </label>
              <div class="col-xs-12 col-sm-10">
                  <input placeholder="例如：12:00" name="invite_lunch_start_time" type="text" class="form-control" minlength="1" maxlength="5"  value="{$vinfo.lunch_start_time}" >
              </div>

          </div>
          <div class="form-group row">
              <label class="col-xs-6 col-sm-2 control-label">
                  午饭-结束时间:
              </label>

              <div class="col-xs-12 col-sm-10">
                  <input placeholder="例如：14:00" name="invite_lunch_end_time" type="text" class="form-control" minlength="1" maxlength="5"  value="{$vinfo.lunch_end_time}" >
              </div>
          </div>
          <div class="form-group row">
              <label class="col-xs-6 col-sm-2 control-label">
                  晚饭-开始时间:
              </label>

              <div class="col-xs-12 col-sm-10">
                  <input placeholder="例如：18:00" name="invite_dinner_start_time" type="text" class="form-control" minlength="1" maxlength="5"  value="{$vinfo.dinner_start_time}" >
              </div>
          </div>
          <div class="form-group row">
              <label class="col-xs-6 col-sm-2 control-label">
                  晚饭-结束时间:
              </label>

              <div class="col-xs-12 col-sm-10">
                  <input placeholder="例如：21:00" name="invite_dinner_end_time" type="text" class="form-control" minlength="1" maxlength="5"  value="{$vinfo.dinner_end_time}" >
              </div>
          </div>
          <div class="form-group row">
              <label class="col-xs-6 col-sm-2 control-label">
                任务内容：
              </label>
              <div class="col-xs-12 col-sm-10">
                  <p>
                      一个用户一周打开邀请函奖励
                      <input min='1' type="text" name="week_num" style="width:8%;height:25px;padding:6px 12px;"  minlength="1" maxlength="5"  value="{$cinfo.user_reward.week_num}" placeholder="次" />&nbsp;&nbsp;&nbsp;&nbsp;次<span for="reward_promote_2" generated="true" class="help-block help-block-error"></span>
                  </p>

                  <p>
                      饭点内一个包间奖励
                      <input min='1' type="text" name="room_num" style="width:8%;height:25px;padding:6px 12px;"  minlength="1" maxlength="5"  value="{$cinfo.user_reward.room_num}" placeholder="次" />&nbsp;&nbsp;&nbsp;&nbsp;次<span for="reward_promote_2" generated="true" class="help-block help-block-error"></span>
                  </p>


              </div>
          </div>
      </div><!--打赏补贴结束 -->


    <div class="modal-footer">
      <button class="btn btn-default close-m" type="button">取消</button>
      <button class="btn btn-primary" type="submit">保存</button>     
    </div>

  </form>
</div>
<script type="text/javascript">

  $('.date-reset').click(function(){
    $(this).parent().prev().val('')
  });
  $(function(){
    

    $(".form-control.date").datetimepicker({
      //minView: "month", //选择日期后，不会再跳转去选择时分秒
      minView:"0",
      language:  'zh-CN',
      format: 'yyyy-mm-dd hh:ii:00',
      todayBtn:  1,
      autoclose: 1,
    });
    
    $('#integral_task_type').change(function(){  
　　	    var type = $(this).children('option:selected').val();
  		if(type==1){
  			$('#tasl_content').show();
  			var tt_v = $("#task_content_type").val();
  			if(tt_v==1){
  	    		$('#tv_interact').hide();
  	    		$('#tv_activity').hide();
                $('#reward_subsidy').hide();
                $('#user_comment').hide();
                $('#invitation_user').hide();
                $('#tv_on').show();
  			}else if(tt_v==2){
  				$('#tv_on').hide();
                $('#tv_activity').hide();
                $('#reward_subsidy').hide();
                $('#user_comment').hide();
                $('#invitation_user').hide();
                $('#tv_interact').show();
  			}else if(tt_v==3){
                $('#tv_on').hide();
                $('#tv_interact').hide();
                $('#reward_subsidy').hide();
                $('#user_comment').hide();
                $('#invitation_user').hide();
                $('#tv_activity').show();
            }else if(tt_v==4){
                $('#tv_on').hide();
                $('#tv_interact').hide();
                $('#tv_activity').hide();
                $('#reward_subsidy').hide();
                $('#invitation_user').hide();
                $('#user_comment').show();
            }else if(tt_v==5){
                $('#tv_on').hide();
                $('#tv_interact').hide();
                $('#tv_activity').hide();
                $('#user_comment').hide();
                $('#invitation_user').hide();
                $('#reward_subsidy').show();
            }else if(tt_v==6){
                $('#tv_on').hide();
                $('#tv_interact').hide();
                $('#tv_activity').hide();
                $('#user_comment').hide();
                $('#reward_subsidy').hide();
                $('#invitation_user').show();
            }
  		}else if(type==2){
  			$('#tasl_content').hide();
  			$('#tv_on').hide();
    		$('#tv_interact').hide();
            $('#user_comment').hide();
            $('#reward_subsidy').hide();
            $('#invitation_user').hide();
  		}
  　　})  
    $('#task_content_type').change(function(){
    	var type= $(this).children('option:selected').val();
    	if(type==1){
    		$('#tv_interact').hide();
            $('#user_comment').hide();
    		$('#tv_activity').hide();
            $('#reward_subsidy').hide();
            $('#invitation_user').hide();
            $('#tv_on').show();
    	}else if(type==2){
    		$('#tv_on').hide();
            $('#tv_activity').hide();
            $('#user_comment').hide();
            $('#reward_subsidy').hide();
            $('#invitation_user').hide();
    		$('#tv_interact').show();
    	}else if(type==3){
            $('#tv_on').hide();
            $('#tv_interact').hide();
            $('#user_comment').hide();
            $('#reward_subsidy').hide();
            $('#invitation_user').hide();
            $('#tv_activity').show();
        }else if(type==4){
            $('#tv_on').hide();
            $('#tv_interact').hide();
            $('#tv_activity').hide();
            $('#reward_subsidy').hide();
            $('#invitation_user').hide();
            $('#user_comment').show();
        }else if(type==5){
            $('#tv_on').hide();
            $('#tv_interact').hide();
            $('#tv_activity').hide();
            $('#user_comment').hide();
            $('#invitation_user').hide();
            $('#reward_subsidy').show();
        }else if(type==6){
            $('#tv_on').hide();
            $('#tv_interact').hide();
            $('#tv_activity').hide();
            $('#user_comment').hide();
            $('#reward_subsidy').hide();
            $('#invitation_user').show();
        }

    })
    $('#tasl_content').change(function(){
    	var type = $(this).children('option:selected').val();
    	if(type==1){
    		$('#tv_on').show();
    	}else if(type==2){
    		
    	}
    })
    
  })

  $('#is_shareprofit').change(function() {
      if($(this).val()==1){
          $('#shareprofit_config').show();
      }else{
          $('#shareprofit_config').hide();

      }
  })
  $('#is_shareprofit').trigger('change');
</script>