<include file="Public/script"/>
<!--显示列表样式1 start-->
<div class="pageHeader top-filter">
  <form onsubmit="return navTabSearch(this);" id="pagerForm" action="{$host_url}/integral/task/selecthotel" method="post" >
    

    <div class="searchBar">
      <div class="clearfix">
      </div>
      <div class="form-inline" style="margin-top:3px;">
        <div class="form-group">
		  
	          <div class="form-group"  >
	            <div class="input-group-sm input-group">
	              <label class="col-xs-1 col-sm-1 control-label">
	                                           城&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;市：
	              </label>
	
	                <span class="input-group-btn input-group-sm">
	              <select name="area_v" style="width: 20px" class="form-control bs-select class-filter" data-style="btn-success btn-sm" data-container="body" size="15">
	                <option value="0" >全国</option>
	                <volist name="area" id="vo">
	                  <option value="{$vo.id}" <if condition="$vo.id eq $area_k">selected</if>>{$vo.region_name}</option><br>
	                </volist>
	              </select>
	            </span>
	            </div>
	            <div class="input-group input-group-sm">
		          <input type="text" class="form-control" name="name" value="{$name}" placeholder="酒店名称">
		            <span class="input-group-btn">
		              <button class="btn btn-primary" type="submit" id="choosedata"><i class="fa fa-search"></i></button>
		            </span>
		        </div>
	          </div>
	      
          
          

         
          
		</div>
		
      </div>

      
        
    </div>
  </form>
</div>
<div class="pageContent" id="pagecontent" >
  <div id="w_list_print">
    <div class="no-more-tables">
      <form method="post" action="{$host_url}/integral/task/selecthotel" id="del-form" class="pageForm required-validate" enctype="multipart/form-data" onsubmit="return navTabSearch(this);">
        <input type="hidden" name="task_id" value="{$task_id}">

        <table class="table table-bordered table-striped" targetType="navTab" asc="asc" desc="desc">
          <thead>
          <tr id="post">
            
            <th style="width:5%"><input type="checkbox" data-check="all" data-parent=".pageContent"> 全选</th>
            <th>酒店ID</th>
            <th>酒店名称</th>
			<th>所在城市</th>
            <th>机顶盒类型</th>
            <th>绑定手机号</th>

          </tr>
          </thead>
          <tbody data-check="list" data-parent=".table">
          <volist name="list" id="vlist">
            <tr target="sid_user">
              <!-- <td class="table-checkbox">
                <input type="checkbox" class="checkboxes" value="30" name="postlist[]">
              </td> -->
              <td><input name="ids[]"  value="{$vlist.hotel_id}" type="checkbox">

              </td>

              <td data-title="酒店ID">{$vlist.hotel_id}</td>
              <td data-title="酒店名称"><php>echo getFirstCharter($vlist['hotel_name']);</php>--{$vlist.hotel_name}</td>
              <td data-title="所在城市">{$vlist.region_name}</td>
              <td data-title="是否重点">
                {$vlist.hotel_box_type}
              </td>
              <td data-title="绑定手机号">{$vlist.mobile}</td>
              
            </tr>
          </volist>
          </tbody>

        </table>
        <div class="row">

          <button class="btn btn-success" type="button" data-check="invert" data-parent=".pageContent">反选</button>
          <button class="btn btn-success btn-sm add" type="submit" >保存</button>
        </div>
      </form>

    </div>
  </div>
  {$page}
</div>
