<div class="pageContent">
    <form method="post" action="{$host_url}/integral/merchant/merchantaddStep" class="pageForm required-validate" enctype="multipart/form-data" onsubmit="return iframeCallback(this, dialogAjaxDone)">
        <input name="id" type="hidden" value="{$id}"/>
        <input name="merchant_id" type="hidden" value="{$merchant_id}"/>
        <input name="step" type="hidden" value="4"/>
        <div class="pageFormContent modal-body">

            <div class="form-group row ">
                <label class="col-xs-12 col-sm-2 control-label">管理员姓名：</label>
                <div class="col-xs-12 col-sm-10">
                    <input name="name" type="text" value="{$merchant_info.name}" class="form-control"  minlength="1" maxlength="10" required />
                </div>
            </div>

            <div class="form-group row ">
                <label class="col-xs-12 col-sm-2 control-label">管理员职务：</label>
                <div class="col-xs-12 col-sm-10">
                    <input name="job" type="text" value="{$merchant_info.job}" class="form-control" minlength="1" maxlength="10" required />
                </div>
            </div>

            <div class="form-group row ">
                <label class="col-xs-12 col-sm-2 control-label">手机号码：</label>
                <div class="col-xs-12 col-sm-10">
                    <input name="mobile" type="text" value="{$merchant_info.mobile}" class="form-control" maxlength="11" required />
                </div>
            </div>

        </div>

        <div class="modal-footer">
            <button class="btn btn-default close-m" type="button">取消</button>
            <button class="btn btn-primary" type="submit">保存</button>
        </div>
    </form>
</div>