<include file="Public/script"/>
<!--显示列表样式1 start-->
<div class="pageHeader">
  <form onsubmit="return navTabSearch(this);" id="pagerForm" action="{$host_url}/integral/merchant/merchantlist" method="post">
      <input type="hidden" name="pageNum" value="{$pageNum}"/>
      <input type="hidden" name="numPerPage" value="{$numPerPage}"/>
    <div class="searchBar">
      <div class="clearfix">

        <div class="form-inline">

          <div class="form-group">
            <a class="btn btn-success btn-sm add" href="{$host_url}/integral/merchant/merchantadd" target="navTab" rel="merchant/merchantadd" href="{$host_url}/integral/merchant/merchantadd"><i class="fa fa-plus"></i><span>创建商家</span></a>
          </div>
          <div class="form-group">
            <div class="input-group input-group-sm">城市：</div>
            <div class="input-group">
              <select name="area_id" class="form-control bs-select class-filter" data-style="btn-success btn-sm" data-container="body" >
                <option value=0>全部</option>
                <volist name="area" id="vo">
                  <option value="{$vo.id}" <if condition="$vo.id eq $area_id">selected</if>>{$vo.region_name}</option>
                </volist>
              </select>
            </div>
          </div>
          <div class="form-group">
            <div class="input-group input-group-sm">状态：</div>
            <div class="input-group">
              <select name="status" class="form-control bs-select class-filter" data-style="btn-success btn-sm" data-container="body" >
                <option value=0>全部</option>
                <option value="1" <if condition="$status eq 1">selected</if>>正常</option>
                <option value="2" <if condition="$status eq 2">selected</if>>冻结</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <div class="input-group input-group-sm">维护人：</div>
            <div class="input-group">
              <select name="maintainer_id" class="form-control bs-select class-filter" data-style="btn-success btn-sm" data-container="body" >
                <option value=0>全部</option>
                <volist name="opusers" id="vo">
                  <option value="" disabled="disabled">{$key}</option>
                  <volist name="vo" id="vinfo">
                    <option value="{$vinfo.uid}" {$vinfo.select} >{$vinfo.remark}</option>
                  </volist>
                </volist>
              </select>
            </div>
          </div>
          <div class="form-group">
            <div class="input-group input-group-sm">服务模型：</div>
            <div class="input-group">
              <select name="model_id" class="form-control bs-select class-filter" data-style="btn-success btn-sm" data-container="body" >
                <option value=0>所有</option>
                <volist name="service_models" id="sminfo">
                  <option value="{$sminfo.id}" <if condition="$sminfo.id eq $model_id">selected</if>>{$sminfo.name}</option>
                </volist>
              </select>
            </div>
          </div>
          <div class="form-group">
            <div class="input-group input-group-sm"></div>
            <div class="input-group">
              <input type="text" class="form-control" name="hotel_name" value="{$hotel_name}" placeholder="请输入酒楼名称">
            </div>
          </div>


          <div class="form-group">
            <div class="input-group input-group-sm pull-right">
            <span class="input-group-btn">
              <button class="btn btn-primary" type="submit" id="choosedata">查询</button>
            </span>
            </div>
          </div>

        </div>





      </div>
    </div>
  </form>
</div>
<div class="pageContent" id="pagecontent">
  <div id="w_list_print">
    <div class="no-more-tables">
      <form method="post" action="#" id="del-form" class="pageForm required-validate" enctype="multipart/form-data" onsubmit="return iframeCallback(this, dialogAjaxDone)">
        <table class="table table-bordered table-striped" targetType="navTab" asc="asc" desc="desc">
          <thead>
            <tr id="post">
              <th>ID</th>
              <th>商家名称</th>
              <th>城市</th>
              <th>汇率</th>
              <th>管理员</th>
              <th>管理员电话</th>
              <th>员工数量</th>
              <th>维护人</th>
              <th>创建时间</th>
              <th>创建人</th>
              <th>商家状态</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody data-check="list" data-parent=".table">
          <volist name="datalist" id="dinfo">
            <tr target="sid_user">
              <td data-title="ID">{$dinfo.id}</td>
              <td data-title="商家名称">{$dinfo.hotel_name}</td>
              <td data-title="城市">{$dinfo.city}</td>
              <td data-title="汇率">{$dinfo.rate}</td>
              <td data-title="管理员">{$dinfo.name}</td>
              <td data-title="管理员电话">{$dinfo.mobile}</td>
              <td data-title="员工数量">
                <if condition="$dinfo.staff_num gt 0">
                  <a class="btn btn-success " title="{$dinfo.hotel_name}-员工任务:{$dinfo.staff_num}" target="navTab" mask="true" rel="merchant/stafflist" href="{$host_url}/integral/merchant/stafflist?merchant_id={$dinfo.id}" >
                    {$dinfo.staff_num}</a>
                <else/>
                  {$dinfo.staff_num}
                </if>
              </td>
              <td data-title="维护人">{$dinfo.maintainer}</td>
              <td data-title="创建时间">{$dinfo.add_time}</td>
              <td data-title="创建人">{$dinfo.creater}</td>
              <td data-title="商家状态">{$dinfo.status_str}</td>
              <td class="table-tool" data-title="操作">
                <div class="tools-edit">
                  <if condition="$dinfo.id neq 3">
                  <a data-tip="修改" title="修改商家" target="dialog" mask="true" href="{$host_url}/integral/merchant/detail?merchant_id={$dinfo.id}" class="btn btn-success btn-icon">
                    <i class="fa fa-pencil"></i>
                  </a>
                  </if>
                </div>
              </td>
            </tr>
          </volist>
          </tbody>
        </table>
      </form>

    </div>
  </div>
  {$page}
</div>