<include file="Public/script"/>
<!--显示列表样式333331 start-->
<div class="pageHeader">
  <form onsubmit="return navTabSearch(this);" id="pagerForm" action="{$host_name}/dailycontent/rplist" method="post" >
    <input type="hidden" name="pageNum" value="{$pageNum}"/>
    <input type="hidden" name="numPerPage" value="{$numPerPage}"/>
    <input type="hidden" name="_order" value="{$_order}"/>
    <input type="hidden" name="_sort" value="{$_sort}"/>
    <div class="searchBar">
      <div class="clearfix">
        <div class="col-xs-12 col-sm-4 col-md-3">
          <div class="tools-group">

            <a class="btn btn-success btn-sm add" href="{$host_name}/Dailycontent/addcontent"  title="发布文章" target="dialog" mask="true"> <i class="fa fa-plus"></i><span>发布文章</span></a>
            <a class="btn btn-success btn-sm add" href="{$host_name}/dailycontent/addsort" rel="dailycontent/addsortaddsort" title="知享内容排序" target="dialog" mask="true"><i class="fa fa-plus"></i><span>知享内容排序</span></a>
          </div>
        </div>
        <div class="col-xs-12 col-sm-5 col-md-4 pull-right">
          <div class="input-group input-group-sm">
            <input type="text" class="form-control" name="serachdaily" value="{$dailyname}" placeholder="输入内容名称">
            <span class="input-group-btn">
              <button class="btn btn-primary" type="submit" id="choosedata"><i class="fa fa-search"></i></button>
            </span>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="pageContent" id="pagecontent">
  <div id="w_list_print">
    <div class="no-more-tables">
      <form method="post" action="#" id="del-form" class="pageForm required-validate" enctype="multipart/form-data" onsubmit="return iframeCallback(this, dialogAjaxDone)">
        <table class="table table-bordered table-striped" targetType="navTab" asc="asc" desc="desc">
          <thead>
          <tr id="post">
            <th>ID</th>
            <th>名称</th>
            <th>创建人</th>
            <th>创建时间</th>
            <th>发布时间</th>
            <th>发布状态</th>
            <th class="table-tool">操作</th>
          </tr>
          </thead>
          <tbody data-check="list" data-parent=".table">
          <volist name="list" id="vlist">
            <tr target="sid_user">
              <td data-title="ID">{$vlist.id}</td>
              <td data-title="名称">{$vlist.title}

                <if condition="$vlist.is_index eq 1">
                  <a data-tip="首页专题" class="btn btn-success btn-icon"><i class="fa fa-home"></i></a>
                </if>
              </td>
              <td data-title="创建人">{$vlist.remark}</td>
              <td data-title="创建时间">{$vlist.create_time}</td>
              <td data-title="发布时间">{$vlist.bespeak_time}</td>
              <td data-title="发布状态" style="text-align:center;">
                {$vlist['pub']}
              </td>
              <td class="table-tool" data-title="操作">
                <div class="tools-edit">
                  <a data-tip="修改" target="dialog" mask="true"
                    href="{$host_name}/dailycontent/editContent?id={$vlist.id}"
                  class="btn btn-success btn-icon">
                  <i class="fa fa-pencil"></i>
                  </a>
                </div>
                <if condition="$vlist['pub'] eq '已发布'">
                  <div class="tools-edit" style="width:26px;"></div>
                  <else/>
                  <div class="tools-edit">
                    <a warn="警告" data-tip="删除" title="你确定要删除吗？" target="ajaxTodo" href="{$host_name}/dailycontent/delcontent?sgid={$vlist.id}&flag=3"  class="btn btn-success btn-icon">
                      <i class="fa fa-trash"></i>
                    </a>
                  </div>
                </if>


                <div class="tools-edit">

                  <a data-tip="预览"

                     href="
                  {$host_name}/dailycontentshow/showday?id={$vlist.id}"

                  target="_blank"  class="btn btn-success btn-icon">
                  <i class="fa fa-eye"></i>
                  </a>
                </div>

                <div class="tools-edit">

                  <a id="ins_{$vlist.id}"  class="btn btn-success btn-icon cpush"  data-clipboard-text='{$vlist.pushdata}'  title="复制推送内容" mask="true"  data-original-title="复制推送内容">

                    <i  class="fa fa-copy"></i>
                  </a>
                </div>

              </td>

            </tr>
          </volist>
          </tbody>
        </table>
      </form>
      <div class="modal fade" tabindex="-1" role="dialog" id="myModal">
        <div class="modal-dialog" role="document">
          <div class="modal-content" style="width: 357px;height: 160px;">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">提示</h4>
            </div>
            <div class="modal-body">
              <p class="tishi">复制成功&hellip;</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">确定</button>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->
    </div>
  </div>
  {$page}
</div>
<script src="Public/admin/assets/js/clipboard.min.js" type="text/javascript" charset="utf-8"></script>
<SCRIPT LANGUAGE="JavaScript">

  $('.tools-edit').on("click",".cpush",function(){
    var co;
    var ids = $(this).prop("id");
    var clipboard = new Clipboard('#'+ids);
    clipboard.on('success', function(e) {
      //alert('复制成功');
      $('#myModal').modal('show')


    });

    clipboard.on('error', function(e) {
      $('.tishi').html('复制失败');
      $('#myModal').modal('show');

    });

  });
</script>