<div class="pageContent">
    <form method="post" action="{$host_url}/smallapp/adsposition/adspositionadd" class="pageForm required-validate" enctype="multipart/form-data" onsubmit="return iframeCallback(this, dialogAjaxDone)">
        <input name="id" type="hidden" value="{$vinfo.id}"/>
        <div class="pageFormContent modal-body">
            <div class="form-group row">
                <label class="col-xs-12 col-sm-2 control-label">
                    广告位位置:
                </label>
                <div class="col-xs-12 col-sm-10">
                    <select name="position" class="form-control bs-select" title="请选择..." data-size="20" required>
                        <volist name=":C('SAPP_ADSPOSITION')" id="ads">
                            <option value="{$key}" <if condition="$vinfo['position'] eq $key"> selected </if> > {$ads}</option>
                        </volist>
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-xs-12 col-sm-2 control-label">名称：</label>
                <div class="col-xs-12 col-sm-10">
                    <input name="name" type="text" value="{$vinfo.name}" class="form-control" required/>
                </div>
            </div>
            <div class="form-group row" id="defaultpic">
                <label class="col-xs-12 col-sm-2 control-label">
                    广告图(必填)：
                </label>
                <div class="col-xs-12 col-sm-10">
                    <div class="fileinput fileinput-new" data-fileinput>
                        <div class="fileinput-preview thumbnail" data-trigger="fileinput">
                            <a data-target="#modal-file" href="javascript:void(0)">
                                <if condition="($vinfo['oss_addr'] eq 'NULL') OR $vinfo['oss_addr'] eq ''">
                                    <img id="media_idimg" src="/Public/admin/assets/img/noimage.png" border="0" />
                                    <else />
                                    <img id="media_idimg" src="{$vinfo.oss_addr}" border="0" />
                                </if>
                                <span id="media_idimgname"></span>
                            </a>
                        </div>
                        <div>
                            <a class="btn btn-success btn-file" data-target="#modal-file" href="{$host_name}/resource/uploadResource?filed=media_id&rtype=2" data-browse-file>
                                选择图片
                            </a>
                            <input type="hidden" name="media_id" id="media_id" value="{$vinfo.media_id}" >
                            <a href="javascript:;" class="btn btn-danger" data-remove-file="/Public/admin/assets/img/noimage.png">删除</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-xs-12 col-sm-2 control-label">
                    点击类型:
                </label>
                <div class="col-xs-12 col-sm-10">
                    <div class="inline-radio-container">
                    <volist name="clicktypes" id="vo">
                        <label class="radio-inline">
                            <input type="radio" name="clicktype" id="{$key}" value='{$key}' <if condition="$key eq $vinfo['clicktype']">checked</if>>
                            <span>{$vo}</span>
                        </label>
                    </volist>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-xs-12 col-sm-2 control-label">链接内容：</label>
                <div class="col-xs-12 col-sm-10">
                    <input name="linkcontent" type="text" value="{$vinfo.linkcontent}" class="form-control" />
                </div>
            </div>
            <div class="form-group row" id="bindtapc" <if condition="$vinfo.clicktype eq 1">style="display: none;"</if> >
                <label class="col-xs-12 col-sm-2 control-label">绑定事件：</label>
                <div class="col-xs-12 col-sm-10">
                    <input name="bindtap" type="text" value="{$vinfo.bindtap}" class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-xs-12 col-sm-2 control-label">APPID：</label>
                <div class="col-xs-12 col-sm-10">
                    <input name="appid" type="text" value="{$vinfo.appid}" class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-xs-12 col-sm-2 control-label">
                    排序值：
                </label>
                <div class="col-xs-12 col-sm-10">
                    <input name="sort" type="text" value="{$vinfo.sort}" class="form-control digits" required />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-xs-12 col-sm-2 control-label">
                    状态：
                </label>
                <div class="col-xs-12 col-sm-10">
                    <input type="hidden" name="status" value="0">
                    <input type="checkbox" value="1" class="make-switch status" name="status" data-size="small" data-on-text="开启" data-off-text="关闭" <if condition="$vinfo.status eq 1" >checked</if>>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-default close-m" type="button">取消</button>
            <button class="btn btn-primary" type="submit">保存</button>
        </div>
    </form>
</div>

<script>
    $("input[name='clicktype']").click(function() {
        var id = $(this).attr("id");
        if (id == 1) {
            $("#bindtapc").hide();
        } else {
            $("#bindtapc").show();
        }
    });
</script>